Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Lock file maintenance
  docs/_releasenotes/1681.chore.2025-02-17T00:10:32+00:00
  flake.lock
Due: none

Trigger MR to devel for release-prepare/v9.0.0
  docs/_releasenotes/+.misc.release-v9.0.0
Due: none

Update Helm release etcdbackup to v0.20250213.1
  docs/_releasenotes/1684.chore.2025-02-17T10:32:57+00:00
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update Helm release cert-manager to v1.17.1
  docs/_releasenotes/1683.chore.2025-02-17T10:32:51+00:00
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

Update Helm release ingress-nginx to v4.12.0
  docs/_releasenotes/1685.chore.2025-02-17T11:00:35+00:00
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

Drop legacy setup of FluxCD
  docs/_releasenotes/1673.removal.flux-legacy
  docs/user/explanation/services/fluxcd.rst
  k8s-supplements/ansible/install-flux.yaml
  k8s-supplements/ansible/roles/fluxcd2_v1/meta/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v1/templates/crds_v0.36.0.yaml
  k8s-supplements/ansible/roles/fluxcd2_v1/templates/workload_v0.36.0.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/tasks/migrate_from_v1.yaml
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: yamllint, build-docs-check

Remove temporary migration tasks for volume-snapshots
  k8s-supplements/ansible/roles/volume-snapshots/tasks/main.yaml
Due: yamllint

Add support for Kubernetes v1.31
  ci/cluster-tests.yaml
  ci/config/config.toml
  docs/_releasenotes/1662.feature.k8s-v1.31
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.31.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/snapshot-controller/setup-snapshot-controller.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
Due: build-docs-check

Update Helm release kube-prometheus-stack to v66.7.1
  docs/_releasenotes/1686.chore.2025-02-17T14:09:17+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

ci: Configure shallow clone for all jobs
  .gitlab-ci.yml
Due: yamllint

Update Helm release prometheus-blackbox-exporter to v9.2.0
  docs/_releasenotes/1691.chore.2025-02-17T20:08:40+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Add upgrade tasks for Calico v3.29
  k8s-supplements/ansible/roles/calico-tigera-operator/files/v3.29-operator-crds.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Fix bug with undefined cinder volume type
  docs/_releasenotes/1688.fix.757-applying-k8s-supplements-fails-on-create-cinder-storage-class-task
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/cinder_storage_class.yaml.j2
Due: none

docs: Refine system requirements installation
  docs/_releasenotes/1689.docs.system-requirement-adjust
  docs/user/guide/initialization.rst
Due: build-docs-check

docs: Adjust path for personal env
  docs/user/guide/initialization.rst
Due: build-docs-check

Fix legacy reference to config.toml in changelogs
  CHANGELOG.rst
Due: none

Drop hidden release note for v9.0
  docs/_releasenotes/+.misc.release-v9.0.0
Due: none

Fix renaming of pod_limit option
  docs/_releasenotes/1692.misc.rename-pod-limit-option
  nix/yk8s/kubernetes/kubelet.nix
Due: none

Mark envrc layout yaook-k8s as mandatory
  docs/_releasenotes/1695.BREAKING.envrc-layout-mandatory
Due: none

Ensure LOCALE_ARCHIVE is set
  .envrc.lib.sh
  docs/_releasenotes/1679.fix.locale-archive-ubuntu
  nix/yk8s-env.nix
Due: shellcheck

Fix renaming of pod_limit option
  docs/_releasenotes/1693.fix.1.v9-fixes
  nix/yk8s/kubernetes/kubelet.nix
Due: none

Add pre-commit to default group
  docs/_releasenotes/1693.fix.3.v9-fixes
  nix/dependencies.nix
Due: none

Fix default value for thanos scheduling key
  docs/_releasenotes/1693.fix.2.v9-fixes
  k8s-supplements/ansible/roles/monitoring_thanos_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/tasks/main.yaml
Due: yamllint

Update `CHANGELOG.rst` and version for next release v9.0.1
  CHANGELOG.rst
  docs/_releasenotes/1671.chore.renovate-bot-helm-charts
  docs/_releasenotes/1674.chore.2025-02-12T22:08:00+00:00
  docs/_releasenotes/1677.fix.fix-conf-sanity-check
  docs/_releasenotes/1679.fix.locale-archive-ubuntu
  docs/_releasenotes/1681.chore.2025-02-17T00:10:32+00:00
  docs/_releasenotes/1688.fix.757-applying-k8s-supplements-fails-on-create-cinder-storage-class-task
  docs/_releasenotes/1689.docs.system-requirement-adjust
  docs/_releasenotes/1693.fix.1.v9-fixes
  docs/_releasenotes/1693.fix.2.v9-fixes
  docs/_releasenotes/1693.fix.3.v9-fixes
  version
Due: none

docs: Reflect fqcn-builtins excemption in coding guide
  docs/_releasenotes/1696.docs.add-missing-bit-to-coding-guide-lines
  docs/developer/guide/coding-guide.rst
Due: build-docs-check

chore(deps): update helm release dcgm-exporter to v4.0.3
  docs/_releasenotes/1697.chore.2025-02-20T04:08:15+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Trigger MR to devel for release-prepare/v9.0.1
  docs/_releasenotes/+.misc.release-v9.0.1
Due: none

ci: replace cleanup script with upstream command
  ci/clean-up-os-project.py
  ci/cluster-tests.yaml
  docs/_releasenotes/1640.misc.replace-cleanup-script
  nix/dependencies.nix
Due: yamllint, flake8

Add IPv4 modules
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none

Bird ServiceMonitor: Only deploy when we have gateway nodes
  docs/_releasenotes/1482.fix.4.bird-servicemonitor-only-deploy-when-installed
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
Due: yamllint

Blackbox exporter: enable IPv6 support for all modules
  docs/_releasenotes/1482.feature.1.blackbox-exporter-add-ipv6-support
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none

Keepalived exporter: Bump to version 0.7.1
  docs/_releasenotes/1482.feature.3.keepalived-exporter-add-ipv6-supprt
  k8s-supplements/ansible/roles/prometheus-keepalived-exporter/defaults/main.yaml
Due: yamllint
