Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

chore(deps): update helm release dcgm-exporter to v4.0.4
  docs/_releasenotes/1701.chore.2025-02-20T20:10:10+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update helm release thanos to v15.12.3
  docs/_releasenotes/1702.chore.2025-02-20T20:10:28+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Skip build-image job if image tag is already defined
  .gitlab-ci.yml
  ci/build-image.yaml
  docs/_releasenotes/1665.misc.make-skippable
Due: yamllint

Add variables to skip linting and housekeeping stages
  .gitlab-ci.yml
Due: yamllint

Allow CI pipelines to be manually triggered in the web UI
  .gitlab-ci.yml
Due: yamllint

Drop libpam-systemd from necessary packages
  docs/_releasenotes/1704.docs.doc-system-reqs
  docs/user/guide/initialization.rst
Due: build-docs-check

Fix indentation in initialization guide
  docs/_releasenotes/1705.misc.fix-indentation
  docs/user/guide/initialization.rst
Due: build-docs-check

chore(deps): update helm release thanos to v15.12.4
  docs/_releasenotes/1707.chore.2025-02-21T22:07:43+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

docs: add Debian to installation instructions
  docs/user/guide/initialization.rst
Due: build-docs-check

Improve advice about group membership during nix installation
  docs/_releasenotes/1708.docs.fix-newgrp-advice
  docs/user/guide/initialization.rst
Due: build-docs-check

Fix broken check_conf_sanity
  actions/lib.sh
  docs/_releasenotes/hotfix/1677.fix.fix-conf-sanity-check
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1677.fix.fix-conf-sanity-check
  version
Due: none

docs: Add note about cache configuration
  docs/_releasenotes/1710.docs.doc-system-reqs-cache
  docs/user/guide/initialization.rst
Due: build-docs-check

chore(deps): update dependency community.general to v10.4.0
  ansible/requirements.yaml
  docs/_releasenotes/1713.chore.2025-02-24T18:07:12+00:00
Due: yamllint

Add releasenote
  docs/_releasenotes/x.misc.nix-cleanup
Due: none

nix lib: simplify mkGroupVarsFile
  nix/yk8s/lib/default.nix
Due: none

Add mkJson
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/openstack.nix
Due: none

Remove unnecessary groupVarsFile
  nix/yk8s/openstack.nix
Due: none

update-inventory: pass arguments to nix build
  actions/update-inventory.sh
  docs/_releasenotes/1715.feature.update-inventory-args
Due: shellcheck

Simplify mkGroupVarsFile
  nix/yk8s/lib/default.nix
Due: none

Enable IPv6 support retaining backwards compatibility
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none

Fix testing.nodes
  docs/_releasenotes/1690.fix.test-nodes
  k8s-supplements/ansible/test.yaml
  nix/yk8s/testing.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.testing.rst
Due: build-docs-check

chore(deps): update helm release prometheus-blackbox-exporter to v9.3.0
  docs/_releasenotes/1719.chore.2025-02-28T14:09:15+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release etcdbackup to v0.20250227.0
  docs/_releasenotes/1721.chore.2025-03-02T14:07:35+00:00
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): lock file maintenance
  docs/_releasenotes/1722.chore.2025-03-03T00:11:04+00:00
  flake.lock
Due: none

chore(deps): update helm release thanos to v15.13.0
  docs/_releasenotes/1723.chore.2025-03-03T22:08:45+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release prometheus-adapter to v4.12.0
  docs/_releasenotes/1724.chore.2025-03-04T10:09:04+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Migrate CI config to Nix
  ci/after_script_cleanup.sh
  ci/cluster-tests.yaml
  ci/config/config.toml
  ci/config/default.nix
  ci/config/overrides.nix
  ci/config/overrides.toml
  docs/_releasenotes/1542.misc.nix-config
Due: shellcheck, yamllint

Remove kubernetes version from config
  ci/config/default.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
