Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

CI: Run hotfix release note preparation conditionally
  ci/hotfix-prepare.yaml
Due: yamllint

Fix gateway_nodes_configured check
  actions/lib.sh
  docs/_releasenotes/hotfix/2585.fix.tasks-for-gateways-skipped-when-no-gateways-configured
Due: shellcheck

Ensure rsync is installed for kubeadm patches synchronization
  docs/_releasenotes/hotfix/2586.fix.2.rsync
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
Due: yamllint

CI: Fix run hotfix release note preparation conditionally
  ci/hotfix-prepare.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  docs/_releasenotes/hotfix/2574.fix.1.empty-pythonifd
  docs/_releasenotes/hotfix/2578.change.all-host-identifiers-allowed-as-principals-in-ssh-host-certs
  docs/_releasenotes/hotfix/2578.fix.principals-used-in-ssh-host-certs
  docs/_releasenotes/hotfix/2585.fix.prepare-gw-plays-only-run-against-gateways
  docs/_releasenotes/hotfix/2585.fix.tasks-for-gateways-skipped-when-no-gateways-configured
  docs/_releasenotes/hotfix/2586.fix.1.kubeadm
  docs/_releasenotes/hotfix/2586.fix.2.rsync
  version
Due: none

Fix default value of pythonIFD module
  docs/_releasenotes/hotfix/2574.fix.1.empty-pythonifd
  nix/yk8s/pythonIFD.nix
Due: none

Add envoy-gateway supplement
  docs/_releasenotes/2564.feature.1.gateway-api
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/install-envoy-gateway.yaml
  k8s-supplements/ansible/roles/envoy-gateway/meta/main.yaml
  k8s-supplements/ansible/roles/envoy-gateway/tasks/main.yaml
  nix/yk8s/k8s-supplements/envoy-gateway.nix
Due: yamllint

Fix helm types and options
  nix/yk8s/lib/options.nix
  nix/yk8s/lib/types/helm.nix
Due: none

Update rendered docs
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
  docs/user/reference/options/yk8s.k8s-service-layer.envoy-gateway.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.nvidia.rst
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

upgrade to envoy 1.8.3
  nix/yk8s/k8s-supplements/envoy-gateway.nix
Due: none

Calico: Switch to eBPF mode
  docs/_releasenotes/2577.BREAKING.1.calico-ebpf
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/migrate_to_ebpf.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/migrate_to_nftables.yaml
  nix/yk8s/k8s-supplements/calico.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.kubernetes.network.rst
Due: build-docs-check

Fix helm types and options
  nix/tests/test_yk8s/test_lib/test_types/test_helm.nix
  nix/yk8s/lib/options.nix
  nix/yk8s/lib/types/helm.nix
Due: none

Lock file maintenance
  docs/_releasenotes/2600.dependency.-updated-to-
  flake.lock
Due: none

Add sbom-generation for nix dependencies
  .gitlab-ci.yml
  ci/release.yaml
  ci/sbom.yaml
  docs/_releasenotes/123.chore.sbom
  flake.lock
  flake.nix
  nix/sbom.nix
Due: yamllint

Update Helm release prometheus-blackbox-exporter to v11.17.1
  docs/_releasenotes/2602.dependency.prometheus-blackbox-exporter-updated-to-11.17.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release prometheus-blackbox-exporter to v11.16.1
  docs/_releasenotes/2601.dependency.prometheus-blackbox-exporter-updated-to-11.16.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Update dependency community.general to v13.3.0
  ansible/requirements.yaml
  docs/_releasenotes/2603.dependency.community.general-updated-to-13.3.0
Due: yamllint

Set NOFILE limit for Containerd again
  docs/_releasenotes/hotfix/2238.change.1.containerd-limit-nofile
  k8s-core/ansible/roles/containerd/files/limit-nofile.conf
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint

Update nixos/nix Docker tag to v2.35.2
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2604.dependency.nixos-nix-updated-to-2.35.2
Due: yamllint

Add cylonedx-cli
  ci/sbom.yaml
  nix/dependencies.nix
Due: yamllint

Add variable for patches remote dir
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
  nix/yk8s/kubernetes/kubeadm-patches.nix
Due: yamllint

nix: Create kubeadm subdirectory
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubeadm/default.nix
  nix/yk8s/kubernetes/kubeadm/patches.nix
Due: none

Add syft
  ci/sbom.yaml
  nix/dependencies.nix
Due: yamllint

ci: Use primary Gitlab Pages domain
  .gitlab-ci.yml
  ci/release.yaml
  docs/_releasenotes/2606.misc.ci-switched-to-primary-gitlab-pages-domain
Due: yamllint

destroy.sh: Detach volumes before deleting
  actions/destroy.sh
  docs/_releasenotes/2572.fix.1.destroy-volume-detach
Due: shellcheck

tmp: Support multi-document yaml files
  nix/yk8s/lib/default.nix
Due: none

nixify kubeadm manifests
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-init-apiserver-config-bundle.yaml.j2
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-ClusterConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-KubeProxyConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-KubeletConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config-bundle.yaml.j2
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubeadm/cluster-configuration.nix
  nix/yk8s/kubernetes/kubeadm/default.nix
  nix/yk8s/kubernetes/kubeadm/init-join-configuration.nix
  nix/yk8s/kubernetes/network.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.rst
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

fixup! tmp: Support multi-document yaml files
  nix/yk8s/lib/default.nix
Due: none

Add python script for generating runtime sbom
  ci/sbom.yaml
  tools/generate_runtime_sbom.py
Due: yamllint, flake8

nix: Set state directory via self
  actions/release-migrations/v14-state-directory.sh
  docs/_releasenotes/2582.BREAKING.1.state-directory-self
  nix/yk8s/default.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/openstack/default.nix
  nix/yk8s/terraform.nix
  templates/cluster-repo/minimal/flake.nix
Due: shellcheck

Calico: Remove deprecated option
  docs/_releasenotes/2577.removal.1.calico-ebpf
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Calico: Add missing ippool options
  docs/_releasenotes/2577.fix.1.calico-ippools-conflict
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Globally set any_errors_fatal=true
  ansible/ansible.cfg
  ci/cluster-tests.yaml
  k8s-core/ansible/install-frontend-services.yaml
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/prepare-k8s-nodes.yaml
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-custom/ansible/main.yaml
  k8s-supplements/ansible/install-calico.yaml
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
  k8s-supplements/ansible/install-local-storage.yaml
  k8s-supplements/ansible/install-monitoring.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.34.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.35.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.36.yaml
  k8s-supplements/ansible/roles/wireguard/tasks/main.yaml
  k8s-supplements/ansible/test.yaml
Due: yamllint
