Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.1
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.9.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with ci --sync
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with docs --sync
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
    expose_as: Rendered Docs
    expire_in: 7 days
    paths:
    - public/
  tags:
  - docker

Drop etc whitespace validation
  k8s-base/roles/validate_configuration/meta/main.yaml
  k8s-base/roles/validate_configuration/tasks/main.yaml
Due: yamllint

core-split: Rework templates
  templates/envrc.template.sh
  templates/template.gitignore
Due: shellcheck

Add & Update READMEs
  ansible/README.md
  k8s-core/README.md
  k8s-core/ansible/roles/config/README.md
  k8s-core/ansible/roles/helpers/README.md
  k8s-service-layer/README.md
  k8s-service-layer/inventory/README.md
  k8s-supplements/README.md
  k8s-supplements/ansible/roles/config/README.md
Due: none

core-split: Move common_defaults_v1
  k8s-managed-services/roles/common_defaults_v1/templates
  k8s-service-layer/roles/fluxcd2_v2/templates/values.yaml.j2
  k8s-supplements/ansible/roles/cert_manager_v1/templates/cert_manager_values.yaml.j2
  k8s-supplements/ansible/roles/config/common_defaults_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/config/common_defaults_v1/meta/main.yaml
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/affinity.json
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/tolerations.json
  k8s-supplements/ansible/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/nvidia_dcgm_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_adapter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/templates/operator-values.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/templates/vault.yaml.j2
Due: yamllint

core-split: Rework action scripts
  actions/apply-all.sh
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/apply-stage2.sh
  actions/apply-stage3.sh
  actions/apply-stage4.sh
  actions/apply-stage5.sh
  actions/apply.sh
  actions/init.sh
  actions/lib.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update_inventory.py
  actions/upgrade.sh
  tools/vault/import.sh
Due: shellcheck, flake8

Create cluster repository migration script
  actions/init.sh
  actions/lib.sh
  actions/migrate-cluster-repo.sh
Due: shellcheck

Drop ch-role-users
  actions/update_inventory.py
  ci/cluster-tests.yaml
  ci/config/config.toml
  docs/usage/cluster-configuration.rst
  docs/usage/environmental-variables.rst
  templates/config.template.toml
  templates/envrc.template.sh
Due: shellcheck, yamllint, flake8, build-docs-check

Rework init.sh
  actions/init-cluster-repo.sh
  ci/cluster-tests.yaml
Due: shellcheck, yamllint

Increase retries to 120
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/setup_bgp.yaml
Due: yamllint

Update apt cache before node bootstrap
  k8s-core/ansible/bootstrap.yaml
Due: yamllint

Deploy volume-snapshot-controller before OpenStack connection
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/meta/main.yaml
  k8s-supplements/ansible/roles/volume-snapshots/meta/main.yaml
Due: yamllint

Trigger tasks from orchestrator node
  k8s-supplements/ansible/connect-k8s-to-openstack.yaml
  k8s-supplements/ansible/install-volume-snapshot-controller.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/handlers/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/tasks/main.yaml
  k8s-supplements/ansible/roles/volume-snapshots/tasks/main.yaml
Due: yamllint

Install tailored ServiceMonitors as final step
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
Due: yamllint

Move node connection tasks to separate playbook
  k8s-core/ansible/bootstrap.yaml
  k8s-core/ansible/connect-to-nodes.yaml
  k8s-core/ansible/install-frontend-services.yaml
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
  k8s-supplements/ansible/configure-global-monitoring.yaml
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
  k8s-supplements/ansible/install-local-storage.yaml
  k8s-supplements/ansible/install-monitoring.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.27.yaml
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/test.yaml
Due: yamllint

Connect k8s to OpenStack before Calico
  k8s-supplements/ansible/install-all.yaml
Due: yamllint

Update instructions for doc generation
  docs/README.md
Due: build-docs-check

Enable custom stage by default
  actions/apply-all.sh
  actions/init-cluster-repo.sh
  actions/update_inventory.py
  ci/cluster-tests.yaml
  ci/res/custom-play.yaml
  docs/_releasenotes/823.change.enable-custom-stage-default
  docs/_releasenotes/x.change.enable-custom-stage-default
  k8s-supplements/ansible/install-flux.yaml
  templates/envrc.template.sh
Due: shellcheck, yamllint, flake8

Tag monitoring tasks
  k8s-core/ansible/connect-to-nodes.yaml
  k8s-supplements/ansible/configure-global-monitoring.yaml
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/install-monitoring.yaml
Due: yamllint

Further improve tagging
  k8s-core/ansible/bootstrap.yaml
  k8s-core/ansible/connect-to-nodes.yaml
  k8s-core/ansible/install-frontend-services.yaml
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/install-cert-manager.yaml
  k8s-supplements/ansible/install-flux.yaml
  k8s-supplements/ansible/install-ingress.yaml
  k8s-supplements/ansible/install-local-storage.yaml
  k8s-supplements/ansible/install-rook-ceph.yaml
  k8s-supplements/ansible/install-vault.yaml
  k8s-supplements/ansible/install-volume-snapshot-controller.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.27.yaml
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/test.yaml
Due: yamllint

Fix vault_v1 references to cluster repo
  k8s-core/ansible/vars/etc.yaml
  k8s-supplements/ansible/install-vault.yaml
  k8s-supplements/ansible/roles/vault_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/credentials.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
  k8s-supplements/ansible/vars/etc.yaml
Due: yamllint

Don't overwrite config-template dict
  actions/update_inventory.py
Due: flake8

Skip vault-onboarded tasks if already checked
  k8s-core/ansible/roles/helpers/vault-onboarded/tasks/main.yml
Due: yamllint

Set kubeconfig for all action scripts
  actions/apply-custom.sh
  actions/lib.sh
Due: shellcheck

Set *_enabled variable for services by default
  k8s-supplements/ansible/prepare-gw.yaml
  templates/config.template.toml
Due: yamllint

Move kubelet-configuration defaults
  k8s-core/ansible/roles/kubelet-configuration/defaults/main.yaml
Due: yamllint

Move root CA rotation to k8s-core
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/defaults/main.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/meta/main.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/main.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-worker.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/wait-for-restart.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/templates/cluster-info-cm.yaml.j2
  k8s-core/ansible/rotate_root_ca.yaml
  k8s-service-layer/rotate_root_ca.yaml
Due: yamllint

core-split: Move fluxcd2_v2 to k8s-supplements
  k8s-supplements/ansible/roles/fluxcd2_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/meta/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/tasks/migrate_from_v1.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/templates/values.yaml.j2
Due: yamllint

Releasenotes
  docs/_releasenotes/823.BREAKING.core-split-first-serve
  docs/_releasenotes/x.change.enable-custom-stage-default
Due: none

Adjust paths for IPSec PSK
  tools/vault/lib.sh
Due: shellcheck

Move galaxy requirements installation to lib
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/lib.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
Due: shellcheck

Clean up stages from inventory updater
  actions/update_inventory.py
Due: flake8

Add noop task to custom playbook by default
  actions/init-cluster-repo.sh
Due: shellcheck

vault_v1: Support common monitoring labels
  k8s-supplements/ansible/roles/vault_v1/templates/servicemonitor.yaml.j2
Due: none

Fix wrong variable
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
Due: yamllint

Fix vrrp_priorities
  actions/update_inventory.py
  k8s-core/ansible/install-frontend-services.yaml
  k8s-core/ansible/roles/keepalived/defaults/main.yaml
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/defaults/main.yaml
  k8s-supplements/ansible/vars/vrrp-common.yaml
Due: yamllint, flake8

Drop air-gap code
  k8s-air-gapped/ansible/_offline_cluster.yaml
  k8s-air-gapped/ansible/_online_cluster.yaml
  k8s-air-gapped/ansible/install.yaml
  k8s-air-gapped/ansible/roles/configure-apt-proxy/meta/main.yaml
  k8s-air-gapped/ansible/roles/configure-apt-proxy/tasks/main.yaml
  k8s-air-gapped/ansible/roles/configure-pip-mirror/tasks/configure_mirror_ca.yaml
  k8s-air-gapped/ansible/roles/configure-pip-mirror/tasks/configure_pip_mirror.yaml
  k8s-air-gapped/ansible/roles/configure-pip-mirror/templates/pip.conf.j2
  k8s-air-gapped/ansible/roles/install-node/roles/container-mirror/defaults/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/container-mirror/tasks/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/container-mirror/tasks/setup_image_mirror.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/container-mirror/templates/registry-config.yml.j2
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/defaults/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/handlers/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/tasks/create_ca.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/tasks/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/templates/nginx.conf.j2
  k8s-air-gapped/ansible/roles/install-node/setup_install_node.yaml
  k8s-air-gapped/ansible/roles/install-node/vars/etc.yaml
  k8s-air-gapped/ansible/templates/nftables_take_offline.conf.j2
  k8s-air-gapped/offline_cluster.py
Due: yamllint, flake8

core-split: Adjust CA rotation
  actions/rotate-root-ca.sh
  k8s-core/ansible/roles/k8s-rotate-ca/meta/main.yaml
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-supplements/ansible/rotate_root_ca.yaml
Due: shellcheck, yamllint

Fix inventory cleanup
  actions/update_inventory.py
Due: flake8

Pass k8s-core dir to custom stage
  actions/apply-custom.sh
Due: shellcheck

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
