Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v78.3.0
  docs/_releasenotes/2167.change.kube-prometheus-stack-updated-to-78.3.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Disable substituters for YAML and JSON files
  docs/_releasenotes/2065.misc.1.speedup-inventory-builds
  nix/yk8s/lib/default.nix
Due: none

Use YAML based hosts file
  actions/apply-terraform.sh
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/1250.feature.1.yaml-hosts
  docs/_releasenotes/1250.removal.1.yaml-hosts
  docs/developer/guide/simulate-bm.rst
  docs/user/reference/cluster-configuration.rst
  docs/user/reference/cluster-repository.rst
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
  terraform/01-discovery.tf
  terraform/10-networking.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
  terraform/99-backend.tf
  terraform/99-outputs.tf
  terraform/templates/final_networking.tpl
  terraform/templates/inventory.tpl
  terraform/templates/object_storage.tpl
  terraform/templates/trampoline_gateways.tpl
Due: tflint, shellcheck, build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.infra.rst
Due: build-docs-check

infra: add assertions for ansible_hosts
  nix/yk8s/infra.nix
Due: none

node-scheduling: use final_hosts
  nix/yk8s/infra.nix
  nix/yk8s/node-scheduling.nix
Due: none

infra: provide read-only option final_hosts
  nix/yk8s/infra.nix
Due: none

Adjust releasenote formatting
  docs/_releasenotes/1784.feature.1.nix-helm-nvidia
  docs/_releasenotes/1943.feature.1.no-snat
  docs/_releasenotes/2069.fix.vault-backup-service-monitor-only-deployed-when-monitoring-enabled
  docs/_releasenotes/2074.fix.macos-darwin-regex-fix
  docs/_releasenotes/2104.fix.macos-darwin-regex-fix
  docs/_releasenotes/2131.fix.managed-markers-in-cluster-repo-gitignore-from-the-start
  docs/_releasenotes/2164.misc.v11.0-releasenotes
Due: none

Trigger MR to devel for release/v11.0
  docs/_releasenotes/+.misc.release-v11.0
Due: none

Reset changelog
  CHANGELOG.rst
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/2169.chore.-updated-to-
  flake.lock
Due: none

Clarify etcd-backup certRef description
  docs/_releasenotes/2170.docs.etcd-backup-cert-ref-description-clarified
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): update helm release cert-manager to v1.19.1
  docs/_releasenotes/2150.change.cert-manager-updated-to-v1.19.1
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v78.3.2
  docs/_releasenotes/2171.change.kube-prometheus-stack-updated-to-78.3.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release flux2 to v2.17.0
  docs/_releasenotes/2151.change.flux2-updated-to-2.17.0
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
Due: build-docs-check

chore(deps): update helm release dcgm-exporter to v4.6.0
  docs/_releasenotes/2172.change.dcgm-exporter-updated-to-4.6.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

CI: Ensure env preparation for release jobs
  ci/release.yaml
  docs/_releasenotes/2173.chore.1.fix-release-pipeline
Due: yamllint

nix/lib: rename mkAffinities to mkAffinity
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/lib/k8s.nix
Due: none

cert-manager: allow to set arbitrary helm values
  docs/_releasenotes/1807.feature.1.nix-helm-cert-manager
  k8s-supplements/ansible/roles/cert_manager_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/templates/cert_manager_values.yaml.j2
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: yamllint

chore(deps): update helm release nvidia-device-plugin to v0.18.0
  docs/_releasenotes/2176.change.nvidia-device-plugin-updated-to-0.18.0
  nix/yk8s/nvidia.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.nvidia.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v78.4.0
  docs/_releasenotes/2177.change.kube-prometheus-stack-updated-to-78.4.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Fix migration of gitignore file
  actions/release-migrations/a-01-update-gitignore.sh
  docs/_releasenotes/hotfix/2175.fix.1.migration-gitignore
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2175.fix.1.migration-gitignore
  version
Due: none

Update version number and changelog for hotfix-release
  docs/_releasenotes/hotfix/2175.fix.1.migration-gitignore
  version
Due: none

fix execute permission of v11-01-yaml-hosts.sh file
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/hotfix/2179.fix.1.file-permission-v11-01-yaml-hosts
Due: shellcheck

fix migration for openstack clusters
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/hotfix/2179.fix.2.hotfixes-v11
Due: shellcheck

Fix ansible_hosts/host_file assertion
  docs/_releasenotes/hotfix/2179.fix.3.ansible_hosts-hosts_file-assertion-fixed
  nix/yk8s/infra.nix
Due: none

ch-k8s-lbaas: Connect to frontend only
  docs/_releasenotes/hotfix/2179.chore.1.lbaas-frontend-connect
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
