Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Minor typo fixes in Changelog
  CHANGELOG.rst
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1767.docs.1.basic-auth
  docs/_releasenotes/hotfix/1767.fix.1.cinder-storage-class
  docs/_releasenotes/hotfix/1767.fix.2.testing-nodes
  docs/_releasenotes/hotfix/1767.fix.3.common-labels
  version
Due: none

Fix and expose basic_auth_secret_name option
  docs/_releasenotes/hotfix/x.docs.1.basic-auth
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Scrape all ServiceMonitors by default
  docs/_releasenotes/hotfix/1768.docs.1.basic-auth
  docs/_releasenotes/hotfix/1768.fix.1.cinder-storage-class
  docs/_releasenotes/hotfix/1768.fix.3.common-labels
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1768.docs.1.basic-auth
  docs/_releasenotes/hotfix/1768.fix.1.cinder-storage-class
  docs/_releasenotes/hotfix/1768.fix.3.common-labels
  version
Due: none

Fix reference to openstack_cinder_volume_type in Changelog
  CHANGELOG.rst
Due: none

Fix prometheus operator resource requests/limits
  docs/_releasenotes/hotfix/1770.fix.1.prom-operator-resources
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Fix prometheus operator resource requests/limits
  docs/_releasenotes/hotfix/1771.fix.1.prom-operator-resources
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1770.fix.1.prom-operator-resources
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1771.fix.1.prom-operator-resources
  version
Due: none

chore(deps): update helm release rook-ceph to v1.16.6
  docs/_releasenotes/1773.change.rook-ceph-updated-to-v1.16.6
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.56.0
  .gitlab-ci.yml
  docs/_releasenotes/1774.chore.ghcr.io-terraform-linters-tflint-updated-to-v0.56.0
Due: yamllint

Allow VAULT_URL_ADDR to be set externally
  actions/vault_env.sh
Due: shellcheck

Update Helm release kube-prometheus-stack to v70
  docs/_releasenotes/1739.BREAKING.kube-prometheus-stack-updated-to-70.0.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

docs: Remove warning about Thanos and OS application credentials
  docs/user/reference/environmental-variables.rst
Due: build-docs-check

docs: Fix version dropup
  docs/_releasenotes/1776.fix.version-dropup-in-rendered-docs-fixed
  docs/_static/dropup.css
Due: none

docs: Fix sidebar scrollability
  docs/_static/dropup.css
Due: none

docs: Sort releases in sidebar
  docs/_releasenotes/1778.docs.release-order
  docs/_templates/sidebar/variant-selector.html
Due: none

Make NVIDIA device plugin configurable
  docs/_releasenotes/1672.feature.nvidia-device-plugin-configuration
  k8s-core/ansible/roles/nvidia-device-plugin/defaults/main.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/main.yaml
  nix/yk8s/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/nvidia-device-plugin.nix
  nix/yk8s/nvidia-vgpu.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.kubernetes.rst
  docs/user/reference/options/yk8s.nvidia-device-plugin.rst
  docs/user/reference/options/yk8s.nvidia.rst
Due: build-docs-check

chore(deps): update dependency kubernetes.core to v5.2.0
  ansible/requirements.yaml
  docs/_releasenotes/1779.chore.kubernetes.core-updated-to-5.2.0
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v70.3.0
  docs/_releasenotes/1780.change.kube-prometheus-stack-updated-to-70.3.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

templates: add result to .gitignore
  docs/_releasenotes/1782.misc.1.devel
  nix/templates/cluster-repo/.gitignore
Due: none

chore(deps): update helm release thanos to v15.14.0
  docs/_releasenotes/1783.change.thanos-updated-to-15.14.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v70.4.1
  docs/_releasenotes/1785.change.kube-prometheus-stack-updated-to-70.4.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release thanos to v15.14.1
  docs/_releasenotes/1786.change.thanos-updated-to-15.14.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Drop leftover template from containerd role
  k8s-core/ansible/roles/containerd/templates/http-proxy.conf.j2
Due: none

Readd ability to configure mirrors for containerd
  docs/_releasenotes/1613.BREAKING.2.removal.misc-container-mirros
  docs/_releasenotes/1613.feature.container-mirrors
  k8s-core/ansible/roles/containerd/tasks/configure-mirror.yaml
  k8s-core/ansible/roles/containerd/tasks/main.yaml
  k8s-core/ansible/roles/containerd/templates/hosts.toml.j2
  nix/yk8s/containerd.nix
  nix/yk8s/default.nix
  nix/yk8s/miscellaneous.nix
Due: yamllint

Drop legacy configuration options regarding docker
  docs/_releasenotes/1613.BREAKING.1.removal.misc-legacy-docker-options
  nix/yk8s/miscellaneous.nix
Due: none

Drop container_mirror_ca option
  docs/_releasenotes/1613.BREAKING.1.removal.misc-legacy-docker-options
  k8s-core/ansible/roles/containerd/defaults/main.yaml
  k8s-core/ansible/roles/containerd/tasks/main.yaml
  k8s-core/ansible/roles/containerd/templates/hosts.toml.j2
Due: yamllint

Drop legacy task which drops legacy containerd package
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint
