Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Replace attrsOf' with lib.types.submodule
  nix/tests/test_yk8s/test_lib/test_types/test__toplevel.nix
  nix/tests/test_yk8s/test_lib/test_types/test_prometheus.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/lib/types/_toplevel.nix
  nix/yk8s/lib/types/prometheus.nix
Due: none

Remove infra.hosts_file
  docs/_releasenotes/1840.BREAKING.1.split-inventory-targets
  nix/yk8s/infra.nix
  nix/yk8s/miscellaneous.nix
Due: none

Remove check_conf_sanity
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/k8s-login.sh
  actions/lib.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/verify-10-supplements-health.sh
Due: shellcheck

Update rendered docs
  docs/user/reference/options/yk8s.infra.rst
Due: build-docs-check

fixup! Split inventory generation into multiple targets
  nix/yk8s/infra.nix
Due: none

fixup! Split inventory generation into multiple targets
  nix/yk8s/infra.nix
  nix/yk8s/terraform.nix
Due: none

fixup! Remove infra.hosts_file
  nix/yk8s/infra.nix
  nix/yk8s/miscellaneous.nix
Due: none

chore(deps): update helm release etcdbackup to v1.1.0
  docs/_releasenotes/2275.change.etcdbackup-updated-to-1.1.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Drop migration scripts for v11
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/2276.chore.1.release-v12.0.0-final-preparations
Due: shellcheck

Revert "chore(deps): update helm release flux2 to v2.17.2"
  docs/_releasenotes/2196.change.flux2-updated-to-2.17.2
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

Revert "chore(deps): update helm release flux2 to v2.17.0"
  docs/_releasenotes/2151.change.flux2-updated-to-2.17.0
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

chore(deps): update helm release flux2 to v2.16.4
  docs/_releasenotes/2276.change.flux2-updated-to-2.16.4
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
Due: build-docs-check

remove obsolete version variables
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
Due: yamllint

Allow full configuration of node labels and taints
  docs/_releasenotes/1888.feature.2.labels-taints
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/vars/node-labels.yaml
  nix/yk8s/node-scheduling.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.node-scheduling.rst
Due: build-docs-check

chore(deps): update helm release cert-manager to v1.19.3
  docs/_releasenotes/2278.change.cert-manager-updated-to-v1.19.3
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

chore(deps): update nixos/nix docker tag to v2.33.2
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2279.chore.nixos-nix-updated-to-2.33.2
Due: yamllint

chore(deps): update helm release ingress-nginx to v4.13.7
  docs/_releasenotes/2280.change.ingress-nginx-updated-to-4.13.7
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

chore(deps): update helm release flux2 to v2.17.2
  docs/_releasenotes/2281.change.flux2-updated-to-2.17.2
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

Split kubeadm configurations into own files
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-ClusterConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-KubeProxyConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config-bundle.yaml.j2
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-JoinConfiguration.yaml.j2
Due: yamllint

Ensure apiserver endpoint annotation is correct
  docs/_releasenotes/2266.fix.1.844-kubeadm-renders-manifests-with-wrong-ip-address-during-upgrade
  k8s-core/ansible/roles/kubeadm-upgrade-fix-annotation/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-fix-annotation/tasks/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Supply InitConfiguration for kube-apiserver regeneration
  docs/_releasenotes/2266.fix.2.844-kubeadm-renders-manifests-with-wrong-ip-address-during-upgrade
  k8s-core/ansible/roles/audit-logs/tasks/main.yaml
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-config.yaml.j2
Due: yamllint

Configure patch directory for kubeadm initialization
  docs/_releasenotes/hotfix/2266.fix.3.kubeadm-patches
  k8s-core/ansible/roles/audit-logs/meta/main.yaml
  k8s-core/ansible/roles/k8s-master/meta/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
Due: yamllint

chore(deps): update dependency kubernetes.core to v6.3.0
  ansible/requirements.yaml
  docs/_releasenotes/2284.chore.kubernetes.core-updated-to-6.3.0
Due: yamllint

Remove Vault import scripts
  docs/_releasenotes/2213.removal.1.remove-vault-import
  docs/user/guide/vault/vault.rst
  tools/vault/import.sh
Due: shellcheck, build-docs-check

docs: Fix Vault pivot guide
  docs/_releasenotes/x.docs.1.vault-pivot
  docs/user/guide/vault/vault.rst
Due: build-docs-check

fixup! Allow full configuration of node labels and taints
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
Due: yamllint

fixup! Allow full configuration of node labels and taints
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
Due: yamllint

Fix reboot loop
  docs/_releasenotes/2286.fix.1.reboot-loop
  k8s-core/ansible/roles/nvidia-cuda-drivers/tasks/main.yaml
  k8s-core/ansible/roles/update-system/tasks/main.yaml
  k8s-core/ansible/roles/vgpu-support/tasks/main.yaml
Due: yamllint

destroy.sh: remove obsolete commands
  actions/destroy.sh
Due: shellcheck

Allow full configuration of node labels and taints
  docs/_releasenotes/1250.feature.2.labels-taints
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/vars/node-labels.yaml
  nix/yk8s/node-scheduling.nix
Due: yamllint
