Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

use correct image everywhere
  .gitlab-ci.yml
  ci/build-image.yaml
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
  ci/hotfix-prepare.yaml
  ci/release.yaml
Due: yamllint

fixup! use correct image everywhere
  ci/build-image.yaml
Due: yamllint

fix shebang of detect-vault-image.sh
  actions/detect-vault-image.sh
Due: shellcheck

use variables for image names
  .gitlab-ci.yml
  ci/build-image.yaml
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
  ci/hotfix-prepare.yaml
  ci/release.yaml
Due: yamllint

flake.nix: add missing dependency gnugrep
  flake.nix
Due: none

test skipping
  ci/build-image.yaml
Due: yamllint

Revert "test skipping"
  ci/build-image.yaml
Due: yamllint

remove unecessary dind stuff
  ci/build-image.yaml
Due: yamllint

Add release stage
  ci/build-image.yaml
Due: yamllint

simplify
  ci/build-image.yaml
Due: yamllint

fixup! simplify
  ci/build-image.yaml
Due: yamllint

final image name
  .gitlab-ci.yml
Due: yamllint

WIP: split some packages into their own layers
  ci/container-image/default.nix
  flake.nix
Due: none

Fix cluster migration for bare metal
  actions/migrate-cluster-repo.sh
  docs/_releasenotes/1183.fix.bare-metal-v4
Due: shellcheck

Move logo files to _static
  docs/_static/Husky_blue.svg
  docs/_static/yaook-husky-small.png
  docs/_static/yaook-husky.png
  docs/conf.py
Due: flake8, build-docs-check

flake.nix: use flake-parts
  flake.lock
  flake.nix
Due: none

Add CI image to flake.nix
  .gitignore
  .gitlab-ci.yml
  actions/detect-vault-image.sh
  ci/build-image.yaml
  ci/cluster-tests.yaml
  ci/container-image/README.md
  ci/container-image/default.nix
  ci/container-image/known_hosts
  ci/container-image/openrc_f1a.sh
  ci/diagnostic-tools.yaml
  ci/hotfix-prepare.yaml
  ci/release.yaml
  docs/_releasenotes/1175.change.nix-ci-image
  flake.lock
  flake.nix
Due: shellcheck, yamllint

Allow file transport
  ci/cluster-tests.yaml
Due: yamllint

fixup! Add CI image to flake.nix
  docs/_releasenotes/1175.change.nix-ci-image
Due: none

fixup! Allow file transport
  ci/cluster-tests.yaml
Due: yamllint

tmp: disable build
  .gitlab-ci.yml
  ci/build-image.yaml
Due: yamllint

Add NixOS module for yk8s orchestrator
  flake.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-04-22T00:06:49+00:00
  poetry.lock
Due: poetry-lock

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

vault: autodetect cluster name
  ci/cluster-tests.yaml
  docs/_releasenotes/1179.BREAKING.vault-autodetect-clustername
  docs/user/guide/initialization.rst
  docs/user/guide/monitoring/prometheus-stack.rst
  docs/user/guide/vault/vault-ca-rotation.rst
  docs/user/guide/vault/vault.rst
  tools/vault/dev-mkorchestrator.sh
  tools/vault/import.sh
  tools/vault/init.sh
  tools/vault/k8s-login.sh
  tools/vault/lib.sh
  tools/vault/load-signed-intermediates.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/reshape-ca.sh
  tools/vault/rmcluster.sh
  tools/vault/rotate-root-ca-intermediate.sh
  tools/vault/rotate-root-ca-root.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

Add user tutorial
  docs/_releasenotes/1191.docs.add-user-tut
  docs/user/tutorial/create-cluster.md
  docs/user/tutorial/index.md
Due: build-docs-check

chore(deps): update dependency myst-parser to v3
  docs/_releasenotes/+.chore.2024-04-23T15:13:35+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

Add copy button to codeblocks in docs
  docs/_releasenotes/1193.docs.copybutton
  docs/conf.py
  docs/user/explanation/vpn/wireguard.rst
  docs/user/guide/faq.rst
  docs/user/guide/initialization.rst
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
  docs/user/guide/monitoring/prometheus-stack.rst
  docs/user/guide/rook/upgrades.rst
  docs/user/guide/vault/vault-ca-rotation.rst
  docs/user/guide/vault/vault.rst
  docs/user/reference/actions-references.rst
  poetry.lock
  pyproject.toml
Due: flake8, poetry-lock, build-docs-check

Add link to source of docs
  docs/_releasenotes/+.docs.add-edit-button
  docs/conf.py
Due: flake8, build-docs-check

chore(deps): update dependency ansible to v9.5.1
  docs/_releasenotes/+.chore.2024-04-24T08:06:18+00:00
  poetry.lock
Due: poetry-lock

Improve the idempotency of the migrate-cluster-repo.sh action
  actions/migrate-cluster-repo.sh
  docs/_releasenotes/1196.fix.654-improve-the-idempotency-of-the-migrate-cluster-repo-sh-action
Due: shellcheck

Use ServiceMonitor from etcd-backup Helm chart
  docs/_releasenotes/hotfix/1197.change.etcd-backup-servicemonitor
  k8s-managed-services/roles/monitoring_v2/tasks/main.yaml
  k8s-managed-services/roles/monitoring_v2/templates/etcd-backup.yaml.j2
  k8s-managed-services/test-roles/monitoring_v2_test/tasks/scrape_managed_services.yaml
  k8s-service-layer/roles/etcd-backup/tasks/main.yaml
  k8s-service-layer/roles/etcd-backup/templates/etcd_backup.yaml.j2
Due: yamllint

Add missing codeblock
  docs/_releasenotes/+.docs.hotfix-code
  docs/developer/guide/coding-guide.rst
Due: build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1197.change.etcd-backup-servicemonitor
  version
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
