Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

docs: Fix jq cmd in openstack cred rotation guide
  docs/_releasenotes/1555.docs.fix-jq-cmd-in-openstack-cred-rotation-guide
  docs/user/guide/rotate-openstack-credentials.rst
Due: build-docs-check

Move poetry-lock job to housekeeping stage
  .gitlab-ci.yml
  ci/housekeeping/poetry-lock.sh
Due: shellcheck, yamllint

Add CI job to render options reference
  .gitlab-ci.yml
  ci/housekeeping/render-options.sh
  docs/user/reference/.gitignore
Due: shellcheck, yamllint, build-docs-check

Fix line endings in some rendered docs
  nix/renderDocs.nix
  nix/yk8s/terraform.nix
Due: none

fixup! Add CI job to render options reference
  ci/housekeeping/render-options.sh
Due: shellcheck

add release notes
  docs/_releasenotes/1545.misc.fixes-stage
Due: none

Update rendered docs
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.ch-k8s-lbaas.rst
  docs/user/reference/options/yk8s.ipsec.rst
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
  docs/user/reference/options/yk8s.kubernetes.kubelet.rst
  docs/user/reference/options/yk8s.kubernetes.local_storage.dynamic.rst
  docs/user/reference/options/yk8s.kubernetes.local_storage.static.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.kubernetes.network.rst
  docs/user/reference/options/yk8s.kubernetes.rst
  docs/user/reference/options/yk8s.kubernetes.storage.rst
  docs/user/reference/options/yk8s.load-balancing.rst
  docs/user/reference/options/yk8s.miscellaneous.rst
  docs/user/reference/options/yk8s.node-scheduling.rst
  docs/user/reference/options/yk8s.nvidia.rst
  docs/user/reference/options/yk8s.terraform.rst
  docs/user/reference/options/yk8s.testing.rst
  docs/user/reference/options/yk8s.vault.rst
  docs/user/reference/options/yk8s.wireguard.rst
Due: build-docs-check

Update Vault documentation
  docs/user/guide/vault/vault.rst
  docs/user/reference/services/vault.rst
Due: build-docs-check

Remove unused variables
  actions/lib.sh
  docs/_releasenotes/xxx.docs.remove-legacy-elements
Due: shellcheck

Update Wireguard documentation
  docs/_releasenotes/1557.docs.remove-legacy-elements
  docs/user/explanation/vpn/wireguard.rst
Due: build-docs-check

(WIP) Add types ipv6Addr and ipv6Cidr
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/lib/types.nix
Due: none

chore(deps): update nixos/nix docker tag to v2.25.2
  ci/build-image.yaml
  docs/_releasenotes/1554.chore.2024-11-14T12:06:13+00:00
Due: yamllint

Move poetry-lock job to housekeeping stage
  .gitlab-ci.yml
  ci/housekeeping/poetry-lock.sh
  ci/lint/poetry-lock.sh
Due: shellcheck, yamllint

Add CI job to render options reference
  .gitlab-ci.yml
  .pre-commit-config.yaml
  ci/housekeeping/lib.sh
  ci/housekeeping/render-options.sh
  ci/release.yaml
  docs/_releasenotes/1556.misc.housekeeping-stage
  docs/user/reference/.gitignore
  flake.nix
Due: shellcheck, yamllint, build-docs-check

Move releasenote-file-check to housekeeping stage
  .gitlab-ci.yml
  ci/housekeeping/check-releasenote-file.py
Due: yamllint, flake8

Fix housekeeping stage
  .gitlab-ci.yml
  docs/_releasenotes/1561.chore.fix-housekeeping-stage
Due: yamllint

Allow enabling announcement of service IPs
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/bgp.yaml.j2
Due: none

Fix `kubernetes.storage.cinder_enable_topology` option
  docs/_releasenotes/hotfix/1563.fix.fix-kubernetes-storage-cinder-enable-topology
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/csi-cinder-plugin-values.yaml.j2
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1563.fix.fix-kubernetes-storage-cinder-enable-topology
  version
Due: none

Request version in Gitlab bug issue template
  .gitlab/issue_templates/Bug.md
  docs/_releasenotes/1567.misc.improve-gitlab-bug-issue-template
Due: none

Drop poetry2nix
  .envrc.lib.sh
  ci/container-image/default.nix
  flake.lock
  flake.nix
  nix/poetry.nix
Due: shellcheck

Rework requirements + devShells
  .envrc.lib.sh
  ci/container-image/default.nix
  flake.nix
  nix/requirements.nix
  nix/yk8s-env.nix
Due: shellcheck

flake.lock: Update
  flake.lock
Due: none

Drop poetry
  .envrc
  .envrc.lib.sh
  .gitlab-ci.yml
  .pre-commit-config.yaml
  ci/build-image.yaml
  ci/hotfix-prepare.yaml
  ci/release.yaml
  docs/README.md
  docs/user/guide/minimal-access-venv.rst
  nix/pkgs/kubernetes-validate.nix
  nix/requirements.nix
  nix/templates/cluster-repo/.envrc
  nix/yk8s-env.nix
  poetry.lock
  pyproject.toml
  renovate.json
  templates/yaook-k8s-env.template.sh
Due: shellcheck, yamllint, poetry-lock, build-docs-check

(tmp) try without direnv in CI
  ci/cluster-tests.yaml
  ci/hotfix-prepare.yaml
  ci/release.yaml
Due: yamllint

Render docs as package
  docs/README.md
  flake.nix
  nix/renderDocs.nix
Due: build-docs-check

Move Nix template definition to own module
  flake.nix
  nix/templates/default.nix
Due: none
