Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v82.17.0
  docs/_releasenotes/2416.change.kube-prometheus-stack-updated-to-82.17.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v82.18.0
  docs/_releasenotes/2417.change.kube-prometheus-stack-updated-to-82.18.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v83
  docs/_releasenotes/2419.BREAKING.kube-prometheus-stack-updated-to-83.0.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update nixos/nix docker tag to v2.34.5
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2404.chore.nixos-nix-updated-to-2.34.5
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v83.0.2
  docs/_releasenotes/2421.change.kube-prometheus-stack-updated-to-83.0.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v83.1.0
  docs/_releasenotes/2422.change.kube-prometheus-stack-updated-to-83.1.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v83.3.0
  docs/_releasenotes/2424.change.kube-prometheus-stack-updated-to-83.3.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v83.2.0
  docs/_releasenotes/2423.change.kube-prometheus-stack-updated-to-83.2.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v83.4.0
  docs/_releasenotes/2426.change.kube-prometheus-stack-updated-to-83.4.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Add helm diff plugin
  docs/_releasenotes/2420.change.add-helm-diff-plugin
  docs/user/guide/quick-start/initialization.rst
  nix/dependencies.nix
Due: build-docs-check

Bump nixpkgs.url to 25.11
  docs/_releasenotes/2289.change.1.nix-25.11
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.kubernetes.rst
  docs/user/reference/options/yk8s.nvidia.rst
  docs/user/reference/options/yk8s.openstack.rst
  flake.lock
  flake.nix
  nix/dependencies.nix
Due: build-docs-check

Fix ansible-lint for new versions
  k8s-core/ansible/roles/containerd/tasks/configure-mirror.yaml
  k8s-core/ansible/roles/etcd-clean-stale-members/tasks/main.yaml
Due: yamllint

Fix Vault init script
  docs/_releasenotes/hotfix/2427.fix.1.vault-init
  tools/vault/init.sh
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2427.fix.1.vault-init
  version
Due: none

Fix Vault init script
  tools/vault/init.sh
  version
Due: shellcheck

Make use of lib.types.addCheck
  nix/yk8s/lib/types/k8s.nix
Due: none

CI: Exchange CI Vault service certificates
  ci/cluster-tests.yaml
Due: yamllint

Add key extension to local Vault certificates
  actions/vault_ssl.sh
  docs/_releasenotes/2289.BREAKING.1.vault_certificates
Due: shellcheck

CI: Remove redundantly defined variables
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
Due: yamllint

Fix etcd-metrics self signed certificate generation
  k8s-supplements/ansible/roles/etcd-metrics-proxy/tasks/main.yaml
Due: yamllint

Drop legacy task which dumps manifests into etc directory
  k8s-supplements/ansible/roles/k8s-local-storage-controller/defaults/main.yaml
  k8s-supplements/ansible/roles/k8s-local-storage-controller/tasks/main.yaml
  nix/templates/cluster-repo/.gitignore
Due: yamllint

Drop Wireguard setup for Debian 10
  k8s-supplements/ansible/roles/wireguard-support/tasks/main.yaml
Due: yamllint

Drop RHEL-related tasks
  k8s-core/ansible/roles/bootstrap/detect-user/defaults/main.yaml
  k8s-core/ansible/roles/bootstrap/ntp/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/ntp/templates/chrony.conf.j2
  k8s-core/ansible/roles/haproxy/defaults/main.yaml
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/tasks/main.yaml
Due: yamllint

Fix templating for Ansible 12
  ci/cluster-tests.yaml
  k8s-core/ansible/roles/kubelet-configuration/tasks/main.yaml
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/affinity.json.j2
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/tolerations.json.j2
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/nvidia_dcgm_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_adapter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/templates/operator-values.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/tasks/external_pki.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/internal_pki.yaml
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/templates/vault.yaml.j2
  k8s-supplements/ansible/test-roles/check-ch-k8s-lbaas/tasks/main.yaml
Due: yamllint

Properly configure containerRuntimeEndpoint for kubelet
  nix/yk8s/kubernetes/kubelet.nix
Due: none

Parallelize kubelet image pulls by default
  docs/_releasenotes/2289.change.3.kubelet-parallel-pull
  nix/yk8s/kubernetes/kubelet.nix
Due: none

Add retries to Kubernetes API calls
  docs/_releasenotes/2289.feature.1.retries
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/etcd-clean-stale-members/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/wait-for-restart.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/common/rook-health-verification/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/kube_proxy_patch.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/version_checks.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/wait_for_ceph_upgrade.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/wait_for_rook_upgrade.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/external_pki.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/monitoring.yaml
  k8s-supplements/ansible/test-roles/check-calico/tasks/test-pod-connectivity.yaml
  k8s-supplements/ansible/test-roles/check-calico/tasks/test-pod-readiness.yaml
  k8s-supplements/ansible/test-roles/check-local-storage/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-network-configuration/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-services/tasks/dualstack-services.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_managed_services.yaml
  k8s-supplements/ansible/test.yaml
Due: yamllint

Add retries variables
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Fix root CA rotation if signing is enabled
  docs/_releasenotes/2289.fix.1.root-ca
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Fix kube-prometheus stack CRD upgrades
  docs/_releasenotes/2289.fix.3.prom-stack
  k8s-supplements/ansible/roles/monitoring_v2/tasks/upgrade_kube_prom_stack.yaml
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
