Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update rendered docs
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.containerd.rst
  docs/user/reference/options/yk8s.miscellaneous.rst
Due: build-docs-check

Drop cleanup task of legacy Wireguard installation procedure
  k8s-supplements/ansible/roles/wireguard/tasks/wg_endpoint.yaml
Due: yamllint

Drop migration tasks for static Ansible facts
  docs/_releasenotes/1788.chore.drop-ansible-facts-migration-tasks
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
Due: yamllint

tmp: improve detect-user
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/login.yaml
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/main.yaml
  nix/yk8s/openstack.nix
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
  terraform/99-outputs.tf
  terraform/templates/inventory.tpl
Due: tflint, yamllint

docs: Add note about required container runtime for Vault dev setup
  docs/_releasenotes/1777.docs.1.docker-dev-env
  docs/user/guide/initialization.rst
  templates/yaook-k8s-env.template.sh
Due: shellcheck, build-docs-check

docs: Improve required minimal changes and Vault setup
  docs/_releasenotes/1777.docs.2.minimal-changes
  docs/user/guide/initialization.rst
  docs/user/guide/quick-start.rst
  docs/user/reference/environmental-variables.rst
Due: build-docs-check

flake: Use nixos-24.05
  docs/_releasenotes/x.change.1.nixos-24.05
  flake.lock
  flake.nix
  nix/dependencies.nix
Due: none

flake: Use nixos-24.11
  docs/_releasenotes/1791.change.1.nixos-24.11
  flake.lock
  flake.nix
  nix/dependencies.nix
Due: none

chore(deps): update terraform openstack to v3
  docs/_releasenotes/1497.chore.openstack-updated-to-3.0.0
  terraform/versions.tf
Due: tflint

Drop v9 release migrations
  actions/migrations/v9-00-rm-inventory.sh
  actions/migrations/v9-01-default.toml
  actions/migrations/v9-01-nix-config.sh
  actions/migrations/v9-02-terraform-deprecated-floatingip-resource-type.sh
  docs/_releasenotes/1792.misc.v9-release-migrations-dropped
Due: shellcheck

Remove orphan Ansible templates
  docs/_releasenotes/1736.misc.jinja-templates-and-files-cleaned-up
  k8s-core/ansible/roles/k8s-packages/templates/kubernetes.repo
Due: none

Remove j2 extension from Ansible non-templates
  k8s-core/ansible/roles/containerd/files/before-kubelet.conf
  k8s-core/ansible/roles/containerd/files/crictl.yaml
  k8s-core/ansible/roles/containerd/tasks/main.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/files/nvdp_values.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/main.yaml
  k8s-core/ansible/roles/vgpu-support/files/50-vfio.rules
  k8s-core/ansible/roles/vgpu-support/files/nvidia-sriov-manage.service
  k8s-core/ansible/roles/vgpu-support/files/nvidia-sriov-startup-loop.sh
  k8s-core/ansible/roles/vgpu-support/tasks/main.yaml
Due: shellcheck, yamllint

Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/cert_manager_v1/templates/cert_manager_values.yaml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/agent-config.toml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/binary_id_tag.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/ch-k8s-lbaas-agent.service.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/sudoers.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-config.toml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-rbac.yaml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller.yaml.j2
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/affinity.json.j2
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/tolerations.json.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/os_cloud_config.ini.j2
  k8s-supplements/ansible/roles/fluxcd2_v2/templates/values.yaml.j2
  k8s-supplements/ansible/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/node-exporter-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/nvidia_dcgm_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_adapter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/roles/prometheus-bird-exporter/tasks/main.yaml
  k8s-supplements/ansible/roles/prometheus-bird-exporter/templates/archive_id_tag.j2
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/tasks/main.yaml
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/templates/archive_id_tag.j2
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/templates/prometheus-haproxy-exporter.default.j2
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/templates/prometheus-haproxy-exporter.service.j2
  k8s-supplements/ansible/roles/prometheus-keepalived-exporter/tasks/main.yaml
  k8s-supplements/ansible/roles/prometheus-keepalived-exporter/templates/archive_id_tag.j2
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/templates/operator-values.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/templates/vault.yaml.j2
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/1751.chore.-updated-to-
  flake.lock
Due: none

chore(deps): update nixos/nix docker tag to v2.28.1
  ci/build-image.yaml
  docs/_releasenotes/1793.chore.nixos-nix-updated-to-2.28.1
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v70.4.2
  docs/_releasenotes/1794.change.kube-prometheus-stack-updated-to-70.4.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Fix mixed up openstack/terraform config docs
  docs/_releasenotes/1795.docs.terraform-openstack-config-docs-fixed
  docs/user/reference/options/yk8s.openstack.rst
  docs/user/reference/options/yk8s.terraform.rst
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
Due: build-docs-check

Replace TOML vocabular in openstack config docs
  docs/_releasenotes/1795.docs.terraform-openstack-config-docs-fixed
  docs/user/reference/options/yk8s.openstack.rst
  nix/yk8s/openstack.nix
Due: build-docs-check

Use lower case node names in openstack config docs
  docs/_releasenotes/1795.docs.terraform-openstack-config-docs-fixed
  docs/user/reference/options/yk8s.openstack.rst
  nix/yk8s/openstack.nix
Due: build-docs-check

chore(deps): update helm release dcgm-exporter to v4.1.0
  docs/_releasenotes/1797.change.dcgm-exporter-updated-to-4.1.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release thanos to v16
  docs/_releasenotes/1798.BREAKING.thanos-updated-to-16.0.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Properly use rook.scheduling_key
  docs/_releasenotes/1796.fix.scheduling-key-rook-ceph
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
Due: none

chore(deps): update helm release prometheus-adapter to v4.14.1
  docs/_releasenotes/1799.change.prometheus-adapter-updated-to-4.14.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

release migration: Add general gitignore migration
  actions/migrations/a-01-update-gitignore.sh
  docs/_releasenotes/1789.BREAKING.gitignore-updated-with-every-release-migration
Due: shellcheck

Add envrc layout yaook-k8s
  .envrc.lib.sh
  actions/migrations/v10-01-direnv-layout.sh
  docs/_releasenotes/1694.BREAKING.envrc-layout-yaook-k8s
  nix/templates/cluster-repo/.envrc
Due: shellcheck

Fix broken loop condition in upgrade_kube_prom_stack
  docs/_releasenotes/1781.fix.broken-loop-condition-in-upgrade_kube_prom_stack-fixed
  k8s-supplements/ansible/roles/monitoring_v2/tasks/upgrade_kube_prom_stack.yaml
Due: yamllint

chore(deps): update helm release thanos to v16.0.3
  docs/_releasenotes/1800.change.thanos-updated-to-16.0.3
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/1802.chore.-updated-to-
  flake.lock
Due: none

vault_v1: Fix external Ingress issuer configuration
  docs/_releasenotes/hotfix/1803.fix.1.vault-svc-condition
  k8s-supplements/ansible/roles/vault_v1/tasks/external_pki.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1803.fix.1.vault-svc-condition
  version
Due: none

Fix broken loop condition in upgrade_kube_prom_stack
  docs/_releasenotes/hotfix/1781.fix.broken-loop-condition-in-upgrade_kube_prom_stack-fixed
  k8s-supplements/ansible/roles/monitoring_v2/tasks/upgrade_kube_prom_stack.yaml
Due: yamllint
