Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

chore(deps): update helm release kube-prometheus-stack to v77
  docs/_releasenotes/2058.BREAKING.kube-prometheus-stack-updated-to-77.0.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Don't kubadm init/join initialized nodes
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
Due: yamllint

Refine audit-logs for kube-apiserver
  docs/_releasenotes/1956.feature.1.audit-logs-refine
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/audit-logs/meta/main.yaml
  k8s-core/ansible/roles/audit-logs/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/templates/kubeadm-patches/kube-apiserver0+json.json.j2
  nix/yk8s/kubernetes/default.nix
Due: yamllint

docs: add note to yk8s.kubernetes.apiserver.memory_limit
  nix/yk8s/kubernetes/default.nix
Due: none

nix: Fix evaluation warning for yk8s.kubernetes.apiserver.audit_logs.policy
  nix/yk8s/kubernetes/default.nix
Due: none

nix: add jsonValue type
  nix/yk8s/lib/types.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

nix: Fix type of yk8s.kubernetes.apiserver.audit_logs.policy
  docs/_releasenotes/1956.fix.1.audit-logs-policy-type
  nix/yk8s/kubernetes/default.nix
Due: none

Bump default helm chart version of rook-ceph to v1.17.8
  docs/_releasenotes/1816.change.rook-ceph-updated-to-v1.17.8
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  nix/yk8s/k8s-supplements/rook.nix
Due: build-docs-check

chore(deps): update helm release rook-ceph to v1.18.0
  docs/_releasenotes/2068.change.rook-ceph-updated-to-v1.18.0
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

Conditionally deploy vault-backup serviceMonitor
  docs/_releasenotes/2069.fix.vault-backup-service-monitor-only-deployed-when-monitoring-enabled
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
Due: none

chore(deps): update helm release ingress-nginx to v4.13.2
  docs/_releasenotes/2070.change.ingress-nginx-updated-to-4.13.2
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.59.1
  .gitlab-ci.yml
  docs/_releasenotes/2071.chore.ghcr.io-terraform-linters-tflint-updated-to-v0.59.1
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/2072.chore.-updated-to-
  flake.lock
Due: none

envrc.lib: configure helm paths
  .envrc.lib.sh
  docs/_releasenotes/2051.fix.1.cluster-specific-caches
Due: shellcheck

envrc.lib: configure ANSIBLE_COLLECTIONS_PATH
  .envrc.lib.sh
Due: shellcheck

chore(deps): update helm release kube-prometheus-stack to v76
  docs/_releasenotes/2078.BREAKING.kube-prometheus-stack-updated-to-76.5.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.0.2
  docs/_releasenotes/2079.change.kube-prometheus-stack-updated-to-77.0.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.2.0
  docs/_releasenotes/2081.change.kube-prometheus-stack-updated-to-77.2.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.1.3
  docs/_releasenotes/2080.change.kube-prometheus-stack-updated-to-77.1.3
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.0.2
  docs/_releasenotes/2082.change.kube-prometheus-stack-updated-to-77.0.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2083.chore.kubernetes-kubernetes-updated-to-v1.33.4
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Remove unsupported systems
  docs/_releasenotes/2067.fix.1.remove-system-darwin
  flake.nix
  nix/templates/cluster-repo/flake.nix
Due: none

Make system list extensible
  flake.lock
  flake.nix
  nix/templates/cluster-repo/flake.nix
Due: none

ci: Use Nix to build docs
  .gitlab-ci.yml
  docs/_releasenotes/2075.chore.ci-uses-nix-to-build-docs
Due: yamllint

Conditionally set subnet CIDR variables
  docs/_releasenotes/1915.chore.1.subnet-handling
  nix/yk8s/infra.nix
  terraform/00-variables.tf
Due: tflint

Update rendered docs
  docs/user/reference/options/yk8s.infra.rst
Due: build-docs-check

Update Helm release flux2 to v2.15.0
  docs/_releasenotes/1698.change.flux2-updated-to-2.15.0
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
Due: build-docs-check

adjust review link to new url
  .gitlab/merge_request_templates/Default.md
  docs/_releasenotes/2085.fix.broken-link-mr-desc-template
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.2.1
  docs/_releasenotes/2086.change.kube-prometheus-stack-updated-to-77.2.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none
