Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

migrate-to-release.sh: Support any executable migration script
  actions/migrate-to-release.sh
Due: shellcheck

Update dependency community.general to v12.6.0
  ansible/requirements.yaml
  docs/_releasenotes/2449.chore.community.general-updated-to-12.6.0
Due: yamllint

Update Helm release kube-prometheus-stack to v83.7.0
  docs/_releasenotes/2450.change.kube-prometheus-stack-updated-to-83.7.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Update dependency kubernetes.core to v6.4.0
  ansible/requirements.yaml
  docs/_releasenotes/2451.chore.kubernetes.core-updated-to-6.4.0
Due: yamllint

Trigger MR to devel for release-prepare/v13.0.0
  docs/_releasenotes/+.misc.release-v13.0.0
Due: none

Reset changelog
  CHANGELOG.rst
Due: none

ci: run render-options job when flake has changed
  .gitlab-ci.yml
  docs/_releasenotes/2425.misc.1.render-options
Due: yamllint

Lock file maintenance
  docs/_releasenotes/2418.chore.-updated-to-
  flake.lock
Due: none

Lock file maintenance
  docs/_releasenotes/2458.chore.-updated-to-
  flake.lock
Due: none

Remove etcd-clean-stale-members role
  docs/_releasenotes/2460.removal.1.etcd-clean
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/etcd-clean-stale-members/defaults/main.yaml
  k8s-core/ansible/roles/etcd-clean-stale-members/meta/main.yaml
  k8s-core/ansible/roles/etcd-clean-stale-members/tasks/main.yaml
Due: yamllint

Drop support for Kubernetes v1.32
  ci/cluster-tests.yaml
  docs/_releasenotes/2459.removal.1.kubernetes-v1.32
  k8s-supplements/ansible/k8s-upgrade-to-1.33.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Adjust upstream repository for nvidia-container-toolkit
  docs/_releasenotes/2455.change.1.nvidia-container-toolkit
  docs/_releasenotes/2455.fix.1.daemon-reload
  k8s-core/ansible/roles/nvidia-container-toolkit/tasks/main.yaml
Due: yamllint

Bump Nvidia cuda drivers to 595
  docs/_releasenotes/2455.change.2.nvidia-cuda-drivers
  k8s-core/ansible/roles/nvidia-cuda-drivers/tasks/main.yaml
Due: yamllint

Update Helm release dcgm-exporter to v4.8.1
  docs/_releasenotes/2296.change.dcgm-exporter-updated-to-4.8.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Refine renovate release notes
  ci/create_renovate_release_note.sh
  docs/_releasenotes/2463.chore.1.refine-renovate-notes
Due: shellcheck

Update Nvidia packages on allowed system updates only
  docs/_releasenotes/2455.change.3.nvidia-package-upgrades
  k8s-core/ansible/roles/nvidia-container-toolkit/tasks/main.yaml
  k8s-core/ansible/roles/nvidia-cuda-drivers/tasks/main.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

docs: Add note to yk8s.openstack.network_mtu
  docs/_releasenotes/2465.docs.1.mtu
  nix/yk8s/openstack.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

Validate hostnames in ansible_hosts
  docs/_releasenotes/2454.fix.1.validate-hostnames
  nix/yk8s/infra.nix
  nix/yk8s/openstack.nix
Due: none

Fix affinity and tolerations for CRD upgrade job
  docs/_releasenotes/2467.fix.1.prom
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Fix affinity and tolerations for node discovery feature
  docs/_releasenotes/2467.fix.2.nfd
  nix/yk8s/nvidia.nix
Due: none

terraform: Replace HCL based module with Nix
  .gitlab-ci.yml
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/lib.sh
  actions/manual-terraform.sh
  actions/release-migrations/0-v13-terranix.sh
  actions/release-migrations/a-10-terraform-state-migrations.sh
  docs/_releasenotes/1559.BREAKING.1.terranix
  docs/developer/guide/index.md
  docs/developer/guide/terraform-state-migrations.rst
  nix/templates/cluster-repo/.gitignore
  nix/yk8s/default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/openstack/00-provider.nix
  nix/yk8s/openstack/00-variables.nix
  nix/yk8s/openstack/10-networking.nix
  nix/yk8s/openstack/20-gateway-networking.nix
  nix/yk8s/openstack/30-nodes.nix
  nix/yk8s/openstack/40-object-storage.nix
  nix/yk8s/openstack/default.nix
  nix/yk8s/openstack/preface.rst
  nix/yk8s/terraform.nix
  terraform/.gitignore
  terraform/00-provider.tf
  terraform/00-variables.tf
  terraform/01-discovery.tf
  terraform/10-networking.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
  terraform/50-object-storage.tf
  terraform/99-backend.tf
  terraform/README.md
  terraform/test
  terraform/versions.tf
Due: tflint, shellcheck, yamllint, build-docs-check

flake: Add terranix
  flake.lock
  flake.nix
  nix/yk8s/default.nix
Due: none

terraform: Move GitLab variable check to Nix
  actions/lib.sh
  nix/yk8s/terraform.nix
Due: shellcheck

terraform: Fix typo in option description
  nix/yk8s/terraform.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
  docs/user/reference/options/yk8s.terraform.rst
Due: build-docs-check

flake: Remove dependency on specific name of yk8s
  flake.nix
  nix/yk8s/default.nix
Due: none

Update Helm release prometheus-blackbox-exporter to v11.9.2
  docs/_releasenotes/2470.change.prometheus-blackbox-exporter-updated-to-11.9.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Lock file maintenance
  docs/_releasenotes/2471.chore.-updated-to-
  flake.lock
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.infra.rst
Due: build-docs-check

Don't trigger k8s-core from within k8s-supplements
  actions/apply-all.sh
  docs/_releasenotes/2461.change.1.suppl-core
  docs/user/reference/actions-references.rst
  k8s-supplements/ansible/install-all.yaml
Due: shellcheck, yamllint, build-docs-check

Update nixos/nix Docker tag to v2.34.7
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2473.chore.nixos-nix-updated-to-2.34.7
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
