Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

docs: Add FAQ entry for AppArmor blocking wg-up.sh
  docs/_releasenotes/2676.docs.apparmor-faq-note
  docs/user/guide/faq.rst
  docs/user/guide/quick-start/openstack/20-system-resources.rst
Due: build-docs-check

Make lib.sh manually sourcable
  actions/lib.sh
  docs/_releasenotes/2536.misc.1.lib-manual-source
Due: shellcheck

Update Helm release prometheus-blackbox-exporter to v11.20.0
  docs/_releasenotes/2684.dependency.prometheus-blackbox-exporter-updated-to-11.20.0
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

CI: Reduce key expiry check threshold
  ci/lint/check-key-expiry.sh
  docs/_releasenotes/2685.chore.1.key-expiry
Due: shellcheck

Add Tarook CLI as dispatcher
  cli/pyproject.toml
  cli/src/__init__.py
  cli/src/cli.py
  cli/src/commands/__init__.py
  cli/src/commands/apply.py
  cli/src/commands/root.py
  cli/src/commands/update.py
  cli/src/commands/vault.py
  cli/src/commands/wireguard.py
  docs/_releasenotes/2609.feature.1.tarook-cli
  flake.nix
  nix/dependencies.nix
  nix/packages/default.nix
  nix/packages/tarook.nix
Due: flake8

Document Tarook CLI and deprecate action scripts
  .envrc.lib.sh
  docs/_releasenotes/2609.removal.1.tarook-cli
  docs/user/explanation/services/vault.rst
  docs/user/guide/faq.rst
  docs/user/guide/kubernetes/restore-certificate-signing-ability.rst
  docs/user/guide/kubernetes/super-admin.rst
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
  docs/user/guide/monitoring/prometheus-stack.rst
  docs/user/guide/quick-start/_include/60-vault.rst
  docs/user/guide/quick-start/_include/70-deploy.rst
  docs/user/guide/upgrade-release.rst
  docs/user/guide/vault/automatic-backups.rst
  docs/user/guide/vault/upgrade.rst
  docs/user/guide/vault/vault-ca-rotation.rst
  docs/user/reference/options/yk8s.ch-k8s-lbaas.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  k8s-supplements/ansible/k8s-upgrade-to-1.34.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.35.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.36.yaml
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: shellcheck, yamllint, build-docs-check

Use Tarook CLI in CI
  ci/after_script_cleanup.sh
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
Due: shellcheck, yamllint

Change containerd and nvidia-cuda-drivers apt-key
  docs/_releasenotes/2657.change.1.reformat-containerd-and-nvidia-cuda-apt-gpg-key
  k8s-core/ansible/roles/containerd/files/apt-key-ubuntu.gpg
  k8s-core/ansible/roles/nvidia-cuda-drivers/files/nvidia-cuda-driver.gpg
Due: none

Test supported Ubuntu LTS releases in the CI
  ci/config/default.nix
  docs/_releasenotes/2657.change.2.ci-worker-and-master
Due: none

Fix init script dispatching when no branch is specified
  actions/init-cluster-repo.sh
  docs/_releasenotes/2681.misc.1.init-dispatch
Due: shellcheck

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
