Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

ca-rotation: Target issuer in new Vault namespace
  actions/lib.sh
  actions/rotate-root-ca.sh
  docs/developer/explanation/vault.rst
  docs/user/guide/vault/vault-ca-rotation.rst
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/get_and_write_secret_id.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/templates/vault-login.sh.j2
  k8s-core/ansible/roles/helpers/vault-approle/tasks/main.yaml
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/ensure-cas.yaml
  k8s-core/ansible/roles/k8s-master/tasks/get-certificate-authority-data.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-master/templates/ca.crt.j2
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-worker.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-worker/templates/ca.crt.j2
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/wireguard/tasks/wg_endpoint.yaml
  tools/vault/import.sh
  tools/vault/k8s-login.sh
  tools/vault/lib.sh
  tools/vault/load-signed-intermediates.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/rmcluster.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

chore(deps): update helm release etcdbackup to v0.20250717.0
  docs/_releasenotes/1942.change.etcdbackup-updated-to-0.20250717.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

renderDocs: only expose derivations
  nix/renderDocs.nix
Due: none

docs: Fix option examples with literal string interpolation
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.node-scheduling.rst
  docs/user/reference/options/yk8s.openstack.rst
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/openstack.nix
Due: build-docs-check

nix: Add depth parameter to `flatten` function
  docs/_releasenotes/1731.chore.1.depth-parameter-added-to-flatten-function
  nix/yk8s/lib/transform.nix
Due: none

config: Turn `yk8s.miscellaneous.no_proxy` into a list
  docs/_releasenotes/1731.BREAKING.1.config-yk8s-miscellaneous-no_proxy-turned-into-a-list
  docs/user/reference/options/yk8s.miscellaneous.rst
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
  k8s-core/ansible/roles/proxy-support/tasks/main.yaml
  k8s-core/ansible/roles/proxy-support/templates/http-proxy.conf.j2
  nix/yk8s/miscellaneous.nix
Due: yamllint, build-docs-check

config: Deprecate yk8s.node-scheduling.scheduling_key_prefix
  docs/_releasenotes/1731.removal.1.yk8s-node-scheduling-scheduling_key_prefix-deprecated
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.node-scheduling.rst
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/node-scheduling.nix
Due: build-docs-check

nix: Add unit testing fixture
  .gitlab-ci.yml
  ci/unit-tests.yaml
  docs/_releasenotes/1731.chore.2.nix-unit-testing-fixture-added
  flake.nix
  nix/test.nix
  nix/tests/default.nix
Due: yamllint

Add vault tool for inter-namespace secret copying
  docs/user/guide/vault/index.md
  docs/user/guide/vault/vault-ca-rotation.rst
  docs/user/guide/vault/vault-kv-secret-copy.rst
  docs/user/guide/vault/vault.rst
  tools/vault/copy-kv-secrets-to-namespace.sh
  tools/vault/import.sh
  tools/vault/lib.sh
Due: shellcheck, build-docs-check

Properly use rook.scheduling_key
  docs/_releasenotes/1796.fix.scheduling-key-rook-ceph
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
Due: none

enable setting addressing_style for etcd backups and vault backups
  k8s-supplements/ansible/roles/etcd-backup/defaults/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/templates/etcd_backup.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
Due: yamllint

chore(deps): update helm release prometheus-adapter to v4.14.2
  docs/_releasenotes/1946.change.prometheus-adapter-updated-to-4.14.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v11.1.1
  docs/_releasenotes/1947.change.prometheus-blackbox-exporter-updated-to-11.1.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/1948.chore.-updated-to-
  flake.lock
Due: none

config: Turn `config.yk8s.ipsec.remote_private_addrs` into a list
  docs/_releasenotes/1731.BREAKING.2.config-yk8s-ipsec-remote_private_addrs-turned-into-a-list
  docs/user/reference/options/yk8s.ipsec.rst
  k8s-supplements/ansible/test-roles/check-ipsec/tasks/main.yaml
  nix/yk8s/k8s-supplements/ipsec.nix
Due: yamllint, build-docs-check

config: Change magic value of yk8s.containerd.mirrors.registry
  docs/user/reference/options/yk8s.containerd.rst
  k8s-core/ansible/roles/containerd/tasks/configure-mirror.yaml
  nix/yk8s/containerd.nix
Due: yamllint, build-docs-check

enable setting bucket name for vault backups
  k8s-supplements/ansible/roles/vault_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
Due: yamllint

config: Add and use `mkDisableOption`
  docs/_releasenotes/1731.misc.2.mkEnabledOption-added-and-used
  docs/user/reference/options/yk8s.ch-k8s-lbaas.rst
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.openstack.rst
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/lib/options.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
Due: build-docs-check

config: Let `deprecated_nodeport_lb_test_port` reject port 0
  docs/_releasenotes/1731.change.2.config-deprecated_nodeport_lb_test-rejects-port-0
  k8s-supplements/ansible/test.yaml
  nix/yk8s/load-balancing.nix
Due: yamllint

config: Use `mkEnableOption` where applicable
  docs/_releasenotes/1731.misc.1.mkEnableOption-used-where-applicable
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.kubernetes.rst
  docs/user/reference/options/yk8s.openstack.rst
  docs/user/reference/options/yk8s.testing.rst
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/openstack.nix
  nix/yk8s/testing.nix
Due: build-docs-check

config: Use `lib.types.pathInStore` where applicable
  docs/_releasenotes/1731.BREAKING.3.lib-types-pathInStore-used-where-applicable
  docs/_releasenotes/1731.BREAKING.4.vault_s3_config_defaults_to_null
  docs/_releasenotes/1731.removal.2.config-option-thanos_objectstorage_config_path-removed
  docs/user/guide/monitoring/prometheus-stack.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/services/vault.rst
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos-objectstorage.yaml.j2
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/vault.nix
Due: build-docs-check

config: Warn about port zero
  docs/_releasenotes/1731.change.4.config-warns-about-port-zero
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/lib/transform.nix
  nix/yk8s/load-balancing.nix
  nix/yk8s/miscellaneous.nix
Due: none

config: Enforce ipv{4,6}_enabled on multi-IP-family options
  docs/_releasenotes/1731.change.3.ipv46_enabled-enforced-on-multi-ip-family-options
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/lib/transform.nix
  nix/yk8s/miscellaneous.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
Due: build-docs-check

Allow to unpin helm chart versions
  docs/_releasenotes/1945.feature.1.helm-unpin-versions
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/lib/modules.nix
Due: none

chore(deps): update helm release thanos to v17.2.2
  docs/_releasenotes/1951.change.thanos-updated-to-17.2.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Add dependency group update-inventory
  docs/_releasenotes/1921.misc.1.dependency-group-inventory
  nix/dependencies.nix
Due: none

Fix docs redirect
  ci/release.yaml
  docs/_releasenotes/1952.chore.fix-docs-redirect
Due: yamllint

CI: Fix config evaluation warnings
  ci/config/default.nix
Due: none

CI: Increase rook ceph mgr memory
  ci/config/default.nix
  docs/_releasenotes/1923.chore.1.ci-config
Due: none

chore(deps): update helm release thanos to v17.2.3
  docs/_releasenotes/1954.change.thanos-updated-to-17.2.3
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Fix nested exceptions in flatten function
  nix/yk8s/lib/transform.nix
Due: none

Add preamble to YAML files generated by Nix
  nix/yk8s/lib/default.nix
Due: none
