Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

flake: Use nixpkgs URL of 25.05
  docs/_releasenotes/1880.change.1.nix-25.05
  flake.lock
  flake.nix
  nix/dependencies.nix
  nix/pkgs/kubernetes-validate.nix
Due: none

Add support for Kubernetes v1.32
  ci/cluster-tests.yaml
  docs/_releasenotes/1880.feature.1.k8s-v1.32
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/migrations/kubelet-config-map-patch/meta/main.yaml
  k8s-core/ansible/roles/migrations/kubelet-config-map-patch/tasks/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.32.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/files/v3.30-operator-crds.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/snapshot-controller/setup-snapshot-controller.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

chore(deps): update nix to nixos-25.05
  docs/_releasenotes/x.chore.nixpkgs-updated-to-nixos-25.05
  flake.lock
  flake.nix
Due: none

chore(deps): update helm release etcdbackup to v0.20250703.1
  docs/_releasenotes/1913.change.etcdbackup-updated-to-0.20250703.1
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

terraform: disable by default
  docs/_releasenotes/hotfix/1856.change.3.bare-metal
  nix/yk8s/terraform.nix
Due: none

wireguard: fix warning in case of no peers
  docs/_releasenotes/hotfix/1856.fix.1.wireguard-warning
  nix/yk8s/k8s-supplements/wireguard/default.nix
Due: none

infra: add missing networking options
  docs/_releasenotes/hotfix/1856.fix.2.missing-network-options
  nix/yk8s/infra.nix
Due: none

misc: add option renames
  docs/_releasenotes/hotfix/1856.fix.3.option-renames
  nix/yk8s/miscellaneous.nix
Due: none

Drop leftover variable
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
Due: yamllint

Drop support for Kubernetes v1.29
  ci/cluster-tests.yaml
  docs/_releasenotes/1890.removal.k8s-v1.29
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.29.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

terraform: disable by default
  nix/yk8s/terraform.nix
Due: none

wireguard: fix warning in case of no peers
  nix/yk8s/k8s-supplements/wireguard/default.nix
Due: none

infra: add missing networking options
  nix/yk8s/infra.nix
Due: none

misc: add option renames
  nix/yk8s/miscellaneous.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  version
Due: none

terraform: don't unnecessarily export variables
  terraform/20-gateway.tf
  terraform/templates/trampoline_gateways.tpl
Due: tflint

Update rendered docs
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.terraform.rst
Due: build-docs-check

release-migration: fix migration of vault state
  actions/migrations/v9-01-nix-config.sh
  docs/_releasenotes/hotfix/1909.fix.1.v9-migration-vault
Due: shellcheck

release-migration: don't add terraform default for bare-metal clusters
  actions/migrations/v9-01-nix-config.sh
  docs/_releasenotes/hotfix/1909.fix.3.v9-migration-openstack
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1856.change.3.bare-metal
  docs/_releasenotes/hotfix/1856.fix.1.wireguard-warning
  docs/_releasenotes/hotfix/1856.fix.2.missing-network-options
  docs/_releasenotes/hotfix/1856.fix.3.option-renames
  docs/_releasenotes/hotfix/1909.fix.1.v9-migration-vault
  docs/_releasenotes/hotfix/1909.fix.3.v9-migration-openstack
  version
Due: none

Introduce TAROOK_NIX_FLAGS env var
  actions/update-inventory.sh
  docs/_releasenotes/1898.feature.1.nix-flags
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

docs: Rudimentary update inventory update action reference
  docs/developer/guide/read-config.rst
  docs/img/update-inventory.drawio
  docs/img/update-inventory.svg
  docs/user/reference/actions-references.rst
  docs/user/reference/cluster-repository.rst
Due: build-docs-check

CI: Configure IaaS resources conditionally on OS_REGION_NAME
  ci/cluster-tests.yaml
  ci/config/default.nix
Due: yamllint

Audit policy: Audit base set of resources
  k8s-core/ansible/roles/kubeadm-patches/templates/audit-policy.yaml.j2
Due: none

Fix nested exceptions in flatten function
  nix/yk8s/lib/transform.nix
Due: none

Audit policy: Only log events related to changes of resources
  k8s-core/ansible/roles/kubeadm-patches/templates/audit-policy.yaml.j2
Due: none

Support to enable audit logs in Kube-apiserver
  docs/_releasenotes/hotfix/1896.feature.1.789-support-to-enable-audit-logs-in-kube-apiserver
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/templates/audit-policy.yaml.j2
  k8s-core/ansible/roles/kubeadm-patches/templates/kubeadm-patches/kube-apiserver0+json.json.j2
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Audit policy: Apply defaults from Google Container-Optimized OS
  k8s-core/ansible/roles/kubeadm-patches/templates/audit-policy.yaml.j2
Due: none

Audit policy: Make customizable
  k8s-core/ansible/roles/kubeadm-patches/templates/audit-policy.yaml.j2
  nix/yk8s/kubernetes/default.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1896.feature.1.789-support-to-enable-audit-logs-in-kube-apiserver
  version
Due: none

CI: Use externally managed Thanos bucket
  ci/cluster-tests.yaml
  ci/config/default.nix
Due: yamllint

chore(deps): update helm release ingress-nginx to v4.13.0
  docs/_releasenotes/1917.change.ingress-nginx-updated-to-4.13.0
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

docs: fix invalid `OS_IDENTITY_VERSION` variable name
  docs/_releasenotes/1905.docs.var-name-fix
  docs/user/reference/environmental-variables.rst
Due: build-docs-check

Fix documentation of etcd_backup certRef parameter
  docs/_releasenotes/1918.docs.etcd-backup-certref-config
  nix/yk8s/k8s-supplements/etcd-backup.nix
  templates/etcd_backup_s3_config.template.yaml
Due: yamllint
