Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

chore(deps): update dependency python-openstackclient to v7
  docs/_releasenotes/1400.chore.2024-08-06T14:07:24+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

Update `CHANGELOG.rst` and version for next release v6.1.0
  CHANGELOG.rst
  docs/_releasenotes/+.misc.release-v6.0.2
  docs/_releasenotes/1347.chore.2024-08-01T20:07:32+00:00
  docs/_releasenotes/1362.removal.k8s-v1.27
  docs/_releasenotes/1368.chore.2024-07-20T16:05:54+00:00
  docs/_releasenotes/1370.chore.2024-07-22T00:07:27+00:00
  docs/_releasenotes/1371.chore.fix-rl-link
  docs/_releasenotes/1372.chore.2024-07-22T14:06:13+00:00
  docs/_releasenotes/1378.chore.2024-07-29T00:07:55+00:00
  docs/_releasenotes/1379.removal.replace-patch_config-with-tomlq
  docs/_releasenotes/1380.chore.2024-07-29T14:08:38+00:00
  docs/_releasenotes/1381.chore.haproxy-header
  docs/_releasenotes/1384.chore.2024-07-31T08:08:05+00:00
  docs/_releasenotes/1385.feature.k8s-v-1-30
  docs/_releasenotes/1386.chore.2024-07-31T16:06:50+00:00
  docs/_releasenotes/1387.feature.ing-crt
  docs/_releasenotes/1388.feature.init-branch
  docs/_releasenotes/1392.chore.2024-08-05T00:08:15+00:00
  docs/_releasenotes/1393.change.calico-versions
  docs/_releasenotes/1394.chore.2024-08-05T14:07:39+00:00
  docs/_releasenotes/1397.fix.private-vault-login
  docs/_releasenotes/1398.chore.2024-08-06T10:07:00+00:00
  docs/_releasenotes/1399.chore.2024-08-06T10:07:09+00:00
  version
Due: none

Trigger MR to devel for release-prepare/v6.1.0
  docs/_releasenotes/+.misc.release-v6.1.0
Due: none

Fix release link to releasenotes
  ci/release.yaml
Due: yamllint

Add a name and tag message to releases
  ci/release.yaml
  docs/_releasenotes/1403.chore.fix-rl-link
Due: yamllint

chore(deps): update nixos/nix docker tag to v2.24.2
  ci/build-image.yaml
  docs/_releasenotes/1404.chore.2024-08-08T16:08:25+00:00
Due: yamllint

Add feature request issue template
  .gitlab/issue_templates/feature-request.md
Due: none

Add feature request issue template
  .gitlab/issue_templates/feature-request.md
  docs/_releasenotes/1405.misc.devel
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/1406.chore.2024-08-12T00:08:43+00:00
  poetry.lock
Due: poetry-lock

Fix trailing blank lines
  .gitlab/issue_templates/feature-request.md
  docs/_releasenotes/1405.misc.devel
Due: none

Add MR template to version control
  .gitlab/merge_request_templates/Default.md
  docs/_releasenotes/x.misc.mr-template
Due: none

Update outdated Calico hyperlinks
  docs/_releasenotes/1408.docs.update-outdated-calico-hyperlinks
  docs/user/explanation/services/calico.rst
  templates/config.template.toml
Due: build-docs-check

Fix changelog entry rendering
  CHANGELOG.rst
  docs/_releasenotes/1409.chore.fix-cl-6.1
Due: none

Drop global-monitoring functionality
  ci/config/config.toml
  docs/_releasenotes/1270.removal.drop-ch-k8s-global-monitoring
  docs/user/guide/monitoring/global-monitoring.rst
  docs/user/guide/monitoring/index.md
  docs/user/reference/cluster-configuration.rst
  k8s-supplements/ansible/configure-global-monitoring.yaml
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/roles/global-monitoring-frontend/handlers/main.yaml
  k8s-supplements/ansible/roles/global-monitoring-frontend/meta/main.yaml
  k8s-supplements/ansible/roles/global-monitoring-frontend/tasks/main.yaml
  k8s-supplements/ansible/roles/global-monitoring-frontend/templates/haproxy.cfg.j2
  k8s-supplements/ansible/roles/global-monitoring-frontend/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus-nodeport.yaml
  templates/config.template.toml
Due: yamllint, build-docs-check

chore(deps): update dependency ansible to v9.9.0
  docs/_releasenotes/1411.chore.2024-08-13T12:06:58+00:00
  poetry.lock
Due: poetry-lock

Update inventory in advance of k8s-login
  actions/k8s-login.sh
  docs/_releasenotes/1412.fix.fix-inv-login
Due: shellcheck

Fix k8s-login if etc_dir doesn't exist
  docs/_releasenotes/1416.fix.k8s-login-etc-dir
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
Due: yamllint

Fix k8s-login if etc_dir doesn't exist
  docs/_releasenotes/hotfix/1416.fix.k8s-login-etc-dir
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
Due: yamllint

Make issue template default
  .gitlab/issue_templates/Default.md
  docs/_releasenotes/1407.misc.mr-template
  docs/_releasenotes/x.misc.mr-template
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1416.fix.k8s-login-etc-dir
  version
Due: none

Configure sysctl params also on master nodes
  docs/_releasenotes/1419.change.sysctl-on-master
  k8s-core/ansible/install-k8s.yaml
  templates/config.template.toml
Due: yamllint

Blackbox exporter: Introduce new modules `http_api` and `http_api_insecure` for checking apis
  docs/_releasenotes/1420.feature.blackbox-exporter-introduce-http-api-module
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  templates/config.template.toml
Due: none

test
  ansible/ansible.cfg
Due: none

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.53.0
  .gitlab-ci.yml
  docs/_releasenotes/1421.chore.2024-08-17T16:07:20+00:00
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/1422.chore.2024-08-19T00:09:50+00:00
  poetry.lock
Due: poetry-lock

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/1416.fix.k8s-login-etc-dir
  version
Due: none

Fix SSH host key checking from v6.0.0
  CHANGELOG.rst
  templates/template.gitignore
  version
Due: none

Fix changelog syntax
  docs/_releasenotes/1420.feature.blackbox-exporter-introduce-http-api-module
  docs/_releasenotes/1425.chore.changelog-blackbox-1420
Due: none

Fix release link to releasenotes again
  ci/release.yaml
  docs/_releasenotes/1426.fix.changelog-rl-link
Due: yamllint

Prometheus: Support remote write
  docs/_releasenotes/1396.feature.prometheus-support-remote-write
  k8s-supplements/ansible/roles/monitoring_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  templates/config.template.toml
Due: yamllint

Reflect Grafana admin secret in config template
  docs/_releasenotes/1427.chore.grafana-config-template
  templates/config.template.toml
Due: none

Migrate vault image
  actions/detect-vault-image.sh
  ci/cluster-tests.yaml
  docs/_releasenotes/1429.change.vault-image
Due: shellcheck, yamllint

rook: Bump default version to v1.14.9
  docs/_releasenotes/1430.feature.rook-version
  k8s-supplements/ansible/roles/rook_v2/defaults/main.yaml
  templates/config.template.toml
Due: yamllint

chore(deps): update nixos/nix docker tag to v2.24.3
  ci/build-image.yaml
  docs/_releasenotes/1431.chore.2024-08-19T12:07:17+00:00
Due: yamllint

Docs: Short description of Prometheus
  docs/user/guide/monitoring/prometheus-stack.rst
Due: build-docs-check

docs: Explain how to withdraw a release
  docs/_releasenotes/1376.docs.add-release-withdrawal-procedure
  docs/developer/explanation/release-and-versioning-policy.rst
Due: build-docs-check
