Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

docs: remove case 2 from Vault pivot guide
  docs/user/guide/vault/vault.rst
Due: build-docs-check

Fix default value of config.yk8s.k8s-service-layer.vault.s3_config_file
  docs/_releasenotes/2219.docs.1.default-value-in-vault-config-fixed
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
Due: build-docs-check

Check for minimal Kubernetes requirements during bootstrap
  docs/_releasenotes/2134.feature.1.issue-820
  k8s-core/ansible/bootstrap.yaml
Due: yamllint

chore(deps): update helm release etcdbackup to v0.20251117.1
  docs/_releasenotes/x.change.etcdbackup-updated-to-0.20251117.1
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

chore(deps): update nix to nixos-25.11
  docs/_releasenotes/x.chore.nixpkgs-updated-to-nixos-25.11
  flake.lock
  flake.nix
Due: none

chore(deps): update terraform openstack to ~> 3.4.0
  docs/_releasenotes/2200.chore.openstack-updated-to-3.4.0
  terraform/versions.tf
Due: tflint

chore(deps): update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2202.chore.kubernetes-kubernetes-updated-to-v1.34.2
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

chore(deps): update helm release prometheus-blackbox-exporter to v11.6.0
  docs/_releasenotes/2222.change.prometheus-blackbox-exporter-updated-to-11.6.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update helm release etcdbackup to v0.20251127.0
  docs/_releasenotes/2218.change.etcdbackup-updated-to-0.20251127.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

ch-k8s-lbaas: Drop validation tasks
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/tasks/main.yaml
Due: yamllint

ch-k8s-lbaas: Add a simple docs preface
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
Due: none

Make release migration idempotent
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/hotfix/2209.fix.1.migration-idempotent
Due: shellcheck

Add missing config read to release migration
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/hotfix/2209.fix.2.missing-config-read-added-in-release-migration
Due: shellcheck

release-migrations: Capture new Terraform state
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/hotfix/2209.fix.3.new-terraform-state-captured-in-release-migration
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2209.fix.1.migration-idempotent
  docs/_releasenotes/hotfix/2209.fix.2.missing-config-read-added-in-release-migration
  docs/_releasenotes/hotfix/2209.fix.3.new-terraform-state-captured-in-release-migration
  version
Due: none

Update version number and changelog for hotfix-release
  version
Due: none

chore(deps): update nixos/nix docker tag to v2.33.0
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2229.chore.nixos-nix-updated-to-2.33.0
Due: yamllint

chore(deps): update nixos/nix docker tag to v2.32.5
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2232.chore.nixos-nix-updated-to-2.32.5
Due: yamllint

Happy new Year
  docs/_releasenotes/2233.misc.2026
  docs/conf.py
Due: flake8, build-docs-check

Set NOFILE limit for Containerd again
  k8s-core/ansible/roles/containerd/files/limit-nofile.conf
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint

fixup! openstack: Allow individual root volume configuration
  nix/yk8s/openstack.nix
Due: none

openstack: Fix configuration of root_disk_size
  docs/_releasenotes/2225.feature.1.individual-root-volumes
  nix/yk8s/openstack.nix
  terraform/00-variables.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

openstack: Allow individual root volume configuration
  docs/_releasenotes/x.feature.1.individual-root-volumes
  nix/yk8s/openstack.nix
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

Remove incorrect default value in rook nmgrs option description
  docs/_releasenotes/2231.docs.fix-nmgr-default-value
  nix/yk8s/k8s-supplements/rook.nix
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v11.5.0
  docs/_releasenotes/2215.change.prometheus-blackbox-exporter-updated-to-11.5.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

Use lib functions for type check
  nix/yk8s/lib/types/_toplevel.nix
Due: none

Fix merging of custom types
  docs/_releasenotes/2243.fix.1.type-merge
  nix/yk8s/lib/types/_toplevel.nix
  nix/yk8s/lib/types/k8s.nix
  nix/yk8s/lib/types/networking.nix
  nix/yk8s/lib/types/strings.nix
Due: none

Fix merging of custom types
  docs/_releasenotes/hotfix/2246.fix.1.type-merge
  nix/yk8s/lib/types.nix
Due: none

Fix merging of custom types
  docs/_releasenotes/hotfix/2247.fix.1.type-merge
  nix/yk8s/lib/types.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
