Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Group dependencies in curly braces
  nix/dependencies.nix
Due: none

Test direnv setup in CI
  ci/cluster-tests.yaml
  ci/container-image/default.nix
  ci/hotfix-prepare.yaml
  ci/release.yaml
  nix/dependencies.nix
Due: yamllint

direnv: add manual reload for nix layout
  .envrc.lib.sh
  docs/_releasenotes/1323.feature.envrc-manual-layouts
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

Fix pre-commit check 'nix-fmt'
  ci/lint/format-flake.sh
  docs/_releasenotes/1614.fix.fix-pre-commit-nix-fmt
Due: shellcheck

Reduce flake lock file update noise
  actions/init-cluster-repo.sh
  nix/templates/cluster-repo/flake.nix
  nix/templates/migration/flake.nix
Due: shellcheck

chore(deps): update dependency boto3 to v1.36.2
  docs/_releasenotes/1578.chore.2025-01-17T22:07:26+00:00
  poetry.lock
Due: poetry-lock

Don't load conf vars in vault_env
  actions/vault_env.sh
Due: shellcheck

Don't load conf vars in vault.sh
  actions/vault.sh
Due: shellcheck

dont update inventory in vault env
  actions/vault.sh
  actions/vault_env.sh
Due: shellcheck

Drop poetry2nix
  .envrc.lib.sh
  ci/container-image/default.nix
  flake.lock
  flake.nix
  nix/poetry.nix
Due: shellcheck

flake.lock: Update
  flake.lock
Due: none

Rework requirements + devShells
  .envrc.lib.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  flake.nix
  nix/dependencies.nix
  nix/yk8s-env.nix
Due: shellcheck, yamllint

Drop python-neutronclient
  pyproject.toml
Due: poetry-lock

Drop offline-installation dependency group
  pyproject.toml
Due: poetry-lock

Drop poetry
  .envrc
  .envrc.lib.sh
  .gitlab-ci.yml
  ci/build-image.yaml
  ci/cluster-tests.yaml
  ci/hotfix-prepare.yaml
  ci/housekeeping/poetry-lock.sh
  ci/release.yaml
  docs/README.md
  docs/_releasenotes/1570.removal.drop-poetry
  docs/user/guide/minimal-access-venv.rst
  docs/user/reference/environmental-variables.rst
  nix/dependencies.nix
  nix/pkgs/kubernetes-validate.nix
  nix/templates/cluster-repo/.envrc
  nix/yk8s-env.nix
  poetry.lock
  pyproject.toml
  renovate.json
  templates/yaook-k8s-env.template.sh
Due: shellcheck, yamllint, poetry-lock, build-docs-check

pre-commit: Fix exclude rule for trailing-whitespace hook
  .pre-commit-config.yaml
Due: yamllint

docs: improve wording
  docs/user/reference/cluster-configuration.rst
  docs/user/tutorial/upgrade-cluster.rst
Due: build-docs-check

docs: fix some typos
  docs/_releasenotes/1615.docs.improve-documentation
  docs/user/guide/initialization.rst
  docs/user/guide/quick-start.rst
  docs/user/reference/cluster-configuration.rst
  docs/user/tutorial/create-cluster.rst
  docs/user/tutorial/upgrade-cluster.rst
Due: build-docs-check

Render docs as package
  ci/housekeeping/render-options.sh
  docs/README.md
  flake.nix
  nix/renderDocs.nix
Due: shellcheck, build-docs-check

Fix minimal package group
  nix/dependencies.nix
Due: none

Move Nix template definition to own module
  flake.nix
  nix/templates/default.nix
Due: none

Move CI package definitions to own module
  ci/container-image/default.nix
  flake.nix
Due: none

chore(deps): update dependency kubernetes.core to v5.1.0
  ansible/requirements.yaml
  docs/_releasenotes/1619.chore.2025-01-20T18:06:23+00:00
Due: yamllint

chore(deps): update nixos/nix docker tag to v2.25.4
  ci/build-image.yaml
  docs/_releasenotes/1618.chore.2025-01-20T18:06:16+00:00
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/1588.chore.2025-01-20T18:09:02+00:00
  flake.lock
Due: none

Add minimal env to ci env
  docs/_releasenotes/1620.misc.rsync-ci-image
  nix/dependencies.nix
Due: none

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.55.0
  .gitlab-ci.yml
  docs/_releasenotes/1621.chore.2025-01-20T20:07:25+00:00
Due: yamllint

Drop legacy Terraform reference documentation
  CHANGELOG.rst
  ci/lint/ansible-lint-conf
  docs/.terraform-doc-header.md
  docs/.terraform-docs.yaml
  docs/_releasenotes/1611.docs.terraform-docs
  docs/conf.py
  docs/developer/reference/index.md
  docs/developer/reference/terraform-docs.md
Due: yamllint, flake8, build-docs-check

Add option to configure specific Cinder volume type
  docs/_releasenotes/1617.feature.add-option-to-use-specific-volume-type
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v1/templates/cinder_storage_class.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/files/cinder/cinder_storage_class.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/cinder_storage_class.yaml.j2
  nix/yk8s/miscellaneous.nix
Due: yamllint

Use non-default Cinder volume type in the CI
  ci/config/config.toml
  docs/_releasenotes/1617.misc.openstack-cinder-volume-type
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.miscellaneous.rst
Due: build-docs-check

chore(deps): update nixos/nix docker tag to v2.26.0
  ci/build-image.yaml
  docs/_releasenotes/1628.chore.2025-01-22T14:06:41+00:00
Due: yamllint

Use Ubuntu 24.04 as default image
  ci/config/config.toml
  docs/_releasenotes/1610.chore.ubuntu-2404
  nix/templates/cluster-repo/config/default.nix
  nix/templates/migration/config/default.nix
Due: none

CI: Use csi-sc-cinderplugin for Grafana
  ci/config/config.toml
  docs/_releasenotes/1629.misc.ci-grafana-storage-class
Due: none

etcd-metrics-proxy: Support IPv6
  docs/_releasenotes/1482.feature.2.etcd-metrics-add-ipv6-supprt
  k8s-supplements/ansible/roles/etcd-metrics-proxy/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-metrics-proxy/templates/proxy.yaml.j2
Due: yamllint

test
  nix/dependencies.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
