Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

fixup! Remove j2 extension from Ansible non-templates
  k8s-core/ansible/roles/nvidia-device-plugin/files/nvdp_values.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/main.yaml
Due: yamllint

fixup! Remove j2 extension from Ansible non-templates
  k8s-core/ansible/roles/vgpu-support/files/50-vfio.rules
  k8s-core/ansible/roles/vgpu-support/tasks/main.yaml
Due: yamllint

Introduce env var wg_private_key_command
  actions/lib.sh
  actions/wg-up.sh
  docs/_releasenotes/1609.change.wireguard-priv-key-retrieval-command
  docs/user/reference/environmental-variables.rst
  templates/yaook-k8s-env.template.sh
Due: shellcheck, build-docs-check

Mark wg_private_key[_file] as deprecated
  actions/wg-up.sh
  docs/_releasenotes/1609.change.wireguard-priv-key-retrieval-command
  docs/user/reference/environmental-variables.rst
  templates/yaook-k8s-env.template.sh
Due: shellcheck, build-docs-check

Stop filtering null values during inventory generation
  docs/_releasenotes/1687.change.756-stop-filtering-null-values
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/bootstrap/ntp/templates/chrony.conf.j2
  k8s-core/ansible/roles/bootstrap/vault-cli/tasks/main.yaml
  k8s-core/ansible/roles/containerd/tasks/main.yaml
  k8s-core/ansible/roles/k8s-packages/tasks/configure-package-repo.yaml
  k8s-core/ansible/roles/kubeadm-patches/templates/kubeadm-patches/kube-apiserver0+json.json.j2
  k8s-core/ansible/roles/kubelet-configuration/tasks/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/os_cloud_config.ini
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos-objectstorage.yaml.j2
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/rook_v2/tasks/wait_for_ceph_upgrade.yaml
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/templates/operator-values.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/tasks/external_pki.yaml
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird_v6.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_server.conf.j2
  k8s-supplements/ansible/test.yaml
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/terraform.nix
Due: yamllint

Move options from miscellaneous to load-balancing
  docs/_releasenotes/1716.change.1.options-cleanup
  nix/yk8s/load-balancing.nix
  nix/yk8s/miscellaneous.nix
Due: none

Move options from miscellaneous to openstack
  CHANGELOG.rst
  k8s-supplements/ansible/roles/check-openstack-credentials/tasks/main.yaml
  nix/yk8s/miscellaneous.nix
  nix/yk8s/openstack.nix
Due: yamllint

Update default kubernetes version in config template
  nix/templates/cluster-repo/config/default.nix
Due: none

Remove note about connect_k8s_to_openstack_v1
  docs/user/explanation/services/on_openstack.rst
Due: build-docs-check

Fix comment for YAOOK_K8S_DEVSHELL in env template
  templates/yaook-k8s-env.template.sh
Due: shellcheck

Comment out wireguard peer in config template
  nix/templates/cluster-repo/config/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.load-balancing.rst
  docs/user/reference/options/yk8s.miscellaneous.rst
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

CI: Ensure cluster jobs are triggered on scheduled pipelines
  ci/cluster-tests.yaml
  docs/_releasenotes/1720.misc.ci-full-pipeline-schedule
Due: yamllint

Pull CA with node credentials
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
Due: yamllint

Move finding out of orchestrator role to helper role
  docs/_releasenotes/1741.fix.fix-install-k8s-playbook
  k8s-core/ansible/roles/bootstrap/vault-onboarded/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yaml
  k8s-core/ansible/roles/helpers/vault-orchestrator-roles/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/meta/main.yaml
Due: yamllint

renovate: Use news fragment counter
  ci/create_renovate_release_note.sh
  docs/_releasenotes/1742.chore.news-fragment-counter-used-for-renovations
Due: shellcheck

renovate: Unify news fragment names
  ci/create_renovate_release_note.sh
Due: shellcheck

renovate: Create feature release notes for helm updates
  ci/create_chore_release_note.sh
  ci/create_renovate_release_note.sh
  docs/_releasenotes/1730.chore.fine-tune-renovate-management
  renovate.json
Due: shellcheck

Update Helm release rook-ceph to v1.16.5
  docs/_releasenotes/1700.change.rook-ceph-updated-to-v1.16.5
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Update Helm release vault to v0.29.1
  docs/_releasenotes/1703.change.vault-updated-to-0.29.1
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
Due: build-docs-check

wireguard_helper: Implement proper logging and error handling
  nix/yk8s/k8s-supplements/wireguard/wireguard_helper.py
Due: flake8

Turn missing wireguard peers error into a warning
  docs/_releasenotes/1737.change.1.missing-wireguard-peers-error-turned-into-warning
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/k8s-supplements/wireguard/wireguard_helper.py
Due: flake8

Add retries to etcd-metrics-proxy tasks
  k8s-supplements/ansible/roles/etcd-metrics-proxy/tasks/main.yaml
Due: yamllint

Restrict kubeconfigs of CP components to local kube-apiserver
  docs/_releasenotes/1743.change.fix-kubeconfigs-cp
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
Due: yamllint

chore(deps): update helm release prometheus-blackbox-exporter to v9.4.0
  docs/_releasenotes/1746.change.prometheus-blackbox-exporter-updated-to-9.4.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): lock file maintenance
  docs/_releasenotes/1740.chore.-updated-to-
  flake.lock
Due: none

Adjust etcd-metrics-proxy for IPv6 and dual stack
  docs/_releasenotes/1631.feature.etcd-metrics-proxy-ipv6
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/meta/main.yaml
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/tasks/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/roles/etcd-metrics-proxy/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-metrics-proxy/templates/ds-etcd-metrics-proxy.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: yamllint

Use canReach instead of cidrs to find node IP addresses
  docs/_releasenotes/1747.fix.calico-ip-autodetection-with-vrrp
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: none

Trigger MR to devel for release-prepare/v9.1.0
  docs/_releasenotes/+.misc.release-v9.1.0
Due: none

Improve resilience of workload shuffling
  ci/custom-play.yaml
  docs/_releasenotes/1745.chore.retry-shuffle
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Fix calico
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: none

chore(deps): update nixos/nix docker tag to v2.27.1
  ci/build-image.yaml
  docs/_releasenotes/1749.chore.nixos-nix-updated-to-2.27.1
Due: yamllint

chore(deps): update dependency community.general to v10.5.0
  ansible/requirements.yaml
  docs/_releasenotes/1757.chore.community.general-updated-to-10.5.0
Due: yamllint

Update file initialization.rst
  docs/user/guide/initialization.rst
Due: build-docs-check

Update default version of ingress Helm chart
  docs/_releasenotes/hotfix/1760.fix.1.update-ingress-nginx
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update default version of ingress Helm chart
  docs/_releasenotes/1759.fix.1.update-ingress-nginx
  nix/yk8s/k8s-supplements/ingress.nix
Due: none
