Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

fixup! Rework requirements + devShells
  nix/yk8s-env.nix
Due: none

fixup! test: test direnv setup in ci
  ci/container-image/default.nix
Due: none

fixup! Drop poetry
  nix/yk8s-env.nix
Due: none

Enable usage of wg-up.sh for bare metal deployments
  actions/lib.sh
  actions/wg-up.sh
  docs/_releasenotes/1590.change.enable-wg-up-usage-for-bare-metal-deployments
  templates/yaook-k8s-env.template.sh
Due: shellcheck

Enforce `.yaml` file extension for YAML files
  .pre-commit-config.yaml
  .yamllint.yaml
  docs/_releasenotes/1604.misc.yaml-consistent-use
  k8s-core/ansible/roles/bootstrap/vault-onboarded/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/get_cert.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yaml
  k8s-core/ansible/roles/helpers/vault-approle/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/tasks/main.yaml
Due: yamllint

Hide ca.key from kubeadm if signing requests is enabled
  docs/_releasenotes/1608.fix.k8s-upgrade-signing-requests
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-node/tasks/main.yaml
Due: yamllint

Bump Kubernetes versions
  ci/cluster-tests.yaml
  ci/config/config.toml
  docs/_releasenotes/1607.change.bump-k8s-versions
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Fix option rendering condition
  .gitlab-ci.yml
  docs/_releasenotes/1607.misc.render-options-on-changes
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Rework requirements + devShells
  .envrc.lib.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  flake.nix
  nix/dependencies.nix
  nix/yk8s-env.nix
Due: shellcheck, yamllint

Drop python-neutronclient
  pyproject.toml
Due: poetry-lock

flake.lock: Update
  flake.lock
Due: none

Drop offline-installation dependency group
  pyproject.toml
Due: poetry-lock

pre-commit: Fix exclude rule for trailing-whitespace hook
  .pre-commit-config.yaml
Due: yamllint

Move CI package definitions to own module
  ci/container-image/default.nix
  flake.nix
Due: none

Render docs as package
  ci/housekeeping/render-options.sh
  docs/README.md
  flake.nix
  nix/renderDocs.nix
Due: shellcheck, build-docs-check

Move Nix template definition to own module
  flake.nix
  nix/templates/default.nix
Due: none

Drop poetry
  .envrc
  .envrc.lib.sh
  .gitlab-ci.yml
  ci/build-image.yaml
  ci/cluster-tests.yaml
  ci/hotfix-prepare.yaml
  ci/housekeeping/poetry-lock.sh
  ci/release.yaml
  docs/README.md
  docs/_releasenotes/1570.removal.drop-poetry
  docs/user/guide/minimal-access-venv.rst
  docs/user/reference/environmental-variables.rst
  nix/dependencies.nix
  nix/pkgs/kubernetes-validate.nix
  nix/templates/cluster-repo/.envrc
  nix/yk8s-env.nix
  poetry.lock
  pyproject.toml
  renovate.json
  templates/yaook-k8s-env.template.sh
Due: shellcheck, yamllint, poetry-lock, build-docs-check

Fix minimal package group
  nix/dependencies.nix
Due: none

test: test direnv setup in ci
  ci/cluster-tests.yaml
  ci/container-image/default.nix
  ci/hotfix-prepare.yaml
  ci/release.yaml
  nix/dependencies.nix
Due: yamllint

ci: Don't run K8s upgrade jobs on MRs
  ci/cluster-tests.yaml
  docs/_releasenotes/1612.misc.ci-upgrade-job-rule-changes
Due: yamllint

Add documentation about update YAOOK/K8s
  docs/_releasenotes/1602.docs.how-to-upgrade-cluster
  docs/user/tutorial/index.md
  docs/user/tutorial/upgrade-cluster.rst
Due: build-docs-check

Disable package mode
  pyproject.toml
Due: poetry-lock

Group dependencies in curly braces
  nix/dependencies.nix
Due: none

Test direnv setup in CI
  ci/cluster-tests.yaml
  ci/container-image/default.nix
  ci/hotfix-prepare.yaml
  ci/release.yaml
  nix/dependencies.nix
Due: yamllint

Drop poetry2nix
  .envrc.lib.sh
  ci/container-image/default.nix
  flake.lock
  flake.nix
  nix/poetry.nix
Due: shellcheck
