Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update `CHANGELOG.rst` and version for next release v6.0.1
  CHANGELOG.rst
  docs/_releasenotes/+.chore.fix-rl-image-tagging
  docs/_releasenotes/+.misc.release-v6.0.0
  docs/_releasenotes/1314.change.prometheus-version-update
  docs/_releasenotes/1335.chore.2024-07-01T00:07:37+00:00
  docs/_releasenotes/1337.misc.add-gnutar
  docs/_releasenotes/1338.chore.ci-testing-nodes
  docs/_releasenotes/1339.fix.nftables-reload-on-wg-rotation
  docs/_releasenotes/1343.misc.link-to-gitlab-pages-release-notes
  docs/_releasenotes/1344.chore.2024-07-05T18:05:39+00:00
  docs/_releasenotes/1345.chore.2024-07-06T16:05:09+00:00
  docs/_releasenotes/1346.chore.2024-07-08T00:07:09+00:00
  docs/_releasenotes/1349.chore.2024-07-08T20:06:49+00:00
  docs/_releasenotes/1350.chore.2024-07-10T20:06:24+00:00
  docs/_releasenotes/1354.chore.2024-07-15T00:07:19+00:00
  docs/_releasenotes/1355.chore.2024-07-15T06:06:12+00:00
  docs/_releasenotes/1356.chore.2024-07-15T20:05:58+00:00
  docs/_releasenotes/1358.fix.vault-login-script-node
  docs/_releasenotes/1359.fix.kubeconfig-generation
  version
Due: none

Fix required actions in v6.0.0 release notes
  CHANGELOG.rst
  docs/_releasenotes/+.fix.fix-required-actions-in-v6.0.0-release-notes
  templates/template.gitignore
Due: none

Trigger MR to devel for release-prepare/v6.0.1
  docs/_releasenotes/+.misc.release-v6.0.1
Due: none

chore(deps): update dependency furo to v2024.7.18
  docs/_releasenotes/1364.chore.2024-07-18T10:06:04+00:00
  poetry.lock
Due: poetry-lock

Add dispatch playbook for custom stage
  actions/apply-all.sh
  actions/apply-custom.sh
  actions/init-cluster-repo.sh
  actions/lib.sh
  actions/migrate-cluster-repo.sh
  ci/lint/ansible-lint-conf
  docs/_releasenotes/1352.change.consolidate-custom-stage
  k8s-custom/ansible/main.yaml
Due: shellcheck, yamllint

chore(deps): update dependency sphinx to v7.4.6
  docs/_releasenotes/1365.chore.2024-07-18T14:05:44+00:00
  poetry.lock
Due: poetry-lock

Update prometheus-exporters
  docs/_releasenotes/1357.change.update-exporter-versions
  k8s-supplements/ansible/roles/prometheus-bird-exporter/defaults/main.yaml
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/defaults/main.yaml
  k8s-supplements/ansible/roles/prometheus-keepalived-exporter/defaults/main.yaml
Due: yamllint

ci: Fix syntax error in release.yaml
  ci/release.yaml
  docs/_releasenotes/1366.fix.link-to-gitlab-pages-release-notes-fixup
Due: yamllint

Update `CHANGELOG.rst` and version for next release v6.0.2
  CHANGELOG.rst
  docs/_releasenotes/+.fix.fix-required-actions-in-v6.0.0-release-notes
  docs/_releasenotes/+.misc.release-v6.0.1
  docs/_releasenotes/1340.change.lib-side-effect-free
  docs/_releasenotes/1352.change.consolidate-custom-stage
  docs/_releasenotes/1357.change.update-exporter-versions
  docs/_releasenotes/1360.chore.2024-07-16T20:05:51+00:00
  docs/_releasenotes/1361.chore.2024-07-16T22:05:42+00:00
  docs/_releasenotes/1364.chore.2024-07-18T10:06:04+00:00
  docs/_releasenotes/1365.chore.2024-07-18T14:05:44+00:00
  docs/_releasenotes/1366.fix.link-to-gitlab-pages-release-notes-fixup
  version
Due: none

chore(deps): update dependency sphinx to v7.4.7
  docs/_releasenotes/1368.chore.2024-07-20T16:05:54+00:00
  poetry.lock
Due: poetry-lock

Trigger MR to devel for release-prepare/v6.0.2
  docs/_releasenotes/+.misc.release-v6.0.2
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/1370.chore.2024-07-22T00:07:27+00:00
  poetry.lock
Due: poetry-lock

Drop Kubernetes v1.27
  ci/cluster-tests.yaml
  docs/_releasenotes/1362.removal.k8s-v1.27
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.28.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  templates/config.template.toml
Due: yamllint

Fix link to release notes for Gitlab releases
  ci/release.yaml
  docs/_releasenotes/1371.chore.fix-rl-link
Due: yamllint

chore(deps): update terraform openstack to ~> 2.1.0
  docs/_releasenotes/1372.chore.2024-07-22T14:06:13+00:00
  terraform/versions.tf
Due: tflint

Replace and withdraw release 5.1.2, 5.1.3 and 5.1.4
  CHANGELOG.rst
  docs/developer/reference/terraform-docs.md
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
  version
Due: tflint, build-docs-check

Update changelog due to withdrawn v5.1.x releases
  CHANGELOG.rst
  version
Due: none

direnv: use layout_dir
  .envrc.lib.sh
Due: shellcheck

direnv: add manual reload for nix layout
  .envrc.lib.sh
  flake.nix
Due: shellcheck

direnv poetry: watch hash file
  .envrc.lib.sh
Due: shellcheck

fix manual reload for older nix versions
  .envrc.lib.sh
Due: shellcheck

always create reload script
  .envrc.lib.sh
Due: shellcheck

chore(deps): lock file maintenance
  docs/_releasenotes/1378.chore.2024-07-29T00:07:55+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency python-openstackclient to v6.6.1
  docs/_releasenotes/1380.chore.2024-07-29T14:08:38+00:00
  poetry.lock
Due: poetry-lock

Fix apiserver backend for modern haproxy versions
  docs/_releasenotes/1381.chore.haproxy-header
  k8s-core/ansible/roles/haproxy/templates/k8s-apiserver.cfg.j2
Due: none

Replace patch_config with tomlq
  ci/cluster-tests.yaml
  docs/_releasenotes/1379.removal.replace-patch_config-with-tomlq
  tools/patch_config.py
Due: yamllint, flake8

chore(deps): update dependency towncrier to v24
  docs/_releasenotes/1384.chore.2024-07-31T08:08:05+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

chore(deps): update dependency towncrier to v24.7.1
  docs/_releasenotes/1386.chore.2024-07-31T16:06:50+00:00
  poetry.lock
Due: poetry-lock

Add support for Kubernetes v1.30
  ci/cluster-tests.yaml
  ci/config/config.toml
  docs/_releasenotes/1385.feature.k8s-v-1-30
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.30.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  templates/config.template.toml
Due: yamllint

Add cert-manager configuration options
  k8s-supplements/ansible/roles/cert_manager_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/tasks/main.yaml
  templates/config.template.toml
Due: yamllint

Add ingress-controller configuration options
  docs/_releasenotes/1387.feature.ing-crt
  k8s-supplements/ansible/roles/ingress_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/tasks/main.yaml
  templates/config.template.toml
Due: yamllint

Add option to chekout a specific branch on init
  actions/init-cluster-repo.sh
  docs/_releasenotes/1388.feature.init-branch
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

chore(deps): update nixos/nix docker tag to v2.24.1
  ci/build-image.yaml
  docs/_releasenotes/1347.chore.2024-08-01T20:07:32+00:00
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/1392.chore.2024-08-05T00:08:15+00:00
  poetry.lock
Due: poetry-lock

Bump calico versions
  docs/_releasenotes/1393.change.calico-versions
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
Due: yamllint

chore(deps): update dependency myst-parser to v4
  docs/_releasenotes/1394.chore.2024-08-05T14:07:39+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

Fix login script for private vault backend
  docs/_releasenotes/1397.fix.private-vault-login
  k8s-core/ansible/roles/bootstrap/vault-onboarded/files/vault-login.sh
Due: shellcheck

chore(deps): update dependency python-hcl2 to v4.3.5
  docs/_releasenotes/1398.chore.2024-08-06T10:07:00+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency furo to v2024.8.6
  docs/_releasenotes/1399.chore.2024-08-06T10:07:09+00:00
  poetry.lock
Due: poetry-lock

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
