Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Print Nix versions before building the inventory
  actions/update-inventory.sh
  docs/_releasenotes/2655.feature.1.print-nix-version
Due: shellcheck

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.rst
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

envrc: Make path to code repo configurable
  .envrc.lib.sh
  docs/_releasenotes/2468.misc.1.code-repo-path
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

Make lib.sh manually sourcable
  actions/lib.sh
  docs/_releasenotes/2536.misc.1.lib-manual-source
Due: shellcheck

WIP
  k8s-core/ansible/roles/nvidia-container-toolkit/defaults/main.yaml
  k8s-core/ansible/roles/nvidia-container-toolkit/tasks/main.yaml
  renovate.json
Due: yamllint

Allow anti_affinity_group to be set for all nodes
  docs/_releasenotes/2607.change.1.affinity-master-nodes
  nix/yk8s/openstack/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

ci: Extend OpenStack cleanup script to remove containers
  ci/clean-up-os-project.py
Due: flake8

ci: Set OpenRC by sourcing mounted file
  ci/cluster-tests.yaml
Due: yamllint

Pin nvidia-container-toolkit versions
  docs/_releasenotes/xxx.change.1.pin-nvidia-container-toolkit-managed-by-renovate-bot
  docs/_releasenotes/xxx.fix.2.pin-nvidia-container-toolkit-managed-by-renovate-bot
  k8s-core/ansible/roles/nvidia-container-toolkit/defaults/main.yaml
  k8s-core/ansible/roles/nvidia-container-toolkit/tasks/main.yaml
Due: yamllint

Renovate: Update nvidia-container-toolkit packages
  docs/_releasenotes/2656.change.1.pin-nvidia-container-toolkit-managed-by-renovate-bot
  docs/_releasenotes/2656.fix.2.pin-nvidia-container-toolkit-managed-by-renovate-bot
  renovate.json
Due: none

docs: Drop drawio documents
  .pre-commit-config.yaml
  docs/img/apply-script.drawio
  docs/img/apply-script.svg
  docs/img/apply-terraform.drawio
  docs/img/ch-k8s-lbaas-overview.drawio
  docs/img/cluster-user-interaction.drawio
  docs/img/high-level-architecture.drawio
  docs/img/hotfix-prepare.drawio
  docs/img/hotfix.drawio
  docs/img/layer-hierarchy.drawio
  docs/img/release.drawio
  docs/user/reference/actions-references.rst
Due: yamllint, build-docs-check

Drop IPSec support
  actions/release-migrations/v15-10-require-vault-policies-update.sh
  ci/cluster-tests.yaml
  ci/config/default.nix
  docs/_releasenotes/2382.removal.ipsec-dropped
  docs/img/cluster-user-interaction.svg
  docs/img/high-level-architecture.svg
  docs/user/explanation/vpn/index.md
  docs/user/explanation/vpn/ipsec.rst
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.ipsec.rst
  docs/user/reference/vault-tools-references.rst
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/defaults/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/files/charon-systemd.conf
  k8s-supplements/ansible/roles/ipsec-vpn/meta/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/10-swanctl-notify.sh.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird3.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.client.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
  k8s-supplements/ansible/test-roles/check-ipsec/defaults/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/meta/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/templates/busybox-ping-job.yaml.j2
  k8s-supplements/ansible/test.yaml
  nix/tests/test_yk8s/test_lib/test_types/test_networking.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/lib/types/networking.nix
  tools/vault/init.sh
  tools/vault/lib.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

nix/config: Introduce wireguard endpoint IP
  docs/_releasenotes/2391.feature.nix-config-wireguard-endpoint-ip-introduced
  docs/user/reference/options/yk8s.wireguard.rst
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_client_with_k8s.conf.j2
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/openstack/default.nix
Due: build-docs-check

ci: Cleanup bucket project as well
  ci/cluster-tests.yaml
  docs/_releasenotes/2627.misc.1.cleanup-buckets
Due: yamllint

Change containerd apt-key format
  docs/_releasenotes/2657.change.reformat-containerd-apt-gpg-key
  k8s-core/ansible/roles/containerd/files/apt-key-ubuntu.gpg
Due: none

Add default values to ClusterConfiguration
  nix/yk8s/kubernetes/kubeadm/cluster-configuration.nix
Due: none

Update Helm release tigera-operator to v3.32.2
  docs/_releasenotes/2660.dependency.tigera-operator-updated-to-v3.32.2
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Update Helm release crd.projectcalico.org.v1 to v3.32.2
  docs/_releasenotes/2659.dependency.crd.projectcalico.org.v1-updated-to-v3.32.2
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

renovate: Group Calico packages
  docs/_releasenotes/2661.chore.1.group-calico
  renovate.json
Due: none

renovate: Group Envoy packages
  docs/_releasenotes/2661.chore.2.group-envoy
  renovate.json
Due: none

Add support for Kubernetes v1.37
  ci/cluster-tests.yaml
  docs/_releasenotes/2700.feature.1.k8s-v1.37
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-supplements/ansible/k8s-upgrade-to-1.37.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Rename audit-logs role to kubeadm-reconfigure-apiserver
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/kubeadm-reconfigure-apiserver/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-reconfigure-apiserver/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-reconfigure-apiserver/templates/kubeadm-init-apiserver-config-bundle.yaml.j2
Due: yamllint

kubeadm-patches: add optional identifier
  nix/yk8s/kubernetes/kubeadm/patches.nix
Due: none

Split out role to update clusterConfiguration
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-reconfigure-apiserver/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-reconfigure-apiserver/templates/kubeadm-init-apiserver-config-bundle.yaml.j2
  k8s-core/ansible/roles/kubeadm-update-clusterconfiguration/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-update-clusterconfiguration/tasks/main.yaml
  nix/yk8s/kubernetes/kubeadm/cluster-configuration.nix
Due: yamllint

Drop role kubeadm-kube-proxy
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-kube-proxy/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-kube-proxy/tasks/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/migrate_to_ebpf.yaml
Due: yamllint

Add constant for audit policy path
  k8s-core/ansible/roles/kubeadm-reconfigure-apiserver/tasks/main.yaml
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubeadm/cluster-configuration.nix
Due: yamllint

Unify apiserver config in its own module
  nix/yk8s/kubernetes/apiserver/audit-policy-defaults.nix
  nix/yk8s/kubernetes/apiserver/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubeadm/cluster-configuration.nix
Due: none

Order kubeadm arguments as per usage
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
Due: yamllint

Pass version to kubeadm upgrade plan
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
Due: yamllint

Use kubeadm UpgradeConfiguration
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-node/tasks/main.yaml
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubeadm/default.nix
  nix/yk8s/kubernetes/kubeadm/upgrade-configuration.nix
Due: yamllint

fixup! Use kubeadm UpgradeConfiguration
  nix/yk8s/kubernetes/kubeadm/upgrade-configuration.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Update Helm release prometheus-blackbox-exporter to v11.19.1
  docs/_releasenotes/2662.dependency.prometheus-blackbox-exporter-updated-to-11.19.1
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Improve release notes for v15
  docs/_releasenotes/2525.change.tigera-operator-updated-to-v3.31.6
  docs/_releasenotes/2525.dependency.tigera-operator-updated-to-v3.31.6
  docs/_releasenotes/2542.dependency.prometheus-blackbox-exporter-updated-to-11.15.1
  docs/_releasenotes/2544.dependency.ansible.posix-updated-to-2.2.1
  docs/_releasenotes/2552.dependency.kubernetes.core-updated-to-6.5.0
  docs/_releasenotes/2564.feature.1.gateway-api
  docs/_releasenotes/2565.dependency.community.general-updated-to-13.2.0
  docs/_releasenotes/2571.fix.1.fix-memory-limit-in-checkresources
  docs/_releasenotes/2577.removal.1.calico-ebpf
  docs/_releasenotes/2587.dependency.kubernetes-kubernetes-updated-to-v1.36.3
  docs/_releasenotes/2589.dependency.openstack-cloud-controller-manager-updated-to-2.36.1
  docs/_releasenotes/2593.dependency.prometheus-blackbox-exporter-updated-to-11.16.0
  docs/_releasenotes/2595.dependency.openstack-cinder-csi-updated-to-2.36.1
  docs/_releasenotes/2597.dependency.openstack-cinder-csi-updated-to-2.36.2
  docs/_releasenotes/2603.dependency.community.general-updated-to-13.3.0
  docs/_releasenotes/2607.fix.1.scheduler-hints-invalid-syntax
  docs/_releasenotes/2610.dependency.kubernetes-kubernetes-updated-to-v1.36.4
  docs/_releasenotes/2619.dependency.openstack-cloud-controller-manager-updated-to-2.36.2
  docs/_releasenotes/2623.dependency.prometheus-blackbox-exporter-updated-to-11.18.0
  docs/_releasenotes/2629.dependency.openstack-cinder-csi-updated-to-2.36.3
  docs/_releasenotes/2631.dependency.openstack-cloud-controller-manager-updated-to-2.36.4
  docs/_releasenotes/2632.dependency.community.general-updated-to-13.4.0
  docs/_releasenotes/2633.dependency.openstack-cinder-csi-updated-to-2.36.4
  docs/_releasenotes/2634.dependency.openstack-cinder-csi-updated-to-2.36.5
  docs/_releasenotes/2635.dependency.openstack-cloud-controller-manager-updated-to-2.36.5
  docs/_releasenotes/2647.dependency.kubernetes.core-updated-to-6.6.0
Due: none

Include changelog when building documentation
  docs/_releasenotes/2663.chore.1.changelog
  nix/renderDocs.nix
Due: none

Add sbom-generation for nix dependencies
  .gitlab-ci.yml
  ci/sbom.yaml
  docs/_releasenotes/123.chore.sbom
  flake.lock
  flake.nix
  nix/sbom.nix
Due: yamllint
