Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

fixup! Update initialization guide
  docs/user/guide/initialization.rst
Due: build-docs-check

Apply 1 suggestion(s) to 1 file(s)
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos-objectstorage.yaml.j2
Due: none

Apply 1 suggestion(s) to 1 file(s)
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

add options heading to prometheus preface
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

use default null for thanos_store_in_memory_max_size
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

fix thanos version
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

use nonEmptyStr where applicable
  k8s-supplements/ansible/roles/cert_manager_v1/tasks/main.yaml
  nix/templates/module/example.nix
  nix/yk8s/assertions.nix
  nix/yk8s/default.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/fluxcd.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/k8s-local-path-provisioner.nix
  nix/yk8s/k8s-supplements/k8s-local-storage-controller.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/network.nix
  nix/yk8s/lib/options.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/nvidia.nix
  nix/yk8s/terraform.nix
  nix/yk8s/testing.nix
  nix/yk8s/vault.nix
Due: yamllint

fixup! use default null for thanos_store_in_memory_max_size
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

unify appearance of config sections
  CHANGELOG.rst
  docs/user/explanation/backups.rst
  docs/user/explanation/gpu-and-vgpu.rst
  docs/user/explanation/node-scheduling.rst
  docs/user/explanation/services/calico.rst
  docs/user/explanation/services/cert-manager.rst
  docs/user/explanation/services/ch-k8s-lbaas.rst
  docs/user/explanation/services/fluxcd.rst
  docs/user/explanation/services/nginx-ingress-controller.rst
  docs/user/explanation/vpn/wireguard.rst
  docs/user/guide/monitoring/prometheus-stack.rst
  docs/user/guide/quick-start.rst
  docs/user/guide/rook/upgrades.rst
  docs/user/reference/cluster-repository.rst
  docs/user/reference/environmental-variables.rst
  docs/user/reference/services/vault.rst
  nix/renderDocs.nix
  nix/templates/module/example.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/fluxcd.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubelet.nix
  nix/yk8s/kubernetes/network.nix
  nix/yk8s/kubernetes/storage.nix
  nix/yk8s/load-balancing.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/nvidia.nix
  nix/yk8s/terraform.nix
  nix/yk8s/testing.nix
  nix/yk8s/vault.nix
Due: build-docs-check

create all missing options
  k8s-core/ansible/roles/bootstrap/ntp/defaults/main.yaml
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/defaults/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/defaults/main.yaml
  k8s-supplements/ansible/roles/config/common_defaults_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/defaults/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/k8s-local-storage-controller/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/rook_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/vault_v1/defaults/main.yaml
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/fluxcd.nix
  nix/yk8s/k8s-supplements/k8s-local-storage-controller.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/kubernetes/network.nix
Due: yamllint

Split off infra from terraform section
  actions/wg-up.sh
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/terraform.nix
  terraform/99-outputs.tf
  terraform/templates/final_networking.tpl
  terraform/templates/inventory.tpl
Due: tflint, shellcheck

Split off openstack from terraform section
  actions/lib.sh
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
Due: shellcheck

WIP. begin developer guide for nix sections
  docs/developer/guide/config-sections.rst
Due: build-docs-check

fixup! create all missing options
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Add mkHelmValuesModule
  nix/yk8s/lib/modules.nix
Due: none

Nixify nvidia helm values
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/main.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/templates/nvdp_values.yaml.j2
  nix/yk8s/nvidia.nix
Due: yamllint

Add mkTolerations and mkAffinity
  nix/yk8s/lib/default.nix
Due: none

Nixify cert-manager helm values
  k8s-supplements/ansible/roles/cert_manager_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/templates/cert_manager_values.yaml.j2
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: yamllint

Nixify calico helm values
  k8s-supplements/ansible/roles/calico-tigera-operator/defaults/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
  nix/yk8s/k8s-supplements/calico.nix
Due: yamllint

Nixify ccm and cinder-csi
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/csi-cinder-plugin-values.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/openstack-cloud-controller-manager-values.yaml.j2
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/storage.nix
Due: yamllint

WIP: Nixify etcd-backup helm values
  k8s-supplements/ansible/roles/etcd-backup/templates/etcd_backup.yaml.j2
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Nixify fluxcd helm values
  k8s-supplements/ansible/roles/fluxcd2_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/templates/values.yaml.j2
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: yamllint

Nixify ingress helm values
  k8s-supplements/ansible/roles/ingress_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
  nix/yk8s/k8s-supplements/ingress.nix
Due: yamllint

Nixify thanos helm values
  k8s-supplements/ansible/roles/monitoring_thanos_v2/defaults/main.yml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/tasks/main.yml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: yamllint

Split thanos from prometheus
  nix/yk8s/k8s-supplements/monitoring/default.nix
  nix/yk8s/k8s-supplements/monitoring/thanos.nix
Due: none

Split preface from prometheus
  nix/yk8s/k8s-supplements/monitoring/default.nix
  nix/yk8s/k8s-supplements/monitoring/preface.rst
Due: none

nixify prometheus stack helm values
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  nix/yk8s/k8s-supplements/monitoring/default.nix
  nix/yk8s/k8s-supplements/monitoring/helm_prometheus_stack/default.nix
  nix/yk8s/k8s-supplements/monitoring/helm_prometheus_stack/grafana.nix
  nix/yk8s/k8s-supplements/monitoring/helm_prometheus_stack/prometheus.nix
Due: yamllint

chore(deps): update dependency ansible to v10
  docs/_releasenotes/1280.chore.2024-10-11T14:07:47+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

chore(deps): lock file maintenance
  docs/_releasenotes/1520.chore.2024-10-14T00:10:59+00:00
  flake.lock
  poetry.lock
Due: poetry-lock

chore(deps): update dependency sphinx to v8
  docs/_releasenotes/1383.chore.2024-10-15T10:07:58+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

pre-commit: exclude .nix files from EOF fixer
  .pre-commit-config.yaml
Due: yamllint

Add Nix to CI image
  .envrc.lib.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  ci/container-image/nix.conf
  ci/container-image/user-setup/group
  ci/container-image/user-setup/passwd
  ci/container-image/user-setup/shadow
  flake.nix
Due: shellcheck, yamllint

Add missing galaxy requirement
  ansible/requirements.yaml
Due: yamllint

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

Fix system update of new nodes
  docs/_releasenotes/hotfix/1521.fix.2.system-update
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
Due: yamllint

Fix k8s-worker join for existing clusters
  docs/_releasenotes/hotfix/1521.fix.1.k8s-worker-installation-fact-fix
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
Due: yamllint

Prevent frontend nodes from being updated although active
  docs/_releasenotes/hotfix/1521.fix.3.prevent-frontend-node-update
  k8s-core/ansible/update-frontend-nodes.yaml
Due: yamllint
