Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update rendered docs
  docs/user/reference/options/yk8s.load-balancing.rst
  docs/user/reference/options/yk8s.miscellaneous.rst
  docs/user/reference/options/yk8s.wireguard.rst
Due: build-docs-check

Refactor Terraform options processing
  docs/_releasenotes/1832.chore.yk8s-terraform-options-processing-refactored
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
Due: none

Add support for OVN-based OpenStack deployments
  actions/helpers/check_plan.py
  actions/release-migrations/v10-00-01-terraform.sh
  actions/release-migrations/v10-00-03-terraform.sh
  actions/release-migrations/v10-00-tf-unignore-allowed_address_pairs.patch
  docs/_releasenotes/1250.BREAKING.1.add-ovn-support
  terraform/10-networking.tf
  terraform/20-gateway.tf
Due: tflint, shellcheck, flake8

keepalived: Properly set unicast or multicast mode
  actions/release-migrations/v10-02-keepalived.sh
  docs/_releasenotes/1250.change.1.keepalived-ipv4-unicast
  k8s-core/ansible/roles/keepalived/defaults/main.yaml
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: shellcheck, yamllint

Add LBaaS configuration for OVN compatibility
  actions/release-migrations/v10-00-02-ch-k8s-lbaas.sh
  docs/_releasenotes/1250.BREAKING.1.add-ovn-support
  docs/_releasenotes/1250.BREAKING.2.add-ch-k8s-lbaas-ovn-support
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-config.toml.j2
  k8s-supplements/ansible/test-roles/check-ch-k8s-lbaas/meta/main.yaml
  k8s-supplements/ansible/test-roles/check-ch-k8s-lbaas/tasks/main.yaml
  k8s-supplements/ansible/test.yaml
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  terraform/templates/inventory.tpl
Due: tflint, shellcheck, yamllint

Use ipsec for nftable rules
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
Due: none

pre-commit: Ignore EOF and trailing whitespaces in patch files
  .pre-commit-config.yaml
Due: yamllint

Conditionally set Wireguard MTU on server and client
  docs/_releasenotes/1250.change.2.wg-mtu
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_server.conf.j2
  nix/yk8s/openstack.nix
Due: none

Be more aggressive about gratuitious ARP
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: none

chore(deps): update helm release kube-prometheus-stack to v70.10.0
  docs/_releasenotes/1833.change.kube-prometheus-stack-updated-to-70.10.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update helm release etcdbackup to v0.20250429.0
  docs/_releasenotes/1837.change.etcdbackup-updated-to-0.20250429.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): update nixos/nix docker tag to v2.28.3
  ci/build-image.yaml
  docs/_releasenotes/1838.chore.nixos-nix-updated-to-2.28.3
Due: yamllint

Revert "Fix applying Cinder StorageClass with undefined volume type"
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1839.fix.1.revert-some-of-mr-1768
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/cinder_storage_class.yaml.j2
Due: none

Set static Ansible fact after initializing K8s
  docs/_releasenotes/1842.misc.1.fix-k8s-static-fact-first-cp
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
Due: yamllint

try terraform 1.9.8
  flake.nix
  nix/dependencies.nix
Due: none

flake: replace terraform with opentofu
  flake.lock
  flake.nix
  nix/dependencies.nix
Due: none

Use OpenTofu as in-place replacement for Terraform
  CHANGELOG.rst
  actions/apply-all.sh
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/lib.sh
  docs/developer/guide/coding-guide.rst
  docs/developer/guide/simulate-bm.rst
  docs/user/explanation/dualstack.rst
  docs/user/guide/monitoring/prometheus-stack.rst
  docs/user/reference/actions-references.rst
  docs/user/reference/cluster-configuration.rst
  docs/user/reference/cluster-repository.rst
  docs/user/reference/environmental-variables.rst
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.openstack.rst
  docs/user/reference/options/yk8s.terraform.rst
  nix/dependencies.nix
  nix/yk8s/infra.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
  templates/yaook-k8s-env.template.sh
Due: shellcheck, build-docs-check

chore(deps): update helm release ingress-nginx to v4.12.2
  docs/_releasenotes/1843.change.ingress-nginx-updated-to-4.12.2
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.57.0
  .gitlab-ci.yml
  docs/_releasenotes/1844.chore.ghcr.io-terraform-linters-tflint-updated-to-v0.57.0
Due: yamllint

Partly revert "Fix and expose basic_auth_secret_name option"
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1839.fix.2.revert-some-of-mr-1768
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1839.fix.1.revert-some-of-mr-1768
  docs/_releasenotes/hotfix/1839.fix.2.revert-some-of-mr-1768
  version
Due: none

chore(deps): update helm release kube-prometheus-stack to v71
  docs/_releasenotes/1831.BREAKING.kube-prometheus-stack-updated-to-71.2.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

ingress-nginx: increase replica default to 2
  docs/_releasenotes/1835.change.1.ingress-replicas
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v72
  docs/_releasenotes/1846.BREAKING.kube-prometheus-stack-updated-to-72.0.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Fix changelog reference
  CHANGELOG.rst
Due: none

Properly configure Ansible yaml output
  ansible/ansible.cfg
  docs/_releasenotes/1847.chore.ansible-yaml
Due: none

chore(deps): update helm release thanos to v16.0.5
  docs/_releasenotes/1850.change.thanos-updated-to-16.0.5
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

flake: Use nixos-24.11
  docs/_releasenotes/hotfix/1848.change.1.nixos-24.11
  flake.lock
  flake.nix
Due: none

flake: Use nixos-24.11
  docs/_releasenotes/hotfix/1849.change.1.nixos-24.11
  flake.lock
  flake.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1848.change.1.nixos-24.11
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1849.change.1.nixos-24.11
  version
Due: none

Reflect !1849 on devel
  CHANGELOG.rst
  flake.lock
  version
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
