Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Fix merging of custom types
  docs/_releasenotes/hotfix/2248.fix.1.type-merge
  nix/yk8s/lib/types.nix
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v11.4.2
  docs/_releasenotes/x.change.prometheus-blackbox-exporter-updated-to-11.4.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2246.fix.1.type-merge
  version
Due: none

chore(deps): update helm release etcdbackup to v0.20251208.1
  docs/_releasenotes/x.change.etcdbackup-updated-to-0.20251208.1
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

chore(deps): update helm release etcdbackup to v0.20251211.0
  docs/_releasenotes/x.change.etcdbackup-updated-to-0.20251211.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2248.fix.1.type-merge
  version
Due: none

chore(deps): update helm release rook-ceph to v1.18.9
  docs/_releasenotes/2204.change.rook-ceph-updated-to-v1.18.9
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

Fix master node volume size calculation
  terraform/30-master-nodes.tf
Due: tflint

Increase nf_conntrack settings on frontend nodes
  docs/_releasenotes/2221.change.1.increase-nf-conntrack
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/nf-conntrack/meta/main.yaml
  k8s-core/ansible/roles/nf-conntrack/tasks/main.yaml
Due: yamllint

chore(deps): update helm release etcdbackup to v0.20260114.0
  docs/_releasenotes/2252.change.etcdbackup-updated-to-0.20260114.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

config: Drop max length constraint on yk8s.vault.cluster_name
  docs/_releasenotes/hotfix/2235.fix.1.max-length-constraint-on-vault-cluster-name-dropped
  docs/user/reference/options/yk8s.vault.rst
  nix/yk8s/vault.nix
Due: build-docs-check

config: Drop max length constraint on yk8s.vault.cluster_name
  docs/_releasenotes/hotfix/2237.fix.1.max-length-constraint-on-vault-cluster-name-dropped
  docs/user/reference/options/yk8s.vault.rst
  nix/yk8s/vault.nix
Due: build-docs-check

config: Drop max length constraint on yk8s.vault.cluster_name
  docs/_releasenotes/hotfix/2238.fix.1.max-length-constraint-on-vault-cluster-name-dropped
  docs/user/reference/options/yk8s.vault.rst
  nix/yk8s/vault.nix
Due: build-docs-check

chore(deps): update helm release etcdbackup to v1
  docs/_releasenotes/2255.BREAKING.etcdbackup-updated-to-1.0.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/_releasenotes/2243.fix.1.type-merge
Due: none

apply patch from review
  nix/yk8s/load-balancing.nix
Due: none

chore(deps): update nixos/nix docker tag to v2.33.1
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2256.chore.nixos-nix-updated-to-2.33.1
Due: yamllint

Drop support for IPSec
  ci/cluster-tests.yaml
  ci/config/default.nix
  docs/_releasenotes/2258.removal.1.drop-ipsec
  docs/img/cluster-user-interaction.drawio
  docs/img/cluster-user-interaction.svg
  docs/img/high-level-architecture.drawio
  docs/img/high-level-architecture.svg
  docs/user/explanation/vpn/index.md
  docs/user/explanation/vpn/ipsec.rst
  docs/user/guide/vault/vault.rst
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.ipsec.rst
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/defaults/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/files/charon-systemd.conf
  k8s-supplements/ansible/roles/ipsec-vpn/meta/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/10-swanctl-notify.sh.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.client.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
  k8s-supplements/ansible/test-roles/check-ipsec/defaults/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/meta/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/templates/busybox-ping-job.yaml.j2
  k8s-supplements/ansible/test.yaml
  nix/tests/test_yk8s/test_lib/test_types/test_networking.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/lib/types/networking.nix
  tools/vault/init.sh
  tools/vault/lib.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

Remove autogeneration header from Wireguard client template
  docs/_releasenotes/2259.change.1.wg-template-header
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
Due: none

Fix example for wg_private_key_command
  docs/_releasenotes/2261.misc.1.fix-wireguard-env-example
  docs/user/reference/environmental-variables.rst
Due: build-docs-check

feat(vault): enable unauthenticated_metrics_access
  k8s-supplements/ansible/roles/vault_v1/templates/vault.yaml.j2
Due: none

Increase max cluster length
  nix/yk8s/vault.nix
Due: none

ch-k8s-lbaas: Move shared secret into Vault
  actions/lib.sh
  actions/release-migrations/v12-10-require-vault-policies-update.sh
  ci/config/default.nix
  docs/_releasenotes/2123.BREAKING.1.ch-k8s-lbaas-secret-vault
  docs/_releasenotes/2123.feature.1.ch-k8s-lbaas-secret-vault
  docs/_releasenotes/2123.removal.1.ch-k8s-lbaas-secret-vault
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/meta/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/agent-config.toml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/defaults/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-config.toml.j2
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  tools/vault/init.sh
Due: shellcheck, yamllint

Update rendered docs
  docs/user/reference/options/yk8s.ch-k8s-lbaas.rst
Due: build-docs-check

ch-k8s-lbaas: Implement removal tasks
  actions/release-migrations/v12-10-require-vault-policies-update.sh
  docs/_releasenotes/2123.change.1.ch-k8s-lbaas-uninstall
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/defaults/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/install.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/uninstall.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/agent-config.toml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/ch-k8s-lbaas-agent.service.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/tasks/install.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/tasks/uninstall.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  tools/vault/init.sh
Due: shellcheck, yamllint

ci: Fix diagnostics artifacts
  ci/diagnostic-tools.yaml
Due: yamllint

Drop support for Kubernetes v1.31
  ci/cluster-tests.yaml
  docs/_releasenotes/2251.removal.1.kubernetes-v1.31
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/migrations/.gitkeep
  k8s-core/ansible/roles/migrations/kubelet-config-map-patch/meta/main.yaml
  k8s-core/ansible/roles/migrations/kubelet-config-map-patch/tasks/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.32.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Drop orphaned task for RedHat family
  k8s-core/ansible/roles/k8s-networking/tasks/main.yaml
Due: yamllint

Improve resilience of control plane container restarts
  docs/_releasenotes/2251.change.1.improve-container-restart-resilience
  k8s-core/ansible/roles/k8s-master/handlers/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/restart-container.sh.j2
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Drop etcd-metrics-listen-patch
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/meta/main.yaml
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/tasks/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/roles/etcd-metrics-proxy/tasks/main.yaml
Due: yamllint

ci: Increase after_script timeout
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
Due: yamllint

Migrate to tarook directories
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/files/renew-ssh-certificates.service
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/deploy-automation.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/templates/get-ssh-cert.sh.j2
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yaml
Due: yamllint

Verify Kubernetes API healthiness
  actions/verify-00-kubernetes-api.sh
  actions/verify-10-supplements-health.sh
  docs/_releasenotes/2251.change.2.verify-kubernetes-api
  docs/user/reference/actions-references.rst
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/cluster-health-verification/tasks/main.yaml
Due: shellcheck, yamllint, build-docs-check

chore(deps): update helm release prometheus-blackbox-exporter to v11.6.1
  docs/_releasenotes/2264.change.prometheus-blackbox-exporter-updated-to-11.6.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check
