Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

tf: Drop default set of nodes
  docs/_releasenotes/1317.BREAKING.6.tf-drop-default-set-of-nodes
  docs/user/reference/cluster-configuration.rst
  templates/config.template.toml
  terraform/00-variables.tf
Due: tflint, build-docs-check

tf: Streamline generation of instance resources
  docs/_releasenotes/1317.chore.1.tf-streamline-generation-of-instance-resources
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

tf: Provide control over the whole node name
  actions/helpers/config_migrate.py
  ci/config/config.toml
  docs/_releasenotes/1317.BREAKING.2.tf-overhaul-nodes-handling
  docs/developer/guide/simulate-bm.rst
  docs/developer/reference/terraform-docs.md
  docs/user/reference/cluster-configuration.rst
  docs/user/tutorial/create-cluster.rst
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint, flake8, build-docs-check

tf: Group default variables
  actions/helpers/config_migrate.py
  actions/helpers/terraform_migrate.py
  actions/migrate-to-release.sh
  docs/_releasenotes/1317.BREAKING.2.tf-overhaul-nodes-handling
  docs/_releasenotes/1317.BREAKING.5.tf-migrate-non-default-worker-anti-affinity-group-name
  docs/_releasenotes/1317.feature.2.tf-anti-affinity-group-name-configurable-per-worker
  docs/developer/guide/simulate-bm.rst
  docs/developer/reference/terraform-docs.md
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/01-discovery.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint, shellcheck, flake8, build-docs-check

ci: Fix sonobuoy job
  ci/diagnostic-tools.yaml
Due: yamllint

Allow to trigger specific playbooks
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  docs/_releasenotes/1433.feature.trigger-specific-playbook
  docs/user/reference/actions-references.rst
Due: shellcheck, build-docs-check

Restore old behavior of kube-state-metrics
  docs/_releasenotes/hotfix/1438.fix.kube-namespace-labels
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1438.fix.kube-namespace-labels
  version
Due: none

chore(deps): update dependency towncrier to v24.8.0
  docs/_releasenotes/1442.chore.2024-08-23T16:08:18+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update nixos/nix docker tag to v2.24.4
  ci/build-image.yaml
  docs/_releasenotes/1441.chore.2024-08-23T16:07:27+00:00
Due: yamllint

Trigger MR to devel for release-prepare/v7.0.0
  docs/_releasenotes/+.misc.release-v7.0.0
Due: none

Revert release name
  ci/release.yaml
  docs/_releasenotes/1444.chore.release-name
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/1445.chore.2024-08-26T00:09:44+00:00
  poetry.lock
Due: poetry-lock

Restore old behavior of kube-state-metrics
  CHANGELOG.rst
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  version
Due: none

Rework import of Thanos object storage configuration to Vault
  docs/_releasenotes/1437.fix.thanos-obj-conf-import
  tools/vault/lib.sh
Due: shellcheck

Add option to supply Grafana root URL
  docs/_releasenotes/1447.feature.add-grafana-root-url
  k8s-supplements/ansible/roles/monitoring_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  templates/config.template.toml
Due: yamllint

Fix template for external Vault API service
  docs/_releasenotes/hotfix/1448.fix.vault-external-pki
  k8s-supplements/ansible/roles/vault_v1/templates/api-service.yaml.j2
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1448.fix.vault-external-pki
  version
Due: none

Update `CHANGELOG.rst` and version for next release v8.0.0
  CHANGELOG.rst
  docs/_releasenotes/+.misc.release-v7.0.0
  docs/_releasenotes/1317.BREAKING.1-tf-permanently-migrate-count-to-for_each
  docs/_releasenotes/1317.BREAKING.2.tf-overhaul-nodes-handling
  docs/_releasenotes/1317.BREAKING.3.tf-make-availability-zone-config-explicit
  docs/_releasenotes/1317.BREAKING.4.tf-index-based-gateway-nodes
  docs/_releasenotes/1317.BREAKING.5.tf-migrate-non-default-worker-anti-affinity-group-name
  docs/_releasenotes/1317.BREAKING.6.tf-drop-default-set-of-nodes
  docs/_releasenotes/1317.change.1.tf-increase-min-version
  docs/_releasenotes/1317.chore.1.tf-streamline-generation-of-instance-resources
  docs/_releasenotes/1317.feature.1.tf-configure-amount-of-gateway-nodes
  docs/_releasenotes/1317.feature.2.tf-anti-affinity-group-name-configurable-per-worker
  docs/_releasenotes/1433.feature.trigger-specific-playbook
  docs/_releasenotes/1437.fix.thanos-obj-conf-import
  docs/_releasenotes/1441.chore.2024-08-23T16:07:27+00:00
  docs/_releasenotes/1442.chore.2024-08-23T16:08:18+00:00
  docs/_releasenotes/1444.chore.release-name
  docs/_releasenotes/1445.chore.2024-08-26T00:09:44+00:00
  docs/_releasenotes/1447.feature.add-grafana-root-url
  version
Due: none

Set PersistentKeepalive in Wireguard client config
  docs/_releasenotes/1452.change.wireguard-persistent-keepalive
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
Due: none

docs: Add note about multitenancy
  docs/_releasenotes/1454.docs.603
  docs/user/explanation/architecture-overview.rst
Due: build-docs-check

Allow enabling announcement of service IPs
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/bgp.yaml.j2
Due: none

flake: pin last FOSS versions of Vault and Terraform
  flake.lock
  flake.nix
Due: none

flake: update inputs
  flake.lock
Due: none

Trigger MR to devel for release-prepare/v8.0.0
  docs/_releasenotes/1458.misc.release-v8.0.0
Due: none

flake: add poetry2nix
  .envrc.lib.sh
  docs/_releasenotes/930.feature.1.flake-poetry2nix
  flake.lock
  flake.nix
Due: shellcheck

ci: populate Nix cache during build
  ci/build-image.yaml
  docs/_releasenotes/930.feature.2.binary-cache
  docs/user/guide/initialization.rst
  flake.nix
Due: yamllint, build-docs-check

direnv: only load necessary dependencies by default
  .envrc.lib.sh
  ci/container-image/default.nix
  docs/_releasenotes/1457.feature.direnv-flake-select-shell
  docs/user/reference/environmental-variables.rst
  flake.nix
  templates/yaook-k8s-env.template.sh
Due: shellcheck, build-docs-check

chore(deps): lock file maintenance
  docs/_releasenotes/1459.chore.2024-09-02T00:10:00+00:00
  poetry.lock
Due: poetry-lock

Fix poetry2nix
  .envrc.lib.sh
  ci/container-image/default.nix
  docs/_releasenotes/x.fix.poetry2nix
  flake.lock
  flake.nix
  nix/poetry.nix
Due: shellcheck

Include directly instead of adding as dependency
  k8s-core/ansible/roles/bootstrap/vault-cli/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/meta/main.yml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yml
Due: yamllint

Directly include k8s-core install-all
  k8s-supplements/ansible/install-all.yaml
Due: yamllint

Use static facts instead of dynamically gathering facts
  k8s-core/ansible/bootstrap.yaml
  k8s-core/ansible/install-frontend-services.yaml
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/bootstrap/gpu-support-detection/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/gpu-support-detection/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/journald/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/journald/tasks/main.yaml
  k8s-core/ansible/roles/containerd/defaults/main.yaml
  k8s-core/ansible/roles/containerd/meta/main.yaml
  k8s-core/ansible/roles/containerd/tasks/main.yaml
  k8s-core/ansible/roles/containerd/templates/config.toml.j2
  k8s-core/ansible/roles/etcd-clean-stale-members/meta/main.yaml
  k8s-core/ansible/roles/etcd-clean-stale-members/tasks/main.yaml
  k8s-core/ansible/roles/helpers/is-frontend-initialized/meta/main.yaml
  k8s-core/ansible/roles/helpers/is-frontend-initialized/tasks/main.yaml
  k8s-core/ansible/roles/helpers/is-k8s-installed/meta/main.yaml
  k8s-core/ansible/roles/helpers/is-k8s-installed/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/meta/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-join-config.yaml.j2
  k8s-core/ansible/roles/nvidia-container-toolkit/meta/main.yaml
  k8s-core/ansible/roles/nvidia-container-toolkit/tasks/main.yaml
  k8s-core/ansible/roles/nvidia-cuda-drivers/meta/main.yaml
  k8s-core/ansible/roles/nvidia-cuda-drivers/tasks/main.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/meta/main.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/restart_ndp_pod.yaml
  k8s-core/ansible/roles/update-system/tasks/main.yaml
  k8s-core/ansible/roles/vgpu-support/meta/main.yaml
  k8s-core/ansible/roles/vgpu-support/tasks/main.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
Due: yamllint

Rework connection and bootstrap plays
  docs/_releasenotes/1450.change.runtime
  k8s-core/ansible/bootstrap.yaml
  k8s-core/ansible/connect-to-nodes.yaml
  k8s-core/ansible/install-all.yaml
  k8s-core/ansible/install-frontend-services.yaml
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yml
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-custom/ansible/main.yaml
  k8s-supplements/ansible/install-calico.yaml
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
  k8s-supplements/ansible/install-local-storage.yaml
  k8s-supplements/ansible/install-monitoring.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.29.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.30.yaml
  k8s-supplements/ansible/test.yaml
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
