Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

init: make consistent use of subdir variable
  actions/init-cluster-repo.sh
  actions/lib.sh
Due: shellcheck

vault_env: remove hard-coded submodule name
  actions/vault_env.sh
Due: shellcheck

envrc: Make path to code repo configurable
  .envrc.lib.sh
  docs/_releasenotes/2468.misc.1.code-repo-path
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

init: Remove outdated message
  actions/init-cluster-repo.sh
  docs/_releasenotes/2573.misc.1.init-outdated-message
Due: shellcheck

destroy.sh: Make project id lookup more robust
  actions/destroy.sh
  docs/_releasenotes/hotfix/2561.fix.1.destroy
Due: shellcheck

ci: Make pages-dry-run job optional for MRs not targeting default branch
  .gitlab-ci.yml
  docs/_releasenotes/hotfix/2561.misc.1.pages-dry-run
Due: yamllint

destroy.sh: Make project id lookup more robust
  actions/destroy.sh
  docs/_releasenotes/hotfix/2560.fix.1.destroy
Due: shellcheck

ci: Make pages-dry-run job optional for MRs not targeting default branch
  .gitlab-ci.yml
  docs/_releasenotes/hotfix/2560.misc.1.pages-dry-run
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2561.fix.1.destroy
  docs/_releasenotes/hotfix/2561.misc.1.pages-dry-run
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2560.fix.1.destroy
  docs/_releasenotes/hotfix/2560.misc.1.pages-dry-run
  version
Due: none

Fix usage message of init-cluster-repo
  actions/init-cluster-repo.sh
  docs/_releasenotes/2579.misc.usage-message-of-init-cluster-repo-fixed
Due: shellcheck

Lock file maintenance
  docs/_releasenotes/2580.dependency.-updated-to-
  flake.lock
Due: none

docs: Improve description of yk8s.kubernetes.controller_manager.enable_signing_requests
  docs/user/reference/options/yk8s.kubernetes.rst
  nix/yk8s/kubernetes/default.nix
Due: build-docs-check

Fix default value of pythonIFD module
  docs/_releasenotes/hotfix/2574.fix.1.empty-pythonifd
  nix/yk8s/pythonIFD.nix
Due: none

Update version number and changelog for hotfix-release
  docs/_releasenotes/hotfix/2574.fix.1.empty-pythonifd
  version
Due: none

docs: Add dependency category to overview
  docs/developer/guide/coding-guide.rst
Due: build-docs-check

flake: Use git protocol for inputs
  docs/_releasenotes/2551.fix.1.github-api-rate-limits
  flake.lock
  flake.nix
Due: none

nix: Don't set debug option by default
  templates/cluster-repo/minimal/flake.nix
Due: none

Fix node-scheduling nix
  nix/yk8s/node-scheduling.nix
Due: none

yk8s-env: Only add Python if the group lists Python packages
  docs/_releasenotes/2583.misc.1.yk8s-env-no-python
  nix/yk8s-env.nix
Due: none

Update dependency containerd/containerd to v2.2.6
  docs/_releasenotes/2584.dependency.containerd-containerd-updated-to-v2.2.6
  nix/yk8s/containerd.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.containerd.rst
Due: build-docs-check

flake: Remove dependency on specific name of yk8s
  flake.nix
  nix/yk8s/default.nix
Due: none

nix: Set state directory via self
  nix/yk8s/default.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/openstack/default.nix
  nix/yk8s/terraform.nix
  templates/cluster-repo/minimal/flake.nix
Due: none

Add tarook cli as dispatcher
  cli/Cargo.lock
  cli/Cargo.toml
  cli/src/commands.rs
  cli/src/errors.rs
  cli/src/main.rs
  flake.nix
  nix/packages/default.nix
  nix/packages/tarook.nix
Due: none

WIP init: Add tarook as flake input instead of as submodule
  .envrc.lib.sh
  actions/apply-custom.sh
  actions/init-cluster-repo.sh
  actions/update-inventory.sh
  nix/dependencies.nix
  nix/yk8s-env.nix
  nix/yk8s/default.nix
  templates/cluster-repo/minimal/.envrc
  templates/cluster-repo/minimal/flake.nix
  templates/cluster-repo/openstack/.envrc
  templates/cluster-repo/proxmox/.envrc
Due: shellcheck

Calico: Add missing ippool options
  docs/_releasenotes/2576.fix.1.calico-ippools-conflict
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Run plays of prepare-gw playbook only on gateways
  docs/_releasenotes/hotfix/2585.fix.prepare-gw-plays-only-run-against-gateways
  k8s-supplements/ansible/prepare-gw.yaml
Due: yamllint

Fix gateway_nodes_configured check
  actions/lib.sh
  docs/_releasenotes/hotfix/2585.fix.prepare-gw-plays-only-run-against-gateways
  docs/_releasenotes/hotfix/2585.fix.tasks-for-gateways-skipped-when-no-gateways-configured
Due: shellcheck

Update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2587.dependency.kubernetes-kubernetes-updated-to-v1.36.3
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

docs: Add coding guide for writing comments
  docs/_releasenotes/2581.docs.1.comments
  docs/developer/guide/coding-guide.rst
Due: build-docs-check

WIP: openbao_v1
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/install-openbao.yaml
  k8s-supplements/ansible/roles/openbao_v1/meta/main.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/backup.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/bao_k8s_command.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/credentials.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/external_pki.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/internal_pki.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/monitoring.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/unseal.yaml
  k8s-supplements/ansible/roles/openbao_v1/templates/api-service.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/backup.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/cronjob.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/external_ingress.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/openbao.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/servicemonitor.yaml.j2
  nix/yk8s/k8s-supplements/openbao.nix
  templates/openbao_backup_s3_config.template.yaml
Due: yamllint

WIP: Keep Openbao vars unflat
  k8s-supplements/ansible/install-openbao.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/backup.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/bao_k8s_command.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/external_pki.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/internal_pki.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/monitoring.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/unseal.yaml
  k8s-supplements/ansible/roles/openbao_v1/templates/api-service.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/backup.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/cronjob.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/external_ingress.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/openbao.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/servicemonitor.yaml.j2
  nix/yk8s/k8s-supplements/openbao.nix
  nix/yk8s/lib/default.nix
Due: yamllint

WIP: openbao: Move external_ingress_issuer_name assertion to Nix
  k8s-supplements/ansible/roles/openbao_v1/tasks/external_pki.yaml
  nix/yk8s/k8s-supplements/openbao.nix
Due: yamllint

docs: Drop drawio documents
  .pre-commit-config.yaml
  docs/img/apply-script.drawio
  docs/img/apply-script.svg
  docs/img/apply-terraform.drawio
  docs/img/ch-k8s-lbaas-overview.drawio
  docs/img/cluster-user-interaction.drawio
  docs/img/high-level-architecture.drawio
  docs/img/hotfix-prepare.drawio
  docs/img/hotfix.drawio
  docs/img/layer-hierarchy.drawio
  docs/img/release.drawio
  docs/user/reference/actions-references.rst
Due: yamllint, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
