Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

nix/config: Enforce unique wireguard endpoint ports
  docs/_releasenotes/2364.fix.unique-wireguard-endpoint-ports-enforced-in-nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
Due: none

Trigger MR to devel for release-prepare/v12.1.0
  docs/_releasenotes/+.misc.release-v12.1.0
Due: none

Reset changelog
  CHANGELOG.rst
Due: none

Update Helm release kube-prometheus-stack to v82.0.2
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.0.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v82.2.1
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.2.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v82.3.0
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.3.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v82.4.3
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.4.3
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v82.5.0
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.5.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v82.6.1
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.6.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v82.7.0
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.7.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v82.8.0
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.8.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v82.1.1
  docs/_releasenotes/2368.change.kube-prometheus-stack-updated-to-82.1.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v82.10.5
  docs/_releasenotes/2377.change.kube-prometheus-stack-updated-to-82.10.5
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Fix removal of unused Wireguard templates
  docs/_releasenotes/2380.chore.1.fix-wg-k8s-template-removal
  k8s-supplements/ansible/roles/wireguard/tasks/wg_endpoint.yaml
Due: yamllint

Update Helm release kube-prometheus-stack to v82.11.0
  docs/_releasenotes/2383.change.kube-prometheus-stack-updated-to-82.11.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2385.chore.kubernetes-kubernetes-updated-to-v1.35.3
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Update Helm release kube-prometheus-stack to v82.12.0
  docs/_releasenotes/2386.change.kube-prometheus-stack-updated-to-82.12.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release prometheus-blackbox-exporter to v11.9.0
  docs/_releasenotes/2387.change.prometheus-blackbox-exporter-updated-to-11.9.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release etcdbackup to v1.4.1
  docs/_releasenotes/2388.change.etcdbackup-updated-to-1.4.1
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update Helm release ingress-nginx to v4.14.5
  docs/_releasenotes/2389.change.ingress-nginx-updated-to-4.14.5
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

Update nixos/nix Docker tag to v2.34.2
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2390.chore.nixos-nix-updated-to-2.34.2
Due: yamllint

docs: Add guide to automatic Vault backups
  docs/_releasenotes/2363.docs.guide-to-automatic-vault-backups-added
  docs/user/guide/vault/automatic-backups.rst
  docs/user/guide/vault/index.md
  docs/user/guide/vault/vault.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
  nix/yk8s/k8s-supplements/vault.nix
Due: build-docs-check

nix/lib: Add extraDescription to mkHelmChartVersionOption
  nix/yk8s/lib/options.nix
Due: none

Update helm release hashicorp/vault to v0.25.0
  docs/_releasenotes/2363.change.hashicorp-vault-updated-to-helm-0.25.0
  docs/user/guide/vault/index.md
  docs/user/guide/vault/upgrade.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
  nix/yk8s/k8s-supplements/vault.nix
Due: build-docs-check

Update Helm release kube-prometheus-stack to v82.13.0
  docs/_releasenotes/2393.change.kube-prometheus-stack-updated-to-82.13.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Make Ansible requirements formatting consistent
  ansible/requirements.yaml
Due: yamllint

chore(deps): update dependency devsec.hardening to v10.5.1
  ansible/requirements.yaml
  docs/_releasenotes/2190.chore.devsec.hardening-updated-to-10.4.0
Due: yamllint

Update Helm release kube-prometheus-stack to v82.9.0
  docs/_releasenotes/2376.change.kube-prometheus-stack-updated-to-82.9.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release etcdbackup to v1.5.0
  docs/_releasenotes/2395.change.etcdbackup-updated-to-1.5.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

chore(deps): update helm release ingress-nginx to v4.14.5
  docs/_releasenotes/hotfix/2396.change.1.ingress
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  nix/yk8s/k8s-supplements/ingress.nix
Due: build-docs-check
