Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Make kube-proxy optional
  docs/_releasenotes/2577.feature.1.calico-ebpf
  docs/user/guide/kubernetes/increase-cluster-cidr.rst
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-ClusterConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config-bundle.yaml.j2
  k8s-core/ansible/roles/kubeadm-kube-proxy/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-kube-proxy/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_prometheus_stack.yaml
  nix/yk8s/kubernetes/network.nix
Due: yamllint, build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.kubernetes.network.rst
Due: build-docs-check

Add Tarook CLI as dispatcher
  cli/pyproject.toml
  cli/src/__init__.py
  cli/src/cli.py
  cli/src/commands/__init__.py
  cli/src/commands/apply.py
  cli/src/commands/root.py
  cli/src/commands/update.py
  cli/src/commands/vault.py
  cli/src/commands/wireguard.py
  docs/_releasenotes/2609.feature.1.tarook-cli
  flake.nix
  nix/dependencies.nix
  nix/packages/default.nix
  nix/packages/tarook.nix
Due: flake8

Use Tarook CLI in CI
  ci/after_script_cleanup.sh
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
Due: shellcheck, yamllint

Document Tarook CLI and deprecate action scripts
  .envrc.lib.sh
  docs/_releasenotes/2609.removal.1.tarook-cli
  docs/user/explanation/services/vault.rst
  docs/user/guide/faq.rst
  docs/user/guide/kubernetes/restore-certificate-signing-ability.rst
  docs/user/guide/kubernetes/super-admin.rst
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
  docs/user/guide/monitoring/prometheus-stack.rst
  docs/user/guide/quick-start/_include/60-vault.rst
  docs/user/guide/quick-start/_include/70-deploy.rst
  docs/user/guide/upgrade-release.rst
  docs/user/guide/vault/automatic-backups.rst
  docs/user/guide/vault/upgrade.rst
  docs/user/guide/vault/vault-ca-rotation.rst
  docs/user/reference/options/yk8s.ch-k8s-lbaas.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  k8s-supplements/ansible/k8s-upgrade-to-1.34.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.35.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.36.yaml
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: shellcheck, yamllint, build-docs-check

Update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2610.dependency.kubernetes-kubernetes-updated-to-v1.36.4
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update Helm release nvidia-device-plugin to v0.20.0
  docs/_releasenotes/2611.dependency.nvidia-device-plugin-updated-to-0.20.0
  nix/yk8s/nvidia.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.nvidia.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

renovate: Allow OCI datasource for helm charts
  renovate.json
Due: none

Fix renovate comment for envoy-gateway
  docs/_releasenotes/2605.misc.1.renovate-envoy
  nix/yk8s/k8s-supplements/envoy-gateway.nix
Due: none

Update docker.io/envoyproxy/gateway-crds-helm Docker tag to v1.8.3
  docs/_releasenotes/2612.dependency.docker.io-envoyproxy-gateway-crds-helm-updated-to-1.8.3
  nix/yk8s/k8s-supplements/envoy-gateway.nix
Due: none

Update docker.io/envoyproxy/gateway-crds-helm Docker tag to v1.9.0
  docs/_releasenotes/2614.dependency.docker.io-envoyproxy-gateway-crds-helm-updated-to-1.9.0
  nix/yk8s/k8s-supplements/envoy-gateway.nix
Due: none

Update docker.io/envoyproxy/gateway-helm Docker tag to v1.9.0
  docs/_releasenotes/2615.dependency.docker.io-envoyproxy-gateway-helm-updated-to-1.9.0
  nix/yk8s/k8s-supplements/envoy-gateway.nix
Due: none

Update docker.io/envoyproxy/gateway-helm Docker tag to v1.8.3
  docs/_releasenotes/2613.dependency.docker.io-envoyproxy-gateway-helm-updated-to-1.8.3
  nix/yk8s/k8s-supplements/envoy-gateway.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.envoy-gateway.rst
Due: build-docs-check

Drop IPSec support
  actions/release-migrations/v15-10-require-vault-policies-update.sh
  ci/cluster-tests.yaml
  ci/config/default.nix
  docs/_releasenotes/2382.removal.ipsec-dropped
  docs/img/cluster-user-interaction.svg
  docs/img/high-level-architecture.svg
  docs/user/explanation/vpn/index.md
  docs/user/explanation/vpn/ipsec.rst
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.ipsec.rst
  docs/user/reference/vault-tools-references.rst
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/defaults/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/files/charon-systemd.conf
  k8s-supplements/ansible/roles/ipsec-vpn/meta/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/10-swanctl-notify.sh.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.client.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
  k8s-supplements/ansible/test-roles/check-ipsec/defaults/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/meta/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/templates/busybox-ping-job.yaml.j2
  k8s-supplements/ansible/test.yaml
  nix/tests/test_yk8s/test_lib/test_types/test_networking.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/lib/types/networking.nix
  tools/vault/init.sh
  tools/vault/lib.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

Update Helm release tigera-operator to v3.31.7
  docs/_releasenotes/2616.dependency.tigera-operator-updated-to-v3.31.7
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

Split monitoring into multiple files
  nix/yk8s/k8s-supplements/monitoring/default.nix
  nix/yk8s/k8s-supplements/monitoring/grafana.nix
  nix/yk8s/k8s-supplements/monitoring/preface.rst
  nix/yk8s/k8s-supplements/monitoring/thanos.nix
Due: none

flake: move inputs into attribute set
  flake.nix
Due: none

flake: deduplicate sub-dependencies and switch to git protocol
  docs/_releasenotes/2608.fix.1.flake-inputs
  flake.lock
  flake.nix
Due: none

Add anti_affinity_group CI test case
  ci/config/default.nix
  docs/_releasenotes/2607.fix.1.scheduler-hints-invalid-syntax
Due: none

Fix invalid scheduler_hints syntax for anti-affinity groups
  docs/_releasenotes/xxx.fix.1.scheduler-hints-invalid-syntax
  nix/yk8s/openstack/30-nodes.nix
Due: none

Allow anti_affinity_group to be set by all nodes
  docs/_releasenotes/2607.change.1.affinity-master-nodes
  nix/yk8s/openstack/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

Fix relation of assertions in openstack module
  docs/_releasenotes/2618.misc.1.openstack-assertions
  nix/yk8s/openstack/default.nix
Due: none

Update Helm release openstack-cloud-controller-manager to v2.36.2
  docs/_releasenotes/2619.dependency.openstack-cloud-controller-manager-updated-to-2.36.2
  nix/yk8s/openstack/default.nix
Due: none

fixup! Add python script for generating runtime sbom
  ci/sbom.yaml
Due: yamllint

Update docker.io/envoyproxy/gateway-crds-helm Docker tag to v1.8.4
  docs/_releasenotes/2620.dependency.docker.io-envoyproxy-gateway-crds-helm-updated-to-1.8.4
  nix/yk8s/k8s-supplements/envoy-gateway.nix
Due: none

Update docker.io/envoyproxy/gateway-helm Docker tag to v1.8.4
  docs/_releasenotes/2621.dependency.docker.io-envoyproxy-gateway-helm-updated-to-1.8.4
  nix/yk8s/k8s-supplements/envoy-gateway.nix
Due: none

fixup! Add python script for generating runtime sbom
  ci/sbom.yaml
  tools/generate_runtime_sbom.py
Due: yamllint, flake8

Lock file maintenance
  docs/_releasenotes/2622.dependency.-updated-to-
  flake.lock
Due: none

Update monitoring documentation
  docs/user/guide/monitoring/index.md
  docs/user/guide/monitoring/prometheus-stack.rst
  nix/yk8s/k8s-supplements/monitoring/preface.rst
Due: build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
