Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.1
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.9.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with ci --sync
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with docs --sync
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
    expose_as: Rendered Docs
    expire_in: 7 days
    paths:
    - public/
  tags:
  - docker

Drop dependency comment
  k8s-base/roles/k8s-rotate-ca/meta/main.yaml
Due: yamllint

Patch kube-public/cluster-info ConfigMap
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-base/roles/k8s-rotate-ca/templates/cluster-info-cm.yaml.j2
Due: yamllint

Force renew K8s CP certificates during CA rotation
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Trigger restart etcd as first component
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Explicitly include handlers of k8s-master
  k8s-base/rotate_root_ca.yaml
Due: yamllint

Fix vars file path
  k8s-base/rotate_root_ca.yaml
Due: yamllint

Create action script for root CA rotation
  tools/vault/rotate-ca.sh
Due: shellcheck

Make calico version folder generation own task
  k8s-base/roles/calico-control-plane/tasks/get_calico_versions_folder.yaml
  k8s-base/roles/calico-control-plane/tasks/main.yaml
  k8s-base/roles/calico-control-plane/tasks/setup_calico_node.yaml
  k8s-base/roles/calico-control-plane/tasks/setup_preliminaries.yaml
  k8s-base/roles/calico-control-plane/tasks/setup_typha.yaml
Due: yamllint

Properly rotate issuer for all PKIs
  tools/vault/lib.sh
  tools/vault/rotate-ca.sh
Due: shellcheck

Drop vars file comment
  k8s-base/rotate_root_ca.yaml
Due: yamllint

Make front-proxy CA rotatable
  k8s-base/roles/k8s-master/tasks/obtain-cas.yaml
Due: yamllint

Output if kubeconfig is force renewed
  k8s-base/roles/k8s-master/tasks/mkkubeconfig.yaml
Due: yamllint

Add CA rotation for workers
  k8s-base/roles/k8s-rotate-ca/tasks/main.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-worker.yaml
  k8s-base/rotate_root_ca.yaml
Due: yamllint

Renew calico certificates (legacy-setup)
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Move CA ConfigMap creation
  k8s-base/roles/k8s-master/tasks/main.yaml
  k8s-base/roles/k8s-master/tasks/obtain-cas.yaml
Due: yamllint

Create root CA rotation basis
  actions/rotate-root-ca.sh
  k8s-base/roles/k8s-master/tasks/generate-kubeconfigs.yaml
  k8s-base/roles/k8s-master/tasks/main.yaml
  k8s-base/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-base/roles/k8s-rotate-ca/defaults/main.yaml
  k8s-base/roles/k8s-rotate-ca/meta/main.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/main.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/restart-all.yaml
  k8s-base/rotate_root_ca.yaml
Due: shellcheck, yamllint

Implement & enforce modes for CA rotation
  actions/rotate-root-ca.sh
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: shellcheck, yamllint

Move CP tasks to dedicated file
  k8s-base/roles/k8s-rotate-ca/tasks/main.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Make CA data generation invocable
  k8s-base/roles/k8s-master/tasks/get-certificate-authority-data.yaml
  k8s-base/roles/k8s-master/tasks/mkkubeconfig.yaml
Due: yamllint

Properly generate CA certificate bundle
  k8s-base/roles/k8s-master/tasks/get-certificate-authority-data.yaml
  k8s-base/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-base/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-base/roles/k8s-master/tasks/provide-ca-as-cm.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-base/roles/k8s-rotate-ca/templates/cluster-info-cm.yaml.j2
Due: yamllint

Do not renew certificates during K8s upgrades
  docs/_releasenotes/+.fix.kubeadm-cert-renewal
  k8s-base/roles/kubeadm-upgrade-apply/tasks/main.yaml
Due: yamllint

Prevent scary error messages when waiting for pods to restart
  k8s-base/roles/k8s-rotate-ca/tasks/wait-for-restart.yaml
Due: yamllint

Ensure ca.key is absent on CP nodes
  k8s-base/roles/k8s-master/tasks/main.yaml
Due: yamllint

Add release notes for CA rotation
  docs/_releasenotes/939.feature.BREAKING.root-ca-rotation
Due: none

Ensure kube-controller-manager cluster-signing flags are unset
  k8s-base/roles/k8s-master/tasks/main.yaml
Due: yamllint

Drop kube-controller-manager workaround on rotation completion
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Set issuer name to "current"
  tools/vault/lib.sh
Due: shellcheck

Allow CA rotation with intermediates
  docs/operation/vault-ca-rotation.rst
  k8s-service-layer/rotate_root_ca.yaml
  tools/vault/lib.sh
  tools/vault/load-signed-intermediates.sh
  tools/vault/rotate-root-ca-intermediate.sh
  tools/vault/rotate-root-ca-root.sh
Due: shellcheck, yamllint, build-docs-check

Add more explanation what to do with the kubeconfig after cert rollover
  docs/operation/vault-ca-rotation.rst
Due: build-docs-check

Rotate CA for prometheus-adapter
  actions/rotate-root-ca.sh
  k8s-service-layer/roles/monitoring_v2/tasks/copy-ca-as-cm.yaml
  k8s-service-layer/roles/monitoring_v2/tasks/main.yaml
  k8s-service-layer/rotate_root_ca.yaml
Due: shellcheck, yamllint

Simplify extra_ca
  k8s-base/roles/k8s-master/defaults/main.yaml
  k8s-base/roles/k8s-master/tasks/get-certificate-authority-data.yaml
  k8s-base/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-base/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-base/roles/k8s-master/tasks/provide-ca-as-cm.yaml
  k8s-base/roles/k8s-rotate-ca/defaults/main.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-worker.yaml
  k8s-base/roles/k8s-rotate-ca/templates/cluster-info-cm.yaml.j2
Due: yamllint

Add documentation about CA rotation
  docs/operation/vault-ca-rotation.rst
  docs/operation/vault.rst
Due: build-docs-check

Do not error when rolling over certs and monitoring is disabled
  k8s-service-layer/rotate_root_ca.yaml
Due: yamllint

Introduce versioned documentation
  .gitlab-ci.yml
  ci/release.yaml
  docs/_static/dropup.css
  docs/_templates/page.html
  docs/_templates/sidebar/brand.html
  docs/_templates/sidebar/variant-selector.html
  docs/conf.py
  docs/img/yaook-husky-small.png
  pyproject.toml
Due: yamllint, flake8, poetry-lock, build-docs-check

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

Fix prometheus persistent storage conf template
  docs/_releasenotes/+.fix.fix-prom-persisten-storage-template
  templates/config.template.toml
Due: none

Extend CI cleanup script for volume snapshots
  ci/clean-up-os-project.py
  docs/_releasenotes/+.chore.ci-stuff
Due: flake8

Restrict rules for containerd job
  ci/cluster-tests.yaml
  docs/_releasenotes/+.chore.ci-stuff-2
Due: yamllint

Update `CHANGELOG.rst` and version for next release v2.0.0
  CHANGELOG.rst
  docs/_releasenotes/+.chore.2024-01-23T22:05:51+00:00
  docs/_releasenotes/+.chore.2024-01-29T12:05:36+00:00
  docs/_releasenotes/+.chore.2024-01-30T00:05:58+00:00
  docs/_releasenotes/+.chore.2024-01-31T02:05:23+00:00
  docs/_releasenotes/+.chore.2024-02-01T00:12:05+00:00
  docs/_releasenotes/+.chore.2024-02-01T00:12:10+00:00
  docs/_releasenotes/+.chore.2024-02-01T04:05:44+00:00
  docs/_releasenotes/+.chore.2024-02-01T12:06:10+00:00
  docs/_releasenotes/+.chore.2024-02-01T20:05:52+00:00
  docs/_releasenotes/+.chore.2024-02-02T22:05:21+00:00
  docs/_releasenotes/+.chore.2024-02-05T00:05:59+00:00
  docs/_releasenotes/+.chore.2024-02-05T20:04:04+00:00
  docs/_releasenotes/+.chore.ci-stuff
  docs/_releasenotes/+.chore.ci-stuff-2
  docs/_releasenotes/+.chore.renovate-ansible-galaxy
  docs/_releasenotes/+.chore.revert-87b7e78b
  docs/_releasenotes/+.fix.fix-prom-persisten-storage-template
  docs/_releasenotes/+.fix.kubeadm-cert-renewal
  docs/_releasenotes/+.misc.release-v1.0.0
  docs/_releasenotes/1016.feature.vaultkubeconf
  docs/_releasenotes/1033.chore.further_rm_improvement
  docs/_releasenotes/939.feature.BREAKING.root-ca-rotation
  version
Due: none

Ignore failures for GPU tests
  docs/_releasenotes/+.change.gpu-tests
  k8s-base/test-roles/check-nvidia-device-plugin/tasks/main.yaml
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
