Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

docs: fix invalid link for gpu support
  docs/_releasenotes/1920.docs.kubernetes_gpu_link
  docs/user/explanation/gpu-and-vgpu.rst
Due: build-docs-check

chore(deps): update helm release prometheus-blackbox-exporter to v11
  docs/_releasenotes/1903.BREAKING.prometheus-blackbox-exporter-updated-to-11.0.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release thanos to v17
  docs/_releasenotes/1908.BREAKING.thanos-updated-to-17.2.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

keepalived: Conditionally include ch-k8s-lbaas drop-in-directory
  docs/_releasenotes/1916.chore.1.keepalived-ch-k8s-lbaas-drop-in
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: none

keepalived: Fix nopreempt
  docs/_releasenotes/1916.fix.1.keepalived-nopreempt
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: none

keepalived: Group all VRRP instances including LbaaS_VIPs
  docs/_releasenotes/1916.feature.1.keepalived-vg-lbaas
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: none

Add security groups for VRRP traffic
  docs/_releasenotes/1916.fix.2.keepalived-security-groups
  terraform/10-networking.tf
Due: tflint

CI: Don't overwrite valid releasenotes
  ci/housekeeping/check-releasenote-file.py
Due: flake8

CI: Make cleanup-script region agnostic
  ci/clean-up-os-project.py
  docs/_releasenotes/1919.chore.1.reintroduce-cleanup-script
Due: flake8

Revert "ci: replace cleanup script with upstream command"
  ci/clean-up-os-project.py
  ci/cluster-tests.yaml
Due: yamllint, flake8

chore(deps): update nixos/nix docker tag to v2.30.1
  ci/build-image.yaml
  docs/_releasenotes/1922.chore.nixos-nix-updated-to-2.30.1
Due: yamllint

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.58.1
  .gitlab-ci.yml
  docs/_releasenotes/1925.chore.ghcr.io-terraform-linters-tflint-updated-to-v0.58.1
Due: yamllint

chore(deps): update terraform openstack to ~> 3.3.0
  docs/_releasenotes/1926.chore.openstack-updated-to-3.3.0
  terraform/versions.tf
Due: tflint

chore(deps): update helm release etcdbackup to v0.20250710.0
  docs/_releasenotes/x.change.etcdbackup-updated-to-0.20250710.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

chore(deps): update helm release dcgm-exporter to v4.2.0
  docs/_releasenotes/1929.change.dcgm-exporter-updated-to-4.2.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/_releasenotes/1930.change.etcdbackup-updated-to-0.20250710.0
  docs/_releasenotes/x.change.etcdbackup-updated-to-0.20250710.0
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): update dependency community.general to v11.1.0
  ansible/requirements.yaml
  docs/_releasenotes/1932.chore.community.general-updated-to-11.1.0
Due: yamllint

chore(deps): update helm release prometheus-blackbox-exporter to v11.0.1
  docs/_releasenotes/1933.change.prometheus-blackbox-exporter-updated-to-11.0.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

ca-rotation: Target issuer in new Vault namespace
  actions/lib.sh
  actions/rotate-root-ca.sh
  docs/developer/explanation/vault.rst
  docs/user/guide/vault/vault-ca-rotation.rst
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/get_and_write_secret_id.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/templates/vault-login.sh.j2
  k8s-core/ansible/roles/helpers/vault-approle/tasks/main.yml
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/get-certificate-authority-data.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-master/templates/ca.crt.j2
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-worker.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-worker/templates/ca.crt.j2
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/wireguard/tasks/wg_endpoint.yaml
  tools/vault/import.sh
  tools/vault/k8s-login.sh
  tools/vault/lib.sh
  tools/vault/load-signed-intermediates.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/rmcluster.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

Add vault tool for inter-namespace secret copying
  docs/user/guide/vault/index.md
  docs/user/guide/vault/vault-ca-rotation.rst
  docs/user/guide/vault/vault-kv-secret-copy.rst
  docs/user/guide/vault/vault.rst
  tools/vault/copy-kv-secrets-to-namespace.sh
  tools/vault/import.sh
  tools/vault/lib.sh
Due: shellcheck, build-docs-check

docs: Enhance OpenStack credentials rotation process
  docs/_releasenotes/1928.docs.enhance-openstack-credentials-rotation-process
  docs/user/guide/rotate-openstack-credentials.rst
Due: build-docs-check

Fix CA rotation procedure (certs on nodes)
  docs/_releasenotes/1936.fix.ca-rotation-fixed
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.29.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.30.yaml
Due: yamllint

Fix CA rotation procedure (k8s-login)
  actions/rotate-root-ca.sh
  docs/_releasenotes/1936.fix.ca-rotation-fixed
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  tools/vault/k8s-login.sh
Due: shellcheck, yamllint

chore(deps): update helm release thanos to v17.2.1
  docs/_releasenotes/1939.change.thanos-updated-to-17.2.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Fix CA rotation procedure (certs on nodes)
  CHANGELOG.rst
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.29.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.30.yaml
  version
Due: yamllint

Fix CA rotation procedure (k8s-login)
  CHANGELOG.rst
  actions/rotate-root-ca.sh
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  tools/vault/k8s-login.sh
Due: shellcheck, yamllint

docs: Provide latest release entry and redirect
  ci/release.yaml
Due: yamllint

docs: Use GitLab Pages redirect
  ci/release.yaml
  docs/_releasenotes/1940.docs.gitlab-pages-use-http-redirect
Due: yamllint

chore(deps): update helm release prometheus-blackbox-exporter to v11.1.0
  docs/_releasenotes/1941.change.prometheus-blackbox-exporter-updated-to-11.1.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
