Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

chore(deps): update helm release kube-prometheus-stack to v72.1.0
  docs/_releasenotes/1853.change.kube-prometheus-stack-updated-to-72.1.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Fix Terraform module for bare-metal after refactor
  docs/_releasenotes/1845.misc.1.terraform-bare-metal
  nix/yk8s/terraform.nix
Due: none

chore(deps): update helm release thanos to v16.0.6
  docs/_releasenotes/1854.change.thanos-updated-to-16.0.6
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v72.1.1
  docs/_releasenotes/1855.change.kube-prometheus-stack-updated-to-72.1.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Add support for OVN-based OpenStack deployments
  actions/helpers/check_plan.py
  actions/release-migrations/v10-00-01-terraform.sh
  actions/release-migrations/v10-00-03-terraform.sh
  actions/release-migrations/v10-00-tf-unignore-allowed_address_pairs.patch
  docs/_releasenotes/1250.BREAKING.1.add-ovn-support
  terraform/10-networking.tf
  terraform/20-gateway.tf
Due: tflint, shellcheck, flake8

Add LBaaS configuration for OVN compatibility
  actions/release-migrations/v10-00-02-ch-k8s-lbaas.sh
  docs/_releasenotes/1250.BREAKING.1.add-ovn-support
  docs/_releasenotes/1250.BREAKING.2.add-ch-k8s-lbaas-ovn-support
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-config.toml.j2
  k8s-supplements/ansible/test-roles/check-ch-k8s-lbaas/meta/main.yaml
  k8s-supplements/ansible/test-roles/check-ch-k8s-lbaas/tasks/main.yaml
  k8s-supplements/ansible/test.yaml
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  terraform/templates/inventory.tpl
Due: tflint, shellcheck, yamllint

keepalived: Properly set unicast or multicast mode
  actions/release-migrations/v10-02-keepalived.sh
  docs/_releasenotes/1250.change.1.keepalived-ipv4-unicast
  k8s-core/ansible/roles/keepalived/defaults/main.yaml
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: shellcheck, yamllint

Use ipsec for nftable rules
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
Due: none

Conditionally set Wireguard MTU on server and client
  docs/_releasenotes/1250.change.2.wg-mtu
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_server.conf.j2
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/openstack.nix
Due: none

Be more aggressive about gratuitious ARP
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: none

pre-commit: Ignore EOF and trailing whitespaces in patch files
  .pre-commit-config.yaml
Due: yamllint

Add check for openstack.network_mtu
  nix/yk8s/openstack.nix
Due: none

Fix CA rotation procedure (certs on nodes)
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.29.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.30.yaml
Due: yamllint

Fix CA rotation procedure (k8s-login)
  actions/rotate-root-ca.sh
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  tools/vault/k8s-login.sh
Due: shellcheck, yamllint

Move curl to default dependency group
  docs/_releasenotes/1851.change.move-curl
  nix/dependencies.nix
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v9.6.0
  docs/_releasenotes/1857.change.prometheus-blackbox-exporter-updated-to-9.6.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v72.3.0
  docs/_releasenotes/1859.change.kube-prometheus-stack-updated-to-72.3.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release etcdbackup to v0.20250507.0
  docs/_releasenotes/1858.change.etcdbackup-updated-to-0.20250507.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): lock file maintenance
  docs/_releasenotes/1860.chore.-updated-to-
  flake.lock
Due: none

Fix local docs build via Nix
  nix/renderDocs.nix
Due: none

ci: Fix command in render-options.sh
  ci/housekeeping/render-options.sh
  docs/_releasenotes/1812.misc.1.build-docs-local
Due: shellcheck

terraform: disable by default
  docs/_releasenotes/1250.change.3.bare-metal
  nix/yk8s/terraform.nix
Due: none

fix openstack_enabled for bare-metal
  nix/yk8s/openstack.nix
Due: none

wireguard: fix warning in case of no peers
  nix/yk8s/k8s-supplements/wireguard/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.terraform.rst
Due: build-docs-check

Use YAML based hosts file
  actions/apply-terraform.sh
  actions/release-migrations/v10-03-yaml-hosts.sh
  docs/_releasenotes/1250.feature.1.yaml-hosts
  docs/_releasenotes/1250.removal.1.yaml-hosts
  docs/user/reference/cluster-configuration.rst
  docs/user/reference/cluster-repository.rst
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
  terraform/01-discovery.tf
  terraform/10-networking.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
  terraform/99-backend.tf
  terraform/99-outputs.tf
  terraform/templates/final_networking.tpl
  terraform/templates/inventory.tpl
  terraform/templates/object_storage.tpl
  terraform/templates/trampoline_gateways.tpl
Due: tflint, shellcheck, build-docs-check

infra: provide read-only option final_hosts
  nix/yk8s/infra.nix
Due: none

node-scheduling: use final_hosts
  nix/yk8s/node-scheduling.nix
Due: none

remove check_conf_sanity
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/k8s-login.sh
  actions/lib.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/verify-cluster-health.sh
Due: shellcheck

envrc layout: ensure that an environment is active
  .envrc.lib.sh
Due: shellcheck

allow full configuration of node labels and taints
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/vars/node-labels.yaml
  nix/yk8s/infra.nix
  nix/yk8s/node-scheduling.nix
Due: yamllint

remove infra.hosts_file
  nix/yk8s/infra.nix
  nix/yk8s/node-scheduling.nix
Due: none

flake: remove dependency on specific name of yk8s
  flake.nix
  nix/yk8s/default.nix
Due: none
