Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check, containerd-k8s-upgrade, containerd

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.1
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.9.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with ci --sync
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with docs --sync
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
    expose_as: Rendered Docs
    expire_in: 7 days
    paths:
    - public/
  tags:
  - docker

containerd-k8s-upgrade:
  image: registry.gitlab.com/yaook/images/k8s-ci/f1a:devel
  services:
  - .prepare_spawn_test_cleanup_k8s_cluster
  - services
  before_script:
  - - .prepare_spawn_test_cleanup_k8s_cluster
    - before_script
  script:
  ...

containerd:
  image: registry.gitlab.com/yaook/images/k8s-ci/f1a:devel
  variables:
    WG_COMPANY_USERS:
    - .prepare_spawn_test_cleanup_k8s_cluster
    - variables
    - WG_COMPANY_USERS
    PASS_COMPANY_USERS:
    - .prepare_spawn_test_cleanup_k8s_cluster
    - variables
    - PASS_COMPANY_USERS
    SSH_COMPANY_USERS:
  ...

exclude ci-files from ansible-lint
  .gitlab-ci.yml
  ci/lint/ansible-lint-conf
Due: yamllint, containerd-k8s-upgrade, containerd

Don't set resource limits for NGINX ingress by default
  docs/_releasenotes/+.change.ingress-resource-limits
  k8s-service-layer/roles/ingress_v1/defaults/main.yaml
  k8s-service-layer/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
  templates/config.template.toml
Due: yamllint, containerd-k8s-upgrade, containerd

chore(deps): update dependency boto3 to v1.34.23
  docs/_releasenotes/+.chore.2024-01-19T22:06:50+00:00
  poetry.lock
Due: poetry-lock, containerd-k8s-upgrade, containerd

chore(deps): update dependency jsonschema to v4.21.1
  docs/_releasenotes/+.chore.2024-01-19T22:07:11+00:00
  poetry.lock
Due: poetry-lock, containerd-k8s-upgrade, containerd

chore(deps): update dependency kubernetes-validate to v1.29.1
  docs/_releasenotes/+.chore.2024-01-21T04:07:15+00:00
  poetry.lock
Due: poetry-lock, containerd-k8s-upgrade, containerd

chore(deps): update dependency sphinx-tabs to v3.4.5
  docs/_releasenotes/+.chore.2024-01-21T14:06:08+00:00
  poetry.lock
Due: poetry-lock, containerd-k8s-upgrade, containerd

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.50.2
  .gitlab-ci.yml
  docs/_releasenotes/+.chore.2024-01-21T14:06:12+00:00
Due: yamllint, containerd-k8s-upgrade, containerd

chore(deps): update dependency flake8 to v7
  docs/_releasenotes/+.chore.2024-01-19T08:22:13+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock, containerd-k8s-upgrade, containerd

Make the migration between local and http tf backend safe
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/lib.sh
  actions/update_inventory.py
  docs/_releasenotes/998.fix.tf-backend-broken
  docs/usage/cluster-configuration.rst
  templates/config.template.toml
  terraform/00-variables.tf
Due: tflint, shellcheck, flake8, build-docs-check, containerd-k8s-upgrade, containerd

Make check for return code reusable
  actions/apply-terraform.sh
  actions/lib.sh
Due: shellcheck, containerd-k8s-upgrade, containerd

Properly clean up Terraform states on destroy
  actions/destroy.sh
Due: shellcheck, containerd-k8s-upgrade, containerd

Terraform: Check return code during http->local migration
  actions/apply-terraform.sh
Due: shellcheck, containerd-k8s-upgrade, containerd

Mark functions as functions
  actions/apply-terraform.sh
Due: shellcheck, containerd-k8s-upgrade, containerd

Don't require nuking from orbit on migration
  actions/apply-terraform.sh
  actions/lib.sh
Due: shellcheck, containerd-k8s-upgrade, containerd

Improve output
  actions/apply-terraform.sh
Due: shellcheck, containerd-k8s-upgrade, containerd

Don't enforce setting/unsetting TF_HTTP_PASSWORD
  actions/apply-terraform.sh
Due: shellcheck, containerd-k8s-upgrade, containerd

CI: Create custom play to shuffle workload
  actions/apply-custom.sh
  ci/cluster-tests.yaml
  ci/custom-play.yaml
  docs/_releasenotes/+.chore.use-custom-stage-in-ci-to-shuffle-workload
Due: shellcheck, yamllint, containerd-k8s-upgrade, containerd

make breaking changes visible
  docs/_releasenotes/1007.misc.add_breaking_stuff_to_docu
  docs/_releasenotes/795.BREAKING.add-option-to-configure-multiple-wireguard-endpoints
  docs/_releasenotes/952.BREAKING.aipai9EoCh9ceef2
  docs/development/coding-guide.rst
  towncrier.toml
Due: build-docs-check, containerd-k8s-upgrade, containerd

make versioned docs available
  .gitlab-ci.yml
  ci/release.yaml
  docs/_releasenotes/1.chore.noaslkjdasd
  docs/_releasenotes/1020.chore.noaslkjdasd
  docs/_templates/page.html
  docs/_templates/sidebar/brand.html
  docs/_templates/sidebar/variant-selector.html
  docs/conf.py
  docs/img/yaook-husky-small.png
  poetry.lock
  pyproject.toml
Due: yamllint, flake8, poetry-lock, build-docs-check, containerd-k8s-upgrade, containerd

Set async for kubeadm upgrade node command
  docs/_releasenotes/+.chore.aepheigheiT2reiy
  k8s-base/roles/kubeadm-upgrade-node/tasks/main.yaml
Due: yamllint, containerd-k8s-upgrade, containerd

chore(deps): update dependency boto3 to v1.34.28
  docs/_releasenotes/+.chore.2024-01-25T22:04:48+00:00
  poetry.lock
Due: poetry-lock, containerd-k8s-upgrade, containerd

Allow to enable Ceph dashboard
  ci/config/config.toml
  docs/_releasenotes/+.feature.allow-configure-ceph-dashboard
  k8s-service-layer/roles/rook_v1/defaults/main.yaml
  k8s-service-layer/roles/rook_v1/templates/v1.3/cluster.yaml
  k8s-service-layer/roles/rook_v1/templates/v1.4/cluster.yaml
  k8s-service-layer/roles/rook_v1/templates/v1.5/cluster.yaml
  k8s-service-layer/roles/rook_v1/templates/v1.7/cluster.yaml
  k8s-service-layer/roles/rook_v2/defaults/main.yaml
  k8s-service-layer/roles/rook_v2/templates/cluster-values.yaml.j2
  templates/config.template.toml
Due: yamllint, containerd-k8s-upgrade, containerd

Lock file maintenance
  docs/_releasenotes/+.chore.2024-01-26T14:05:02+00:00
  poetry.lock
Due: poetry-lock, containerd-k8s-upgrade, containerd

Lock file maintenance
  docs/_releasenotes/+.chore.2024-01-29T00:06:12+00:00
  poetry.lock
Due: poetry-lock, containerd-k8s-upgrade, containerd

Update Terraform openstack to ~> 1.54.0
  docs/_releasenotes/+.chore.2024-01-29T12:05:36+00:00
  terraform/versions.tf
Due: tflint, containerd-k8s-upgrade, containerd

Trigger MR to devel for release-prepare/v1.0.0 of 1.0.0
  docs/_releasenotes/+.misc.release-v1.0.0
Due: none

Update dependency furo to v2024
  docs/_releasenotes/+.chore.2024-01-30T00:05:58+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock, containerd-k8s-upgrade, containerd

chore(deps): update dependency kubernetes to v29
  docs/_releasenotes/+.chore.2024-01-23T22:05:51+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock, containerd-k8s-upgrade, containerd

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock, containerd-k8s-upgrade, containerd

chore(deps): update dependency ansible to v9
  docs/_releasenotes/+.chore.2024-01-31T02:05:23+00:00
  pyproject.toml
Due: poetry-lock, containerd-k8s-upgrade, containerd

Bump minimum Python version to 3.10
  docs/_releasenotes/+.chore.2024-01-31T02:05:23+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock, containerd-k8s-upgrade, containerd

Remove unused k8s-pki issuer role
  tools/vault/init.sh
  tools/vault/lib.sh
Due: shellcheck, containerd-k8s-upgrade, containerd

Add tool to allow creating credentials from vault
  docs/operation/vault.rst
  tools/vault/k8s-login.sh
  tools/vault/setup-ldap.sh
Due: shellcheck, build-docs-check, containerd-k8s-upgrade, containerd

Simplify Vault Kubernetes credential generation flow
  docs/_releasenotes/1016.feature.vaultkubeconf
  docs/operation/vault.rst
  tools/vault/init.sh
  tools/vault/k8s-login.sh
  tools/vault/lib.sh
  tools/vault/setup-ldap.sh
Due: shellcheck, build-docs-check, containerd-k8s-upgrade, containerd

Address Ansible deprecation warnings
  docs/_releasenotes/+.chore.address-ansible-deprecation-warnings
  docs/usage/initialization.rst
  k8s-base/roles/calico-tigera-operator/templates/bgp.yaml.j2
  k8s-base/roles/keepalived/templates/keepalived.conf.j2
  k8s-base/roles/nftables/tasks/main.yaml
  k8s-service-layer/roles/etcd-backup/tasks/main.yaml
Due: yamllint, build-docs-check, containerd-k8s-upgrade, containerd

Enable renovate bot for Ansible galaxy requirements
  docs/_releasenotes/+.chore.renovate-ansible-galaxy
  renovate.json
Due: containerd-k8s-upgrade, containerd

chore(deps): update dependency amazon.aws to v5.5.4
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.2024-02-01T00:12:05+00:00
Due: yamllint, containerd-k8s-upgrade, containerd

chore(deps): update dependency community.aws to v5.5.1
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.2024-02-01T00:12:10+00:00
Due: yamllint, containerd-k8s-upgrade, containerd

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
  containerd-k8s-upgrade: any of: {[^d]*,d,d[^o]*,do,do[^c]*,doc,doc[^s]*,docs?*}, {[^d]*,d,d[^o]*,do,do[^c]*,doc,doc[^s]*,docs?*}/**/*
  containerd: any of: {[^d]*,d,d[^o]*,do,do[^c]*,doc,doc[^s]*,docs?*}, {[^d]*,d,d[^o]*,do,do[^c]*,doc,doc[^s]*,docs?*}/**/*
