Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Fix Ansible inventory base path
  actions/lib.sh
Due: shellcheck

Lock file maintenance
  docs/_releasenotes/1335.chore.2024-07-01T00:07:37+00:00
  poetry.lock
Due: poetry-lock

Add releasenote
  docs/_releasenotes/1263.BREAKING.envrc-to-config-toml
Due: none

Move all cluster configuration to config.toml
  actions/apply-all.sh
  actions/apply-prepare-gw.sh
  actions/lib.sh
  actions/migrate-cluster-repo.sh
  actions/update_inventory.py
  actions/wg-up.sh
  ci/cluster-tests.yaml
  docs/user/reference/cluster-configuration.rst
  docs/user/reference/environmental-variables.rst
  templates/config.template.toml
  templates/envrc.template.sh
  tools/vault/import.sh
Due: shellcheck, yamllint, flake8, build-docs-check

Remove CUSTOM_STAGE_USAGE env var
  actions/apply-all.sh
  actions/init-cluster-repo.sh
  actions/migrate-cluster-repo.sh
  actions/update_inventory.py
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
  docs/user/reference/environmental-variables.rst
  templates/envrc.template.sh
Due: shellcheck, yamllint, flake8, build-docs-check

Use strings as keys in wireguard peers
  actions/helpers/wireguard_helper.py
  docs/_releasenotes/1329.fix.dict-integer-key
Due: flake8

Add vault token check to k8s upgrade action
  actions/upgrade.sh
Due: shellcheck

Fix K8s upgrade CP targeting
  docs/_releasenotes/1336.fix.k8s-upgrade-procedure
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Add tar to CI dependencies
  docs/_releasenotes/1337.misc.add-gnutar
  flake.nix
Due: none

CI: Do not enforce testing nodes
  ci/config/config.toml
  docs/_releasenotes/1338.chore.ci-testing-nodes
Due: none

Reload nftables on configuration changes
  docs/_releasenotes/x.fix.nftables-reload-on-wg-rotation
  k8s-supplements/ansible/roles/nftables/tasks/main.yaml
Due: yamllint

Reload nftables on configuration changes
  docs/_releasenotes/1339.fix.nftables-reload-on-wg-rotation
  k8s-supplements/ansible/roles/nftables/tasks/main.yaml
Due: yamllint

test
  actions/update_inventory.py
Due: flake8

Make sourcing lib.sh side-effect free
  actions/apply-all.sh
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/k8s-login.sh
  actions/lib.sh
  actions/migrate-cluster-repo.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/vault.sh
  actions/vault_env.sh
  actions/verify-cluster-health.sh
  actions/wg-up.sh
  docs/_releasenotes/x.change.lib-side-effect-free
Due: shellcheck

Make sourcing lib.sh side-effect free
  actions/lib.sh
Due: shellcheck

Make sourcing lib.sh side-effect free
  actions/apply-all.sh
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/k8s-login.sh
  actions/lib.sh
  actions/migrate-cluster-repo.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/vault.sh
  actions/vault_env.sh
  actions/verify-cluster-health.sh
  actions/wg-up.sh
  docs/_releasenotes/1340.change.lib-side-effect-free
Due: shellcheck

WIP: adapt docs
  docs/user/guide/initialization.rst
  docs/user/reference/cluster-configuration.rst
  docs/user/reference/cluster-repository.rst
Due: build-docs-check

WIP docs: describe new directory structure
  docs/user/reference/cluster-repository.rst
Due: build-docs-check

pre-commit: exclude .nix files from EOF fixer
  .pre-commit-config.yaml
Due: yamllint

Nixify cluster initialization
  actions/init-cluster-repo.sh
  flake.nix
  nix/templates/cluster-repo/.envrc
  nix/templates/cluster-repo/.gitignore
  nix/templates/cluster-repo/config/default.nix
  nix/templates/cluster-repo/flake.nix
  nix/templates/migration/config/default.nix
  nix/templates/migration/flake.nix
Due: shellcheck

WIP: Allow running actions via Nix
  ci/container-image/default.nix
  flake.nix
  nix/module/default.nix
Due: none

Ensure release releasenote is present
  ci/release.yaml
Due: yamllint

Fix image tagging for releases
  ci/build-image.yaml
  docs/_releasenotes/+.chore.fix-rl-image-tagging
Due: yamllint

Trigger MR to devel for release-prepare/v6.0.0
  docs/_releasenotes/+.misc.release-v6.0.0
Due: none

ci: Link to Gitlab pages release notes
  ci/release.yaml
  docs/_releasenotes/1343.misc.link-to-gitlab-pages-release-notes
Due: yamllint

Update nixos/nix Docker tag to v2.23.2
  ci/build-image.yaml
  docs/_releasenotes/1344.chore.2024-07-05T18:05:39+00:00
Due: yamllint

Update ghcr.io/terraform-linters/tflint Docker tag to v0.52.0
  .gitlab-ci.yml
  docs/_releasenotes/1345.chore.2024-07-06T16:05:09+00:00
Due: yamllint

Lock file maintenance
  docs/_releasenotes/1346.chore.2024-07-08T00:07:09+00:00
  poetry.lock
Due: poetry-lock

Update dependency jsonschema to v4.23.0
  docs/_releasenotes/1349.chore.2024-07-08T20:06:49+00:00
  poetry.lock
Due: poetry-lock

Update dependency ansible-lint to v24.7.0
  docs/_releasenotes/1350.chore.2024-07-10T20:06:24+00:00
  poetry.lock
Due: poetry-lock

Update dependency sphinx to v7.4.0
  docs/_releasenotes/1355.chore.2024-07-15T06:06:12+00:00
  poetry.lock
Due: poetry-lock

Lock file maintenance
  docs/_releasenotes/1354.chore.2024-07-15T00:07:19+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency sphinx to v7.4.4
  docs/_releasenotes/1356.chore.2024-07-15T20:05:58+00:00
  poetry.lock
Due: poetry-lock

Fix vault login for non-public vault instances
  docs/_releasenotes/1358.fix.vault-login-script-node
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/templates/vault-config.j2
Due: yamllint

Fix kubeconfig generation with intermediate CAs
  docs/_releasenotes/1359.fix.kubeconfig-generation
  tools/vault/k8s-login.sh
Due: shellcheck

chore(deps): update dependency ansible to v9.8.0
  docs/_releasenotes/1360.chore.2024-07-16T20:05:51+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency sphinx to v7.4.5
  docs/_releasenotes/1361.chore.2024-07-16T22:05:42+00:00
  poetry.lock
Due: poetry-lock
