Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Support to enable audit logs in Kube-apiserver
  docs/_releasenotes/hotfix/1896.feature.1.789-support-to-enable-audit-logs-in-kube-apiserver
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/templates/audit-policy.yaml.j2
  k8s-core/ansible/roles/kubeadm-patches/templates/kubeadm-patches/kube-apiserver0+json.json.j2
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1896.feature.1.789-support-to-enable-audit-logs-in-kube-apiserver
  version
Due: none

Enable apiserver audit logs in CI
  ci/config/default.nix
Due: none

Refine audit-logs for kube-apiserver
  docs/_releasenotes/1896.BREAKING.audit-logs-kube-apiserver
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/templates/audit-policy.yaml.j2
  nix/yk8s/kubernetes/audit-policy-defaults.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

chore(deps): update helm release etcdbackup to v0.20250724.0
  docs/_releasenotes/1955.change.etcdbackup-updated-to-0.20250724.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Mark IPSec feature as deprecated
  docs/_releasenotes/1950.removal.drop-ipsec
  nix/yk8s/k8s-supplements/ipsec.nix
Due: none

Update rendered docs
  docs/_releasenotes/1942.change.etcdbackup-updated-to-0.20250717.0
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Fix CA rotation procedure (certs on nodes)
  CHANGELOG.rst
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.30.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.32.yaml
  version
Due: yamllint

Fix CA rotation procedure (k8s-login)
  CHANGELOG.rst
  actions/rotate-root-ca.sh
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  tools/vault/k8s-login.sh
Due: shellcheck, yamllint

Add dependency group update-inventory
  docs/_releasenotes/hotfix/1921.change.1.dependency-group-inventory
  nix/dependencies.nix
Due: none

Update Helm release kube-prometheus-stack to v75
  docs/_releasenotes/1902.BREAKING.kube-prometheus-stack-updated-to-75.13.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1921.change.1.dependency-group-inventory
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/1921.misc.1.dependency-group-inventory
  version
Due: none

docs: Fix outdated migrate-to-release.sh description
  docs/_releasenotes/1958.docs.outdated-migrate-to-release-sh-description-fixed
  docs/user/reference/actions-references.rst
Due: build-docs-check

Fix syntax and typos in releasenotes
  docs/_releasenotes/1250.BREAKING.1.add-ovn-support
  docs/_releasenotes/1250.BREAKING.2.add-ch-k8s-lbaas-ovn-support
  docs/_releasenotes/1250.change.1.keepalived-ipv4-unicast
  docs/_releasenotes/1613.BREAKING.1.misc-legacy-docker-options-removed
  docs/_releasenotes/1613.BREAKING.2.misc-container-mirrors-removed
  docs/_releasenotes/1694.BREAKING.envrc-layout-yaook-k8s
  docs/_releasenotes/1717.BREAKING.1.remove-obsolete-option
  docs/_releasenotes/1717.BREAKING.2.remove-obsolete-option
  docs/_releasenotes/1717.BREAKING.3.remove-obsolete-option
  docs/_releasenotes/1718.change.1.replace_on_openstack
  docs/_releasenotes/1731.BREAKING.4.vault_s3_config_defaults_to_null
  docs/_releasenotes/1731.change.1.types-of-all-config-options-refined
  docs/_releasenotes/1731.removal.1.yk8s-node-scheduling-scheduling_key_prefix-deprecated
  docs/_releasenotes/1731.removal.2.config-option-thanos_objectstorage_config_path-removed
  docs/_releasenotes/1777.docs.1.docker-dev-env
  docs/_releasenotes/1789.BREAKING.gitignore-updated-with-every-release-migration
  docs/_releasenotes/1795.docs.terraform-openstack-config-docs-fixed
  docs/_releasenotes/1796.fix.scheduling-key-rook-ceph
  docs/_releasenotes/1834.change.1.storage-options
  docs/_releasenotes/1834.change.2.storage-options
  docs/_releasenotes/1835.change.1.ingress-replicas
  docs/_releasenotes/1836.BREAKING.1.calico-enable-option
  docs/_releasenotes/1837.change.etcdbackup-updated-to-0.20250429.0
  docs/_releasenotes/1841.BREAKING.1.devel
  docs/_releasenotes/1851.change.move-curl
  docs/_releasenotes/1858.change.etcdbackup-updated-to-0.20250507.0
  docs/_releasenotes/1880.change.1.nix-25.05
  docs/_releasenotes/1880.change.2.default-k8s-version-bumped-to-v1.32
  docs/_releasenotes/1880.feature.1.k8s-v1.32
  docs/_releasenotes/1885.change.etcdbackup-updated-to-0.20250605.2
  docs/_releasenotes/1893.change.etcdbackup-updated-to-0.20250612.0
  docs/_releasenotes/1899.fix.wg_private_key_command
  docs/_releasenotes/1906.change.etcdbackup-updated-to-0.20250626.2
  docs/_releasenotes/1913.change.etcdbackup-updated-to-0.20250703.1
  docs/_releasenotes/1916.feature.1.keepalived-vg-lbaas
  docs/_releasenotes/1940.docs.gitlab-pages-use-http-redirect
  docs/_releasenotes/1955.change.etcdbackup-updated-to-0.20250724.0
Due: none

Bump Kubernetes version in config template
  docs/_releasenotes/1924.change.1.template-k8s-version
  nix/templates/cluster-repo/config/default.nix
Due: none

chore(deps): update nixos/nix docker tag to v2.30.2
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/1959.chore.nixos-nix-updated-to-2.30.2
Due: yamllint

fixup! docs: Fix outdated migrate-to-release.sh description
  docs/_releasenotes/1960.docs.outdated-migrate-to-release-sh-description-fixed
  docs/user/reference/actions-references.rst
Due: build-docs-check

CI: Fix diagnistics stage
  ci/diagnostic-tools.yaml
  docs/_releasenotes/1961.chore.1.ci-fix-diagnostics
Due: yamllint

Trigger MR to devel for release-prepare/v10.0.0
  docs/_releasenotes/1962.misc.release-v10.0.0
Due: none

Lock file maintenance
  docs/_releasenotes/1963.chore.-updated-to-
  flake.lock
Due: none

chore(deps): update dependency community.general to v11.1.1
  ansible/requirements.yaml
  docs/_releasenotes/1965.chore.community.general-updated-to-11.1.1
Due: yamllint

Deploy service monitor node-exporters on gateway nodes only
  docs/_releasenotes/1964.fix.double-install-of-prometheus-node-exporter-on-frontend-nodes-fixed
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
Due: yamllint

Allow for graceful restart of special workload
  docs/user/guide/vault/vault-ca-rotation.rst
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-core/ansible/roles/kubeadm-drain-node/tasks/main.yaml
Due: yamllint, build-docs-check

docs: announce upcoming project rename from YAOOK/K8s to TAROOK
  README.md
  docs/_releasenotes/1966.misc.project-rename-announcement-yaook-to-tarook
  docs/_templates/page.html
Due: none

Fix test of frontend Prometheus node exporter service monitor
  docs/_releasenotes/1969.fix.test-of-frontend-node-exporter-service-monitor-fixed-up
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_managed_services.yaml
Due: yamllint

test
  .gitlab-ci.yml
  docs/_redirects
  docs/_releasenotes/1970.chore.1.test
Due: yamllint

config: Drop incorrect assertion of `yk8s.k8s-service-layer.vault.s3_config_file`
  docs/_releasenotes/hotfix/1972.fix.incorrect-assertion-of-config-yk8s-k8s-service-layer-vault-s3_config_file-dropped
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1972.fix.incorrect-assertion-of-config-yk8s-k8s-service-layer-vault-s3_config_file-dropped
  version
Due: none

Fix kubeconfig_api_server_url for ipv6-only clusters
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/tasks/main.yaml
Due: yamllint

config: Drop incorrect assertion of `yk8s.k8s-service-layer.vault.s3_config_file`
  CHANGELOG.rst
  nix/yk8s/k8s-supplements/vault.nix
  version
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v11.2.0
  docs/_releasenotes/1976.change.prometheus-blackbox-exporter-updated-to-11.2.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none
