Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

nix/lib: split types into multiple files
  nix/tests/default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/lib/options.nix
  nix/yk8s/lib/types.nix
  nix/yk8s/lib/types/_common.nix
  nix/yk8s/lib/types/default.nix
  nix/yk8s/lib/types/gitlab.nix
  nix/yk8s/lib/types/helm.nix
  nix/yk8s/lib/types/k8s.nix
  nix/yk8s/lib/types/networking.nix
  nix/yk8s/lib/types/oci.nix
  nix/yk8s/lib/types/openstack.nix
  nix/yk8s/lib/types/posix.nix
  nix/yk8s/lib/types/prometheus.nix
  nix/yk8s/lib/types/s3.nix
  nix/yk8s/lib/types/terraform.nix
  nix/yk8s/lib/types/vault.nix
  nix/yk8s/lib/types/wireguard.nix
Due: none

tmp
  replace_types.nu
Due: none

nix/lib: overlay types
  nix/yk8s/containerd.nix
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/fluxcd.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/k8s-local-path-provisioner.nix
  nix/yk8s/k8s-supplements/k8s-local-storage-controller.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubelet.nix
  nix/yk8s/kubernetes/network.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/lib/options.nix
  nix/yk8s/lib/types/default.nix
  nix/yk8s/lib/types/gitlab.nix
  nix/yk8s/lib/types/helm.nix
  nix/yk8s/lib/types/k8s.nix
  nix/yk8s/lib/types/oci.nix
  nix/yk8s/lib/types/openstack.nix
  nix/yk8s/lib/types/posix.nix
  nix/yk8s/lib/types/prometheus.nix
  nix/yk8s/lib/types/s3.nix
  nix/yk8s/lib/types/terraform.nix
  nix/yk8s/lib/types/vault.nix
  nix/yk8s/lib/types/wireguard.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/nvidia.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
  nix/yk8s/vault.nix
Due: none

nix/tests: replace foldl by all
  nix/tests/default.nix
Due: none

nix/tests: replace stripPrefix by lib.removePrefix
  nix/tests/default.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/x.chore.-updated-to-
  flake.lock
Due: none

docs: Restrict versioned docs to latest 5 major versions
  docs/_releasenotes/2102.docs.1.latest-5-major-versions-only
  docs/conf.py
Due: flake8, build-docs-check

Fix merge request id for releasenote of !2101
  docs/_releasenotes/2101.chore.-updated-to-
  docs/_releasenotes/2103.misc.fix-releasenote-mr-2101
  docs/_releasenotes/x.chore.-updated-to-
Due: none

chore(deps): update dependency community.general to v11.3.0
  ansible/requirements.yaml
  docs/_releasenotes/2105.chore.community.general-updated-to-11.3.0
Due: yamllint

nix/lib: split types into multiple files
  nix/tests/default.nix
  nix/tests/test_yk8s/test_lib/test_types/default.nix
  nix/tests/test_yk8s/test_lib/test_types/test_default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/lib/options.nix
  nix/yk8s/lib/types.nix
  nix/yk8s/lib/types/_common.nix
  nix/yk8s/lib/types/default.nix
  nix/yk8s/lib/types/gitlab.nix
  nix/yk8s/lib/types/helm.nix
  nix/yk8s/lib/types/k8s.nix
  nix/yk8s/lib/types/networking.nix
  nix/yk8s/lib/types/oci.nix
  nix/yk8s/lib/types/openstack.nix
  nix/yk8s/lib/types/posix.nix
  nix/yk8s/lib/types/prometheus.nix
  nix/yk8s/lib/types/s3.nix
  nix/yk8s/lib/types/terraform.nix
  nix/yk8s/lib/types/vault.nix
  nix/yk8s/lib/types/wireguard.nix
Due: none

nix/lib: replace attrsOf' with lib.types.submodule
  nix/tests/test_yk8s/test_lib/test_types/test_default.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/lib/types/_common.nix
  nix/yk8s/lib/types/default.nix
  nix/yk8s/lib/types/prometheus.nix
Due: none

nix/lib: organize types hierarchically
  nix/yk8s/containerd.nix
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/fluxcd.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/k8s-local-path-provisioner.nix
  nix/yk8s/k8s-supplements/k8s-local-storage-controller.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubelet.nix
  nix/yk8s/kubernetes/network.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/lib/options.nix
  nix/yk8s/lib/types/default.nix
  nix/yk8s/lib/types/gitlab.nix
  nix/yk8s/lib/types/helm.nix
  nix/yk8s/lib/types/k8s.nix
  nix/yk8s/lib/types/oci.nix
  nix/yk8s/lib/types/openstack.nix
  nix/yk8s/lib/types/posix.nix
  nix/yk8s/lib/types/prometheus.nix
  nix/yk8s/lib/types/s3.nix
  nix/yk8s/lib/types/terraform.nix
  nix/yk8s/lib/types/vault.nix
  nix/yk8s/lib/types/wireguard.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/nvidia.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
  nix/yk8s/vault.nix
Due: none

Fix rollout of nvidia device plugin
  docs/_releasenotes/x.fix.1.nix-helm-nvidia
  nix/yk8s/nvidia.nix
Due: none

Fix rollout of nvidia device plugin
  docs/_releasenotes/hotfix/2108.fix.1.nix-helm-nvidia
  nix/yk8s/nvidia.nix
Due: none

Fix rollout of nvidia device plugin
  docs/_releasenotes/hotfix/2107.fix.1.nix-helm-nvidia
  nix/yk8s/nvidia.nix
Due: none

Fix rollout of nvidia device plugin
  docs/_releasenotes/hotfix/2109.fix.1.nix-helm-nvidia
  nix/yk8s/nvidia.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2109.fix.1.nix-helm-nvidia
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2108.fix.1.nix-helm-nvidia
  version
Due: none

Use lists in arguments of mkRemovedOptionModule
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/fluxcd.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/network.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/load-balancing.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/terraform.nix
Due: none

Remove mkRemovedSectionModule
  nix/yk8s/default.nix
  nix/yk8s/lib/modules.nix
Due: none

chore(deps): update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2111.chore.kubernetes-kubernetes-updated-to-v1.33.5
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Fix regex validation of IP patterns on macOS hosts
  docs/_releasenotes/2074.fix.macos-darwin-regex-fix
  nix/yk8s/lib/types.nix
Due: none

chore(deps): update dependency kubernetes/kubernetes to v1.31.13
  ci/cluster-tests.yaml
  docs/_releasenotes/2113.chore.kubernetes-kubernetes-updated-to-v1.31.13
Due: yamllint

Adjust hotfix preparation to not create changelogs against devel
  ci/hotfix-prepare.yaml
  docs/_releasenotes/2100.misc.prevent-changelog-devel
Due: yamllint

Use lists in arguments of mkRenamedOptionModule
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubelet.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/terraform.nix
  nix/yk8s/testing.nix
Due: none

Use lists in arguments of mk*ResourceOptionModule
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/lib/modules.nix
Due: none

Harmonize usage of mkRenamedResourceOptionModule
  docs/_releasenotes/2004.misc.1.removed-renamed-option-module-dots
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/lib/modules.nix
Due: none

Use lists for exceptions in flatten function
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/lib/options.nix
  nix/yk8s/lib/transform.nix
  nix/yk8s/node-scheduling.nix
Due: none

nix lib: add mkTolerations and mkAffinity
  nix/yk8s/lib/default.nix
  nix/yk8s/lib/k8s.nix
Due: none

ingess-nginx: allow to set arbitrary helm values
  docs/_releasenotes/1810.feature.1.nix-helm-ingress
  k8s-supplements/ansible/roles/ingress_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
  nix/yk8s/k8s-supplements/ingress.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

chore(deps): lock file maintenance
  docs/_releasenotes/2115.chore.-updated-to-
  flake.lock
Due: none

remove 'Manage the backup bucket' from etcd backup configuration
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v77.6.2
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-77.6.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

config: Enforce cert-manager is deployed with Vault-on-K8s
  docs/_releasenotes/2114.fix.config-cert-manager-required-for-vault-svc
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
  k8s-supplements/ansible/install-all.yaml
  nix/yk8s/k8s-supplements/vault.nix
Due: yamllint, build-docs-check

Switch k8s-debian image to debian
  k8s-supplements/ansible/test-roles/check-block-storage/templates/reader-pod.yaml
  k8s-supplements/ansible/test-roles/check-block-storage/templates/writer-pod.yaml
  k8s-supplements/ansible/test-roles/check-calico/templates/busybox-deployment.yaml.j2
  k8s-supplements/ansible/test-roles/check-ipsec/templates/busybox-ping-job.yaml.j2
  k8s-supplements/ansible/test-roles/check-local-storage/templates/reader-pod.yaml.j2
  k8s-supplements/ansible/test-roles/check-local-storage/templates/writer-pod.yaml.j2
  k8s-supplements/ansible/test-roles/check-networkpolicy-enforcement/templates/test-pod.yaml
  k8s-supplements/ansible/test-roles/check-shared-fs/templates/pod.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/templates/scraper.yaml.j2
Due: yamllint

Switch k8s-nginx image to unprivileged-nginx
  docs/_releasenotes/2112.chore.update-test-container-images
  k8s-supplements/ansible/test-roles/check-loadbalancer-service/templates/preliminaries.yaml.j2
  k8s-supplements/ansible/test-roles/check-networkpolicy-enforcement/templates/service.yaml
  k8s-supplements/ansible/test-roles/check-services/templates/nginx.yaml.j2
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_dual_stack.yaml.j2
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_single_stack_v4.yaml.j2
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_single_stack_v6.yaml.j2
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v77.7.0
  docs/_releasenotes/2116.change.kube-prometheus-stack-updated-to-77.7.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none
