Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

chore(deps): update helm release ingress-nginx to v4.13.9
  docs/_releasenotes/hotfix/2397.change.1.ingress
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  nix/yk8s/k8s-supplements/ingress.nix
Due: build-docs-check

chore(deps): update helm release ingress-nginx to v4.13.9
  docs/_releasenotes/hotfix/2398.change.1.ingress
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  nix/yk8s/k8s-supplements/ingress.nix
Due: build-docs-check

Preserve node schedulable state
  docs/_releasenotes/2362.change.node-schedulable-state-preserved
  k8s-core/ansible/roles/cluster-health-verification/tasks/main.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2396.change.1.ingress
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2397.change.1.ingress
  version
Due: none

chore(deps): update helm release ingress-nginx to v4.14.5
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  nix/yk8s/k8s-supplements/ingress.nix
  version
Due: build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2398.change.1.ingress
  version
Due: none

Mark k8s-local-storage-controller as deprecated
  docs/_releasenotes/2401.removal.drop-k8s-local-storage-controller
  nix/yk8s/k8s-supplements/k8s-local-storage-controller.nix
Due: none

Improve host targeting
  k8s-core/ansible/install-k8s.yaml
Due: yamllint

Mark config.yk8s.kubernetes.local_storage.dynamic as deprecated
  nix/yk8s/k8s-supplements/k8s-local-path-provisioner.nix
Due: none

Add assertions to ensure differing StorageClass names
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/tasks/main.yaml
  nix/yk8s/k8s-supplements/k8s-local-path-provisioner.nix
  nix/yk8s/k8s-supplements/k8s-local-storage-controller.nix
Due: yamllint

fixup! Mark config.yk8s.kubernetes.local_storage.dynamic as deprecated
  docs/_releasenotes/2401.removal.2.drop_config.yk8s.kubernetes.local_storage.dynamic
Due: none

feat(kubelet): allow arbitrary configuration options
  ci/config/default.nix
  docs/_releasenotes/1910.feature.arbitrary-kubelet-config
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.kubernetes.kubelet.rst
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/handlers/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-KubeletConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config-bundle.yaml.j2
  k8s-core/ansible/roles/k8s-packages/handlers/main.yaml
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/kubelet-configuration/handlers/main.yaml
  k8s-core/ansible/roles/kubelet-configuration/tasks/main.yaml
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubelet.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/lib/options.nix
Due: yamllint, build-docs-check

Fix IPSec cleanup
  docs/_releasenotes/2378.fix.1.ipsec-cleanup-fixed
  docs/_releasenotes/2378.fix.2.ipsec-cleanup-fixed
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v82.13.6
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.13.6
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v82.14.1
  docs/_releasenotes/x.change.kube-prometheus-stack-updated-to-82.14.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release rook-ceph to v1.18.10
  docs/_releasenotes/2403.change.rook-ceph-updated-to-v1.18.10
  nix/yk8s/k8s-supplements/rook.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v82.15.0
  docs/_releasenotes/2408.change.kube-prometheus-stack-updated-to-82.15.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update dependency community.general to v12.5.0
  ansible/requirements.yaml
  docs/_releasenotes/2405.chore.community.general-updated-to-12.5.0
Due: yamllint

chore(deps): update helm release ingress-nginx to v4.15.1
  docs/_releasenotes/2333.change.ingress-nginx-updated-to-4.15.1
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

chore(deps): update helm release etcdbackup to v2
  docs/_releasenotes/2407.BREAKING.etcdbackup-updated-to-2.0.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v82.15.1
  docs/_releasenotes/2411.change.kube-prometheus-stack-updated-to-82.15.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update dependency devsec.hardening to v10.5.2
  ansible/requirements.yaml
  docs/_releasenotes/2410.chore.devsec.hardening-updated-to-10.5.2
Due: yamllint

chore(deps): update helm release prometheus-blackbox-exporter to v11.9.1
  docs/_releasenotes/2412.change.prometheus-blackbox-exporter-updated-to-11.9.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release tigera-operator to v3.30.7
  docs/_releasenotes/2384.change.tigera-operator-updated-to-v3.30.7
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

Update roles kubeadm-upgrade-apply and kubeadm-upgrade-node
  docs/_releasenotes/2325.fix.add-kubletconfig-check-before-upgrade
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-node/tasks/main.yaml
Due: yamllint

chore(deps): update helm release tigera-operator to v3.31.4
  docs/_releasenotes/2307.change.tigera-operator-updated-to-v3.31.4
  nix/yk8s/k8s-supplements/calico.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v82.16.0
  docs/_releasenotes/2414.change.kube-prometheus-stack-updated-to-82.16.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

CSI: Enable snapshots for in-use volumes
  docs/_releasenotes/2394.change.1.update-volumesnapshotclass
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/files/cinder/volume_snapshot_storage_class.yaml
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

chore(deps): update helm release etcdbackup to v2.0.1
  docs/_releasenotes/2415.change.etcdbackup-updated-to-2.0.1
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none
