Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Add grafana dashboard multicluster support if enabled
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  templates/config.template.toml
Due: none

fixup! Generate inventory using Nix
  nix/yk8s/miscellaneous.nix
Due: none

fixup! Generate inventory using Nix
  k8s-core/ansible/bootstrap.yaml
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
  k8s-core/ansible/roles/proxy-support/tasks/main.yaml
Due: yamllint

fixup! Generate inventory using Nix
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/default.nix
Due: none

Split off openstack from terraform section
  actions/lib.sh
  k8s-supplements/ansible/roles/calico-tigera-operator/default.nix
  k8s-supplements/ansible/roles/monitoring_common/default.nix
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
Due: shellcheck

Split off infra from terraform section
  actions/wg-up.sh
  k8s-supplements/ansible/roles/ipsec-vpn/default.nix
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/terraform.nix
  terraform/99-outputs.tf
  terraform/templates/final_networking.tpl
  terraform/templates/inventory.tpl
Due: tflint, shellcheck

flake: add terranix
  flake.lock
  flake.nix
  nix/yk8s/default.nix
Due: none

wip
  nix/yk8s/openstack/.terraform.lock.hcl
  nix/yk8s/openstack/00-provider.nix
  nix/yk8s/openstack/00-variables.tf
  nix/yk8s/openstack/01-discovery.nix
  nix/yk8s/openstack/10-networking.nix
  nix/yk8s/openstack/20-gateway.tf
  nix/yk8s/openstack/30-master-nodes.tf
  nix/yk8s/openstack/40-worker-nodes.tf
  nix/yk8s/openstack/50-object-storage.nix
  nix/yk8s/openstack/99-outputs.tf
  nix/yk8s/openstack/README.md
  nix/yk8s/openstack/default.nix
  nix/yk8s/openstack/templates/final_networking.tpl
  nix/yk8s/openstack/templates/inventory.tpl
  nix/yk8s/openstack/templates/object_storage.tpl
  nix/yk8s/openstack/templates/trampoline_gateways.tpl
  nix/yk8s/openstack/versions.nix
  terraform/00-provider.tf
  terraform/01-discovery.tf
  terraform/10-networking.tf
  terraform/50-object-storage.tf
  terraform/versions.tf
Due: tflint

fixup! wip
  nix/yk8s/default.nix
  nix/yk8s/openstack/00-variables.nix
  nix/yk8s/openstack/50-object-storage.nix
  nix/yk8s/openstack/default.nix
Due: none

fixup! Split off openstack from terraform section
  nix/yk8s/terraform.nix
Due: none

fixup! wip
  nix/yk8s/openstack/00-variables.nix
  nix/yk8s/openstack/00-variables.tf
Due: none

wipwipwip
  nix/yk8s/openstack/20-gateway.nixa
  nix/yk8s/openstack/20-gateway.tf
Due: none

working so far
  actions/apply-terraform.sh
  nix/yk8s/openstack/10-networking.nix
  nix/yk8s/openstack/default.nix
  nix/yk8s/openstack/versions.nix
Due: shellcheck

backend
  nix/yk8s/openstack/99-backend.nix
  nix/yk8s/openstack/99-outputs.tf
  nix/yk8s/openstack/default.nix
Due: none

Fix quick-start steps
  docs/user/guide/quick-start.rst
Due: build-docs-check

Add releasenote
  docs/_releasenotes/1483.feature.grafana-dashboard-support-multicluster
Due: none

Add releasenote
  docs/_releasenotes/1484.feature.prometheus-remote-write-support-basic-auth
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/1494.chore.2024-09-23T00:13:11+00:00
  flake.lock
  poetry.lock
Due: poetry-lock

chore(deps): update terraform openstack to v3
  docs/_releasenotes/1497.chore.2024-09-25T12:07:42+00:00
  terraform/versions.tf
Due: tflint

ci: push to nix cache in background
  ci/build-image.yaml
  docs/_releasenotes/1496.misc.nix-cache
Due: yamllint

pre-commit: exclude .nix files from EOF fixer
  .pre-commit-config.yaml
Due: yamllint

Add Nix to CI image
  .envrc.lib.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  ci/container-image/nix.conf
  ci/container-image/user-setup/group
  ci/container-image/user-setup/passwd
  ci/container-image/user-setup/shadow
  flake.nix
Due: shellcheck, yamllint

Fix cluster-health-verification with poetry2nix
  actions/verify-cluster-health.sh
  k8s-core/ansible/roles/cluster-health-verification/tasks/main.yaml
Due: shellcheck, yamllint

fixup! Remove Thanos query persistence option
  docs/_releasenotes/1500.docs.cleanup-thanos-query-size-leftovers
  docs/user/reference/cluster-configuration.rst
  k8s-supplements/ansible/roles/monitoring_thanos_v2/defaults/main.yml
Due: yamllint, build-docs-check

Mark thanos storegateway size immutable
  docs/_releasenotes/1498.fix.mark-thanos-storegateway-size-immutable
  docs/user/reference/cluster-configuration.rst
  templates/config.template.toml
Due: build-docs-check

Fix devshell reloading when updating python deps
  .envrc.lib.sh
  docs/_releasenotes/1495.fix.1.poetry2nix
Due: shellcheck

Fix cluster-health-verification with poetry2nix
  actions/verify-cluster-health.sh
  docs/_releasenotes/1495.fix.2.poetry2nix
  k8s-core/ansible/roles/cluster-health-verification/tasks/main.yaml
Due: shellcheck, yamllint

Update Prometheus Vault monitoring integration
  docs/_releasenotes/1456.change.rework-vault_v1-ansible-role
  k8s-supplements/ansible/roles/vault_v1/tasks/credentials.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/monitoring.yaml
  k8s-supplements/ansible/roles/vault_v1/templates/cronjob.yaml.j2
Due: yamllint

chore(deps): update dependency boto3 to v1.35.29
  docs/_releasenotes/1480.chore.2024-09-27T20:07:49+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update nixos/nix docker tag to v2.24.9
  ci/build-image.yaml
  docs/_releasenotes/1499.chore.2024-09-27T22:07:48+00:00
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/1502.chore.2024-09-30T00:13:01+00:00
  flake.lock
  poetry.lock
Due: poetry-lock

Remove default values from ci/config.toml
  ci/config/config.toml
Due: none

Add missing galaxy requirement
  ansible/requirements.yaml
Due: yamllint

Make all examples multi-line-strings
  nix/templates/module/example.nix
  nix/yk8s/assertions.nix
  nix/yk8s/default.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/storage.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/terraform.nix
Due: none

fixup! Generate inventory using Nix
  ci/config/default.nix
Due: none

Drop C&H specific Terraform defaults
  ci/config/default.nix
  nix/templates/cluster-repo/config/default.nix
  nix/templates/migration/config/default.nix
  nix/yk8s/terraform.nix
Due: none
