Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update version number and changelog for hotfix-release
  docs/_releasenotes/hotfix/2489.fix.ensure-cri-tools-package-is-installed
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2488.fix.ensure-cri-tools-package-is-installed
  version
Due: none

Fix Grafana Thanos datasource reload
  docs/_releasenotes/2464.fix.1.fix-grafana-thanos-datasource-reload
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

wip: add CI job to test proxmox support
  ci/config/default.nix
  ci/proxmox-config/default.nix
  ci/proxmox-config/overrides.nix
  ci/proxmox-config/overrides.toml
Due: none

Increase timeout of initial SSH connection check
  docs/_releasenotes/2492.change.ssh-readiness-timeout-increased-to-15min
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/main.yaml
Due: yamllint

Reduce nvidia-container-runtime log level
  docs/_releasenotes/2490.change.1.reduce-ncr-loglevel
  k8s-core/ansible/roles/nvidia-container-toolkit/tasks/main.yaml
Due: yamllint

Fix docs reference in .envrc
  docs/_releasenotes/2494.misc.reference-in-envrc-fixed
  nix/templates/cluster-repo/.envrc
Due: none

nix/config: Require gateway nodes for Wireguard
  docs/_releasenotes/2495.change.nix-config-gateway-nodes-required-for-wireguard
  nix/yk8s/k8s-supplements/wireguard/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.wireguard.rst
Due: build-docs-check

nix/config: Relocate warnings from apply functions
  docs/_releasenotes/2381.misc.1.nix-config-warnings-relocated-from-apply-functions
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/lib/transform.nix
  nix/yk8s/load-balancing.nix
  nix/yk8s/node-scheduling.nix
Due: none

nix/config: Warn when config.yk8s.infra.subnet{,_v6}_cidr is ignored
  docs/_releasenotes/2381.misc.3.nix-config-warning-when-infra-subnet_cidr-ignored
  nix/yk8s/infra.nix
Due: none

nix/config: Relocate assertions from apply functions
  docs/_releasenotes/2381.misc.2.nix-config-assertions-relocated-from-apply-functions
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/k8s-local-path-provisioner.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update Helm release etcdbackup to v2.1.0
  docs/_releasenotes/x.change.etcdbackup-updated-to-2.1.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update Helm release etcdbackup to v2.2.0
  docs/_releasenotes/x.change.etcdbackup-updated-to-2.2.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update dependency community.general to v12.6.1
  ansible/requirements.yaml
  docs/_releasenotes/2496.chore.community.general-updated-to-12.6.1
Due: yamllint

Update Helm release rook-ceph to v1.18.11
  docs/_releasenotes/2497.change.rook-ceph-updated-to-v1.18.11
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Update dependency devsec.hardening to v10.6.0
  ansible/requirements.yaml
  docs/_releasenotes/2499.chore.devsec.hardening-updated-to-10.6.0
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

Update Helm release openstack-cloud-controller-manager to v2.36.0
  docs/_releasenotes/2504.change.openstack-cloud-controller-manager-updated-to-2.36.0
  nix/yk8s/openstack/default.nix
Due: none

Update Helm release openstack-cinder-csi to v2.36.0
  docs/_releasenotes/2503.change.openstack-cinder-csi-updated-to-2.36.0
  nix/yk8s/openstack/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

Update dependency community.general to v13
  ansible/requirements.yaml
  docs/_releasenotes/2505.chore.community.general-updated-to-13.0.1
Due: yamllint

Update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2498.chore.kubernetes-kubernetes-updated-to-v1.35.5
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Update Helm release etcdbackup to v2.3.0
  docs/_releasenotes/2502.change.etcdbackup-updated-to-2.3.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Make use of lib.types.addCheck
  nix/yk8s/lib/types/k8s.nix
Due: none

Update Helm release kube-prometheus-stack to v86
  docs/_releasenotes/2506.BREAKING.kube-prometheus-stack-updated-to-86.1.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Update Helm release prometheus-blackbox-exporter to v11.11.0
  docs/_releasenotes/2509.change.prometheus-blackbox-exporter-updated-to-11.11.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Lock file maintenance
  docs/_releasenotes/2512.chore.-updated-to-
  flake.lock
Due: none

destroy.sh: remove obsolete commands
  actions/destroy.sh
Due: shellcheck

destroy.sh: add support for bare-metal clusters
  actions/destroy.sh
  docs/_releasenotes/2273.feature.1.destroy-bare-metal
  docs/user/reference/actions-references.rst
  k8s-core/ansible/destroy.yaml
Due: shellcheck, yamllint, build-docs-check

Fix AFLAGS to not do glob expansion
  actions/lib.sh
  docs/_releasenotes/2456.fix.1.flag-variables
Due: shellcheck

Fix TAROOK_NIX_FLAGS to allow multiple flags
  actions/update-inventory.sh
  docs/_releasenotes/x.fix.1.flag-variables
Due: shellcheck

nix/config: Fix `defaultText`s
  docs/_releasenotes/2515.docs.defaultTexts-in-nix-config-fixed
  docs/user/reference/options/yk8s.ipsec.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.kubernetes.local_storage.dynamic.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.vault.rst
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/k8s-local-path-provisioner.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/vault.nix
Due: build-docs-check

nix/config: Specify missing type
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  nix/yk8s/k8s-supplements/calico.nix
Due: build-docs-check

wip: proxmox: add support for qemu-guest-agent
  nix/yk8s/lib/default.nix
  nix/yk8s/proxmox/default.nix
  nix/yk8s/proxmox/terraform.nix
Due: none
