Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Add guide for self-managed bm simulation
  docs/_releasenotes/1231.docs.add-bm-sim
  docs/developer/guide/index.md
  docs/developer/guide/simulate-bm.rst
Due: build-docs-check

load balancing
  actions/update_inventory.py
  module.nix
  nix/load-balancing.nix
  templates/config.template.toml
Due: flake8

WIP: Generate inventory using Nix
  .gitignore
  actions/update_inventory.py
  flake.nix
  module.nix
  nix/vault.nix
  templates/config.template.toml
Due: flake8

create inventory dir
  flake.nix
  module.nix
  nix/load-balancing.nix
  nix/vault.nix
Due: none

add deprecation warning
  module.nix
  nix/load-balancing.nix
Due: none

add traces
  module.nix
  nix/wireguard.nix
Due: none

WIP: add wireguard module
  module.nix
  nix/wireguard.nix
Due: none

TMP: enable debug
  flake.nix
Due: none

WIP: filterNull
  module.nix
Due: none

add import functions
  flake.nix
Due: none

load-balancing: support explicit form
  nix/load-balancing.nix
Due: none

export module
  flake.nix
Due: none

prefer local build
  module.nix
Due: none

lbaas module
  actions/update_inventory.py
  module.nix
  nix/ch-k8s-lbaas.nix
  templates/config.template.toml
Due: flake8

pre-commit: check all nix files
  .pre-commit-config.yaml
Due: yamllint

add template
  flake.nix
  nix/templates/cluster-repo/config/default.nix
  nix/templates/cluster-repo/flake.nix
Due: none

move module to own subdir
  flake.nix
  nix/module/ch-k8s-lbaas.nix
  nix/module/default.nix
  nix/module/load-balancing.nix
  nix/module/vault.nix
  nix/module/wireguard.nix
Due: none

Describe OpenStack credential rotation
  docs/_releasenotes/1266.feature.openstack-credential-rotation
  docs/user/guide/index.md
  docs/user/guide/rotate-openstack-credentials.rst
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/handlers/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/tasks/main.yaml
Due: yamllint, build-docs-check

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-05-27T00:06:39+00:00
  poetry.lock
Due: poetry-lock

Update `CHANGELOG.rst` and version for next release v5.1.2
  CHANGELOG.rst
  docs/_releasenotes/+.chore.2024-05-11T14:05:00+00:00
  docs/_releasenotes/+.chore.2024-05-13T00:08:01+00:00
  docs/_releasenotes/+.chore.2024-05-22T13:23:14+00:00
  docs/_releasenotes/+.chore.2024-05-22T13:23:23+00:00
  docs/_releasenotes/+.chore.2024-05-22T14:31:44+00:00
  docs/_releasenotes/+.chore.2024-05-22T16:06:35+00:00
  docs/_releasenotes/+.chore.2024-05-23T00:07:01+00:00
  docs/_releasenotes/+.misc.release-v5.1.0
  docs/_releasenotes/1188.change.thanos-version-upgrade
  docs/_releasenotes/1189.docs.terraform
  docs/_releasenotes/1230.misc.fixup-terraform-variable-descriptions
  docs/_releasenotes/1231.docs.add-bm-sim
  docs/_releasenotes/1235.misc.replace-python-json-yaml-toml-oneliners
  docs/_releasenotes/1236.change
  docs/_releasenotes/1245.change.terraform_volumeV3
  docs/_releasenotes/1247.docs.vault-dependencies
  docs/_releasenotes/1252.removal.service-account-issuer-patch
  docs/_releasenotes/1253.removal.k8s-v1.26
  docs/_releasenotes/1255.fix.warning_on_mriid
  version
Due: none

Use short-lived kubeconfigs on orchestrator
  actions/k8s-login.sh
  docs/_releasenotes/1178.BREAKING.short-lived-kubeconfig
  docs/user/guide/faq.rst
  docs/user/reference/actions-references.rst
  k8s-core/ansible/k8s-login.yaml
  k8s-core/ansible/roles/k8s-login/meta/main.yaml
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  poetry.lock
  pyproject.toml
  templates/envrc.template.sh
  templates/template.gitignore
Due: shellcheck, yamllint, poetry-lock, build-docs-check

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

Add keyring backend variable to env template
  docs/_releasenotes/1269.docs.poetry-keyring-env
  templates/yaook-k8s-env.template.sh
Due: shellcheck

docs add hints for terraform config
  docs/_releasenotes/1246.docs.terraform_hint
  docs/user/guide/quick-start.rst
  docs/user/tutorial/create-cluster.rst
Due: build-docs-check

kubernetes module
  actions/update_inventory.py
  nix/module/default.nix
  nix/module/kubernetes/default.nix
  nix/module/kubernetes/global-monitoring.nix
  nix/module/kubernetes/kubelet.nix
  nix/module/kubernetes/monitoring.nix
  nix/module/kubernetes/network.nix
  nix/module/kubernetes/storage.nix
  nix/module/wireguard.nix
  templates/config.template.toml
Due: flake8

Trigger MR to devel for release-prepare/v5.1.2
  docs/_releasenotes/+.misc.release-v5.1.2
Due: none

warnIf
  nix/module/ch-k8s-lbaas.nix
  nix/module/default.nix
  nix/module/kubernetes/storage.nix
  nix/module/load-balancing.nix
Due: none

implement variable flattening
  nix/module/default.nix
Due: none

mkTopSection
  nix/module/ch-k8s-lbaas.nix
  nix/module/default.nix
  nix/module/kubernetes/default.nix
  nix/module/load-balancing.nix
  nix/module/vault.nix
  nix/module/wireguard.nix
Due: none

node-scheduling module
  actions/update_inventory.py
  nix/module/default.nix
  nix/module/node-scheduling.nix
  templates/config.template.toml
Due: flake8

implement filterDisabled
  nix/module/default.nix
Due: none

fixes
  nix/module/ch-k8s-lbaas.nix
  nix/module/default.nix
Due: none

testing module
  actions/update_inventory.py
  nix/module/default.nix
  nix/module/testing.nix
  templates/config.template.toml
Due: flake8

ipsec module
  actions/update_inventory.py
  nix/module/default.nix
  nix/module/ipsec.nix
  templates/config.template.toml
Due: flake8

add ipv4 types
  nix/module/ch-k8s-lbaas.nix
  nix/module/default.nix
Due: none

terraform module
  actions/update_inventory.py
  nix/module/default.nix
  nix/module/terraform.nix
  templates/config.template.toml
Due: flake8

custom module
  actions/update_inventory.py
  nix/module/custom.nix
  nix/module/default.nix
  templates/config.template.toml
Due: flake8

nvidia module
  actions/update_inventory.py
  nix/module/default.nix
  nix/module/nvidia.nix
  templates/config.template.toml
Due: flake8

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-06-03T00:06:31+00:00
  poetry.lock
Due: poetry-lock

poetry: disable package mode
  .envrc.lib.sh
  pyproject.toml
Due: shellcheck, poetry-lock
