Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

thanos: fix retention variable name
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
Due: none

chore(deps): update dependency flake8 to v7.1.0
  docs/_releasenotes/1306.chore.2024-06-15T22:07:16+00:00
  poetry.lock
Due: poetry-lock

add todo
  nix/module/kubernetes/network.nix
Due: none

chore(deps): update dependency kubernetes-validate to v1.30.0
  docs/_releasenotes/+.chore.2024-06-17T14:07:21+00:00
  poetry.lock
Due: poetry-lock

Add link to Gitlab releases
  docs/_releasenotes/1308.docs.link-to-releases
  docs/index.md
Due: build-docs-check

chore(deps): update dependency ansible to v9.7.0
  docs/_releasenotes/1309.chore.2024-06-18T11:57:39+00:00
  poetry.lock
Due: poetry-lock

Configure SSH pipelining
  ansible/ansible.cfg
Due: none

Move vault-onboarded to bootstrap
  k8s-core/ansible/connect-to-nodes.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/files/vault-login.sh
  k8s-core/ansible/roles/bootstrap/vault-onboarded/files/with-vault.sh
  k8s-core/ansible/roles/bootstrap/vault-onboarded/meta/main.yml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/get_cert.yml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
Due: shellcheck, yamllint

Enable manual SSH host key signing and verification
  ansible/ansible.cfg
  k8s-core/ansible/connect-to-nodes.yaml
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/manual-renewal.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/sign-host-key.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/templates/ssh_known_hosts.j2
  k8s-core/ansible/vars/etc.yaml
  tools/vault/init.sh
Due: shellcheck, yamllint

Enable automatic SSH host key signing and verification
  k8s-core/ansible/bootstrap.yaml
  k8s-core/ansible/connect-to-nodes.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/files/renew-ssh-certificates.service
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/files/renew-ssh-certificates.timer
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/deploy-automation.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/templates/get-ssh-cert.sh.j2
  k8s-core/ansible/roles/bootstrap/vault-cli/files/hashicorp-archive-keyring.gpg
  k8s-core/ansible/roles/bootstrap/vault-cli/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/files/vault-login.sh
  k8s-core/ansible/roles/bootstrap/vault-onboarded/files/with-vault.sh
  k8s-core/ansible/roles/bootstrap/vault-onboarded/meta/main.yml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yml
  k8s-core/ansible/vars/vault-config.yaml
Due: shellcheck, yamllint

Speed things up
  ansible/ansible.cfg
  k8s-core/ansible/connect-to-nodes.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yml
Due: yamllint

docs: SSH host key verification
  docs/_releasenotes/1272.BREAKING.ssh-key-verification
  docs/user/explanation/index.md
  docs/user/explanation/ssh-host-key.rst
  docs/user/guide/faq.rst
Due: build-docs-check

chore(deps): update dependency hvac to v2.3.0
  docs/_releasenotes/1310.chore.2024-06-18T16:06:59+00:00
  poetry.lock
Due: poetry-lock

ingress module
  actions/update_inventory.py
  k8s-supplements/ansible/roles/ingress_v1/default.nix
  templates/config.template.toml
Due: flake8

flake.nix: use flake-parts
  flake.lock
  flake.nix
Due: none

WIP: generate docs
  flake.lock
  flake.nix
Due: none

Refine PKI renewal during K8s upgrades
  docs/_releasenotes/1251.change.slim-k8s-upgrade
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
  k8s-core/ansible/roles/helpers/vault-approle/tasks/main.yml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/provide-ca-as-cm.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-cas.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint, build-docs-check

Fix releasenote
  docs/_releasenotes/1178.BREAKING.short-lived-kubeconfig
  docs/_releasenotes/1311.chore.fix-rl
Due: none

Add missing MR IDs after !1294
  docs/_releasenotes/+.chore.2024-05-27T00:06:39+00:00
  docs/_releasenotes/+.chore.2024-06-03T00:06:31+00:00
  docs/_releasenotes/+.chore.2024-06-04T18:07:10+00:00
  docs/_releasenotes/+.chore.2024-06-06T06:06:16+00:00
  docs/_releasenotes/+.chore.2024-06-06T16:06:26+00:00
  docs/_releasenotes/+.chore.2024-06-10T00:07:43+00:00
  docs/_releasenotes/+.chore.2024-06-17T14:07:21+00:00
  docs/_releasenotes/1268.chore.2024-05-27T00:06:39+00:00
  docs/_releasenotes/1271.misc.release-v5.1.2
  docs/_releasenotes/1276.chore.2024-06-03T00:06:31+00:00
  docs/_releasenotes/1281.chore.2024-06-04T18:07:10+00:00
  docs/_releasenotes/1282.chore.2024-06-06T06:06:16+00:00
  docs/_releasenotes/1287.chore.2024-06-06T16:06:26+00:00
  docs/_releasenotes/1296.chore.2024-06-10T00:07:43+00:00
  docs/_releasenotes/1307.chore.2024-06-17T14:07:21+00:00
  docs/_releasenotes/1312.chore.rl-add-mr-ids
Due: none

Drop unused handler
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v1/handlers/main.yaml
Due: yamllint

Add wg_endpoint to environment variable reference
  docs/_releasenotes/1313.docs.wg-endpoint
  docs/user/reference/environmental-variables.rst
Due: build-docs-check

Complement docs for ch-k8s-lbaas
  docs/_releasenotes/1315.docs.lbaas-os-rot
  docs/user/guide/rotate-openstack-credentials.rst
Due: build-docs-check

Generate new kubeconfig before each root CA rotation step
  actions/rotate-root-ca.sh
  docs/_releasenotes/1316.fix.root-ca-rotation-kubeconfig-renewal-before
Due: shellcheck

Add option to keep ca.key
  docs/_releasenotes/1219.fix.restore-k8s-certificate-signing-ability
  k8s-core/ansible/roles/k8s-master/defaults/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  templates/config.template.toml
Due: yamllint

Backup K8s cluster root CA to Vault kv store
  docs/_releasenotes/1219.fix.restore-k8s-certificate-signing-ability
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  tools/vault/lib.sh
  tools/vault/mkcluster-root.sh
  tools/vault/rotate-root-ca-root.sh
Due: shellcheck, yamllint

Provision K8s cluster root CA from Vault
  docs/_releasenotes/1219.BREAKING.restore-k8s-certificate-signing-ability
  docs/_releasenotes/1219.fix.restore-k8s-certificate-signing-ability
  docs/user/guide/kubernetes/index.md
  docs/user/guide/kubernetes/restore-certificate-signing-ability.rst
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
  templates/config.template.toml
  tools/vault/init.sh
Due: shellcheck, yamllint, build-docs-check

Upgrade ch-k8s-lbaas to 0.8.0
  ci/config/config.toml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/defaults/main.yaml
  templates/config.template.toml
Due: yamllint

Drop deprecated vault policies
  docs/_releasenotes/1318.removal.deprecated-vault-policies
  tools/vault/init.sh
Due: shellcheck

Update dependency kubernetes.core to v3.2.0
  ansible/requirements.yaml
  docs/_releasenotes/1320.chore.2024-06-21T16:07:41+00:00
Due: yamllint

Update dependency ansible-lint to v24.6.1
  docs/_releasenotes/1319.chore.2024-06-21T16:07:20+00:00
  poetry.lock
Due: poetry-lock

Update dependency kubernetes.core to v5
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.2024-06-22T04:05:48+00:00
Due: yamllint

Lock file maintenance
  docs/_releasenotes/1321.chore.2024-06-24T00:07:01+00:00
  poetry.lock
Due: poetry-lock

Update dependency boto3 to v1.34.132
  docs/_releasenotes/1322.chore.2024-06-25T00:07:02+00:00
  poetry.lock
Due: poetry-lock

Test direnv in CI
  .gitlab-ci.yml
  ci/cluster-tests.yaml
  ci/hotfix-prepare.yaml
  ci/release.yaml
  flake.nix
Due: yamllint

Add missing dependencies
  flake.nix
Due: none

Add CI stage to build container image
  .gitignore
  .gitlab-ci.yml
  ci/build-image.yaml
  ci/cluster-tests.yaml
  ci/container-image/README.md
  ci/container-image/default.nix
  ci/container-image/gitconfig
  ci/container-image/known_hosts
  ci/container-image/openrc_f1a.sh
  ci/diagnostic-tools.yaml
  ci/hotfix-prepare.yaml
  ci/release.yaml
  docs/_releasenotes/1175.change.nix-ci-image
  flake.nix
Due: shellcheck, yamllint

Fix shebang of detect-vault-image.sh
  actions/detect-vault-image.sh
Due: shellcheck

Change registry for image
  docs/_releasenotes/x.change.local-path-image
  k8s-supplements/ansible/roles/k8s-local-storage-controller/templates/provisioner.yaml.j2
Due: none
