Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Move monitoring common labels to vars file
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/install-cert-manager.yaml
  k8s-supplements/ansible/install-ingress.yaml
  k8s-supplements/ansible/install-monitoring.yaml
  k8s-supplements/ansible/install-rook-ceph.yaml
  k8s-supplements/ansible/install-vault.yaml
  k8s-supplements/ansible/roles/monitoring_v2/defaults/main.yaml
  k8s-supplements/ansible/vars/monitoring.yaml
Due: yamllint

Use general on_openstack variable for rook
  docs/_releasenotes/823.change.rook-on-openstack
  k8s-supplements/ansible/roles/rook_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/rook_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/rook_v1/templates/v1.6/cluster.yaml
  k8s-supplements/ansible/roles/rook_v1/templates/v1.7/cluster.yaml
  k8s-supplements/ansible/roles/rook_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/upgrade_from_v1_cluster.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/upgrade_from_v1_operator.yaml
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
Due: yamllint

Update dependency ansible-lint to v24.2.2
  docs/_releasenotes/+.chore.2024-04-09T16:05:35+00:00
  poetry.lock
Due: poetry-lock

Trigger MR to devel for release-prepare/v3.0.2
  docs/_releasenotes/+.misc.release-v3.0.2
Due: none

Fix tagging for patch-releases
  ci/release.yaml
  docs/_releasenotes/1169.fix.patch-tagging
Due: yamllint

Change of the proposed hotfix-procedure
  docs/_releasenotes/1171.fix.hotfix-conflicts
  docs/concepts/release-and-versioning-policy.rst
  docs/development/coding-guide.rst
  docs/img/hotfix.drawio
  docs/img/hotfix.svg
Due: build-docs-check

Change release note category
  docs/_releasenotes/823.removal.rook-on-openstack
Due: none

Use ServiceMonitor from etcd-backup Helm chart
  docs/_releasenotes/1131.change.etcd-backup-servicemonitor
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/templates/etcd_backup.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/etcd-backup.yaml.j2
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_managed_services.yaml
Due: yamllint

Disable -rc tagging
  ci/release.yaml
  docs/_releasenotes/1170.chore.remove-rc-tag
Due: yamllint

Fix hotfix-process
  ci/hotfix-prepare.yaml
  docs/_releasenotes/1172.fix.fotfix-process
Due: yamllint

chore(deps): update dependency boto3 to v1.34.82
  docs/_releasenotes/+.chore.2024-04-10T20:06:00+00:00
  poetry.lock
Due: poetry-lock

Streamline Thanos bucket management
  actions/update_inventory.py
  docs/_releasenotes/1173.docs.thanos-manage
  templates/config.template.toml
  terraform/00-variables.tf
Due: tflint, flake8

Remove Thanos query persistence option
  docs/_releasenotes/1174.removal.thanos-query-persistence
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  templates/config.template.toml
Due: none

Add CI image to flake.nix
  .gitignore
  ci/container-image/README.md
  ci/container-image/known_hosts
  ci/container-image/openrc_f1a.sh
  flake.lock
  flake.nix
Due: shellcheck

flake.nix: use flake-parts
  flake.lock
  flake.nix
Due: none

Test CI with Nix image
  .gitlab-ci.yml
  ci/container-image/default.nix
Due: yamllint

Add debug deps
  flake.nix
Due: none

move ci image to subdir
  ci/container-image/default.nix
  flake.nix
Due: none

Add gcc to deps
  flake.nix
Due: none

Set maxLayers to 100
  ci/container-image/default.nix
Due: none

fixup! fixup! try to fix virtualenv
  .gitlab-ci.yml
Due: yamllint

fixup! try to fix virtualenv
  .gitlab-ci.yml
Due: yamllint

try to fix virtualenv
  .gitlab-ci.yml
Due: yamllint

Add release note
  docs/_releasenotes/x.change.nix-ci-image
Due: none

add git to ciDeps
  ci/container-image/default.nix
  flake.nix
Due: none

try to build image in ci
  .gitlab-ci.yml
  ci/build-image.yaml
  ci/container-image/default.nix
Due: yamllint

add yaook nix cache
  ci/build-image.yaml
Due: yamllint

fixup! add yaook nix cache
  ci/build-image.yaml
Due: yamllint

try to push directly
  ci/build-image.yaml
  docs/_releasenotes/1175.change.nix-ci-image
Due: yamllint

fixup! Add gcc to deps
  flake.nix
Due: none

sort dependencies
  flake.nix
Due: none

use skopeo to copy
  ci/build-image.yaml
  flake.nix
Due: yamllint

fixup! use skopeo to copy
  ci/build-image.yaml
Due: yamllint

use commit sha as tag
  ci/build-image.yaml
Due: yamllint

chore(deps): update dependency boto3 to v1.34.84
  docs/_releasenotes/+.chore.2024-04-12T20:05:42+00:00
  poetry.lock
Due: poetry-lock

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-04-15T00:07:00+00:00
  poetry.lock
Due: poetry-lock

Fix kubeconfig reference
  ci/diagnostic-tools.yaml
Due: yamllint

Update `CHANGELOG.rst` and version for next release v4.0.0
  CHANGELOG.rst
  docs/_releasenotes/+.chore.2024-04-09T16:05:35+00:00
  docs/_releasenotes/+.chore.2024-04-10T20:06:00+00:00
  docs/_releasenotes/+.misc.release-v3.0.2
  docs/_releasenotes/1131.change.etcd-backup-servicemonitor
  docs/_releasenotes/1169.fix.patch-tagging
  docs/_releasenotes/1170.chore.remove-rc-tag
  docs/_releasenotes/1171.fix.hotfix-conflicts
  docs/_releasenotes/1172.fix.fotfix-process
  docs/_releasenotes/1173.docs.thanos-manage
  docs/_releasenotes/1174.removal.thanos-query-persistence
  docs/_releasenotes/823.BREAKING.core-split-first-serve
  docs/_releasenotes/823.change.enable-custom-stage-default
  docs/_releasenotes/823.removal.rook-on-openstack
  version
Due: none

Trigger MR to devel for release-prepare/v4.0.0
  docs/_releasenotes/+.misc.release-v4.0.0
Due: none

WIP: base image + f1a
  ci/container-image/default.nix
  flake.nix
Due: none
