Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Drop support for K8s v1.30
  ci/cluster-tests.yaml
  docs/_releasenotes/1967.removal.1.k8s-v1.30
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/tasks/main.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.30.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.31.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

docs: Adjust link to releases
  docs/_releasenotes/2003.docs.1.alter-link-releases
  docs/index.md
Due: build-docs-check

Switch to kubeadm Configuration v1beta4
  docs/_releasenotes/1968.chore.1.rework-kubeadm-config
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-join-config.yaml.j2
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-join-config.yaml.j2
Due: none

renovate: Fix customManager for default helm chart versions
  renovate.json
Due: none

renovate: Create separate MRs for each major/minor update
  renovate.json
Due: none

renovate: Manage Kubernetes versions
  ci/cluster-tests.yaml
  docs/_releasenotes/1748.chore.1.renovate-bot-kubernetes-versions
  nix/yk8s/kubernetes/default.nix
  renovate.json
Due: yamllint

chore(deps): update helm release prometheus-blackbox-exporter to v11.2.2
  docs/_releasenotes/x.change.prometheus-blackbox-exporter-updated-to-11.2.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release rook-ceph to v1.16.9
  docs/_releasenotes/x.change.rook-ceph-updated-to-v1.16.9
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update dependency community.general to v11.2.1
  ansible/requirements.yaml
  docs/_releasenotes/x.chore.community.general-updated-to-11.2.1
Due: yamllint

chore(deps): update dependency kubernetes.core to v6.1.0
  ansible/requirements.yaml
  docs/_releasenotes/x.chore.kubernetes.core-updated-to-6.1.0
Due: yamllint

chore(deps): update dependency kubernetes/kubernetes to v1.32.8
  ci/cluster-tests.yaml
  docs/_releasenotes/x.chore.kubernetes-kubernetes-updated-to-v1.32.8
Due: yamllint

chore(deps): update dependency kubernetes/kubernetes to v1.33.4
  ci/cluster-tests.yaml
  docs/_releasenotes/x.chore.kubernetes-kubernetes-updated-to-v1.33.4
Due: yamllint

chore(deps): update helm release flux2 to v2.10.6
  docs/_releasenotes/x.change.flux2-updated-to-2.10.6
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

chore(deps): update helm release flux2 to v2.11.1
  docs/_releasenotes/x.change.flux2-updated-to-2.11.1
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

chore(deps): update helm release flux2 to v2.12.4
  docs/_releasenotes/x.change.flux2-updated-to-2.12.4
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

chore(deps): update helm release flux2 to v2.13.0
  docs/_releasenotes/x.change.flux2-updated-to-2.13.0
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

chore(deps): update helm release flux2 to v2.14.1
  docs/_releasenotes/x.change.flux2-updated-to-2.14.1
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

chore(deps): update helm release flux2 to v2.15.0
  docs/_releasenotes/x.change.flux2-updated-to-2.15.0
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

chore(deps): update helm release flux2 to v2.16.4
  docs/_releasenotes/x.change.flux2-updated-to-2.16.4
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

chore(deps): update helm release rook-ceph to v1.17.7
  docs/_releasenotes/x.change.rook-ceph-updated-to-v1.17.7
  nix/yk8s/k8s-supplements/rook.nix
Due: none

chore(deps): update dependency amazon.aws to v8
  ansible/requirements.yaml
  docs/_releasenotes/x.chore.amazon.aws-updated-to-8.2.3
Due: yamllint

chore(deps): update dependency amazon.aws to v9
  ansible/requirements.yaml
  docs/_releasenotes/x.chore.amazon.aws-updated-to-9.5.1
Due: yamllint

chore(deps): update dependency community.aws to v7
  ansible/requirements.yaml
  docs/_releasenotes/x.chore.community.aws-updated-to-7.2.0
Due: yamllint

chore(deps): update dependency community.aws to v8
  ansible/requirements.yaml
  docs/_releasenotes/x.chore.community.aws-updated-to-8.1.0
Due: yamllint

chore(deps): update dependency community.aws to v9
  ansible/requirements.yaml
  docs/_releasenotes/x.chore.community.aws-updated-to-9.3.0
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v74
  docs/_releasenotes/x.BREAKING.kube-prometheus-stack-updated-to-74.2.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v11.2.2
  docs/_releasenotes/2048.change.prometheus-blackbox-exporter-updated-to-11.2.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update dependency community.general to v11.2.1
  ansible/requirements.yaml
  docs/_releasenotes/2049.chore.community.general-updated-to-11.2.1
Due: yamllint

config: Fix type of thanos_objectstorage_container_name
  docs/_releasenotes/2047.fix.1.config-type-of-yk8s-k8s-service-layer-prometheus-thanos_objectstorage_container_name-fixed
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  nix/tests/test_yk8s/test_lib/test_types.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/lib/types.nix
Due: build-docs-check

config: Fix type of yk8s.infra.cluster_name
  docs/_releasenotes/2047.fix.2.config-type-of-yk8s-infra-cluster_name-fixed
  docs/user/reference/options/yk8s.infra.rst
  nix/tests/test_yk8s/test_lib/test_types.nix
  nix/yk8s/lib/types.nix
Due: build-docs-check

Improve command to remove ignored files from git index
  CHANGELOG.rst
  actions/release-migrations/a-01-update-gitignore.sh
  docs/_releasenotes/2047.misc.1.command-to-remove-gitignored-files-from-git-index-improved
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  version
Due: none

Restructure CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
  actions/detect-vault-image.sh
  ci/custom-play.yaml
  ci/res/ansible-lint-conf
  ci/res/custom-play.yaml
  ci/res/towncrier.toml
  ci/scripts/after_script_cleanup.sh
  ci/scripts/check-flake.sh
  ci/scripts/check-key-expiry.sh
  ci/scripts/check-releasenote-file.py
  ci/scripts/clean-up-os-project.py
  ci/scripts/create_renovate_release_note.sh
  ci/scripts/format-flake.sh
  ci/scripts/lib.sh
  ci/scripts/portable-shebangs.sh
  ci/scripts/render-options.sh
  ci/scripts/test.sh
  ci/stages/build-image.yaml
  ci/stages/cluster-tests.yaml
  ci/stages/diagnostic-tools.yaml
  ci/stages/hotfix-prepare.yaml
  ci/stages/housekeeping.yaml
  ci/stages/lint.yaml
  ci/stages/release.yaml
  ci/stages/tag-image.yaml
  ci/stages/unit-tests.yaml
  docs/_releasenotes/2050.chore.1.restructure-ci
  renovate.json
Due: shellcheck, yamllint, flake8

chore(deps): update dependency kubernetes.core to v6.1.0
  ansible/requirements.yaml
  docs/_releasenotes/2052.chore.kubernetes.core-updated-to-6.1.0
Due: yamllint

config: Fix type of thanos_objectstorage_container_name
  docs/_releasenotes/hotfix/2053.fix.1.config-type-of-yk8s-k8s-service-layer-prometheus-thanos_objectstorage_container_name-fixed
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  nix/tests/test_yk8s/test_lib/test_types.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/lib/types.nix
Due: build-docs-check

config: Fix type of yk8s.infra.cluster_name
  docs/_releasenotes/hotfix/2053.fix.2.config-type-of-yk8s-infra-cluster_name-fixed
  docs/user/reference/options/yk8s.infra.rst
  nix/tests/test_yk8s/test_lib/test_types.nix
  nix/yk8s/lib/types.nix
Due: build-docs-check

Improve command to remove ignored files from git index
  CHANGELOG.rst
  actions/release-migrations/a-01-update-gitignore.sh
  docs/_releasenotes/hotfix/2053.misc.1.command-to-remove-gitignored-files-from-git-index-improved
Due: shellcheck
