Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Drop IPSec support
  actions/release-migrations/v15-10-require-vault-policies-update.sh
  ci/cluster-tests.yaml
  ci/config/default.nix
  docs/_releasenotes/2382.removal.ipsec-dropped
  docs/img/cluster-user-interaction.svg
  docs/img/high-level-architecture.svg
  docs/user/explanation/vpn/index.md
  docs/user/explanation/vpn/ipsec.rst
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.ipsec.rst
  docs/user/reference/vault-tools-references.rst
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/defaults/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/files/charon-systemd.conf
  k8s-supplements/ansible/roles/ipsec-vpn/meta/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/10-swanctl-notify.sh.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.client.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
  k8s-supplements/ansible/test-roles/check-ipsec/defaults/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/meta/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/templates/busybox-ping-job.yaml.j2
  k8s-supplements/ansible/test.yaml
  nix/tests/test_yk8s/test_lib/test_types/test_networking.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/lib/types/networking.nix
  tools/vault/init.sh
  tools/vault/lib.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

nix/config: Introduce wireguard endpoint IP
  docs/_releasenotes/2391.feature.nix-config-wireguard-endpoint-ip-introduced
  docs/user/reference/options/yk8s.wireguard.rst
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_client_with_k8s.conf.j2
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/openstack/default.nix
Due: build-docs-check

Update Helm release openstack-cloud-controller-manager to v2.36.1
  docs/_releasenotes/2589.dependency.openstack-cloud-controller-manager-updated-to-2.36.1
  nix/yk8s/openstack/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

Lock file maintenance
  docs/_releasenotes/2590.dependency.-updated-to-
  flake.lock
Due: none

Fix syncing kubeadm patches to CP only
  docs/_releasenotes/hotfix/2586.fix.1.kubeadm
  k8s-core/ansible/roles/k8s-master/meta/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
Due: yamllint

CI: Run hotfix release note preparation conditionally
  ci/hotfix-prepare.yaml
Due: yamllint

Ensure rsync is installed for kubeadm patches synchronization
  docs/_releasenotes/hotfix/2586.fix.2.rsync
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
Due: yamllint

Allow all host identifiers in SSH host certs
  docs/_releasenotes/hotfix/2578.change.all-host-identifiers-allowed-as-principals-in-ssh-host-certs
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yaml
Due: yamllint

Use principals in SSH host certs
  docs/_releasenotes/hotfix/2578.fix.principals-used-in-ssh-host-certs
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/sign-host-key.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/templates/get-ssh-cert.sh.j2
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yaml
Due: yamllint

Calico: Remove deprecated option
  docs/_releasenotes/2577.removal.1.calico-ebpf
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Fix default value of pythonIFD module
  docs/_releasenotes/hotfix/2574.fix.1.empty-pythonifd
  nix/yk8s/pythonIFD.nix
Due: none

Update nixpkgs-terraform157 digest to d10ce5f
  docs/_releasenotes/x.dependency.nixpkgs-terraform157-updated-to-
  flake.lock
  flake.nix
Due: none

Update nixpkgs-vault1148 digest to d10ce5f
  docs/_releasenotes/x.dependency.nixpkgs-vault1148-updated-to-
  flake.lock
  flake.nix
Due: none

Drop legacy release migration scripts
  actions/release-migrations/0-v14-terranix.sh
  actions/release-migrations/v13-envrc-kubeconfig.py
  docs/_releasenotes/2592.misc.1.drop-release-migration-scripts
Due: shellcheck, flake8

Deduplicate release notes for v14.0.0
  CHANGELOG.rst
Due: none

WIP: Support multi-document yaml files
  nix/yk8s/conf-vars.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/vault.nix
Due: none

WIP: Reimplement OpenBao setup
  k8s-supplements/ansible/install-openbao.yaml
  k8s-supplements/ansible/roles/openbao_on_k8s_v1/tasks/deploy.yaml
  k8s-supplements/ansible/roles/openbao_on_k8s_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/openbao_on_k8s_v1/tasks/setup-backups.yaml
  k8s-supplements/ansible/roles/openbao_on_k8s_v1/tasks/setup-monitoring.yaml
  k8s-supplements/ansible/roles/openbao_on_k8s_v1/tasks/undeploy.yaml
  k8s-supplements/ansible/roles/openbao_v1/meta/main.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/backup.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/bao_k8s_command.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/credentials.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/external_pki.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/internal_pki.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/monitoring.yaml
  k8s-supplements/ansible/roles/openbao_v1/tasks/unseal.yaml
  k8s-supplements/ansible/roles/openbao_v1/templates/api-service.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/backup.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/cronjob.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/external_ingress.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/openbao.yaml.j2
  k8s-supplements/ansible/roles/openbao_v1/templates/servicemonitor.yaml.j2
  nix/yk8s/k8s-supplements/openbao.nix
  nix/yk8s/k8s-supplements/openbao/default.nix
  nix/yk8s/lib/transform.nix
Due: yamllint

WIP: Support removal of cert-manager resources for OpenBao
  k8s-supplements/ansible/roles/openbao_on_k8s_v1/tasks/remove-pki.yaml
  nix/yk8s/k8s-supplements/openbao/pki-cert-manager-manifest.nix
Due: yamllint

WIP: Implement internal pki
  k8s-supplements/ansible/roles/openbao_on_k8s_v1/tasks/deploy.yaml
  k8s-supplements/ansible/roles/openbao_on_k8s_v1/tasks/remove-pki.yaml
  k8s-supplements/ansible/roles/openbao_on_k8s_v1/tasks/setup-pki.yaml
  nix/yk8s/k8s-supplements/openbao/default.nix
  nix/yk8s/k8s-supplements/openbao/pki-cert-manager-manifest.nix
Due: yamllint

Update Helm release prometheus-blackbox-exporter to v11.16.0
  docs/_releasenotes/2593.dependency.prometheus-blackbox-exporter-updated-to-11.16.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

CI: Fix run hotfix release note preparation conditionally
  ci/hotfix-prepare.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2574.fix.1.empty-pythonifd
  docs/_releasenotes/hotfix/2578.change.all-host-identifiers-allowed-as-principals-in-ssh-host-certs
  docs/_releasenotes/hotfix/2578.fix.principals-used-in-ssh-host-certs
  docs/_releasenotes/hotfix/2585.fix.tasks-for-gateways-skipped-when-no-gateways-configured
  docs/_releasenotes/hotfix/2586.fix.1.kubeadm
  docs/_releasenotes/hotfix/2586.fix.2.rsync
  version
Due: none

Update Helm release openstack-cinder-csi to v2.36.1
  docs/_releasenotes/2595.dependency.openstack-cinder-csi-updated-to-2.36.1
  nix/yk8s/openstack/default.nix
Due: none

Fix changelog for hotfix-release
  CHANGELOG.rst
Due: none

Calico: Add missing ippool options
  docs/_releasenotes/2577.fix.1.calico-ippools-conflict
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Globally set any_errors_fatal=true
  ansible/ansible.cfg
  ci/cluster-tests.yaml
  k8s-core/ansible/install-frontend-services.yaml
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/prepare-k8s-nodes.yaml
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-custom/ansible/main.yaml
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
  k8s-supplements/ansible/install-local-storage.yaml
  k8s-supplements/ansible/install-monitoring.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.34.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.35.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.36.yaml
  k8s-supplements/ansible/roles/wireguard/tasks/main.yaml
  k8s-supplements/ansible/test.yaml
Due: yamllint

Make kube-proxy optional
  docs/_releasenotes/2577.feature.1.calico-ebpf
  docs/user/guide/kubernetes/increase-cluster-cidr.rst
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-ClusterConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config-bundle.yaml.j2
  k8s-core/ansible/roles/kubeadm-kube-proxy/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-kube-proxy/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_prometheus_stack.yaml
  nix/yk8s/kubernetes/network.nix
Due: yamllint, build-docs-check

Calico: Switch to eBPF mode
  docs/_releasenotes/2577.BREAKING.1.calico-ebpf
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/migrate_to_ebpf.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/migrate_to_nftables.yaml
  nix/yk8s/k8s-supplements/calico.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.kubernetes.network.rst
Due: build-docs-check

Update Helm release kube-prometheus-stack to v88
  docs/_releasenotes/2596.BREAKING.kube-prometheus-stack-updated-to-88.0.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release openstack-cinder-csi to v2.36.2
  docs/_releasenotes/2597.dependency.openstack-cinder-csi-updated-to-2.36.2
  nix/yk8s/openstack/default.nix
Due: none

Run plays of prepare-gw playbook only on gateways
  docs/_releasenotes/hotfix/2585.fix.prepare-gw-plays-only-run-against-gateways
  k8s-supplements/ansible/prepare-gw.yaml
Due: yamllint
