Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v77.8.0
  docs/_releasenotes/2117.change.kube-prometheus-stack-updated-to-77.8.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release prometheus-adapter to v5
  docs/_releasenotes/1997.BREAKING.prometheus-adapter-updated-to-5.0.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release dcgm-exporter to v4.5.2
  docs/_releasenotes/2121.change.dcgm-exporter-updated-to-4.5.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.9.1
  docs/_releasenotes/2119.change.kube-prometheus-stack-updated-to-77.9.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Make keepalived track script IPv6 compatible
  k8s-core/ansible/roles/haproxy/templates/haproxy.cfg.j2
  k8s-core/ansible/roles/keepalived/templates/chk_haproxy.sh.j2
Due: none

keepalived: Enforce VRRPv3
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: none

keepalived: Switch to multicast
  docs/_releasenotes/2118.change.1.keeepalived-multicast
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
Due: none

etcd-backup: Ensure namespace exists
  docs/_releasenotes/2122.fix.1.etcd-backup-namespace
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
Due: yamllint

chore(deps): update nixos/nix docker tag to v2.31.2
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2124.chore.nixos-nix-updated-to-2.31.2
Due: yamllint

etcd-backup: Drop legacy migration tasks
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
Due: yamllint

etcd-backup: Drop bucket management tasks
  ansible/requirements.yaml
  docs/_releasenotes/2120.change.1.etcd-backup-management
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
  nix/dependencies.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Enable unattended upgrades on gateways
  docs/_releasenotes/2126.change.1.unattended-upgrades
  k8s-core/ansible/roles/bootstrap/configure-automatic-system-updates/tasks/main.yaml
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v77.10.0
  docs/_releasenotes/2127.change.kube-prometheus-stack-updated-to-77.10.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/2128.chore.-updated-to-
  flake.lock
Due: none

Bump Kubernetes version in config template
  nix/templates/cluster-repo/config/default.nix
Due: none

Move unique tutorial content into quickstart
  docs/user/guide/quick-start/deploy.rst
  docs/user/guide/quick-start/index.rst
  docs/user/guide/quick-start/teardown.rst
  docs/user/tutorial/create-cluster.rst
Due: build-docs-check

Drop outdated and duplicated cluster creation tutorial
  docs/user/tutorial/create-cluster.rst
  docs/user/tutorial/index.md
Due: build-docs-check

Add managed markers in cluster repo .gitignore
  docs/_releasenotes/2131.fix.managed-markers-in-cluster-repo-gitignore-from-the-start
  nix/templates/cluster-repo/.gitignore
Due: none

Move upgrade tutorial to guide, drop tutorials
  docs/_releasenotes/2130.docs.merge-tutorials-into-guides
  docs/index.md
  docs/user/guide/index.md
  docs/user/guide/upgrade-release.rst
  docs/user/reference/actions-references.rst
  docs/user/tutorial/index.md
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v77.11.0
  docs/_releasenotes/2133.change.kube-prometheus-stack-updated-to-77.11.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Refine ch-k8s-lbaas dependencies
  docs/_releasenotes/1943.chore.2.ch-k8s-lbaas-dependencies
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/meta/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/main.yaml
Due: yamllint

bird: Compose filter with functions
  docs/_releasenotes/1943.chore.1.bird-compose-filter
  k8s-supplements/ansible/roles/bird/templates/bird-calico-v6.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird_v6.conf.j2
Due: none

ch-k8s-lbaas: Add option to disable SNAT'ing
  docs/_releasenotes/1943.feature.1.no-snat
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird.conf.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/agent-config.toml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/bird.no-snat.conf.j2
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.ch-k8s-lbaas.rst
Due: build-docs-check

Allow empty SSH principals with newer Vault/Openbao versions
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yaml
  tools/vault/init.sh
Due: shellcheck, yamllint

renovate: Manage Kubernetes version in config template
  docs/_releasenotes/2129.misc.k8s-version-in-example-config-managed-by-renovate-bot
  nix/templates/cluster-repo/config/default.nix
  renovate.json
Due: none

nvidia-device-plugin: allow to set arbitrary helm values
  docs/_releasenotes/1784.feature.1.nix-helm-nvidia
  docs/_releasenotes/1784.feature.2.nix-helm-nvidia
  k8s-core/ansible/roles/nvidia-cuda-drivers/defaults/main.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/defaults/main.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/files/nvdp_values.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/main.yaml
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/restart_ndp_pod.yaml
  nix/yk8s/nvidia.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.nvidia.rst
Due: build-docs-check

Fix syntax of renovate.json
  docs/_releasenotes/2137.misc.syntax-of-renovate-json-fixed
  renovate.json
Due: none

chore(deps): update helm release prometheus-adapter to v5.1.0
  docs/_releasenotes/2138.change.prometheus-adapter-updated-to-5.1.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.11.1
  docs/_releasenotes/2140.change.kube-prometheus-stack-updated-to-77.11.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none
