Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

chore(deps): update helm release etcdbackup to v0.20251023.0
  docs/_releasenotes/2181.change.etcdbackup-updated-to-0.20251023.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): update helm release prometheus-adapter to v5.2.0
  docs/_releasenotes/2182.change.prometheus-adapter-updated-to-5.2.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

ch-k8s-lbaas: Fix reconfiguration of SNAT'ing
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2179.fix.4.bird-snat-config
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/bird.no-snat.conf.j2
Due: yamllint

Always SNAT Wireguard traffic
  docs/_releasenotes/hotfix/2179.fix.5.disable-snat-add-nodes
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
Due: none

config: Fix condition in ansible_hosts apply
  docs/_releasenotes/hotfix/2179.fix.6.config-condition-in-ansible_hosts-apply-fixed
  nix/yk8s/infra.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.ch-k8s-lbaas.rst
Due: build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2179.chore.1.lbaas-frontend-connect
  docs/_releasenotes/hotfix/2179.fix.1.file-permission-v11-01-yaml-hosts
  docs/_releasenotes/hotfix/2179.fix.2.hotfixes-v11
  docs/_releasenotes/hotfix/2179.fix.3.ansible_hosts-hosts_file-assertion-fixed
  docs/_releasenotes/hotfix/2179.fix.4.bird-snat-config
  docs/_releasenotes/hotfix/2179.fix.5.disable-snat-add-nodes
  docs/_releasenotes/hotfix/2179.fix.6.config-condition-in-ansible_hosts-apply-fixed
  version
Due: none

Don't check for releasenotes for hotfixes against devel
  .gitlab-ci.yml
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v78.5.0
  docs/_releasenotes/2184.change.kube-prometheus-stack-updated-to-78.5.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/2185.chore.-updated-to-
  flake.lock
Due: none

chore(deps): update helm release rook-ceph to v1.18.5
  docs/_releasenotes/2077.change.rook-ceph-updated-to-v1.18.5
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

chore(deps): update nixos/nix docker tag to v2.32.2
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2186.chore.nixos-nix-updated-to-2.32.2
Due: yamllint

fix execute permission of v11-01-yaml-hosts.sh file
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/hotfix/2179.fix.1.file-permission-v11-01-yaml-hosts
Due: shellcheck

fix migration for openstack clusters
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/hotfix/2179.fix.2.hotfixes-v11
Due: shellcheck

Fix ansible_hosts/host_file assertion
  docs/_releasenotes/hotfix/2179.fix.3.ansible_hosts-hosts_file-assertion-fixed
  nix/yk8s/infra.nix
Due: none

ch-k8s-lbaas: Connect to frontend only
  docs/_releasenotes/hotfix/2179.chore.1.lbaas-frontend-connect
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
Due: yamllint

ch-k8s-lbaas: Fix reconfiguration of SNAT'ing
  docs/_releasenotes/hotfix/2179.fix.4.bird-snat-config
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/bird.no-snat.conf.j2
Due: yamllint

Update version number for hotfix-release
  docs/_releasenotes/hotfix/2179.chore.1.lbaas-frontend-connect
  docs/_releasenotes/hotfix/2179.fix.1.file-permission-v11-01-yaml-hosts
  docs/_releasenotes/hotfix/2179.fix.2.hotfixes-v11
  docs/_releasenotes/hotfix/2179.fix.3.ansible_hosts-hosts_file-assertion-fixed
  docs/_releasenotes/hotfix/2179.fix.4.bird-snat-config
  docs/_releasenotes/hotfix/2179.fix.5.disable-snat-add-nodes
  docs/_releasenotes/hotfix/2179.fix.6.config-condition-in-ansible_hosts-apply-fixed
  version
Due: none

chore(deps): update helm release rook-ceph to v1.18.6
  docs/_releasenotes/2189.change.rook-ceph-updated-to-v1.18.6
  nix/yk8s/k8s-supplements/rook.nix
Due: none

chore(deps): update helm release etcdbackup to v0.20251103.0
  docs/_releasenotes/2193.change.etcdbackup-updated-to-0.20251103.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

nix/tests: replace foldl' by all
  nix/tests/default.nix
Due: none

nix: remove with, use inherit
  nix/tests/test_yk8s/default.nix
  nix/tests/test_yk8s/test_lib/default.nix
  nix/yk8s/assertions.nix
  nix/yk8s/lib/modules.nix
Due: none

nix/tests: replace stripPrefix by lib.removePrefix
  nix/tests/default.nix
Due: none

nix/lib: split types into multiple files
  docs/_releasenotes/2090.misc.1.nix-split-types
  nix/tests/default.nix
  nix/tests/test_yk8s/test_lib/test_types/default.nix
  nix/tests/test_yk8s/test_lib/test_types/test_default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/lib/options.nix
  nix/yk8s/lib/types.nix
  nix/yk8s/lib/types/_common/default.nix
  nix/yk8s/lib/types/_common/regex.nix
  nix/yk8s/lib/types/_common/reusable-types.nix
  nix/yk8s/lib/types/_common/type-generators.nix
  nix/yk8s/lib/types/default.nix
  nix/yk8s/lib/types/gitlab.nix
  nix/yk8s/lib/types/helm.nix
  nix/yk8s/lib/types/k8s.nix
  nix/yk8s/lib/types/networking.nix
  nix/yk8s/lib/types/oci.nix
  nix/yk8s/lib/types/openstack.nix
  nix/yk8s/lib/types/posix.nix
  nix/yk8s/lib/types/prometheus.nix
  nix/yk8s/lib/types/s3.nix
  nix/yk8s/lib/types/terraform.nix
  nix/yk8s/lib/types/vault.nix
  nix/yk8s/lib/types/wireguard.nix
Due: none

Add ansible pre-drain and post-uncordon hooks
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  docs/_releasenotes/1927.feature.added-pre-post-drain-checks
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.hooks.rst
  k8s-core/ansible/roles/kubeadm-drain-node/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-uncordon-node/tasks/main.yaml
  nix/yk8s/default.nix
  nix/yk8s/hooks.nix
Due: shellcheck, yamllint, build-docs-check

Add support for Kubernetes v1.34
  ci/cluster-tests.yaml
  docs/_releasenotes/xxx.feature.1.k8s-v1.34
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.34.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.4.0/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.4.0/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.4.0/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.4.0/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.4.0/snapshot-controller/setup-snapshot-controller.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Update nixpkgs-unstable
  docs/_releasenotes/2201.feature.1.k8s-v1.34
  flake.lock
Due: none

chore(deps): update nixos/nix docker tag to v2.32.4
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2198.chore.nixos-nix-updated-to-2.32.4
Due: yamllint

Make release migration idempotent
  actions/release-migrations/v11-01-yaml-hosts.sh
  docs/_releasenotes/2206.fix.1.migration-idempotent
Due: shellcheck

Adjust allowed address pair handling on OpenStack
  docs/_releasenotes/2207.change.1.ovn-issues
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-config.toml.j2
  terraform/20-gateway.tf
Due: tflint
