Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Move CI package definitions to own module
  ci/container-image/default.nix
  flake.nix
Due: none

chore(deps): update dependency boto3 to v1.35.69
  docs/_releasenotes/1505.chore.2024-11-25T22:06:36+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency sphinx-rtd-theme to v3.0.2
  docs/_releasenotes/1571.chore.2024-11-26T08:08:01+00:00
  poetry.lock
Due: poetry-lock

Update dependency community.general to v9.5.1
  ansible/requirements.yaml
  docs/_releasenotes/1537.chore.2024-11-03T20:05:53+00:00
Due: yamllint

chore(deps): update dependency python-openstackclient to v7.2.1
  docs/_releasenotes/1526.chore.2024-11-06T14:08:55+00:00
  poetry.lock
Due: poetry-lock

Add optional BasicAuth to remote write config
  docs/_releasenotes/1484.feature.prometheus-remote-write-support-basic-auth
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

Disable node address autodetection if IP family disabled
  docs/_releasenotes/1529.change.calico-autodetection
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: none

Drop C&H specific Terraform defaults
  ci/config/config.toml
  docs/_releasenotes/1504.change.tf-drop-cah-specific-defaults
  nix/templates/cluster-repo/config/default.nix
  nix/templates/migration/config/default.nix
  nix/yk8s/terraform.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.terraform.rst
Due: build-docs-check

chore(deps): update dependency ansible-lint to v24.10.0
  docs/_releasenotes/1573.chore.2024-11-26T10:07:03+00:00
  poetry.lock
Due: poetry-lock

Expand CI tests to validate K8s CSR requests
  ci/cluster-tests.yaml
  ci/config/config.toml
  ci/test.sh
  docs/_releasenotes/1543.change.expand-ci-test-cases
Due: shellcheck, yamllint

chore(deps): update dependency ansible to v10.6.0
  docs/_releasenotes/1572.chore.2024-11-26T10:06:55+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.54.0
  .gitlab-ci.yml
  docs/_releasenotes/1574.chore.2024-11-26T12:07:11+00:00
Due: yamllint

chore(deps): update dependency ansible to v11
  docs/_releasenotes/+.chore.2024-11-26T16:07:07+00:00
  pyproject.toml
Due: poetry-lock

chore(deps): update dependency community.general to v10
  ansible/requirements.yaml
  docs/_releasenotes/1577.chore.2024-11-26T16:07:23+00:00
Due: yamllint

Bump prometheus stack versions
  docs/_releasenotes/1575.change.1.prometheus-bump
  docs/_releasenotes/1575.change.2.prometheus-adapter-bump
  docs/_releasenotes/1575.change.3.blackbox-exporter-bump
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Bump Thanos
  docs/_releasenotes/1575.change.4.thanos-bump
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Concretise `wg_conf_name`'s constraints
  docs/_releasenotes/1579.docs.wireguard-inferface-name-constraints
  docs/user/reference/environmental-variables.rst
  nix/templates/cluster-repo/.envrc
Due: build-docs-check

Update Prometheus Vault monitoring integration
  docs/_releasenotes/1456.change.rework-vault_v1-ansible-role
  k8s-supplements/ansible/roles/vault_v1/tasks/credentials.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/monitoring.yaml
  k8s-supplements/ansible/roles/vault_v1/templates/cronjob.yaml.j2
Due: yamllint

Use orphan token for independent expiration
  k8s-supplements/ansible/roles/vault_v1/tasks/monitoring.yaml
Due: yamllint

Update Vault service documentation
  docs/user/reference/services/vault.rst
Due: build-docs-check

etcd-metrics-proxy: Support IPv6
  docs/_releasenotes/1482.feature.2.etcd-metrics-add-ipv6-supprt
  k8s-supplements/ansible/roles/etcd-metrics-proxy/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-metrics-proxy/templates/proxy.yaml.j2
Due: yamllint

Keepalived exporter: Bump to version 0.7.1
  docs/_releasenotes/1482.feature.3.keepalived-exporter-add-ipv6-supprt
  k8s-supplements/ansible/roles/prometheus-keepalived-exporter/defaults/main.yaml
Due: yamllint

Blackbox exporter: enable IPv6 support for all modules
  docs/_releasenotes/1482.feature.1.blackbox-exporter-add-ipv6-support
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none

Bird ServiceMonitor: Only deploy when we have gateway nodes
  docs/_releasenotes/1482.fix.4.bird-servicemonitor-only-deploy-when-installed
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
Due: yamllint

tf: Replace deprecated openstack_compute_floatingip_associate_v2
  actions/migrations/v9-02-terraform-deprecated-floatingip-resource-type.sh
  docs/_releasenotes/1562.BREAKING.replace-deprecated-tf-resources
  terraform/20-gateway.tf
Due: tflint, shellcheck

chore(deps): update nixos/nix docker tag to v2.25.3
  ci/build-image.yaml
  docs/_releasenotes/1589.chore.2024-12-02T14:07:44+00:00
Due: yamllint

Drop poetry2nix
  .envrc.lib.sh
  ci/container-image/default.nix
  flake.lock
  flake.nix
  nix/poetry.nix
Due: shellcheck

Add halt-on-error flag to thanos compactor cmdline
  docs/_releasenotes/1592.fix.allow-thanos-compactor-to-be-restarted-on-error
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
Due: none

Add CI job to check gpg key expiry
  .gitlab-ci.yml
  ci/lint/check-key-expiry.sh
  docs/_releasenotes/1550.misc.check-key-expiry
Due: shellcheck, yamllint

Set node-role label for masters and workers
  docs/_releasenotes/1587.feature.set-k8s-node-role-label-for-masters-and-workers
  docs/user/explanation/node-scheduling.rst
  docs/user/reference/cluster.rst
  docs/user/reference/index.rst
  k8s-core/ansible/roles/k8s-master/defaults/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-join-config.yaml.j2
  k8s-core/ansible/roles/k8s-worker/defaults/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-join-config.yaml.j2
Due: yamllint, build-docs-check

Add K8s role to node-exporter metrics
  docs/_releasenotes/1596.change.node-exporter
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Add action script wg-down.sh
  actions/wg-down.sh
Due: shellcheck

Adjust Kubernetes upgrade procedure
  docs/_releasenotes/hotfix/1580.fix.kubernetes-upgrade
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Adjust Kubernetes upgrade procedure
  docs/_releasenotes/hotfix/1581.fix.kubernetes-upgrade
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Adjust Kubernetes upgrade procedure
  docs/_releasenotes/hotfix/1582.fix.kubernetes-upgrade
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Adjust Kubernetes upgrade procedure
  docs/_releasenotes/hotfix/1583.fix.kubernetes-upgrade
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Adjust Kubernetes upgrade procedure
  docs/_releasenotes/hotfix/1584.fix.kubernetes-upgrade
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
