Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

chore(deps): update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2227.chore.kubernetes-kubernetes-updated-to-v1.34.3
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Set NOFILE limit for Containerd again
  docs/_releasenotes/hotfix/2234.fix.containerd-limit-nofile
  k8s-core/ansible/roles/containerd/files/limit-nofile.conf
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint

config: Drop max length constraint on yk8s.vault.cluster_name
  docs/_releasenotes/hotfix/2235.fix.1.max-length-constraint-on-vault-cluster-name-dropped
  docs/user/reference/options/yk8s.vault.rst
  nix/yk8s/vault.nix
Due: build-docs-check

chore(deps): update helm release flux2 to v2.17.2
  docs/_releasenotes/x.change.flux2-updated-to-2.17.2
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.60.0
  .gitlab-ci.yml
  docs/_releasenotes/2205.chore.ghcr.io-terraform-linters-tflint-updated-to-v0.60.0
Due: yamllint

chore(deps): update dependency community.general to v11.4.3
  ansible/requirements.yaml
  docs/_releasenotes/2191.chore.community.general-updated-to-11.4.3
Due: yamllint

chore(deps): update dependency community.general to v12
  ansible/requirements.yaml
  docs/_releasenotes/2197.chore.community.general-updated-to-12.2.0
Due: yamllint

chore(deps): update helm release cert-manager to v1.19.2
  docs/_releasenotes/2226.change.cert-manager-updated-to-v1.19.2
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

chore(deps): update helm release dcgm-exporter to v4.7.1
  docs/_releasenotes/2228.change.dcgm-exporter-updated-to-4.7.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Update rendered docs
  docs/_releasenotes/2196.change.flux2-updated-to-2.17.2
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
Due: build-docs-check

removeme
  terraform/test
Due: tflint

chore(deps): update helm release nvidia-device-plugin to v0.18.2
  docs/_releasenotes/2265.change.nvidia-device-plugin-updated-to-0.18.2
  nix/yk8s/nvidia.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.nvidia.rst
Due: build-docs-check

Explicitly enable nf_conntrack module on frontend
  docs/_releasenotes/2267.change.1.increase-nf-conntrack
  k8s-core/ansible/roles/nf-conntrack/tasks/main.yaml
Due: yamllint

nix: Fix apply of yk8s.load-balancing.lb_ports
  docs/_releasenotes/hotfix/2235.fix.3.apply-of-yk8s-load-balancing-lb_ports-fixed
  nix/yk8s/load-balancing.nix
Due: none

Set NOFILE limit for Containerd again
  docs/_releasenotes/hotfix/2235.change.1.containerd-limit-nofile
  k8s-core/ansible/roles/containerd/files/limit-nofile.conf
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint

Update version number for hotfix-release
  docs/_releasenotes/hotfix/2209.fix.1.migration-idempotent
  docs/_releasenotes/hotfix/2209.fix.2.missing-config-read-added-in-release-migration
  docs/_releasenotes/hotfix/2209.fix.3.new-terraform-state-captured-in-release-migration
  docs/_releasenotes/hotfix/2235.change.1.containerd-limit-nofile
  docs/_releasenotes/hotfix/2235.fix.1.max-length-constraint-on-vault-cluster-name-dropped
  docs/_releasenotes/hotfix/2235.fix.3.apply-of-yk8s-load-balancing-lb_ports-fixed
  version
Due: none

chore(deps): update dependency community.general to v12.3.0
  ansible/requirements.yaml
  docs/_releasenotes/2268.chore.community.general-updated-to-12.3.0
Due: yamllint

chore(deps): update helm release ingress-nginx to v4.13.6
  docs/_releasenotes/2194.change.ingress-nginx-updated-to-4.13.6
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

Split Kubernetes node preparation into own playbook
  actions/apply-k8s-core.sh
  docs/_releasenotes/2245.feature.2.split-prepare-k8s
  k8s-core/ansible/install-all.yaml
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/prepare-k8s-nodes.yaml
Due: shellcheck, yamllint

Consider Kubernetes initialization state during frontend updates
  docs/_releasenotes/2245.fix.1.frontend-nodes
  k8s-core/ansible/update-frontend-nodes.yaml
Due: yamllint

containerd: Add option to manage version
  docs/_releasenotes/2245.feature.1.containerd-version
  k8s-core/ansible/roles/containerd/tasks/main.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  nix/yk8s/containerd.nix
  renovate.json
Due: yamllint

docs: Minor fix in action references
  docs/user/reference/actions-references.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.containerd.rst
Due: build-docs-check

Fix merging of custom types
  docs/_releasenotes/hotfix/2235.fix.2.type-merge
  nix/yk8s/lib/types.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2235.change.1.containerd-limit-nofile
  docs/_releasenotes/hotfix/2235.fix.1.max-length-constraint-on-vault-cluster-name-dropped
  docs/_releasenotes/hotfix/2235.fix.2.type-merge
  docs/_releasenotes/hotfix/2235.fix.3.apply-of-yk8s-load-balancing-lb_ports-fixed
  version
Due: none

Fix merging of custom types
  docs/_releasenotes/hotfix/2237.fix.2.type-merge
  nix/yk8s/lib/types.nix
Due: none

nix: Fix apply of yk8s.load-balancing.lb_ports
  docs/_releasenotes/hotfix/2237.fix.3.apply-of-yk8s-load-balancing-lb_ports-fixed
  nix/yk8s/load-balancing.nix
Due: none

Set NOFILE limit for Containerd again
  docs/_releasenotes/hotfix/2237.change.1.containerd-limit-nofile
  k8s-core/ansible/roles/containerd/files/limit-nofile.conf
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint

Fix merging of custom types
  docs/_releasenotes/hotfix/2238.fix.2.type-merge
  nix/yk8s/lib/types.nix
Due: none

nix: Fix apply of yk8s.load-balancing.lb_ports
  docs/_releasenotes/hotfix/2238.fix.3.apply-of-yk8s-load-balancing-lb_ports-fixed
  nix/yk8s/load-balancing.nix
Due: none

Set NOFILE limit for Containerd again
  docs/_releasenotes/hotfix/2238.change.1.containerd-limit-nofile
  k8s-core/ansible/roles/containerd/files/limit-nofile.conf
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2237.change.1.containerd-limit-nofile
  docs/_releasenotes/hotfix/2237.fix.1.max-length-constraint-on-vault-cluster-name-dropped
  docs/_releasenotes/hotfix/2237.fix.2.type-merge
  docs/_releasenotes/hotfix/2237.fix.3.apply-of-yk8s-load-balancing-lb_ports-fixed
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2238.change.1.containerd-limit-nofile
  docs/_releasenotes/hotfix/2238.fix.1.max-length-constraint-on-vault-cluster-name-dropped
  docs/_releasenotes/hotfix/2238.fix.2.type-merge
  docs/_releasenotes/hotfix/2238.fix.3.apply-of-yk8s-load-balancing-lb_ports-fixed
  version
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
