Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Change registry for image
  docs/_releasenotes/1325.change.local-path-image
  k8s-supplements/ansible/roles/k8s-local-storage-controller/templates/provisioner.yaml.j2
Due: none

WIP: tf: Remove count->for_each migration
  actions/apply-terraform.sh
Due: shellcheck

WIP: tf: Group default variables
  docs/_releasenotes/1317.BREAKING.tf-overhaul-nodes-handling
  docs/_releasenotes/1317.feature.tf-anti-affinity-group-name-configurable-per-worker
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/01-discovery.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

WIP: tf: Fix availability zone configuration
  docs/_releasenotes/1317.BREAKING.tf-make-availability-zone-config-explicit
  docs/_releasenotes/1317.feature.tf-configure-amount-of-gateway-nodes
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

WIP: tf: Use maps instead of lists to configure nodes
  actions/lib.sh
  docs/_releasenotes/1317.BREAKING.tf-overhaul-nodes-handling
  docs/_releasenotes/1317.change.tf-increase-min-version
  docs/user/reference/cluster-configuration.rst
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint, shellcheck, build-docs-check

WIP: tf: Decouple gateway nodes from availability zones
  docs/_releasenotes/1317.BREAKING.tf-index-based-gateway-nodes
  docs/_releasenotes/1317.feature.tf-configure-amount-of-gateway-nodes
  docs/user/reference/cluster-configuration.rst
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/20-gateway.tf
Due: tflint, build-docs-check

fixup! tf: Use maps instead of lists to configure nodes
  terraform/00-variables.tf
Due: tflint

amend! tf: Group default variables
  docs/_releasenotes/1317.BREAKING.tf-migrate-non-default-worker-anti-affinity-group-name
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/40-worker-nodes.tf
Due: tflint

tf: Straighten generation of instance resources
  docs/_releasenotes/1317.chore.tf-straighten-generation-of-instance-resources
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

WIP: tf: Provide control over the whole node name
  docs/_releasenotes/1317.BREAKING.tf-overhaul-nodes-handling
  docs/user/reference/cluster-configuration.rst
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint, build-docs-check

test kubectl
  actions/apply-all.sh
Due: shellcheck

LCM adjustments
  actions/apply-all.sh
  k8s-supplements/ansible/install-all.yaml
Due: shellcheck, yamllint

stuff
  actions/apply-all.sh
Due: shellcheck

LCM adjustments
  actions/apply-all.sh
  k8s-core/ansible/install-k8s.yaml
Due: shellcheck, yamllint

tf: Drop C&H specific defaults
  templates/config.template.toml
  terraform/00-variables.tf
Due: tflint

detect-user: ensure etc_dir
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/main.yaml
Due: yamllint

Bump prometheus-stack version to 59.1.0
  docs/_releasenotes/1314.change.prometheus-version-update
  docs/user/guide/monitoring/prometheus-stack.rst
  k8s-supplements/ansible/roles/monitoring_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  templates/config.template.toml
Due: yamllint, build-docs-check

Add CPU worker (M) to the CI cluster
  ci/config/config.toml
  docs/_releasenotes/1328.misc.add-worker
Due: none

Fix build image job to run on devel
  ci/build-image.yaml
Due: yamllint

Don't use proxy for quay.io
  ci/build-image.yaml
Due: yamllint

Fix CI: Set entrypoint for skopeo image
  ci/build-image.yaml
Due: yamllint

Fix CI: Add tag-image stage before release stage
  .gitlab-ci.yml
  ci/build-image.yaml
Due: yamllint

Fix CI: Export image tag before cleanup script
  ci/cluster-tests.yaml
Due: yamllint

Fix CI: Use NixOS image for skopeo
  ci/build-image.yaml
Due: yamllint

Fix CI: Fix skopeo call
  ci/build-image.yaml
Due: yamllint

Update nixos/nix Docker tag to v2.23.1
  ci/build-image.yaml
  docs/_releasenotes/+.chore.2024-06-28T10:06:12+00:00
Due: yamllint

Update ghcr.io/terraform-linters/tflint Docker tag to v0.51.2
  .gitlab-ci.yml
  docs/_releasenotes/1334.chore.2024-06-29T12:05:33+00:00
Due: yamllint

Add support for Kubernetes v1.29
  ci/cluster-tests.yaml
  ci/config/config.toml
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.29.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/cinder-csi-controllerplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/cinder-csi-nodeplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/csi-cinder-driver.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cloud-controller-manager/rbac/cloud-controller-manager-role-bindings.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cloud-controller-manager/rbac/cloud-controller-manager-roles.yaml.j2
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/snapshot-controller/setup-snapshot-controller.yaml
  templates/config.template.toml
Due: yamllint

Adapt Kubernetes upgrade procedure
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Enforce CCM helm migration for K8s v1.29
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/cinder-csi-controllerplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/cinder-csi-nodeplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/csi-cinder-driver.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cloud-controller-manager/rbac/cloud-controller-manager-role-bindings.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cloud-controller-manager/rbac/cloud-controller-manager-roles.yaml.j2
Due: yamllint

Add support for changed RBAC group usage
  ci/cluster-tests.yaml
  ci/config/config.toml
  docs/_releasenotes/1284.BREAKING.kubernetes-v1.29-support
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/rotate-kubeconfigs.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.29.yaml
  tools/vault/init.sh
  tools/vault/k8s-login.sh
  tools/vault/lib.sh
Due: shellcheck, yamllint

Enhance Cinder CSI topology feature gate
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.29/cinder-csi-plugin/cinder-csi-controllerplugin.yaml.j2
Due: none

Adjust super admin kubeconfig handling
  actions/k8s-login.sh
  k8s-core/ansible/roles/k8s-login/defaults/main.yaml
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/rotate-kubeconfigs.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.29.yaml
  tools/vault/k8s-login.sh
Due: shellcheck, yamllint

Add some details to releasenote and docs
  docs/_releasenotes/1284.BREAKING.kubernetes-v1.29-support
  docs/user/guide/kubernetes/index.md
  docs/user/guide/kubernetes/super-admin.rst
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
Due: build-docs-check

Force renew key material on K8s upgrades
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
Due: yamllint

Add failed condition
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
Due: yamllint

Do not patch deployment
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/migrate-from-openstack-v1.yaml
Due: yamllint

Fix CCM helm installation for fresh clusters
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/openstack-cloud-controller-manager-values.yaml.j2
Due: none

CI: Adjust k8s v1.29 upgrade steps
  ci/cluster-tests.yaml
Due: yamllint

Retry tasks
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/migrate-from-openstack-v1.yaml
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
