Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v82
  docs/_releasenotes/2301.BREAKING.kube-prometheus-stack-updated-to-82.0.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Disable Grafana alerts for Thanos datasource
  docs/_releasenotes/2253.change.1.disable-thanos-grafana-alerts
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Make Thanos datasource editable in Grafana
  docs/_releasenotes/2253.change.2.editable-thanos
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Don't force restart nvdp Pod during Kubernetes upgrades
  docs/_releasenotes/2216.change.1.remove-nvidia-device-plugin-restarts
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/restart_ndp_pod.yaml
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Autobuild/watch docs for changes
  docs/README.md
  docs/_releasenotes/2203.docs.autobuild-watch-docs
  nix/renderDocs.nix
Due: build-docs-check

chore(deps): update helm release ingress-nginx to v4.14.3
  docs/_releasenotes/2195.change.ingress-nginx-updated-to-4.14.3
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

chore(deps): update helm release etcdbackup to v1.2.1
  docs/_releasenotes/2303.change.etcdbackup-updated-to-1.2.1
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Move k8s-config to Nix
  k8s-core/ansible/roles/config/README.md
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-core/ansible/roles/config/k8s-config/meta/main.yaml
  k8s-core/ansible/roles/containerd/files/crictl.yaml
  k8s-core/ansible/roles/containerd/tasks/main.yaml
  k8s-core/ansible/roles/containerd/templates/crictl.yaml.j2
  k8s-core/ansible/roles/k8s-master/meta/main.yaml
  k8s-core/ansible/roles/k8s-packages/meta/main.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/meta/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/roles/bird/meta/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/meta/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/meta/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/meta/main.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/meta/main.yaml
  k8s-supplements/ansible/roles/k8s-local-storage-controller/meta/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/meta/main.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint

calico: allow to set arbitrary Helm values
  docs/_releasenotes/1568.change.1.nix-helm-calico
  docs/_releasenotes/1568.feature.1.nix-helm-calico
  docs/user/explanation/services/calico.rst
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
  k8s-supplements/ansible/roles/calico-tigera-operator/defaults/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

chore(deps): update helm release tigera-operator to v3.30.6
  docs/_releasenotes/2306.change.tigera-operator-updated-to-v3.30.6
  nix/yk8s/k8s-supplements/calico.nix
Due: none

chore(deps): update helm release prometheus-adapter to v5.3.0
  docs/_releasenotes/2308.change.prometheus-adapter-updated-to-5.3.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

ccm: allow to set arbitrary helm values
  docs/_releasenotes/1811.feature.1.nix-helm-csm-csi
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/openstack-cloud-controller-manager-values.yaml.j2
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/openstack.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

cinder-csi: allow to set arbitrary helm values
  docs/_releasenotes/1811.feature.2.nix-helm-csm-csi
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/csi-cinder-plugin-values.yaml.j2
  nix/yk8s/openstack.nix
Due: yamllint

.envrc.lib.sh: fix initialization with YAOOK_K8S_DIRENV_MANUAL
  .envrc.lib.sh
  docs/_releasenotes/2288.fix.1.vault-manual-direnv
Due: shellcheck

Prevent validation of common names for certs as domain names
  docs/_releasenotes/2254.BREAKING.1.validation-of-common-names-for-certs-as-domain-names-prevented
  docs/_releasenotes/hotfix/2235.fix.1.max-length-constraint-on-vault-cluster-name-dropped
  k8s-core/ansible/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  tools/vault/init.sh
  tools/vault/k8s-login.sh
  tools/vault/lib.sh
Due: shellcheck, yamllint

chore(deps): update dependency community.general to v12.4.0
  ansible/requirements.yaml
  docs/_releasenotes/2313.chore.community.general-updated-to-12.4.0
Due: yamllint

chore(deps): update helm release openstack-cloud-controller-manager to v2.34.2
  docs/_releasenotes/2312.change.openstack-cloud-controller-manager-updated-to-2.34.2
  nix/yk8s/openstack.nix
Due: none

chore(deps): update helm release openstack-cinder-csi to v2.34.3
  docs/_releasenotes/2311.change.openstack-cinder-csi-updated-to-2.34.3
  nix/yk8s/openstack.nix
Due: none

change(vault): only scrape active instance metrics
  docs/_releasenotes/2290.change.vault-monitoring
  k8s-supplements/ansible/roles/vault_v1/templates/servicemonitor.yaml.j2
Due: none

chore(deps): update helm release cert-manager to v1.19.4
  docs/_releasenotes/2317.change.cert-manager-updated-to-v1.19.4
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

fix: missing ipv4 default route on dualstack
  docs/_releasenotes/2316.fix.dualstack-ipv4-interface
  k8s-core/ansible/roles/bootstrap/net-forwarding/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/net-forwarding/templates/forward.conf.j2
  k8s-core/ansible/roles/keepalived/tasks/main.yaml
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
  k8s-core/ansible/vars/network_interfaces.yaml
Due: yamllint

chore(deps): update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2319.chore.kubernetes-kubernetes-updated-to-v1.34.5
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

chore(deps): update helm release etcdbackup to v1.3.0
  docs/_releasenotes/2320.change.etcdbackup-updated-to-1.3.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

infra/ansible_hosts: don't apply filter to root
  nix/yk8s/infra.nix
Due: none

infra/ansible_hosts: apply filter to yaml file instead
  nix/yk8s/infra.nix
Due: none

chore(deps): update nixos/nix docker tag to v2.34.0
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2322.chore.nixos-nix-updated-to-2.34.0
Due: yamllint

chore(deps): update helm release openstack-cinder-csi to v2.35.0
  docs/_releasenotes/2314.change.openstack-cinder-csi-updated-to-2.35.0
  nix/yk8s/openstack.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
