Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Add poetry group for update-inventory.py
  docs/_releasenotes/1277.feature.poetry-group-update-inventory
  poetry.lock
  pyproject.toml
Due: poetry-lock

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

chore(deps): update dependency ansible-lint to v24.6.0
  docs/_releasenotes/+.chore.2024-06-04T18:07:10+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency ansible to v9.6.1
  docs/_releasenotes/+.chore.2024-06-06T06:06:16+00:00
  poetry.lock
Due: poetry-lock

Add poetry group for update-inventory.py
  CHANGELOG.rst
  poetry.lock
  pyproject.toml
  version
Due: poetry-lock

backport: Add poetry group for update-inventory.py
  CHANGELOG.rst
  docs/_releasenotes/1277.feature.poetry-group-update-inventory
  version
Due: none

Don't gitignore inventory
  docs/_releasenotes/1274.fix.664-k8s-upgrade-process-requires-execution-of-apply-terraform-sh
  templates/template.gitignore
Due: none

chore(deps): update dependency kubernetes to v30
  docs/_releasenotes/+.chore.2024-06-06T16:06:26+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

Generate new kubeconfig after each root CA rotation step
  actions/rotate-root-ca.sh
  docs/_releasenotes/1293.fix.root-ca-rotation-kubeconfig-renewal
Due: shellcheck

Remove option for not providing MRIID in releasenote
  ci/lint/check-releasenote-file.py
  ci/release.yaml
  docs/_releasenotes/1294.change.releasenotes
  docs/developer/guide/coding-guide.rst
Due: yamllint, flake8, build-docs-check

remove old sections
  actions/update_inventory.py
Due: flake8

miscellaneous module
  nix/module/default.nix
  nix/module/miscellaneous.nix
Due: none

WIP: cert-manager module
  actions/update_inventory.py
  k8s-supplements/ansible/roles/cert_manager_v1/default.nix
  nix/module/default.nix
  templates/config.template.toml
Due: flake8

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-06-10T00:07:43+00:00
  poetry.lock
Due: poetry-lock

Fix root CA rotation
  CHANGELOG.rst
  docs/user/guide/vault/vault-ca-rotation.rst
  k8s-core/ansible/roles/helpers/vault-onboarded/tasks/get_cert.yml
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-supplements/ansible/rotate-root-ca.yaml
  version
Due: yamllint, build-docs-check

Fix root CA rotation
  docs/_releasenotes/hotfix/1291.fix.root-ca-rotation
  docs/operation/vault-ca-rotation.rst
  k8s-core/ansible/roles/helpers/vault-onboarded/tasks/get_cert.yml
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-supplements/ansible/rotate-root-ca.yaml
Due: yamllint, build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1291.fix.root-ca-rotation
  version
Due: none

Fix root CA rotation
  docs/_releasenotes/hotfix/1290.fix.root-ca-rotation
  docs/user/guide/vault/vault-ca-rotation.rst
  k8s-core/ansible/roles/helpers/vault-onboarded/tasks/get_cert.yml
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-supplements/ansible/rotate-root-ca.yaml
Due: yamllint, build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1290.fix.root-ca-rotation
  version
Due: none

Fix root CA rotation
  docs/_releasenotes/hotfix/1289.fix.root-ca-rotation
  docs/user/guide/vault/vault-ca-rotation.rst
  k8s-core/ansible/roles/helpers/vault-onboarded/tasks/get_cert.yml
  k8s-core/ansible/rotate-root-ca.yaml
  k8s-supplements/ansible/rotate-root-ca.yaml
Due: yamllint, build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1289.fix.root-ca-rotation
  version
Due: none

Add hint for Ansible locale settings
  docs/_releasenotes/1297.docs.hint-locale
  docs/user/guide/faq.rst
  templates/yaook-k8s-env.template.sh
Due: shellcheck, build-docs-check

Fix k8s-login for clusters with default name
  docs/_releasenotes/1298.fix.kubeconfig-devcluster
  tools/vault/lib.sh
Due: shellcheck

fix stuff
  nix/module/custom.nix
  nix/module/default.nix
  nix/module/ipsec.nix
  nix/module/nvidia.nix
  nix/module/terraform.nix
  nix/module/testing.nix
Due: none

fix template
  nix/templates/cluster-repo/config/default.nix
Due: none

simplify variable transform
  nix/module/default.nix
Due: none

containersection
  nix/module/default.nix
  nix/module/k8s-supplements.nix
Due: none

apply filters with pipe
  nix/module/default.nix
Due: none

containersection done
  nix/module/custom.nix
  nix/module/default.nix
  nix/module/nvidia.nix
Due: none

WIP BROKEN rework filter pipeline
  nix/module/default.nix
Due: none

FIXED =)
  nix/module/default.nix
Due: none

ansible: Prevent logging of secret keys
  docs/_releasenotes/1295.security.prevent-logging-of-secret-keys
  k8s-core/ansible/roles/helpers/vault-onboarded/tasks/get_cert.yml
  k8s-core/ansible/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-supplements/ansible/roles/etcd-metrics-proxy/tasks/main.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/credentials.yaml
  k8s-supplements/ansible/roles/wireguard/tasks/wg_endpoint.yaml
Due: yamllint

etcd-backup module
  actions/update_inventory.py
  k8s-supplements/ansible/roles/etcd-backup/default.nix
  templates/config.template.toml
Due: flake8

fluxcd module
  actions/update_inventory.py
  k8s-supplements/ansible/roles/fluxcd2_v2/default.nix
  templates/config.template.toml
Due: flake8

WIP vault-svc module
  actions/update_inventory.py
  k8s-supplements/ansible/roles/vault_v1/default.nix
  templates/config.template.toml
Due: flake8

chore(deps): update dependency python-hcl2 to v4.3.4
  docs/_releasenotes/1301.chore.2024-06-12T12:07:10+00:00
  poetry.lock
Due: poetry-lock

vault module done
  k8s-supplements/ansible/roles/vault_v1/default.nix
  nix/module/default.nix
  templates/config.template.toml
Due: none

complete miscellaneous
  nix/module/miscellaneous.nix
  templates/config.template.toml
Due: none

Fix common monitoring labels
  docs/_releasenotes/1303.fix.monitoring-common-labels
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/install-cert-manager.yaml
  k8s-supplements/ansible/install-ingress.yaml
  k8s-supplements/ansible/install-monitoring.yaml
  k8s-supplements/ansible/install-rook-ceph.yaml
  k8s-supplements/ansible/install-vault.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/defaults/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/defaults/main.yml
  k8s-supplements/ansible/roles/monitoring_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/rook_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/rook_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/vault_v1/defaults/main.yaml
  k8s-supplements/ansible/vars/monitoring.yaml
Due: yamllint

thanos: remove cpu limits
  docs/_releasenotes/1186.change.thanos-cpu-limits
  k8s-supplements/ansible/roles/monitoring_thanos_v2/defaults/main.yml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
Due: yamllint
