Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

envrc.lib: use same mechanic for auto and manual
  .envrc.lib.sh
Due: shellcheck

Allow additional packages to be added to the environment
  .envrc
  .envrc.lib.sh
  nix/dependencies.nix
  nix/yk8s-env.nix
  nix/yk8s/default.nix
Due: shellcheck

chore(deps): update dependency community.aws to v10
  ansible/requirements.yaml
  docs/_releasenotes/1862.chore.community.aws-updated-to-10.0.0
Due: yamllint

chore(deps): update helm release dcgm-exporter to v4.1.1
  docs/_releasenotes/1863.change.dcgm-exporter-updated-to-4.1.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update dependency kubernetes.core to v5.3.0
  ansible/requirements.yaml
  docs/_releasenotes/1866.chore.kubernetes.core-updated-to-5.3.0
Due: yamllint

chore(deps): update dependency community.general to v10.7.0
  ansible/requirements.yaml
  docs/_releasenotes/1865.chore.community.general-updated-to-10.7.0
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v72.5.2
  docs/_releasenotes/1867.change.kube-prometheus-stack-updated-to-72.5.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v72.6.2
  docs/_releasenotes/1869.change.kube-prometheus-stack-updated-to-72.6.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

release-migration: fix migration of vault state
  actions/migrations/v9-01-nix-config.sh
Due: shellcheck

misc: add option renames
  nix/yk8s/miscellaneous.nix
Due: none

terraform: disable by default
  docs/_releasenotes/1250.change.3.bare-metal
  nix/yk8s/terraform.nix
Due: none

infra: add missing networking options
  nix/yk8s/infra.nix
Due: none

release-migration: don't add terraform default for bare-metal clusters
  actions/migrations/v9-01-nix-config.sh
Due: shellcheck

chore(deps): update helm release thanos to v16.0.7
  docs/_releasenotes/1864.change.thanos-updated-to-16.0.7
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.58.0
  .gitlab-ci.yml
  docs/_releasenotes/1872.chore.ghcr.io-terraform-linters-tflint-updated-to-v0.58.0
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v72.9.1
  docs/_releasenotes/1873.change.kube-prometheus-stack-updated-to-72.9.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Improve warning about missing wg_user in IPAM file
  actions/wg-up.sh
  docs/_releasenotes/1871.misc.minor-wg-peer-warning-improvement
Due: shellcheck

chore(deps): update helm release prometheus-blackbox-exporter to v9.8.0
  docs/_releasenotes/1874.change.prometheus-blackbox-exporter-updated-to-9.8.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

openstack: remove obsolete default value
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/defaults/main.yaml
Due: yamllint

chore(deps): update terraform openstack to ~> 3.1.0
  docs/_releasenotes/1877.chore.openstack-updated-to-3.1.0
  terraform/versions.tf
Due: tflint

chore(deps): update nixos/nix docker tag to v2.29.0
  ci/build-image.yaml
  docs/_releasenotes/1876.chore.nixos-nix-updated-to-2.29.0
Due: yamllint

Replace option prevent_disruption with a lock file
  actions/apply-terraform.sh
  actions/lib.sh
  actions/release-migrations/v10-02-prevent-disruption.sh
  ci/after_script_cleanup.sh
  docs/_releasenotes/1841.BREAKING.1.devel
  docs/user/tutorial/create-cluster.rst
  nix/yk8s/terraform.nix
Due: shellcheck, build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.terraform.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.kubernetes.network.rst
Due: build-docs-check

Add enable option for calico
  ci/config/default.nix
  docs/_releasenotes/1836.BREAKING.1.calico-enable-option
  k8s-supplements/ansible/install-calico.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/kube_proxy_patch.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/test-roles/check-calico/tasks/test-pod-readiness.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_managed_services.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_prometheus_stack.yaml
  k8s-supplements/ansible/test.yaml
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/kubernetes/network.nix
Due: yamllint

kubernetes.storage: move options to proper section
  docs/_releasenotes/1834.change.1.storage-options
  docs/_releasenotes/1834.change.2.storage-options
  k8s-supplements/ansible/install-rook-ceph.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/csi-cinder-plugin-values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/tasks/main.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_managed_services.yaml
  k8s-supplements/ansible/test.yaml
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/storage.nix
  nix/yk8s/openstack.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.kubernetes.rst
  docs/user/reference/options/yk8s.kubernetes.storage.rst
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

chore(deps): update dependency kubernetes.core to v6
  ansible/requirements.yaml
  docs/_releasenotes/1878.chore.kubernetes.core-updated-to-6.0.0
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v73
  docs/_releasenotes/1881.BREAKING.kube-prometheus-stack-updated-to-73.1.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release dcgm-exporter to v4.1.3
  docs/_releasenotes/1883.change.dcgm-exporter-updated-to-4.1.3
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release ingress-nginx to v4.12.3
  docs/_releasenotes/1884.change.ingress-nginx-updated-to-4.12.3
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

chore(deps): update helm release etcdbackup to v0.20250605.2
  docs/_releasenotes/1885.change.etcdbackup-updated-to-0.20250605.2
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none
