Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update dependency kubernetes.core to v6.6.0
  ansible/requirements.yaml
  docs/_releasenotes/2647.dependency.kubernetes.core-updated-to-6.6.0
Due: yamllint

Update Helm release cert-manager to v1.20.4
  docs/_releasenotes/2648.dependency.cert-manager-updated-to-v1.20.4
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

Update dependency containerd/containerd to v2.4.0
  docs/_releasenotes/2649.dependency.containerd-containerd-updated-to-v2.4.0
  nix/yk8s/containerd.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.containerd.rst
Due: build-docs-check

Allow anti_affinity_group to be set by all nodes
  docs/_releasenotes/2607.change.1.affinity-master-nodes
  nix/yk8s/openstack/default.nix
Due: none

nix: Set state directory via self
  actions/release-migrations/v15-01-state-directory.sh
  docs/_releasenotes/2582.BREAKING.1.state-directory-self
  nix/yk8s/default.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/openstack/default.nix
  nix/yk8s/terraform.nix
  templates/cluster-repo/minimal/flake.nix
Due: shellcheck

Fix target of assertions in openstack module
  docs/_releasenotes/2618.misc.1.openstack-assertions
  nix/yk8s/openstack/default.nix
Due: none

Monitoring: Migrate deprecated serviceMonitor fields
  docs/_releasenotes/2643.change.1.migrate-monitoring-servicemonitor-fields
  nix/yk8s/k8s-supplements/monitoring/helm_prometheus_stack/default.nix
Due: none

Update dependency containerd/containerd to v2.3.5
  docs/_releasenotes/2527.chore.containerd-containerd-updated-to-v2.3.5
  nix/yk8s/containerd.nix
Due: none

Enable sshd post-quantum KexAlgorithm
  docs/_releasenotes/2650.change.1.enable-post-quantum-cryptography-kexalgorithm
  k8s-core/ansible/vars/ssh-hardening.yaml
  k8s-supplements/ansible/vars/ssh-hardening.yaml
Due: yamllint

calico: Support network MTU configuration for NodePorts
  docs/_releasenotes/2641.change.1.support-network-mtu-configuration-for-nodeports
  docs/user/guide/quick-start/proxmox/50-cluster.rst
  nix/yk8s/k8s-supplements/calico.nix
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

Add version compatibility matrix for Calico and Kubernetes
  docs/_releasenotes/2651.fix.1.calico-k8s-compat
  nix/yk8s/k8s-supplements/calico.nix
Due: none

vault_env: remove hard-coded submodule name
  actions/vault_env.sh
Due: shellcheck

init: make consistent use of subdir variable
  actions/init-cluster-repo.sh
  actions/lib.sh
Due: shellcheck

envrc: Make path to code repo configurable
  .envrc.lib.sh
  docs/_releasenotes/2468.misc.1.code-repo-path
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

flake: Remove dependency on specific name of yk8s
  flake.nix
  nix/yk8s/default.nix
Due: none

(wip) add nodes module
  nix/yk8s/nodes.nix
Due: none

(wip) add module to provision nixos nodes
  nix/yk8s/default.nix
  nix/yk8s/nixos/default.nix
  nix/yk8s/openstack/default.nix
Due: none

Update Helm release dcgm-exporter to v4.8.4
  docs/_releasenotes/2652.dependency.dcgm-exporter-updated-to-4.8.4
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Add proper release note for containerd v2.3.5
  docs/_releasenotes/2527.chore.containerd-containerd-updated-to-v2.3.5
  docs/_releasenotes/2527.dependency.containerd-containerd-updated-to-v2.3.5
  docs/_releasenotes/2654.dependency.containerd-containerd-updated-to-v2.3.5
Due: none

Add support for bird3 on gateways
  docs/_releasenotes/2477.feature.add-debian-13-support
  k8s-supplements/ansible/roles/bird/defaults/main.yaml
  k8s-supplements/ansible/roles/bird/handlers/main.yaml
  k8s-supplements/ansible/roles/bird/tasks/main.yaml
  k8s-supplements/ansible/roles/bird/templates/bird3-calico.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird3.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird3.conf.j2
  k8s-supplements/ansible/roles/wireguard/tasks/main.yaml
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird3.conf.j2
Due: yamllint

Announce routes to K8s service IP range by default
  docs/_releasenotes/2477.feature.2.bgp-announce-service-ips
  docs/user/reference/options/yk8s.kubernetes.network.rst
  k8s-supplements/ansible/roles/bird/templates/bird-calico-v6.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
  nix/yk8s/kubernetes/network.nix
Due: build-docs-check

ch-k8s-lbaas: Drop legacy task
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/install.yaml
Due: yamllint

CI: Use Debian 13 for gateways
  ci/config/default.nix
  docs/_releasenotes/2477.change.1.ci-gw
Due: none

ipsec: Make compatible to new Debian versions
  k8s-supplements/ansible/roles/ipsec-vpn/defaults/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
Due: yamllint

Make HAProxy service setup more robust
  k8s-core/ansible/roles/haproxy/tasks/main.yaml
Due: yamllint

nftables: Accept BGP before invalid-state check
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
Due: none

bird: Drop universal scope
  k8s-supplements/ansible/roles/bird/templates/bird-calico-v6.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird3-calico.conf.j2
Due: none

Lock file maintenance
  docs/_releasenotes/2653.dependency.-updated-to-
  flake.lock
Due: none

nix: Don't set debug option by default
  templates/cluster-repo/minimal/flake.nix
Due: none

nix: Use __structuredAttrs for mkYaml
  nix/yk8s/lib/default.nix
Due: none

nix: Create kubeadm subdirectory
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubeadm/default.nix
  nix/yk8s/kubernetes/kubeadm/patches.nix
Due: none

Add variable for patches remote dir
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
  nix/yk8s/kubernetes/kubeadm-patches.nix
Due: yamllint

Render kubeadm manifests with Nix
  docs/_releasenotes/2598.feature.1.kubeadm-nixification
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-init-apiserver-config-bundle.yaml.j2
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-ClusterConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-KubeProxyConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-KubeletConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config-bundle.yaml.j2
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-JoinConfiguration.yaml.j2
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubeadm/cluster-configuration.nix
  nix/yk8s/kubernetes/kubeadm/default.nix
  nix/yk8s/kubernetes/kubeadm/init-join-configuration.nix
  nix/yk8s/kubernetes/network.nix
Due: yamllint

nix: Support multi-document yaml files
  nix/yk8s/lib/default.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
