Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Allow to set arbitrary helm values for blackbox exporter
  docs/_releasenotes/1501.feature.5.nix-helm-values-blackbox-exporter
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  nix/yk8s/k8s-supplements/monitoring/default.nix
  nix/yk8s/k8s-supplements/monitoring/thanos.nix
Due: yamllint

Allow to set arbitrary helm values for Thanos
  docs/_releasenotes/1501.feature.1.nix-helm-values-thanos
  k8s-supplements/ansible/roles/monitoring_thanos_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  k8s-supplements/ansible/test-roles/monitoring_v2_test/defaults/main.yaml
  nix/yk8s/k8s-supplements/monitoring/preface.rst
  nix/yk8s/k8s-supplements/monitoring/thanos.nix
Due: yamllint

Allow to set arbitrary helm values for prometheus-stack
  docs/_releasenotes/1501.feature.2.nix-helm-values-prometheus-stack
  docs/_releasenotes/1501.feature.3.nix-helm-values-prometheus-adapter
  docs/_releasenotes/1501.feature.4.nix-helm-values-nvidia-dcgm-exporter
  k8s-supplements/ansible/roles/monitoring_v2/tasks/copy-ca-as-cm.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/nvidia_dcgm_exporter.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/bird-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/haproxy-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/keepalived-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/node-exporter-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/nvidia_dcgm_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_adapter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/rotate-root-ca.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/defaults/main.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_prometheus_stack.yaml
  nix/yk8s/k8s-supplements/monitoring/default.nix
  nix/yk8s/k8s-supplements/monitoring/grafana.nix
  nix/yk8s/k8s-supplements/monitoring/helm_prometheus_stack/default.nix
  nix/yk8s/k8s-supplements/monitoring/helm_prometheus_stack/grafana.nix
  nix/yk8s/k8s-supplements/monitoring/helm_prometheus_stack/prometheus.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Update registry-1.docker.io/bitnamicharts/thanos Docker tag to v17.2.6
  docs/_releasenotes/2624.dependency.registry-1.docker.io-bitnamicharts-thanos-updated-to-17.2.6
  nix/yk8s/k8s-supplements/monitoring/thanos.nix
Due: none

Update registry-1.docker.io/bitnamicharts/thanos Docker tag to v17.3.1
  docs/_releasenotes/2625.dependency.registry-1.docker.io-bitnamicharts-thanos-updated-to-17.3.1
  nix/yk8s/k8s-supplements/monitoring/thanos.nix
Due: none

Update Helm release prometheus-blackbox-exporter to v11.18.0
  docs/_releasenotes/2623.dependency.prometheus-blackbox-exporter-updated-to-11.18.0
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Fix disable Wireguard on gateway nodes
  docs/_releasenotes/2569.fix.wireguard-can-be-disabled-on-gateway-nodes
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
  nix/yk8s/k8s-supplements/wireguard/default.nix
Due: yamllint

fixup! Add python script for generating runtime sbom
  ci/sbom.yaml
  tools/generate_runtime_sbom.py
Due: yamllint, flake8

fixup! Add python script for generating runtime sbom
  tools/generate_runtime_sbom.py
Due: flake8

Update Helm release tigera-operator to v3.32.1
  docs/_releasenotes/2466.dependency.tigera-operator-updated-to-v3.32.1
  nix/yk8s/k8s-supplements/calico.nix
Due: none

cert-manager: Enable Gateway API by default
  docs/_releasenotes/2493.change.enable-gateway-api-in-cert-manager-by-default
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: build-docs-check

Debug outout all sbom artifacts
  ci/sbom.yaml
Due: yamllint

Calico: Add support for v3.32
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  nix/yk8s/k8s-supplements/calico.nix
Due: yamllint

Fix scraping of calico-kube-controllers for >= v3.32
  docs/_releasenotes/2466.dependency.tigera-operator-updated-to-v3.32.1
  k8s-supplements/ansible/roles/monitoring_v2/templates/calico-tigera-monitoring.yaml.j2
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

Properly wait for all calico-apiservers to be ready
  docs/_releasenotes/2626.fix.1.wait-calico-apiserver
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/setup_bgp.yaml
Due: yamllint

Update Helm release rook-ceph to v1.20.6
  docs/_releasenotes/2508.dependency.rook-ceph-updated-to-v1.20.6
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

CI: Cleanup Thanos bucket in after script
  ci/cluster-tests.yaml
  docs/_releasenotes/2627.misc.1.cleanup-thanos-buckets
Due: yamllint

Update Helm release kube-prometheus-stack to v89
  docs/_releasenotes/2628.BREAKING.kube-prometheus-stack-updated-to-89.1.0
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Remove k8s_service_net static route
  k8s-supplements/ansible/roles/bird/templates/bird-calico-v6.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
Due: none

Add support for debian 13 on gateway nodes
  docs/_releasenotes/2477.feature.add-debian-13-support
  k8s-supplements/ansible/roles/bird/defaults/main.yaml
  k8s-supplements/ansible/roles/bird/handlers/main.yaml
  k8s-supplements/ansible/roles/bird/tasks/main.yaml
  k8s-supplements/ansible/roles/bird/templates/bird3-calico.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird3.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird3.conf.j2
  k8s-supplements/ansible/roles/wireguard/tasks/main.yaml
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird3.conf.j2
  nix/yk8s/kubernetes/network.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.rst
Due: build-docs-check

Update Helm release openstack-cinder-csi to v2.36.3
  docs/_releasenotes/2629.dependency.openstack-cinder-csi-updated-to-2.36.3
  nix/yk8s/openstack/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

Update Helm release openstack-cloud-controller-manager to v2.36.4
  docs/_releasenotes/2631.dependency.openstack-cloud-controller-manager-updated-to-2.36.4
  nix/yk8s/openstack/default.nix
Due: none

Update dependency community.general to v13.4.0
  ansible/requirements.yaml
  docs/_releasenotes/2632.dependency.community.general-updated-to-13.4.0
Due: yamllint

Update Helm release openstack-cinder-csi to v2.36.4
  docs/_releasenotes/2633.dependency.openstack-cinder-csi-updated-to-2.36.4
  nix/yk8s/openstack/default.nix
Due: none

Update Helm release openstack-cinder-csi to v2.36.5
  docs/_releasenotes/2634.dependency.openstack-cinder-csi-updated-to-2.36.5
  nix/yk8s/openstack/default.nix
Due: none

Update Helm release openstack-cloud-controller-manager to v2.36.5
  docs/_releasenotes/2635.dependency.openstack-cloud-controller-manager-updated-to-2.36.5
  nix/yk8s/openstack/default.nix
Due: none
