Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Fix descriptions of Terraform variables
  docs/_releasenotes/1230.misc.fixup-terraform-variable-descriptions
  terraform/00-variables.tf
Due: tflint

Fix changelog rendering
  CHANGELOG.rst
  docs/_releasenotes/+.fix.changelog-rendering
Due: none

Add CHANGELOG.rst to changes
  .gitlab-ci.yml
Due: yamllint

chore(deps): update dependency boto3 to v1.34.99
  docs/_releasenotes/+.chore.2024-05-06T20:05:57+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency furo to v2024.5.6
  docs/_releasenotes/+.chore.2024-05-06T20:06:14+00:00
  poetry.lock
Due: poetry-lock

Dummy build current releasenotes in build docs
  .gitlab-ci.yml
  docs/_releasenotes/1234.fix.ci-build_releasenotes
Due: yamllint

Allow minimal access Python venv
  .envrc.lib.sh
  actions/apply-all.sh
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/lib.sh
  actions/migrate-cluster-repo.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/verify-cluster-health.sh
  docs/_releasenotes/1225.feature.minimal-venv
  docs/user/guide/index.md
  docs/user/guide/minimal-access-venv.rst
  docs/user/reference/environmental-variables.rst
  poetry.lock
  pyproject.toml
  templates/envrc.template.sh
  templates/yaook-k8s-env.template.sh
Due: shellcheck, poetry-lock, build-docs-check

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

Drop migrate-count-to-for-each.sh
  .gitignore
  actions/apply-terraform.sh
  actions/helpers/migrate-count-to-for-each.sh
  templates/template.gitignore
Due: shellcheck

flake: replace terraform with opentofu
  flake.nix
Due: none

Update `CHANGELOG.rst` and version for next release v5.1.0
  CHANGELOG.rst
  docs/_releasenotes/+.chore.2024-05-02T16:09:27+00:00
  docs/_releasenotes/+.chore.2024-05-06T00:06:13+00:00
  docs/_releasenotes/+.chore.2024-05-06T20:05:57+00:00
  docs/_releasenotes/+.chore.2024-05-06T20:06:14+00:00
  docs/_releasenotes/+.fix.changelog-rendering
  docs/_releasenotes/+.misc.release-v5.0.0
  docs/_releasenotes/1225.feature.minimal-venv
  docs/_releasenotes/1234.fix.ci-build_releasenotes
  version
Due: none

Trigger MR to devel for release-prepare/v5.1.0
  docs/_releasenotes/+.misc.release-v5.1.0
Due: none

flake.nix: use flake-parts
  flake.lock
  flake.nix
Due: none

fixup! flake: replace terraform with opentofu
  flake.nix
Due: none

Make hosts file backing up more robust
  actions/migrate-cluster-repo.sh
  docs/_releasenotes/1236.change
Due: shellcheck

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.51.1
  .gitlab-ci.yml
  docs/_releasenotes/+.chore.2024-05-11T14:05:00+00:00
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-05-13T00:08:01+00:00
  poetry.lock
Due: poetry-lock

Guard against accidental SIGINT of long running actions
  actions/apply-all.sh
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/lib.sh
  actions/manual-terraform.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/verify-cluster-health.sh
  docs/_releasenotes/+.change.guard-long-running-actions-againts-accidental-termination
Due: shellcheck

repair link in changelog
  CHANGELOG.rst
Due: none

terraform use volume_v3 API
  docs/_releasenotes/1245.change.terraform_volumeV3
  docs/developer/reference/terraform-docs.rst
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint, build-docs-check

docs: Add information about installing Vault
  docs/_releasenotes/1247.docs.vault-dependencies
  docs/user/guide/initialization.rst
Due: build-docs-check

Fixup !1049 from suggestions
  actions/helpers/terraform_helper.py
  actions/helpers/wireguard_helper.py
  actions/update_inventory.py
  docs/_releasenotes/hotfix/1248.fix.fix-retrieval-of-default-subnet-cidr
Due: flake8

Fixup !1049 from suggestions
  actions/helpers/terraform_helper.py
  actions/helpers/wireguard_helper.py
  actions/update_inventory.py
  docs/_releasenotes/hotfix/1249.fix.fix-retrieval-of-default-subnet-cidr
Due: flake8

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1249.fix.fix-retrieval-of-default-subnet-cidr
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1248.fix.fix-retrieval-of-default-subnet-cidr
  version
Due: none

Remove service-account-issuer patch for kube-apiserver
  docs/_releasenotes/1252.removal.service-account-issuer-patch
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/templates/kubeadm-patches/kube-apiserver0+json.json.j2
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
Due: yamllint

Fixup !1049 from suggestions
  actions/helpers/terraform_helper.py
  actions/helpers/wireguard_helper.py
  actions/update_inventory.py
  docs/_releasenotes/hotfix/1254.fix.fix-retrieval-of-default-subnet-cidr
Due: flake8

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1254.fix.fix-retrieval-of-default-subnet-cidr
  version
Due: none

chore(deps): update dependency ansible to v9.6.0
  docs/_releasenotes/+.chore.2024-05-22T13:23:14+00:00
  poetry.lock
Due: poetry-lock

Update terraform documentation
  ci/lint/ansible-lint-conf
  docs/.terraform-doc-header.md
  docs/.terraform-docs.yaml
  docs/_releasenotes/1189.docs.terraform
  docs/conf.py
  docs/developer/reference/terraform-docs.md
  docs/developer/reference/terraform-docs.rst
Due: yamllint, flake8, build-docs-check

chore(deps): update dependency kubernetes.core to v3.1.0
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.2024-05-22T14:31:44+00:00
Due: yamllint

chore(deps): update terraform openstack to v2
  docs/_releasenotes/+.chore.2024-05-22T16:06:35+00:00
  terraform/versions.tf
Due: tflint

chore(deps): update dependency sphinx-design to ^0.6.0
  docs/_releasenotes/+.chore.2024-05-23T00:07:01+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

chore(deps): update dependency ansible-lint to v24.5.0
  docs/_releasenotes/+.chore.2024-05-22T13:23:23+00:00
  poetry.lock
Due: poetry-lock

thanos: upgrade default to 15.5.0
  docs/_releasenotes/1188.change.thanos-version-upgrade
  k8s-supplements/ansible/roles/monitoring_thanos_v2/defaults/main.yml
Due: yamllint

Update docs according to !1230
  docs/developer/reference/terraform-docs.md
Due: build-docs-check

Exit with warning on hotfix branches
  .gitlab-ci.yml
  docs/_releasenotes/1255.fix.warning_on_mriid
Due: yamllint

Drop Kubernetes v1.26
  ci/cluster-tests.yaml
  docs/_releasenotes/1253.removal.k8s-v1.26
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.27.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  templates/config.template.toml
Due: yamllint

Replace python json/yaml/toml oneliners
  actions/wg-up.sh
  docs/_releasenotes/1235.misc.replace-python-json-yaml-toml-oneliners
  docs/user/guide/vault/vault-ca-rotation.rst
  poetry.lock
  pyproject.toml
  tools/vault/lib.sh
Due: shellcheck, poetry-lock, build-docs-check
