Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update `CHANGELOG.rst` and version for next release v2.0.0
  CHANGELOG.rst
  docs/_releasenotes/+.chore.2024-01-23T22:05:51+00:00
  docs/_releasenotes/+.chore.2024-01-29T12:05:36+00:00
  docs/_releasenotes/+.chore.2024-01-30T00:05:58+00:00
  docs/_releasenotes/+.chore.2024-01-31T02:05:23+00:00
  docs/_releasenotes/+.chore.2024-02-01T00:12:05+00:00
  docs/_releasenotes/+.chore.2024-02-01T00:12:10+00:00
  docs/_releasenotes/+.chore.2024-02-01T04:05:44+00:00
  docs/_releasenotes/+.chore.2024-02-01T12:06:10+00:00
  docs/_releasenotes/+.chore.2024-02-01T20:05:52+00:00
  docs/_releasenotes/+.chore.2024-02-02T22:05:21+00:00
  docs/_releasenotes/+.chore.2024-02-05T00:05:59+00:00
  docs/_releasenotes/+.chore.2024-02-05T20:04:04+00:00
  docs/_releasenotes/+.chore.ci-stuff
  docs/_releasenotes/+.chore.ci-stuff-2
  docs/_releasenotes/+.chore.renovate-ansible-galaxy
  docs/_releasenotes/+.chore.revert-87b7e78b
  docs/_releasenotes/+.fix.fix-prom-persisten-storage-template
  docs/_releasenotes/+.fix.kubeadm-cert-renewal
  docs/_releasenotes/+.misc.release-v1.0.0
  docs/_releasenotes/+.misc.release-v2.0.0
  docs/_releasenotes/1016.feature.vaultkubeconf
  docs/_releasenotes/1033.chore.further_rm_improvement
  docs/_releasenotes/939.feature.BREAKING.root-ca-rotation
  version
Due: none

Lock file maintenance
  docs/_releasenotes/+.chore.2024-02-12T00:07:14+00:00
  poetry.lock
Due: poetry-lock

Reenable favicon for docs
  docs/_releasenotes/+.misc.favicon_is_back
  docs/conf.py
Due: flake8, build-docs-check

Add breaking information in releasenotes
  docs/_releasenotes/+.docs.how-to-break
  docs/development/coding-guide.rst
Due: build-docs-check

Add information about releases in docu
  docs/_releasenotes/+.docs.how-to-release
  docs/concepts/release-and-versioning-policy.rst
  docs/development/coding-guide.rst
Due: build-docs-check

Check version-tags in ci
  ci/release.yaml
  docs/_releasenotes/+.chore.no_tagging
Due: yamllint

Change rules for pages-job
  ci/release.yaml
  docs/_releasenotes/+.chore.run-pages-job-on-devel
Due: yamllint

remove apt-cacher-ng related stuff
  docs/_releasenotes/978.removal.remove-acng-stuff
  install-node/roles/apt-cacher-ng/files/backends_ubuntu
  install-node/roles/apt-cacher-ng/files/ubuntu_mirrors
  install-node/roles/apt-cacher-ng/handlers/main.yaml
  install-node/roles/apt-cacher-ng/tasks/main.yaml
  install-node/roles/apt-cacher-ng/templates/acng.conf.j2
  install-node/setup_install_node.yaml
  tools/fix-acng-cache.py
Due: yamllint, flake8

Fix loading order in envrc template
  docs/_releasenotes/+.fix.envrc-template-nix
  templates/envrc.template.sh
Due: shellcheck

Update dependency ansible-lint to v24
  docs/_releasenotes/+.chore.2024-02-14T12:06:45+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

envrc.lib.sh: Run poetry install with --no-root
  .envrc.lib.sh
  docs/_releasenotes/+.fix.poetry-no-root
Due: shellcheck

Add support for Kubernetes v1.27
  ci/config/config.toml
  docs/_releasenotes/1065.feature.k8s-v-1-27
  k8s-base/k8s-upgrades/k8s_upgrade_to_1.27.yaml
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/cinder-csi-controllerplugin.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/cinder-csi-nodeplugin.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/csi-cinder-driver.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cloud-controller-manager/rbac/cloud-controller-manager-role-bindings.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cloud-controller-manager/rbac/cloud-controller-manager-roles.yaml.j2
  k8s-base/roles/k8s-config/defaults/main.yaml
  templates/config.template.toml
Due: yamllint

Don't deploy snapshot-controller from every cp node
  k8s-base/roles/volume-snapshots/tasks/main.yaml
Due: yamllint

CI: Add v1.27 to upgrade tests
  ci/cluster-tests.yaml
Due: yamllint

Use snapshot-controller v6.3.3 for K8s v1.27
  k8s-base/roles/k8s-config/defaults/main.yaml
  k8s-base/roles/volume-snapshots/files/v6.3.3/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-base/roles/volume-snapshots/files/v6.3.3/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-base/roles/volume-snapshots/files/v6.3.3/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-base/roles/volume-snapshots/files/v6.3.3/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-base/roles/volume-snapshots/files/v6.3.3/snapshot-controller/setup-snapshot-controller.yaml
  k8s-base/roles/volume-snapshots/tasks/main.yaml
Due: yamllint

make the husky blue
  docs/_releasenotes/+.fix.envrc-template-nix
  docs/_releasenotes/+.misc.blue_husky
  docs/conf.py
  docs/img/Husky_blue.svg
  templates/envrc.template.sh
Due: shellcheck, flake8, build-docs-check

Add .gitignore for hotfix-releasnotes
  docs/_releasenotes/+.misc.add_gitignore
  docs/_releasenotes/hotfix/.gitignore
Due: none

Lock file maintenance
  docs/_releasenotes/+.chore.2024-02-19T00:06:31+00:00
  poetry.lock
Due: poetry-lock

Drop support for Kubernetes v1.25
  ci/cluster-tests.yaml
  docs/_releasenotes/1056.removal.drop-k8s-v1.25
  k8s-base/k8s-upgrades/k8s_upgrade_to_1.26.yaml
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.25/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.25/cinder-csi-plugin/cinder-csi-controllerplugin.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.25/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.25/cinder-csi-plugin/cinder-csi-nodeplugin.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.25/cinder-csi-plugin/csi-cinder-driver.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.25/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.25/cloud-controller-manager/rbac/cloud-controller-manager-role-bindings.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.25/cloud-controller-manager/rbac/cloud-controller-manager-roles.yaml.j2
  k8s-base/roles/k8s-config/defaults/main.yaml
  templates/config.template.toml
Due: yamllint

remove community.hashi_vault from ansible requirements.txt
  ansible/requirements.yaml
  docs/_releasenotes/1082.misc.cleanup-ansible-requirements
Due: yamllint

Support old issuer paths
  docs/_releasenotes/1069.fix.vaultpolicy
  tools/vault/init.sh
Due: shellcheck

vault-init: Make deprecated policies explicit
  tools/vault/init.sh
Due: shellcheck

Add missing IPSec vault migration
  tools/vault/mkcluster-intermediate.sh
Due: shellcheck

Thanos: Don't fail for application credentials
  k8s-service-layer/roles/monitoring_thanos_v2/tasks/main.yml
Due: yamllint

Move Thanos related task to Thanos role
  k8s-service-layer/roles/monitoring_thanos_v2/tasks/main.yml
  k8s-service-layer/roles/monitoring_v2/tasks/main.yaml
Due: yamllint

Vaultify Thanos object storage configuration
  docs/_releasenotes/+.BREAKING.vaultify-thanos-object-storage-configuration
  docs/managed-services/prometheus/prometheus-stack.rst
  k8s-service-layer/roles/monitoring_thanos_v2/defaults/main.yml
  k8s-service-layer/roles/monitoring_thanos_v2/tasks/main.yml
  k8s-service-layer/roles/monitoring_thanos_v2/templates/thanos-objectstorage.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/thanos-sidecar-bucket-credentials.yaml.j2
  templates/config.template.toml
  tools/vault/init.sh
  tools/vault/lib.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

Update `CHANGELOG.rst` and version for next release v2.1.0
  CHANGELOG.rst
  docs/_releasenotes/+.change.gpu-tests
  docs/_releasenotes/+.chore.2024-02-12T00:07:14+00:00
  docs/_releasenotes/+.chore.2024-02-14T12:06:45+00:00
  docs/_releasenotes/+.chore.2024-02-19T00:06:31+00:00
  docs/_releasenotes/+.chore.no_tagging
  docs/_releasenotes/+.chore.run-pages-job-on-devel
  docs/_releasenotes/+.docs.how-to-break
  docs/_releasenotes/+.docs.how-to-release
  docs/_releasenotes/+.feature.allow-configure-ceph-dashboard
  docs/_releasenotes/+.fix.envrc-template-nix
  docs/_releasenotes/+.fix.poetry-no-root
  docs/_releasenotes/+.misc.add_gitignore
  docs/_releasenotes/+.misc.blue_husky
  docs/_releasenotes/+.misc.favicon_is_back
  docs/_releasenotes/+.misc.release-v2.0.0
  docs/_releasenotes/1040.removal.drop-k8s-v1.24
  docs/_releasenotes/1065.feature.k8s-v-1-27
  docs/_releasenotes/1069.fix.vaultpolicy
  docs/_releasenotes/929.chore.yeePheih0zaig6keighe1ecohga4aiyo
  version
Due: none

Trigger MR to devel for release-prepare/v2.1.0
  docs/_releasenotes/+.misc.release-v2.1.0
Due: none

Drop passwordstore
  actions/helpers/pass_helper.py
  actions/init.sh
  actions/update_inventory.py
  ci/config/config.toml
  docs/_releasenotes/996.BREAKING.drop-passwordstore-functionality
  docs/concepts/cluster-repository.rst
  docs/getting_started/faq.rst
  docs/getting_started/quick-start.rst
  docs/usage/cluster-configuration.rst
  docs/usage/environmental-variables.rst
  docs/usage/initialization.rst
  docs/vpn/ipsec.rst
  k8s-base/roles/passwordstore/meta/main.yaml
  k8s-base/roles/passwordstore/tasks/main.yaml
  templates/config.template.toml
  templates/envrc.template.sh
Due: shellcheck, yamllint, flake8, build-docs-check

Lock file maintenance
  docs/_releasenotes/+.chore.2024-02-26T00:06:56+00:00
  poetry.lock
Due: poetry-lock

Fix missing info in the pivoting docs for Vault
  docs/_releasenotes/1086.docs.pivot-fix
  docs/operation/vault.rst
Due: build-docs-check

Mark dual-stack support as non-functional
  docs/misc/dualstack.rst
Due: build-docs-check

Fix vault/import.sh for non-OpenStack clusters
  docs/_releasenotes/1090.fix.vault-import-bm
  tools/vault/import.sh
Due: shellcheck

CI cleanup: Wait for volume snapshot removal
  ci/clean-up-os-project.py
  docs/_releasenotes/1091.chore.ci-cleanup-volume-snapshot
Due: flake8

flux: Fix PodMonitor creation
  docs/_releasenotes/1092.fix.flux-without-prometheus
  k8s-service-layer/roles/fluxcd2_v2/templates/values.yaml.j2
Due: none

Fix nuking an OpenStack cluster with Gitlab as backend
  actions/destroy.sh
  docs/_releasenotes/1093.fix.nuking-with-gitlab-as-backend
Due: shellcheck

Update dependency ansible to v9.3.0
  docs/_releasenotes/+.chore.2024-02-27T20:06:06+00:00
  poetry.lock
Due: poetry-lock

Fix release-note-file-check in ci
  .gitlab-ci.yml
  docs/_releasenotes/1096.chore.fix_releasenote_check
Due: yamllint

Fix kubernetes-validate version during K8s upgrades
  docs/_releasenotes/1094.fix.kubernetes-validate-version-on-k8s-nodes
  k8s-base/roles/k8s-config/defaults/main.yaml
  k8s-base/roles/k8s-tools/tasks/main.yaml
Due: yamllint
