Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Add support for bird3 on gateways
  docs/_releasenotes/2477.feature.add-debian-13-support
  k8s-supplements/ansible/roles/bird/defaults/main.yaml
  k8s-supplements/ansible/roles/bird/handlers/main.yaml
  k8s-supplements/ansible/roles/bird/tasks/main.yaml
  k8s-supplements/ansible/roles/bird/templates/bird3-calico.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird3.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird3.conf.j2
  k8s-supplements/ansible/roles/wireguard/tasks/main.yaml
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird3.conf.j2
Due: yamllint

Announce routes to K8s service IP range by default
  docs/_releasenotes/2477.feature.2.bgp-announce-service-ips
  docs/user/reference/options/yk8s.kubernetes.network.rst
  k8s-supplements/ansible/roles/bird/templates/bird-calico-v6.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
  nix/yk8s/kubernetes/network.nix
Due: build-docs-check

ch-k8s-lbaas: Drop legacy task
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/install.yaml
Due: yamllint

CI: Use Debian 13 for gateways
  ci/config/default.nix
  docs/_releasenotes/2477.change.1.ci-gw
Due: none

ipsec: Make compatible to new Debian versions
  k8s-supplements/ansible/roles/ipsec-vpn/defaults/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
Due: yamllint

Make HAProxy service setup more robust
  k8s-core/ansible/roles/haproxy/tasks/main.yaml
Due: yamllint

nftables: Accept BGP before invalid-state check
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
Due: none

bird: Drop universal scope
  k8s-supplements/ansible/roles/bird/templates/bird-calico-v6.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird3-calico.conf.j2
Due: none

Update Helm release kube-prometheus-stack to v90
  docs/_releasenotes/2630.BREAKING.kube-prometheus-stack-updated-to-90.0.0
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Rotate HashiCorp package signing key
  docs/_releasenotes/hotfix/x.change.1.hashicorp-package-signing-key-rotation
  k8s-core/ansible/roles/bootstrap/vault-cli/files/hashicorp-archive-keyring.gpg
Due: none

Drop prerequisites for vault-cli
  k8s-core/ansible/roles/bootstrap/vault-cli/tasks/main.yaml
Due: yamllint

Rotate HashiCorp package signing key
  docs/_releasenotes/hotfix/2637.change.1.hashicorp-package-signing-key-rotation
  k8s-core/ansible/roles/bootstrap/vault-cli/files/hashicorp-archive-keyring.gpg
Due: none

Rotate HashiCorp package signing key
  docs/_releasenotes/hotfix/2638.change.1.hashicorp-package-signing-key-rotation
  k8s-core/ansible/roles/bootstrap/vault-cli/files/hashicorp-archive-keyring.gpg
Due: none

Rotate HashiCorp package signing key
  docs/_releasenotes/hotfix/2639.change.1.hashicorp-package-signing-key-rotation
  k8s-core/ansible/roles/bootstrap/vault-cli/files/hashicorp-archive-keyring.gpg
Due: none

Update version number and changelog for hotfix-release
  docs/_releasenotes/hotfix/x.change.1.hashicorp-package-signing-key-rotation
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2637.change.1.hashicorp-package-signing-key-rotation
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2639.change.1.hashicorp-package-signing-key-rotation
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2638.change.1.hashicorp-package-signing-key-rotation
  version
Due: none

Drop apt-transport-https package
  docs/_releasenotes/2640.misc.1.drop-apt-transport-https-package
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
Due: yamllint

calico: Support network MTU configuration for NodePorts
  docs/_releasenotes/2641.change.1.support-network-mtu-configuration-for-nodeports
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

Update Helm release kube-prometheus-stack to v91
  docs/_releasenotes/2642.BREAKING.kube-prometheus-stack-updated-to-91.2.1
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Monitoring: Migrate deprecated serviceMonitor fields
  docs/_releasenotes/2643.change.1.migrate-monitoring-servicemonitor-fields
  nix/yk8s/k8s-supplements/monitoring/helm_prometheus_stack/default.nix
Due: none

Apply 1 suggestion(s) to 1 file(s)
  actions/release-migrations/v14-state-directory.sh
Due: shellcheck

fixup! nix: Set state directory via self
  actions/release-migrations/v14-state-directory.sh
Due: shellcheck

fixup! nix: Set state directory via self
  actions/release-migrations/v15-01-state-directory.sh
Due: shellcheck

Allow anti_affinity_group to be set by all nodes
  docs/_releasenotes/2607.change.1.affinity-master-nodes
  nix/yk8s/openstack/default.nix
Due: none

Fix references in changelog
  CHANGELOG.rst
  version
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
