Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v73.2.0
  docs/_releasenotes/1886.change.kube-prometheus-stack-updated-to-73.2.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

docs: Drop all mentions of deprecated config.toml
  docs/_releasenotes/1801.docs.1.all-mentions-of-legacy-config-toml-removed
  docs/img/.$apply-custom.drawio.bkp
  docs/img/.$apply-script.drawio.bkp
  docs/img/apply-script.drawio
  docs/img/apply-script.drawio.svg
  docs/img/apply-terraform.drawio
  docs/img/apply-terraform.svg
  docs/img/update-inventory.drawio
  docs/img/update-inventory.svg
  docs/user/guide/kubernetes/restore-certificate-signing-ability.rst
  docs/user/guide/monitoring/prometheus-stack.rst
  docs/user/reference/cluster-configuration.rst
  docs/user/reference/cluster-repository.rst
  nix/templates/cluster-repo/config/default.nix
Due: build-docs-check

docs: Fix renamed config options
  docs/_releasenotes/1801.docs.2.renamed-config-options-fixed
  docs/user/explanation/dualstack.rst
  docs/user/guide/quick-start.rst
  docs/user/reference/options/yk8s.wireguard.rst
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/node-scheduling.nix
Due: build-docs-check

docs: Update replaced wireguard endpoint config options
  docs/_releasenotes/1801.docs.2.renamed-and-replaced-config-options-fixed
  docs/_releasenotes/1801.docs.2.renamed-config-options-fixed
  docs/user/explanation/dualstack.rst
Due: build-docs-check

config: Unify config option notation in errors/warnings
  docs/developer/guide/coding-guide.rst
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/k8s-local-path-provisioner.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
  nix/yk8s/testing.nix
Due: build-docs-check

Improve error message for disruptive actions with Terraform
  actions/lib.sh
  docs/_releasenotes/1889.misc.minor-error-message-improvement
Due: shellcheck

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Decouple helm invocations from local state
  docs/_releasenotes/644.fix.1.helm-no-repo-cache
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/nvidia_dcgm_exporter.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/monitoring.nix
Due: yamllint

chore(deps): update terraform openstack to ~> 3.2.0
  docs/_releasenotes/1892.chore.openstack-updated-to-3.2.0
  terraform/versions.tf
Due: tflint

chore(deps): update helm release cert-manager to v1.18.0
  docs/_releasenotes/1891.change.cert-manager-updated-to-v1.18.0
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

chore(deps): update helm release etcdbackup to v0.20250612.0
  docs/_releasenotes/1893.change.etcdbackup-updated-to-0.20250612.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

config: Assert yk8s.kubernetes.{is_gpu_cluster,virtualize_gpu} mutex
  docs/_releasenotes/1887.fix.config-yk8s-kubernetes-is_gpu_cluster-virtualize_gpu-mutex-asserted
  nix/yk8s/kubernetes/default.nix
Due: none

Properly apply helm charts after !644
  docs/_releasenotes/1894.fix.1.helm-no-repo-cache
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/apply_crds.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/nvidia_dcgm_exporter.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
Due: yamllint

Fix Prometheus stack upgrades after !644
  k8s-supplements/ansible/roles/monitoring_v2/tasks/apply_crds.yaml
Due: yamllint

WIP: Fix enable use of non-default Vault prefixes
  actions/lib.sh
  ci/cluster-tests.yaml
  ci/config/default.nix
  docs/user/explanation/services/vault.rst
  docs/user/explanation/vpn/ipsec.rst
  docs/user/guide/kubernetes/restore-certificate-signing-ability.rst
  docs/user/guide/vault/vault-ca-rotation.rst
  docs/user/guide/vault/vault.rst
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/vault-onboarded/files/vault-login.sh
  k8s-core/ansible/roles/bootstrap/vault-onboarded/tasks/main.yaml
  k8s-core/ansible/vars/vault-config.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/monitoring.yaml
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/vault.nix
  tools/vault/init.sh
  tools/vault/k8s-login.sh
  tools/vault/lib.sh
Due: shellcheck, yamllint, build-docs-check

chore(deps): update dependency community.general to v10.7.1
  ansible/requirements.yaml
  docs/_releasenotes/1897.chore.community.general-updated-to-10.7.1
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v73.2.3
  docs/_releasenotes/1900.change.kube-prometheus-stack-updated-to-73.2.3
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update dependency community.general to v11
  ansible/requirements.yaml
  docs/_releasenotes/1901.chore.community.general-updated-to-11.0.0
Due: yamllint

Support to enable audit logs in Kube-apiserver
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/templates/audit-policy.yaml.j2
  k8s-core/ansible/roles/kubeadm-patches/templates/kubeadm-patches/kube-apiserver0+json.json.j2
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Update Nix image to 2.29.1
  ci/build-image.yaml
Due: yamllint

chore(deps): update helm release cert-manager to v1.18.1
  docs/_releasenotes/1904.change.cert-manager-updated-to-v1.18.1
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

chore(deps): update helm release etcdbackup to v0.20250626.2
  docs/_releasenotes/1906.change.etcdbackup-updated-to-0.20250626.2
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Fix actions/wg-up.sh for fix-wg_private_key_command
  actions/wg-up.sh
  docs/_releasenotes/1899.fix.wg_private_key_command
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

docs: fix faq outdated `apply.sh`
  docs/_releasenotes/1907.docs.faq-outdated-apply
  docs/user/guide/faq.rst
Due: build-docs-check

fix openstack_enabled for bare-metal
  nix/yk8s/openstack.nix
Due: none

chore(deps): update helm release cert-manager to v1.18.2
  docs/_releasenotes/1911.change.cert-manager-updated-to-v1.18.2
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Ensure ca.key is always restored on CP nodes
  k8s-core/ansible/roles/helpers/kubeadm-command/tasks/hide-ca-key.yaml
  k8s-core/ansible/roles/helpers/kubeadm-command/tasks/main.yaml
  k8s-core/ansible/roles/helpers/kubeadm-command/tasks/reveal-ca-key.yaml
Due: yamllint

kubeadm: Ignore CreateJob preflight errors
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
Due: yamllint

Don't slurp kubelet config on CP nodes
  k8s-core/ansible/roles/kubelet-configuration/tasks/main.yaml
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
