Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Prevent frontend nodes from being updated although active
  docs/_releasenotes/hotfix/1521.fix.3.prevent-frontend-node-update
  k8s-core/ansible/update-frontend-nodes.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1521.fix.1.k8s-worker-installation-fact-fix
  docs/_releasenotes/hotfix/1521.fix.2.system-update
  docs/_releasenotes/hotfix/1521.fix.3.prevent-frontend-node-update
  version
Due: none

Fix node join for new clusters
  docs/_releasenotes/hotfix/1524.fix.fix-kube-join
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1524.fix.fix-kube-join
  version
Due: none

fixup! Generate inventory using Nix
  docs/_releasenotes/1265.BREAKING.nix-config
Due: none

chore(deps): update dependency python-openstackclient to v7.2.0
  docs/_releasenotes/1526.chore.2024-10-18T12:06:34+00:00
  poetry.lock
Due: poetry-lock

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-10-21T00:12:04+00:00
  flake.lock
  poetry.lock
Due: poetry-lock

Keepalived exporter: Bump to version 0.7.1
  docs/_releasenotes/1482.feature.keepalived-exporter-add-ipv6-support
  k8s-supplements/ansible/roles/prometheus-keepalived-exporter/defaults/main.yaml
Due: yamllint

Fix jinja templating
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none

etcd-metrics-proxy: Support IPv6
  docs/_releasenotes/1482.feature.etcd-metrics-exporter-add-ipv6-support
  k8s-supplements/ansible/roles/etcd-metrics-proxy/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-metrics-proxy/templates/proxy.yaml.j2
Due: yamllint

Add IPv6 support to all modules
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none

Bird ServiceMonitor: Only deploy when we have gateway nodes
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
Due: yamllint

Merge release notes
  docs/_releasenotes/1482.feature.blackbox-exporter-add-ipv6-support
  docs/_releasenotes/1482.feature.etcd-metrics-exporter-add-ipv6-support
  docs/_releasenotes/1482.feature.keepalived-exporter-add-ipv6-support
Due: none

Apply 2 suggestion(s) to 2 file(s)
  docs/_releasenotes/1265.BREAKING.nix-config
  docs/user/guide/kubernetes/restore-certificate-signing-ability.rst
Due: build-docs-check

fixup! Generate inventory using Nix
  templates/yaook-k8s-env.template.sh
Due: shellcheck

fixup! Generate inventory using Nix
  actions/migrations/v9-01-nix-config.sh
Due: shellcheck

Add missing template for proxy-support
  docs/_releasenotes/1528.fix.proxy-support
  k8s-core/ansible/roles/proxy-support/templates/http-proxy.conf.j2
Due: none

Disable node address autodetection if IP family disabled
  docs/_releasenotes/1529.change.calico-autodetection
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: none

Properly read vault secret and role id if signing requests are enabled
  docs/_releasenotes/1530.fix.signing-k8s-upgrade
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
Due: yamllint

Fix fetching root CA key if signing requests are enabled
  docs/_releasenotes/hotfix/1531.fix.signing-upgrade
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
Due: yamllint

Fix fetching root CA key if signing requests are enabled
  docs/_releasenotes/hotfix/1532.fix.signing-upgrade
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1531.fix.signing-upgrade
  version
Due: none

Fix fetching root CA key if signing requests are enabled
  docs/_releasenotes/hotfix/1533.fix.signing-upgrade
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1532.fix.signing-upgrade
  version
Due: none

Fix fetching root CA key if signing requests are enabled
  docs/_releasenotes/hotfix/1534.fix.signing-upgrade
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
Due: yamllint

Fix fetching root CA key if signing requests are enabled
  docs/_releasenotes/hotfix/1535.fix.signing-upgrade
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1533.fix.signing-upgrade
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1534.fix.signing-upgrade
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1535.fix.signing-upgrade
  version
Due: none

Set IPv6 as preferred IP protocol if ipv6_enabled
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none
