Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

docs: Init cluster repo from submodule
  docs/user/guide/initialization.rst
Due: build-docs-check

Build pages only on devel
  ci/release.yaml
  docs/_releasenotes/1203.fix.pages
Due: yamllint

Use direnv layouts in yk8s repo
  .envrc
  .envrc.lib.sh
  docs/_releasenotes/1204.misc.direnv-in-repo
Due: shellcheck

Remove "scheduled" from pipeline rules
  .gitlab-ci.yml
Due: yamllint

Refine sonobuoy-job
  ci/diagnostic-tools.yaml
Due: yamllint

Change sonobuoy cluster-config
  ci/config/sonobuoy-config.toml
  ci/diagnostic-tools.yaml
  docs/_releasenotes/1125.chore.sonobuy
Due: yamllint

fix: use yaook registry reference
  docs/_releasenotes/1206.fix.yaook-registry-ref
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/templates/vault.yaml.j2
Due: none

Split off harbour infra from permission to disruption
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/lib.sh
  actions/rotate-root-ca.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  ci/after_script_cleanup.sh
  ci/reachability-or-recreate.sh
  docs/_releasenotes/1176.BREAKING.split-off-harbour-infrastructure-from-permission-to-disruption
  docs/user/guide/faq.rst
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

Prevent Terraform disruption through the config
  actions/apply-terraform.sh
  actions/lib.sh
  ci/after_script_cleanup.sh
  ci/reachability-or-recreate.sh
  docs/_releasenotes/1176.BREAKING.split-off-harbour-infrastructure-from-permission-to-disruption
  docs/_releasenotes/1176.chore.add-yq-cli-dependency
  poetry.lock
  pyproject.toml
  templates/config.template.toml
Due: shellcheck, poetry-lock

chore(deps): update dependency furo to v2024.4.27
  docs/_releasenotes/+.chore.2024-04-27T12:05:51+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency myst-parser to v3.0.1
  docs/_releasenotes/+.chore.2024-04-28T22:05:15+00:00
  poetry.lock
Due: poetry-lock

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-04-29T00:06:35+00:00
  poetry.lock
Due: poetry-lock

Drop vault-migrated role
  k8s-supplements/ansible/install-all.yaml
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/roles/vault-migrated/tasks/main.yaml
Due: yamllint

Switch prepare gateway order
  k8s-supplements/ansible/prepare-gw.yaml
Due: yamllint

chore(deps): update dependency yq to v3.4.3
  docs/_releasenotes/+.chore.2024-04-29T18:05:46+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency boto3 to v1.34.94
  docs/_releasenotes/+.chore.2024-04-29T20:06:07+00:00
  poetry.lock
Due: poetry-lock

Refine docs
  docs/_releasenotes/+.docs.tutorial
  docs/user/guide/index.md
  docs/user/guide/initialization.rst
  docs/user/guide/spawning-cluster.rst
  docs/user/tutorial/create-cluster.md
  docs/user/tutorial/create-cluster.rst
Due: build-docs-check

Check whether wg cidrs and cluster cidrs are disjoint
  actions/helpers/terraform_helper.py
  actions/helpers/wireguard_helper.py
  actions/update_inventory.py
  docs/_releasenotes/1049.change.proof-networks-disjuction
  poetry.lock
  pyproject.toml
Due: flake8, poetry-lock

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

Fix failing cluster init when config exists
  actions/init-cluster-repo.sh
  docs/_releasenotes/1211.fix.repo-init-fails-when-config-exists
Due: shellcheck

Drop Thanos v1 and jsonnet at all
  .gitlab-ci.yml
  docs/_releasenotes/1214.removal.jsonnet
  docs/user/guide/initialization.rst
  docs/user/guide/monitoring/prometheus-stack.rst
  flake.nix
  jsonnet-sources/.gitignore
  jsonnet-sources/Makefile
  jsonnet-sources/monitoring/dashboards/ceph-cluster.json
  jsonnet-sources/monitoring/dashboards/ceph-osd.json
  jsonnet-sources/monitoring/dashboards/ceph-pools.json
  jsonnet-sources/monitoring/dashboards/thanos-overview.json
  jsonnet-sources/monitoring/jsonnetfile.json
  jsonnet-sources/monitoring/jsonnetfile.lock.json
  jsonnet-sources/rebuild.sh
  jsonnet-sources/thanos/jsonnetfile.json
  jsonnet-sources/thanos/jsonnetfile.lock.json
  k8s-supplements/ansible/roles/monitoring_thanos_v1/defaults/main.yml
  k8s-supplements/ansible/roles/monitoring_thanos_v1/meta/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v1/tasks/kube_thanos.yml
  k8s-supplements/ansible/roles/monitoring_thanos_v1/tasks/main.yml
  k8s-supplements/ansible/roles/monitoring_thanos_v1/templates/jsonnet-tools.j2
  k8s-supplements/ansible/roles/monitoring_thanos_v1/templates/thanos-objectstorage.yaml.j2
  k8s-supplements/ansible/roles/monitoring_thanos_v1/templates/thanos.jsonnet
  k8s-supplements/ansible/roles/monitoring_thanos_v2/tasks/cleanup-thanos-v1.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/tasks/main.yml
  k8s-supplements/ansible/roles/monitoring_v2/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/defaults/main.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_prometheus_stack.yaml
  k8s-supplements/ansible/test.yaml
  templates/config.template.toml
Due: shellcheck, yamllint, build-docs-check

chore(deps): update dependency ansible-lint to v24.2.3
  docs/_releasenotes/+.chore.2024-04-30T12:05:42+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency python-hcl2 to v4.3.3
  docs/_releasenotes/+.chore.2024-04-30T12:06:02+00:00
  poetry.lock
Due: poetry-lock

Use proper name for LCM in README
  README.md
  docs/_releasenotes/1218.chore.readme
Due: none

Add k8s v1.28 support
  ci/cluster-tests.yaml
  ci/config/config.toml
  docs/_releasenotes/1205.feature.k8s-v1.28
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.28.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.28/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.28/cinder-csi-plugin/cinder-csi-controllerplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.28/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.28/cinder-csi-plugin/cinder-csi-nodeplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.28/cinder-csi-plugin/csi-cinder-driver.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.28/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.28/cloud-controller-manager/rbac/cloud-controller-manager-role-bindings.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.28/cloud-controller-manager/rbac/cloud-controller-manager-roles.yaml.j2
  k8s-supplements/ansible/roles/volume-snapshots/files/v7.0.2/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v7.0.2/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v7.0.2/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v7.0.2/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v7.0.2/snapshot-controller/setup-snapshot-controller.yaml
  templates/config.template.toml
Due: yamllint

Add migration for snapshot-controller
  k8s-supplements/ansible/roles/volume-snapshots/tasks/main.yaml
Due: yamllint

Drop kubernetes-upgrade-info
  k8s-core/ansible/roles/kubernetes-upgrade-info/meta/main.yaml
  k8s-core/ansible/roles/kubernetes-upgrade-info/tasks/main.yaml
  k8s-core/ansible/roles/kubernetes-upgrade-info/vars/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Gather facts every time
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Overwrite k8s_version for all hosts
  k8s-supplements/ansible/k8s-upgrade-to-1.27.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.28.yaml
Due: yamllint

Don't retry helm module
  docs/_releasenotes/1215.chore.helm
  k8s-core/ansible/roles/nvidia-device-plugin/tasks/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/tasks/main.yml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/apply_crds.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/nvidia_dcgm_exporter.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
Due: yamllint

chore(deps): update dependency jsonschema to v4.22.0
  docs/_releasenotes/+.chore.2024-04-30T20:05:37+00:00
  poetry.lock
Due: poetry-lock

Make check more resilient
  docs/_releasenotes/+.fix.calico-fix
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/setup_bgp.yaml
Due: yamllint

Increase resilience of container restart tasks
  docs/_releasenotes/+.fix.cp-container-restarts
  k8s-core/ansible/roles/k8s-master/handlers/main.yaml
Due: yamllint

Update `CHANGELOG.rst` and version for next release v5.0.0
  CHANGELOG.rst
  docs/_releasenotes/+.chore.2024-04-12T20:05:42+00:00
  docs/_releasenotes/+.chore.2024-04-15T00:07:00+00:00
  docs/_releasenotes/+.chore.2024-04-22T00:06:49+00:00
  docs/_releasenotes/+.chore.2024-04-23T15:13:35+00:00
  docs/_releasenotes/+.chore.2024-04-24T08:06:18+00:00
  docs/_releasenotes/+.chore.2024-04-27T12:05:51+00:00
  docs/_releasenotes/+.chore.2024-04-28T22:05:15+00:00
  docs/_releasenotes/+.chore.2024-04-29T00:06:35+00:00
  docs/_releasenotes/+.chore.2024-04-29T18:05:46+00:00
  docs/_releasenotes/+.chore.2024-04-29T20:06:07+00:00
  docs/_releasenotes/+.chore.2024-04-30T12:05:42+00:00
  docs/_releasenotes/+.chore.2024-04-30T12:06:02+00:00
  docs/_releasenotes/+.chore.2024-04-30T20:05:37+00:00
  docs/_releasenotes/+.docs.add-edit-button
  docs/_releasenotes/+.docs.hotfix-code
  docs/_releasenotes/+.docs.tutorial
  docs/_releasenotes/+.fix.calico-fix
  docs/_releasenotes/+.fix.cp-container-restarts
  docs/_releasenotes/+.misc.release-v4.0.0
  docs/_releasenotes/1049.change.proof-networks-disjuction
  docs/_releasenotes/1176.BREAKING.split-off-harbour-infrastructure-from-permission-to-disruption
  docs/_releasenotes/1176.chore.add-yq-cli-dependency
  docs/_releasenotes/1179.BREAKING.vault-autodetect-clustername
  docs/_releasenotes/1181.docs.diataxis
  docs/_releasenotes/1183.fix.bare-metal-v4
  docs/_releasenotes/1191.docs.add-user-tut
  docs/_releasenotes/1193.docs.copybutton
  docs/_releasenotes/1196.fix.654-improve-the-idempotency-of-the-migrate-cluster-repo-sh-action
  docs/_releasenotes/1202.change.orchestrator
  docs/_releasenotes/1203.fix.pages
  docs/_releasenotes/1204.misc.direnv-in-repo
  docs/_releasenotes/1205.feature.k8s-v1.28
  docs/_releasenotes/1206.fix.yaook-registry-ref
  docs/_releasenotes/1211.fix.repo-init-fails-when-config-exists
  docs/_releasenotes/1214.removal.jsonnet
  docs/_releasenotes/1215.chore.helm
  docs/_releasenotes/1218.chore.readme
  version
Due: none

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.51.0
  .gitlab-ci.yml
  docs/_releasenotes/+.chore.2024-05-02T16:09:27+00:00
Due: yamllint

Trigger MR to devel for release-prepare/v5.0.0
  docs/_releasenotes/+.misc.release-v5.0.0
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-05-06T00:06:13+00:00
  poetry.lock
Due: poetry-lock

Add option to keep ca.key
  k8s-core/ansible/roles/k8s-master/defaults/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  templates/config.template.toml
Due: yamllint

Add release note
  docs/_releasenotes/1219.fix.restore-k8s-certificate-signing-ability
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
