Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Fix TAROOK_NIX_FLAGS again
  actions/update-inventory.sh
  docs/_releasenotes/2516.fix.1.tarook-nix-flags
Due: shellcheck

Add variable gateway_nodes_configured
  actions/apply-all.sh
  actions/apply-prepare-gw.sh
  actions/lib.sh
  nix/yk8s/conf-vars.nix
  nix/yk8s/infra.nix
Due: shellcheck

Add basic proxmox support
  docs/_releasenotes/1560.feature.1.px
  docs/user/reference/environmental-variables.rst
  nix/yk8s/default.nix
  nix/yk8s/proxmox/default.nix
  nix/yk8s/proxmox/terraform.nix
  templates/yaook-k8s-env.template.sh
Due: shellcheck, build-docs-check

Rework init action to support multiple templates
  actions/init-cluster-repo.sh
  ci/cluster-tests.yaml
  docs/_releasenotes/1560.BREAKING.1.px
  docs/user/guide/quick-start/initialization.rst
  docs/user/reference/actions-references.rst
  flake.nix
  nix/templates/default.nix
  templates/cluster-repo/minimal/.envrc
  templates/cluster-repo/minimal/.gitignore
  templates/cluster-repo/minimal/config/default.nix
  templates/cluster-repo/minimal/flake.nix
  templates/cluster-repo/openstack/.envrc
  templates/cluster-repo/openstack/.gitignore
  templates/cluster-repo/openstack/config/default.nix
  templates/cluster-repo/openstack/flake.nix
  templates/cluster-repo/proxmox/.envrc
  templates/cluster-repo/proxmox/.gitignore
  templates/cluster-repo/proxmox/config/default.nix
  templates/cluster-repo/proxmox/flake.nix
Due: shellcheck, yamllint, build-docs-check

Update rendered docs
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.proxmox.rst
  docs/user/reference/options/yk8s.terraform.rst
Due: build-docs-check

Fix formatting of nix files
  nix/tests/test_yk8s/test_lib/test_types/default.nix
  nix/yk8s/node-scheduling.nix
Due: none

fixup! docs: Add quickstart guide for proxmox
  docs/templates/envrc.openstack.template.sh
  docs/templates/envrc.proxmox.template.sh
  docs/user/guide/faq.rst
  docs/user/guide/quick-start/openstack/20-system-resources.rst
  docs/user/guide/quick-start/openstack/index.rst
  docs/user/guide/quick-start/proxmox/30-init-repo.rst
  docs/user/guide/quick-start/proxmox/index.rst
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

fixup! Add basic proxmox support
  nix/yk8s/proxmox/default.nix
Due: none

fixup! Add basic proxmox support
  nix/yk8s/proxmox/terraform.nix
Due: none

fixup! Rework init action to support multiple templates
  actions/init-cluster-repo.sh
Due: shellcheck

Update Helm release etcdbackup to v2.3.1
  docs/_releasenotes/2517.change.etcdbackup-updated-to-2.3.1
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2518.chore.kubernetes-kubernetes-updated-to-v1.35.6
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Update Helm release prometheus-blackbox-exporter to v11.12.0
  docs/_releasenotes/2519.change.prometheus-blackbox-exporter-updated-to-11.12.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Lock file maintenance
  docs/_releasenotes/2520.chore.-updated-to-
  flake.lock
Due: none

Improve runtime of regular node system updates
  docs/_releasenotes/2462.change.1.update-logic
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
Due: yamllint

Update dependency community.general to v13.1.0
  ansible/requirements.yaml
  docs/_releasenotes/2521.chore.community.general-updated-to-13.1.0
Due: yamllint

Update Helm release prometheus-blackbox-exporter to v11.13.0
  docs/_releasenotes/2523.change.prometheus-blackbox-exporter-updated-to-11.13.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release etcdbackup to v2.4.0
  docs/_releasenotes/2524.change.etcdbackup-updated-to-2.4.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update Helm release tigera-operator to v3.31.6
  docs/_releasenotes/2525.change.tigera-operator-updated-to-v3.31.6
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

Update dependency containerd/containerd to v2.1.9
  docs/_releasenotes/2526.chore.containerd-containerd-updated-to-v2.1.9
  nix/yk8s/containerd.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.containerd.rst
Due: build-docs-check

Update dependency containerd/containerd to v2.3.2
  docs/_releasenotes/2527.chore.containerd-containerd-updated-to-v2.3.2
  nix/yk8s/containerd.nix
Due: none

Update Helm release kube-prometheus-stack to v87
  docs/_releasenotes/2529.BREAKING.kube-prometheus-stack-updated-to-87.0.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Patch sphinx-multiversion
  nix/dependencies.nix
Due: none

Bump nixpkgs.url to 26.05
  docs/_releasenotes/2511.change.1.nix-26.05
  docs/user/reference/options/yk8s.containerd.rst
  docs/user/reference/options/yk8s.ipsec.rst
  flake.lock
  flake.nix
Due: build-docs-check

Update Helm release kube-prometheus-stack to v84
  docs/_releasenotes/2453.BREAKING.kube-prometheus-stack-updated-to-84.3.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v84.4.0
  docs/_releasenotes/2530.change.kube-prometheus-stack-updated-to-84.4.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v84.5.0
  docs/_releasenotes/2531.change.kube-prometheus-stack-updated-to-84.5.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
