Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

fix: IPv4 interface in net forward template
  k8s-core/ansible/roles/bootstrap/net-forwarding/templates/forward.conf.j2
Due: none

Remove mapping of snapshot-controller to K8s version
  docs/_releasenotes/2324.change.2.snapshot-controller
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
  k8s-supplements/ansible/k8s-upgrade-to-1.33.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.34.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/meta/main.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/meta/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/meta/main.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.0.1/snapshot-controller/setup-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.0/snapshot-controller/setup-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.2.1/snapshot-controller/setup-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/snapshot-controller/setup-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/meta/main.yaml
  k8s-supplements/ansible/roles/volume-snapshots/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-calico/meta/main.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/meta/main.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Fix Kubernetes upgrade procedure
  docs/_releasenotes/2324.change.1.fix-k8s-upgrades
  k8s-core/ansible/roles/k8s-packages/tasks/configure-package-repo.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubeadm/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubelet/tasks/main.yaml
Due: yamllint

Allow connectivity to Pod and Service networks via Wireguard
  docs/_releasenotes/2287.change.1.wg-to-k8s
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
Due: none

Allow connectivity to Pod and Service networks via Wireguard II
  actions/lib.sh
  actions/wg-up.sh
  docs/_releasenotes/2287.feature.1.wg-to-k8s
  docs/user/reference/actions-references.rst
  docs/user/reference/environmental-variables.rst
  k8s-supplements/ansible/roles/wireguard/tasks/wg_endpoint.yaml
  k8s-supplements/ansible/roles/wireguard/templates/wg_client_with_k8s.conf.j2
Due: shellcheck, yamllint, build-docs-check

Improve description of infra.ansible_hosts
  CHANGELOG.rst
  docs/user/reference/options/yk8s.infra.rst
  nix/yk8s/infra.nix
  version
Due: build-docs-check

Improve description of infra.ansible_hosts
  docs/user/reference/options/yk8s.infra.rst
  nix/yk8s/infra.nix
  version
Due: build-docs-check

chore(deps): update helm release rook-ceph to v1.19.2
  docs/_releasenotes/2263.change.rook-ceph-updated-to-v1.19.2
  nix/yk8s/k8s-supplements/rook.nix
Due: none

chore(deps): update helm release openstack-cloud-controller-manager to v2.35.0
  docs/_releasenotes/2315.change.openstack-cloud-controller-manager-updated-to-2.35.0
  nix/yk8s/openstack.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check

adding taints to kubeadm-join
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-join-config.yaml.j2
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-join-config.yaml.j2
Due: none

chore(deps): update helm release etcdbackup to v1.4.0
  docs/_releasenotes/2329.change.etcdbackup-updated-to-1.4.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Add support for Kubernetes v1.35
  ci/cluster-tests.yaml
  docs/_releasenotes/xxx.feature.1.k8s-v1.35
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-supplements/ansible/k8s-upgrade-to-1.35.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.5.0/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.5.0/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.5.0/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.5.0/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.5.0/snapshot-controller/setup-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/tasks/main.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Update nixpkgs-unstable
  docs/_releasenotes/2302.feature.1.k8s-v1.35
  flake.lock
Due: none

Make sourcing vault/lib.sh side-effect free
  docs/_releasenotes/2323.fix.1.vault-lib-side-effects
  tools/vault/import.sh
  tools/vault/init.sh
  tools/vault/k8s-login.sh
  tools/vault/lib.sh
  tools/vault/load-signed-intermediates.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/mkcsrs.sh
  tools/vault/rmcluster.sh
  tools/vault/rotate-root-ca-intermediate.sh
  tools/vault/rotate-root-ca-root.sh
  tools/vault/update.sh
Due: shellcheck

nix/docs: build with changelog
  .gitlab-ci.yml
  docs/_releasenotes/2309.misc.1.nix-build-with-changelog
  nix/dependencies.nix
  nix/renderDocs.nix
Due: yamllint

Remove Vault import scripts
  docs/_releasenotes/2213.removal.1.remove-vault-import
  docs/user/guide/vault/vault.rst
  tools/vault/import.sh
Due: shellcheck, build-docs-check

docs: fix Vault pivot guide
  docs/_releasenotes/2212.docs.1.vault-pivot
  docs/user/guide/vault/vault.rst
Due: build-docs-check

docs: fix defaultText in etcd-backup
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

docs: update action reference
  docs/user/reference/actions-references.rst
  docs/user/reference/cluster-configuration.rst
  docs/user/reference/environmental-variables.rst
Due: build-docs-check

docs: update cluster repo layout
  docs/user/reference/cluster-configuration.rst
Due: build-docs-check

docs: improve description of jsonValue type
  nix/yk8s/lib/types/formats.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.kubernetes.rst
  docs/user/reference/options/yk8s.nvidia.rst
  docs/user/reference/options/yk8s.openstack.rst
Due: build-docs-check

chore(deps): update dependency kubernetes/kubernetes to v1.35.2
  ci/cluster-tests.yaml
  docs/_releasenotes/2330.chore.kubernetes-kubernetes-updated-to-v1.35.2
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

infra/ansible_hosts: apply filter to output only
  docs/_releasenotes/2321.misc.1.fix-calico-control-plane-replica-calculation
  nix/yk8s/infra.nix
Due: none

chore(deps): update nixos/nix docker tag to v2.34.1
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2331.chore.nixos-nix-updated-to-2.34.1
Due: yamllint

chore(deps): update helm release ingress-nginx to v4.14.4
  docs/_releasenotes/2332.change.ingress-nginx-updated-to-4.14.4
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

chore(deps): update helm release cert-manager to v1.20.0
  docs/_releasenotes/2334.change.cert-manager-updated-to-v1.20.0
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

openstack: Allow individual root volume configuration
  docs/_releasenotes/2225.feature.1.individual-root-volumes
  nix/yk8s/openstack.nix
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

openstack: Fix configuration of root_disk_size
  docs/_releasenotes/2225.fix.2.root_disk_volume_size
  nix/yk8s/lib/transform.nix
  nix/yk8s/openstack.nix
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

ci: Extend cleanup for dd8a
  ci/clean-up-os-project.py
Due: flake8

Remove explicit AZ assignment for volumes
  docs/_releasenotes/2225.change.1.volumes-az
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

terraform: Remote backend - allow empty state
  actions/lib.sh
Due: shellcheck
