Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

docs: Add hint for dev vault setups
  docs/_releasenotes/1461.docs.vault-docker-dev-setup-hint
  docs/user/guide/initialization.rst
Due: build-docs-check

chore(deps): update nixos/nix docker tag to v2.24.5
  ci/build-image.yaml
  docs/_releasenotes/1462.chore.2024-09-03T16:07:46+00:00
Due: yamllint

chore(deps): update dependency amazon.aws to v8
  ansible/requirements.yaml
  docs/_releasenotes/1260.chore.2024-09-04T22:08:48+00:00
Due: yamllint

Improve error handling for Vault S3 backup with missing config
  docs/_releasenotes/1464.fix.add-nice-error-message-for-when-vault-backup-s3-backups-is-enabled-but-not-configured
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
Due: yamllint

pre-commit: exclude .nix files from EOF fixer
  .pre-commit-config.yaml
Due: yamllint

Add Nix to CI image
  ci/build-image.yaml
  ci/container-image/default.nix
  ci/container-image/nix.conf
  ci/container-image/user-setup/group
  ci/container-image/user-setup/passwd
  ci/container-image/user-setup/shadow
  flake.nix
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/1467.chore.2024-09-09T00:10:56+00:00
  poetry.lock
Due: poetry-lock

Remove deprecated patch_config
  docs/_releasenotes/1468.removal.remove-deprecated-patch_config
  tools/patch_config.py
Due: flake8

WIP: tf: Rename 'master' to 'controller'
  docs/_releasenotes/1327.BREAKING.tf-rename-master-to-controller
  docs/user/reference/cluster-configuration.rst
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/30-controller-nodes.tf
  terraform/30-master-nodes.tf
  terraform/99-outputs.tf
  terraform/templates/inventory.tpl
Due: tflint, build-docs-check

Re-add support for custom stage inventory
  CHANGELOG.rst
  actions/apply-custom.sh
  actions/init-cluster-repo.sh
  actions/lib.sh
  actions/migrate-cluster-repo.sh
  docs/_releasenotes/1472.feature.re-add-custom-stage-inventory-support
Due: shellcheck

chore(deps): update dependency ansible to v9.10.0
  docs/_releasenotes/1474.chore.2024-09-10T18:08:07+00:00
  poetry.lock
Due: poetry-lock

Fix release migration for bare metal clusters
  CHANGELOG.rst
  actions/migrate-to-release.sh
  version
Due: shellcheck

chore(deps): update dependency ansible-lint to v24.9.0
  docs/_releasenotes/1475.chore.2024-09-11T14:08:49+00:00
  poetry.lock
Due: poetry-lock

Bump Kubernetes versions
  ci/cluster-tests.yaml
  ci/config/config.toml
  docs/_releasenotes/1476.change.bump-k8s
  templates/config.template.toml
Due: yamllint

Allow enabling announcement of service IPs
  docs/_releasenotes/1455.feature.announce-service-ips.rst
  k8s-supplements/ansible/roles/calico-tigera-operator/defaults/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/bgp.yaml.j2
  templates/config.template.toml
Due: yamllint

chore(deps): update dependency python-openstackclient to v7.1.0
  docs/_releasenotes/1477.chore.2024-09-12T06:09:11+00:00
  poetry.lock
Due: poetry-lock

flake: remove announcement of extra-substituters
  flake.nix
Due: none

ci: rebuild image when python deps changed
  ci/build-image.yaml
Due: yamllint

flake: fix poetry2nix
  ci/build-image.yaml
  ci/container-image/default.nix
  docs/_releasenotes/1460.misc.poetry2nix
  flake.lock
  flake.nix
  nix/poetry.nix
Due: yamllint

direnv: honor MINIMAL_ACCESS_VENV for Nix layout
  .envrc.lib.sh
  flake.nix
  nix/poetry.nix
  poetry.lock
  pyproject.toml
Due: shellcheck, poetry-lock

flake.lock: Update
  flake.lock
Due: none

renovate: add nix to enabledManagers
  renovate.json
Due: none

chore(deps): update nixos/nix docker tag to v2.24.6
  ci/build-image.yaml
  docs/_releasenotes/1473.chore.2024-09-10T12:07:47+00:00
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-09-16T00:13:31+00:00
  flake.lock
  poetry.lock
Due: poetry-lock

Add fix for urlllib3
  docs/_releasenotes/+.chore.2024-09-16T00:13:31+00:00
  docs/_releasenotes/1478.chore.2024-09-16T00:13:31+00:00
  nix/poetry.nix
Due: none

chore(deps): update dependency python-openstackclient to v7.1.1
  docs/_releasenotes/1479.chore.2024-09-16T14:09:23+00:00
  poetry.lock
Due: poetry-lock

Drop C&H specific Terraform defaults
  nix/templates/cluster-repo/config/default.nix
  nix/templates/migration/config/default.nix
  nix/yk8s/terraform.nix
Due: none

Fix missing call to install_prerequisites in upgrade.sh
  actions/upgrade.sh
  docs/_releasenotes/1481.fix.upgrade-prerequisites
Due: shellcheck

Split off openstack from terraform section
  actions/lib.sh
  k8s-supplements/ansible/roles/calico-tigera-operator/default.nix
  k8s-supplements/ansible/roles/monitoring_common/default.nix
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
Due: shellcheck

Split off infra from terraform section
  actions/wg-up.sh
  k8s-supplements/ansible/roles/ipsec-vpn/default.nix
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/terraform.nix
  terraform/99-outputs.tf
  terraform/templates/final_networking.tpl
  terraform/templates/inventory.tpl
Due: tflint, shellcheck

TODO: fix detect user
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/main.yaml
Due: yamllint

(tmp) gitignore working trees starting with wt-
  .gitignore
Due: none

add networking_fixed|floating_ip to infra
  nix/yk8s/infra.nix
Due: none

implement support for multiple interfaces
  k8s-core/ansible/roles/helpers/get-interfaces/meta/main.yaml
  k8s-core/ansible/roles/helpers/get-interfaces/tasks/main.yaml
  k8s-core/ansible/roles/keepalived/meta/main.yaml
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/agent-config.toml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
  k8s-supplements/ansible/roles/nftables/meta/main.yaml
  k8s-supplements/ansible/roles/nftables/tasks/main.yaml
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
  nix/yk8s/infra.nix
  nix/yk8s/proxmox/inventory.nix
  terraform/templates/trampoline_gateways.tpl
Due: tflint, yamllint

add proxmox support
  nix/lib.nix
  nix/yk8s/default.nix
  nix/yk8s/proxmox/default.nix
  nix/yk8s/proxmox/inventory.nix
  nix/yk8s/proxmox/lib.nix
  nix/yk8s/proxmox/terraform.nix
Due: none

flake: add terranix
  flake.lock
  flake.nix
  nix/yk8s/default.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
