Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v77.3.0
  docs/_releasenotes/2087.change.kube-prometheus-stack-updated-to-77.3.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Fix resources in release migration
  actions/migrations/v9-01-nix-config.sh
  docs/_releasenotes/x.fix.1.hotfixes
Due: shellcheck

chore(deps): update helm release kube-prometheus-stack to v77.4.0
  docs/_releasenotes/2091.change.kube-prometheus-stack-updated-to-77.4.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.5.0
  docs/_releasenotes/2092.change.kube-prometheus-stack-updated-to-77.5.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Fix resources in release migration
  actions/migrations/v9-01-nix-config.sh
  docs/_releasenotes/hotfix/2094.fix.1.hotfixes
Due: shellcheck

ci: use our own image for check-key-expiry job
  .gitlab-ci.yml
  docs/_releasenotes/hotfix/2095.fix.2.hotfixes
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2095.fix.2.hotfixes
  version
Due: none

ci: use our own image for check-key-expiry job
  .gitlab-ci.yml
Due: yamllint

Fix resources in release migration
  actions/migrations/v9-01-nix-config.sh
  docs/_releasenotes/hotfix/2093.fix.1.hotfixes
Due: shellcheck

ci: use our own image for check-key-expiry job
  .gitlab-ci.yml
  docs/_releasenotes/hotfix/2093.misc.1.hotfixes
Due: yamllint

Drop previous Changelogs
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2093.docs.1.remove-previous-changelogs
Due: none

Cleanup changelogs after publishing a release
  ci/release.yaml
  docs/_releasenotes/2096.misc.drop-changelogs-when-mirroring-release-back-to-devel
Due: yamllint

ci: use our own image for check-key-expiry job
  .gitlab-ci.yml
  docs/_releasenotes/hotfix/2098.misc.2.hotfixes
Due: yamllint

Drop previous Changelogs
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2098.docs.1.remove-previous-changelogs
Due: none

Drop previous Changelogs
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2094.docs.1.remove-previous-changelogs
Due: none

ci: use our own image for check-key-expiry job
  .gitlab-ci.yml
  docs/_releasenotes/hotfix/2097.misc.2.hotfixes
Due: yamllint

Fix Vault policies for k8s-login
  docs/_releasenotes/hotfix/2097.fix.3.vault-policies-for-k8s-login-fixed
  tools/vault/init.sh
Due: shellcheck

Drop previous Changelogs
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2097.docs.1.remove-previous-changelogs
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2097.docs.1.remove-previous-changelogs
  docs/_releasenotes/hotfix/2097.fix.3.vault-policies-for-k8s-login-fixed
  docs/_releasenotes/hotfix/2097.misc.2.hotfixes
  version
Due: none

Fix Vault policies for k8s-login
  docs/_releasenotes/hotfix/2098.fix.3.vault-policies-for-k8s-login-fixed
  tools/vault/init.sh
Due: shellcheck

Update version number
  docs/_releasenotes/hotfix/2097.docs.1.remove-previous-changelogs
  docs/_releasenotes/hotfix/2097.fix.3.vault-policies-for-k8s-login-fixed
  docs/_releasenotes/hotfix/2097.misc.2.hotfixes
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2098.docs.1.remove-previous-changelogs
  docs/_releasenotes/hotfix/2098.fix.3.vault-policies-for-k8s-login-fixed
  docs/_releasenotes/hotfix/2098.misc.2.hotfixes
  version
Due: none

Fix Vault policies for k8s-login
  docs/_releasenotes/hotfix/2093.fix.3.vault-policies-for-k8s-login-fixed
  tools/vault/init.sh
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2093.docs.1.remove-previous-changelogs
  docs/_releasenotes/hotfix/2093.fix.1.hotfixes
  docs/_releasenotes/hotfix/2093.fix.3.vault-policies-for-k8s-login-fixed
  docs/_releasenotes/hotfix/2093.misc.1.hotfixes
  version
Due: none

Fix Vault policies for k8s-login
  docs/_releasenotes/hotfix/2094.fix.3.vault-policies-for-k8s-login-fixed
  tools/vault/init.sh
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2094.docs.1.remove-previous-changelogs
  docs/_releasenotes/hotfix/2094.fix.1.hotfixes
  docs/_releasenotes/hotfix/2094.fix.3.vault-policies-for-k8s-login-fixed
  version
Due: none

chore(deps): update nixos/nix docker tag to v2.31.1
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2084.chore.nixos-nix-updated-to-2.31.1
Due: yamllint

Fix altering rook/ceph namespace
  ci/config/default.nix
  docs/_releasenotes/1998.fix.1.rook-ceph-namespace
  k8s-supplements/ansible/roles/monitoring_v2/templates/rook-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
Due: none

Replace stripPrefix by lib.removePrefix
  nix/tests/default.nix
Due: none

nix/lib: remove with, use inherit
  nix/tests/test_yk8s/default.nix
  nix/tests/test_yk8s/test_lib/default.nix
Due: none

replace foldl by all
  nix/tests/default.nix
Due: none

replace attrsOf' with lib.types.submodule
  nix/tests/test_yk8s/test_lib/test_types.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/lib/types.nix
Due: none
