Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

config: Fix type of etcd-backup.file_prefix
  docs/_releasenotes/hotfix/2053.fix.3.config-type-of-yk8s-k8s-service-layer-etcd-backup-file_prefix-fixed
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  nix/tests/test_yk8s/test_lib/test_types.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/lib/types.nix
Due: build-docs-check

chore(deps): update helm release prometheus-blackbox-exporter to v11.3.0
  docs/_releasenotes/2054.change.prometheus-blackbox-exporter-updated-to-11.3.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Try to escape slash in cidr regex
  nix/yk8s/lib/types.nix
Due: none

chore(deps): update helm release dcgm-exporter to v4.5.0
  docs/_releasenotes/2056.change.dcgm-exporter-updated-to-4.5.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

docs: Drop orphaned template files
  docs/_releasenotes/2057.misc.docs-orphaned-template-files-dropped
  docs/templates/config.template.toml
  docs/templates/terraform_variables.tf
Due: build-docs-check

chore(deps): lock file maintenance
  docs/_releasenotes/2059.chore.-updated-to-
  flake.lock
Due: none

chore(deps): update nixos/nix docker tag to v2.31.0
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2060.chore.nixos-nix-updated-to-2.31.0
Due: yamllint

blackbox-exporter: Allow to configure IPv6-specific modules
  docs/_releasenotes/hotfix/2055.fix.1.blackbox-exporter-modules
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

blackbox-exporter: Extend modules to accept 400 status code
  docs/_releasenotes/hotfix/2055.feature.blackbox-exporter-400
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2055.feature.blackbox-exporter-400
  docs/_releasenotes/hotfix/2055.fix.1.blackbox-exporter-modules
  version
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v11.3.1
  docs/_releasenotes/2061.change.prometheus-blackbox-exporter-updated-to-11.3.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

blackbox-exporter: Allow to configure IPv6-specific modules
  docs/_releasenotes/hotfix/2053.fix.4.blackbox-exporter-modules
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

blackbox-exporter: Extend modules to accept 400 status code
  docs/_releasenotes/hotfix/2053.feature.1.blackbox-exporter-400
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2053.feature.1.blackbox-exporter-400
  docs/_releasenotes/hotfix/2053.fix.1.config-type-of-yk8s-k8s-service-layer-prometheus-thanos_objectstorage_container_name-fixed
  docs/_releasenotes/hotfix/2053.fix.2.config-type-of-yk8s-infra-cluster_name-fixed
  docs/_releasenotes/hotfix/2053.fix.3.config-type-of-yk8s-k8s-service-layer-etcd-backup-file_prefix-fixed
  docs/_releasenotes/hotfix/2053.fix.4.blackbox-exporter-modules
  docs/_releasenotes/hotfix/2053.misc.1.command-to-remove-gitignored-files-from-git-index-improved
  version
Due: none

config: Fix type of thanos_objectstorage_container_name
  docs/_releasenotes/hotfix/2053.fix.1.config-type-of-yk8s-k8s-service-layer-prometheus-thanos_objectstorage_container_name-fixed
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  nix/tests/test_yk8s/test_lib/test_types.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/lib/types.nix
Due: build-docs-check

config: Fix type of yk8s.infra.cluster_name
  docs/_releasenotes/hotfix/2053.fix.2.config-type-of-yk8s-infra-cluster_name-fixed
  docs/user/reference/options/yk8s.infra.rst
  nix/tests/test_yk8s/test_lib/test_types.nix
  nix/yk8s/lib/types.nix
Due: build-docs-check

Improve command to remove ignored files from git index
  CHANGELOG.rst
  actions/release-migrations/a-01-update-gitignore.sh
  docs/_releasenotes/hotfix/2053.misc.1.command-to-remove-gitignored-files-from-git-index-improved
Due: shellcheck

docs: Add note about minimal nix version
  docs/_releasenotes/2063.docs.1.minimal-nix-version
  docs/user/guide/quick-start/initialization.rst
Due: build-docs-check

Update `CHANGELOG.rst` and version for next release v10.1.0
  CHANGELOG.rst
  docs/_releasenotes/1868.docs.rename-yk8s-to-tarook
  docs/_releasenotes/1931.feature.etcd-backup-addressing-style-configurable
  docs/_releasenotes/1938.feature.vault-backup-addressing-style-configurable
  docs/_releasenotes/1945.feature.1.helm-unpin-versions
  docs/_releasenotes/1949.feature.vault-backup-bucket-name-configurable
  docs/_releasenotes/1959.chore.nixos-nix-updated-to-2.30.2
  docs/_releasenotes/1962.misc.release-v10.0.0
  docs/_releasenotes/1963.chore.-updated-to-
  docs/_releasenotes/1964.fix.double-install-of-prometheus-node-exporter-on-frontend-nodes-fixed
  docs/_releasenotes/1965.chore.community.general-updated-to-11.1.1
  docs/_releasenotes/1967.removal.1.k8s-v1.30
  docs/_releasenotes/1968.chore.1.rework-kubeadm-config
  docs/_releasenotes/1969.fix.test-of-frontend-node-exporter-service-monitor-fixed-up
  docs/_releasenotes/1971.docs.1.fix-containterd-mirror-doc-example
  docs/_releasenotes/1976.change.prometheus-blackbox-exporter-updated-to-11.2.0
  docs/_releasenotes/1979.docs.pathInStore-config-examples-fixed
  docs/_releasenotes/1980.chore.-updated-to-
  docs/_releasenotes/1981.chore.koalaman-shellcheck-alpine-updated-to-v0.11.0
  docs/_releasenotes/1982.feature.1.k8s-v1.33
  docs/_releasenotes/1987.chore.community.general-updated-to-11.1.2
  docs/_releasenotes/1988.change.prometheus-blackbox-exporter-updated-to-11.2.1
  docs/_releasenotes/1993.change.dcgm-exporter-updated-to-4.4.0
  docs/_releasenotes/2003.docs.1.alter-link-releases
  docs/_releasenotes/2005.docs.rename-yk8s-to-tarook
  docs/_releasenotes/2007.change.dcgm-exporter-updated-to-4.4.1
  docs/_releasenotes/2008.change.ingress-nginx-updated-to-4.13.1
  docs/_releasenotes/2048.change.prometheus-blackbox-exporter-updated-to-11.2.2
  docs/_releasenotes/2049.chore.community.general-updated-to-11.2.1
  docs/_releasenotes/2052.chore.kubernetes.core-updated-to-6.1.0
  docs/_releasenotes/2054.change.prometheus-blackbox-exporter-updated-to-11.3.0
  docs/_releasenotes/2056.change.dcgm-exporter-updated-to-4.5.0
  docs/_releasenotes/2057.misc.docs-orphaned-template-files-dropped
  docs/_releasenotes/2059.chore.-updated-to-
  docs/_releasenotes/2060.chore.nixos-nix-updated-to-2.31.0
  version
Due: none

Trigger MR to devel for release-prepare/v10.1.0
  docs/_releasenotes/+.misc.release-v10.1.0
Due: none

nix lib: add mkHelmValuesOption
  nix/yk8s/lib/options.nix
Due: none

nix: add jsonValue type
  nix/tests/test_yk8s/test_lib/test_types.nix
  nix/yk8s/lib/types.nix
Due: none

nix lib: add mkHelmReleaseOptions
  nix/yk8s/lib/options.nix
Due: none

nix lib: move mkHelmChartVersionOption
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/lib/options.nix
Due: none

renovate: Fix customManager for default helm chart versions
  renovate.json
Due: none

renovate: Manage Kubernetes versions
  ci/cluster-tests.yaml
  docs/_releasenotes/1748.chore.1.renovate-bot-kubernetes-versions
  nix/yk8s/kubernetes/default.nix
  renovate.json
Due: yamllint

etcd-backup: allow to set arbitrary helm values
  CHANGELOG.rst
  docs/_releasenotes/1569.feature.1.extra-values-etcd-backup
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/templates/etcd_backup.yaml.j2
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
Due: build-docs-check

use runCommandLocal everywhere
  ci/container-image/default.nix
  nix/yk8s/lib/default.nix
Due: none

Fix minor typo in .envrc.lib
  .envrc.lib.sh
  docs/_releasenotes/2066.misc.1.typo-envrc
Due: shellcheck

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
