Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Fix jinja templating
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none

Bird ServiceMonitor: Only deploy when we have gateway nodes
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
Due: yamllint

Keepalived exporter: Bump to version 0.7.1
  docs/_releasenotes/1482.feature.keepalived-exporter-add-ipv6-support
  k8s-supplements/ansible/roles/prometheus-keepalived-exporter/defaults/main.yaml
Due: yamllint

fixup! Generate inventory using Nix
  docs/user/guide/initialization.rst
Due: build-docs-check

fixup! Generate inventory using Nix
  nix/yk8s/k8s-supplements/vault.nix
Due: none

init branch
  docs/user/guide/initialization.rst
  flake.nix
Due: build-docs-check

fixup! init branch
  flake.nix
Due: none

fixup! init branch
  docs/user/guide/initialization.rst
Due: build-docs-check

chore(deps): update dependency boto3 to v1.35.48
  docs/_releasenotes/1505.chore.2024-10-24T20:08:27+00:00
  poetry.lock
Due: poetry-lock

pre-commit: exclude .nix files from EOF fixer
  .pre-commit-config.yaml
Due: yamllint

Add Nix to CI image
  .envrc.lib.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  ci/container-image/nix.conf
  ci/container-image/user-setup/group
  ci/container-image/user-setup/passwd
  ci/container-image/user-setup/shadow
  flake.nix
Due: shellcheck, yamllint

Add missing galaxy requirement
  ansible/requirements.yaml
Due: yamllint

chore(deps): update dependency community.aws to v5.5.1
  ansible/requirements.yaml
  docs/_releasenotes/1162.chore.2024-10-29T10:08:49+00:00
Due: yamllint

chore(deps): update dependency sphinx to v8
  docs/_releasenotes/1383.chore.2024-10-29T10:09:29+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

Fix pages job
  ci/release.yaml
  docs/_releasenotes/x.chore.fix-pages-job
Due: yamllint

Fix pages job
  ci/release.yaml
  docs/_releasenotes/1538.chore.fix-pages-job
Due: yamllint

rook: Bump default version to v1.15.4
  docs/_releasenotes/1453.feature.rook-v1.15.0
  nix/yk8s/k8s-supplements/rook.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/1527.chore.2024-10-29T10:12:43+00:00
  flake.lock
  poetry.lock
Due: poetry-lock

Mark direnv as soft requirement
  docs/_releasenotes/1512.docs.require-direnv
  docs/user/guide/initialization.rst
Due: build-docs-check

Fix type of k8s-service-layer.prometheus.remote_writes
  docs/_releasenotes/1541.fix.remote-write-type
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

poetry: disable package mode
  .envrc.lib.sh
  docs/_releasenotes/1278.misc.poetry-disable-package-mode
  pyproject.toml
Due: shellcheck, poetry-lock

Add grafana_dashboard_enable_multicluster_support boolean variable
  docs/_releasenotes/1483.feature.grafana-dashboard-support-multicluster
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

tmp: Update Kubernetes apt key
  docs/_releasenotes/hotfix/1546.chore.update-kubernetes-apt-key
  k8s-core/ansible/roles/k8s-packages/files/apt-key.gpg
Due: none

Fix PATH setting in hotfixing pipeline
  ci/hotfix-prepare.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1546.chore.update-kubernetes-apt-key
  version
Due: none

Fix PATH setting in hotfixing pipeline
  CHANGELOG.rst
  ci/hotfix-prepare.yaml
  version
Due: yamllint

Update Kubernetes apt key
  k8s-core/ansible/roles/k8s-packages/files/apt-key.gpg
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  version
Due: none

Update Kubernetes apt key
  CHANGELOG.rst
  k8s-core/ansible/roles/k8s-packages/files/apt-key.gpg
  version
Due: none

Mark immutable config settings as such
  docs/_releasenotes/1498.fix.mark-immutable-config-settings-as-such
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Fix regex for option type k8sSize
  docs/_releasenotes/1544.fix.nix-type-k8ssize
  nix/yk8s/lib/types.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
