Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

terranix: Fix managing Thanos container
  docs/_releasenotes/2546.BREAKING.1.terranix
  nix/yk8s/openstack/40-object-storage.nix
Due: none

Trigger MR to devel for release-prepare/v14.0.0
  docs/_releasenotes/+.misc.release-v14.0.0
Due: none

Reset changelog
  CHANGELOG.rst
Due: none

Lock file maintenance
  docs/_releasenotes/2549.dependency.-updated-to-
  flake.lock
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.infra.rst
Due: build-docs-check

Allow full configuration of node labels and taints
  docs/_releasenotes/1888.feature.2.labels-taints
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/vars/node-labels.yaml
  nix/yk8s/node-scheduling.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.node-scheduling.rst
Due: build-docs-check

fixup! Allow full configuration of node labels and taints
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
Due: yamllint

fixup! Allow full configuration of node labels and taints
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
Due: yamllint

Update nixos/nix Docker tag to v2.34.8
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2550.dependency.nixos-nix-updated-to-2.34.8
Due: yamllint

Update Helm release prometheus-blackbox-exporter to v11.15.1
  docs/_releasenotes/2542.dependency.prometheus-blackbox-exporter-updated-to-11.15.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Update dependency kubernetes.core to v6.5.0
  ansible/requirements.yaml
  docs/_releasenotes/2552.dependency.kubernetes.core-updated-to-6.5.0
Due: yamllint

Update Helm release cert-manager to v1.21.0
  docs/_releasenotes/2553.dependency.cert-manager-updated-to-v1.21.0
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

Fix sysctl setting for interface names containing dots
  docs/_releasenotes/2554.fix.1.sysctl-interface-dot
  k8s-core/ansible/roles/bootstrap/net-forwarding/templates/forward.conf.j2
Due: none

Lock file maintenance
  docs/_releasenotes/2556.dependency.-updated-to-
  flake.lock
Due: none

Update dependency ansible.posix to v2.2.2
  ansible/requirements.yaml
  docs/_releasenotes/2557.dependency.ansible.posix-updated-to-2.2.2
Due: yamllint

Update Helm release flux2 to v2.19.0
  docs/_releasenotes/2563.dependency.flux2-updated-to-2.19.0
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
Due: build-docs-check

docs: Create release notes for Ansible Galaxy collection updates
  ci/create_renovate_release_note.sh
  docs/_releasenotes/2562.dependency.1.ansible-collection
Due: shellcheck

docs: Refine release notes for containerd and Kubernetes
  ci/create_renovate_release_note.sh
  docs/_releasenotes/2562.dependency.2.packages
Due: shellcheck

Update dependency community.general to v13.2.0
  ansible/requirements.yaml
  docs/_releasenotes/2565.dependency.community.general-updated-to-13.2.0
Due: yamllint

Update nixos/nix Docker tag to v2.35.1
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2566.dependency.nixos-nix-updated-to-2.35.1
Due: yamllint

Update Helm release etcdbackup to v3
  docs/_releasenotes/2567.BREAKING.etcdbackup-updated-to-3.0.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

detect-user: Deduplicate user list
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/main.yaml
Due: yamllint

detect-user: Fix error handling
  docs/_releasenotes/2568.fix.error-handling-in-detect-user-role-fixed
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/main.yaml
Due: yamllint

detect-user: Improve error message
  docs/_releasenotes/2568.fix.error-handling-in-detect-user-role-fixed
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/main.yaml
Due: yamllint

Update Helm release dcgm-exporter to v4.8.3
  docs/_releasenotes/2570.dependency.dcgm-exporter-updated-to-4.8.3
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

destroy.sh: Make project id lookup more robust
  actions/destroy.sh
  docs/_releasenotes/hotfix/2559.fix.1.destroy
Due: shellcheck

ci: Make pages-dry-run job optional for MRs not targeting default branch
  .gitlab-ci.yml
  docs/_releasenotes/hotfix/2559.misc.1.pages-dry-run
Due: yamllint

Update version number and changelog for hotfix-release
  docs/_releasenotes/hotfix/2559.fix.1.destroy
  docs/_releasenotes/hotfix/2559.misc.1.pages-dry-run
  version
Due: none

destroy.sh: Make project id lookup more robust
  actions/destroy.sh
  docs/_releasenotes/hotfix/2558.fix.1.destroy
Due: shellcheck

ci: Make pages-dry-run job optional for MRs not targeting default branch
  .gitlab-ci.yml
  docs/_releasenotes/hotfix/2558.misc.1.pages-dry-run
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2558.fix.1.destroy
  docs/_releasenotes/hotfix/2558.misc.1.pages-dry-run
  version
Due: none

Fix memoryLimit in checkResources
  docs/_releasenotes/2571.fix.1.fix-memory-limit-in-checkresources
  nix/yk8s/lib/modules.nix
Due: none

flake: Remove dependency on specific name of yk8s
  flake.nix
  nix/yk8s/default.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
