Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Fix containerd mirrors example
  docs/_releasenotes/1971.docs.1.fix-containterd-mirror-doc-example
  nix/yk8s/containerd.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.containerd.rst
Due: build-docs-check

Fix vault_v1 approle related when condition
  CHANGELOG.rst
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
Due: yamllint

docs: Fix pathInStore config examples
  docs/_releasenotes/1979.docs.pathInStore-config-examples-fixed
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/calico.nix
Due: build-docs-check

chore(deps): lock file maintenance
  docs/_releasenotes/1980.chore.-updated-to-
  flake.lock
Due: none

chore(deps): update koalaman/shellcheck-alpine docker tag to v0.11.0
  .gitlab-ci.yml
  docs/_releasenotes/1981.chore.koalaman-shellcheck-alpine-updated-to-v0.11.0
Due: yamllint

Fix shellcheck for destroy.sh
  actions/destroy.sh
Due: shellcheck

Fix kubeconfig_api_server_url for IPv6-only clusters
  docs/_releasenotes/1984.fix.1.devel
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/tasks/main.yaml
Due: yamllint

Fix kubeconfig_api_server_url for IPv6-only clusters
  docs/_releasenotes/hotfix/x.fix.1.devel
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/tasks/main.yaml
Due: yamllint

docs: Rework quick-start guide
  CHANGELOG.rst
  ci/container-image/README.md
  docs/developer/guide/simulate-bm.rst
  docs/index.md
  docs/user/explanation/architecture-overview.rst
  docs/user/guide/index.md
  docs/user/guide/quick-start.rst
  docs/user/guide/quick-start/cluster.rst
  docs/user/guide/quick-start/deploy.rst
  docs/user/guide/quick-start/index.rst
  docs/user/guide/quick-start/initialization.rst
  docs/user/guide/quick-start/vault.rst
  docs/user/reference/actions-references.rst
  docs/user/reference/cluster-configuration.rst
  docs/user/reference/cluster-repository.rst
  docs/user/reference/environmental-variables.rst
Due: build-docs-check

docs: Improve quick-start guide relevant descriptions
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.openstack.rst
  docs/user/reference/options/yk8s.wireguard.rst
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/openstack.nix
Due: build-docs-check

chore(deps): update dependency community.general to v11.1.2
  ansible/requirements.yaml
  docs/_releasenotes/1987.chore.community.general-updated-to-11.1.2
Due: yamllint

Fix kubeconfig_api_server_url for IPv6-only clusters
  docs/_releasenotes/hotfix/1985.fix.1.devel
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/tasks/main.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1985.fix.1.devel
  version
Due: none

chore(deps): update hashicorp/vault docker tag to v1.20.2
  ci/cluster-tests.yaml
  docs/_releasenotes/1436.chore.hashicorp-vault-updated-to-1.20.2
Due: yamllint

chore(deps): update helm release prometheus-blackbox-exporter to v11.2.1
  docs/_releasenotes/1988.change.prometheus-blackbox-exporter-updated-to-11.2.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Fix syntax in v10.0.1 CHANGELOG
  CHANGELOG.rst
Due: none

Fix kubeconfig_api_server_url for IPv6-only clusters
  CHANGELOG.rst
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/migrations/etcd-metrics-listen-patch/tasks/main.yaml
  version
Due: yamllint

Add list of supported releases to docs
  .gitlab-ci.yml
  docs/_releasenotes/1875.docs.supported-versions
  docs/generate_supported_releases.py
  docs/index.md
  docs/supported_releases.rst
  docs/supported_releases_template.jinja
Due: yamllint, flake8, build-docs-check

chore(deps): update dependency amazon.aws to v10
  ansible/requirements.yaml
  docs/_releasenotes/x.chore.amazon.aws-updated-to-10.1.1
Due: yamllint

chore(deps): update helm release dcgm-exporter to v4.4.0
  docs/_releasenotes/1993.change.dcgm-exporter-updated-to-4.4.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update repository references
  actions/init-cluster-repo.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  docs/_releasenotes/1870.change.core-rename-yk8s-to-tarook
  nix/templates/cluster-repo/flake.nix
Due: shellcheck, yamllint

Adjust docs redirect
  ci/release.yaml
Due: yamllint

Revert "docs: announce upcoming project rename from YAOOK/K8s to TAROOK"
  README.md
  docs/_releasenotes/1966.misc.project-rename-announcement-yaook-to-tarook
  docs/_templates/page.html
Due: none

chore(deps): update helm release thanos to v17.2.6
  docs/_releasenotes/1995.change.thanos-updated-to-17.2.6
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Kick off tarookctl
  tarookctl/.gitignore
  tarookctl/Cargo.lock
  tarookctl/Cargo.toml
  tarookctl/apply.sh
  tarookctl/src/main.rs
Due: shellcheck

Restructure tarookctl
  tarookctl/Cargo.lock
  tarookctl/Cargo.toml
  tarookctl/src/commands.rs
  tarookctl/src/errors.rs
  tarookctl/src/main.rs
Due: none

Update repository references
  actions/init-cluster-repo.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  docs/_releasenotes/hotfix/1870.change.core-rename-yk8s-to-tarook
  nix/templates/cluster-repo/flake.nix
Due: shellcheck, yamllint

ci: build_image: Replace hardcoded container image base address
  ci/build-image.yaml
  docs/_releasenotes/hotfix/1999.chore.ci-build_image-hardcoded-container-image-base-address-replaced
Due: yamllint

ci: test-nix-yk8s: Fix container image ref
  ci/unit-tests.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1870.change.core-rename-yk8s-to-tarook
  docs/_releasenotes/hotfix/1999.chore.ci-build_image-hardcoded-container-image-base-address-replaced
  docs/_releasenotes/hotfix/1999.fix.1.release-migration-updated-gitignore-staged
  docs/_releasenotes/hotfix/1999.fix.2.release-migration-output-of-git-apply-check-suppressed
  version
Due: none

release-migration: Stage updated .gitignore
  actions/release-migrations/a-01-update-gitignore.sh
  docs/_releasenotes/hotfix/1999.fix.1.release-migration-updated-gitignore-staged
Due: shellcheck
