Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v77.12.0
  docs/_releasenotes/2141.change.kube-prometheus-stack-updated-to-77.12.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/2142.chore.-updated-to-
  flake.lock
Due: none

Drop v10 migration scripts
  actions/release-migrations/v10-00-01-terraform.sh
  actions/release-migrations/v10-00-02-ch-k8s-lbaas.sh
  actions/release-migrations/v10-00-03-terraform.sh
  actions/release-migrations/v10-00-tf-unignore-allowed_address_pairs.patch
  actions/release-migrations/v10-01-direnv-layout.sh
  actions/release-migrations/v10-02-keepalived.sh
  actions/release-migrations/v10-02-prevent-disruption.sh
  docs/_releasenotes/2125.misc.reset-migration-scripts
Due: shellcheck

docs: Add link to migration document to Changelog
  CHANGELOG.rst
  docs/_releasenotes/2143.misc.release-migration-doc-improvement
  docs/user/guide/upgrade-release.rst
Due: build-docs-check

Fix SSH host cert generation from orchestrator
  docs/_releasenotes/2132.fix.ssh-host-certificates-manually-generated-with-nodes-vault-approle
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/sign-host-key.yaml
Due: yamllint

docs: Add project summary to index page
  docs/_releasenotes/2144.misc.index-doc-improvement
  docs/index.md
Due: build-docs-check

Remove v8 relict from .envrc
  docs/_releasenotes/2145.misc.1.envrc-remove-relict
  nix/templates/cluster-repo/.envrc
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.12.1
  docs/_releasenotes/2147.change.kube-prometheus-stack-updated-to-77.12.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update dependency kubernetes.core to v6.2.0
  ansible/requirements.yaml
  docs/_releasenotes/2149.chore.kubernetes.core-updated-to-6.2.0
Due: yamllint

chore(deps): update dependency community.general to v11.4.0
  ansible/requirements.yaml
  docs/_releasenotes/2148.chore.community.general-updated-to-11.4.0
Due: yamllint

chore(deps): update helm release kube-prometheus-stack to v77.14.0
  docs/_releasenotes/2153.change.kube-prometheus-stack-updated-to-77.14.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v77.13.0
  docs/_releasenotes/2152.change.kube-prometheus-stack-updated-to-77.13.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v11.4.0
  docs/_releasenotes/2154.change.prometheus-blackbox-exporter-updated-to-11.4.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update helm release kube-prometheus-stack to v78
  docs/_releasenotes/2156.BREAKING.kube-prometheus-stack-updated-to-78.2.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Fix renovate for new helm chart options
  docs/_releasenotes/2157.misc.fix-renovate-helm-chart-function
  renovate.json
Due: none

chore(deps): update helm release ingress-nginx to v4.13.3
  docs/_releasenotes/2158.change.ingress-nginx-updated-to-4.13.3
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

chore(deps): update helm release etcdbackup to v0.20250904.0
  docs/_releasenotes/2159.change.etcdbackup-updated-to-0.20250904.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

chore(deps): update helm release etcdbackup to v0.20250918.0
  docs/_releasenotes/2160.change.etcdbackup-updated-to-0.20250918.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

chore(deps): update nixos/nix docker tag to v2.32.1
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2155.chore.nixos-nix-updated-to-2.32.1
Due: yamllint

Adjust renovate release notes for empty source URLs
  ci/create_renovate_release_note.sh
  docs/_releasenotes/2161.misc.adjust-renovate-post-script
Due: shellcheck

Make use of ansible.utils.ipaddr
  docs/_releasenotes/1031.misc.address-ansible-deprecation-warnings
  k8s-supplements/ansible/roles/bird/templates/bird-calico-v6.conf.j2
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/bgp.yaml.j2
  k8s-supplements/ansible/roles/nftables/tasks/main.yaml
Due: yamllint

Explicitly use ansible.utils.ipv{4,6}
  k8s-supplements/ansible/test-roles/check-network-configuration/tasks/main.yaml
Due: yamllint

docs: Add suggestion to install helm diff plugin
  docs/_releasenotes/2162.docs.1.docs-helm-diff
  docs/user/guide/quick-start/initialization.rst
Due: build-docs-check

Remove v8 relict from .envrc
  docs/_releasenotes/2146.misc.1.envrc-remove-relict
  nix/templates/cluster-repo/.envrc
Due: none

Remove unnecessary function definition in template
  nix/templates/cluster-repo/config/default.nix
Due: none

Drop importYamlTree call in template
  nix/templates/cluster-repo/config/default.nix
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v11.4.1
  docs/_releasenotes/2163.change.prometheus-blackbox-exporter-updated-to-11.4.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Fix tree formatting with alejandra
  docs/_releasenotes/2165.misc.1.formatter
  flake.nix
  nix/templates/cluster-repo/flake.nix
Due: none

chore(deps): update helm release cert-manager to v1.18.3
  docs/_releasenotes/2166.change.cert-manager-updated-to-v1.18.3
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none
