Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

release-migration: Suppress output of `git apply --check`
  actions/release-migrations/v10-00-01-terraform.sh
  docs/_releasenotes/hotfix/1999.fix.2.release-migration-output-of-git-apply-check-suppressed
Due: shellcheck

ci: test-nix-yk8s: Fix container image ref
  ci/unit-tests.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/1870.change.core-rename-yk8s-to-tarook
  docs/_releasenotes/hotfix/1999.chore.ci-build_image-hardcoded-container-image-base-address-replaced
  docs/_releasenotes/hotfix/1999.fix.1.release-migration-updated-gitignore-staged
  docs/_releasenotes/hotfix/1999.fix.2.release-migration-output-of-git-apply-check-suppressed
  version
Due: none

release-migration: Stage updated .gitignore
  actions/release-migrations/a-01-update-gitignore.sh
  docs/_releasenotes/hotfix/1999.fix.1.release-migration-updated-gitignore-staged
Due: shellcheck

Add Nix build instructions for tarookctl
  flake.lock
  flake.nix
  nix/dependencies.nix
  nix/tarookctl.nix
Due: none

CI: Update GitLab dependency proxy configuration
  .gitlab-ci.yml
  actions/detect-vault-image.sh
  ci/build-image.yaml
  ci/cluster-tests.yaml
  docs/_releasenotes/hotfix/2000.misc.ci-update-gitlab-dep-proxy
Due: shellcheck, yamllint

Update repository references
  actions/init-cluster-repo.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  docs/_releasenotes/hotfix/2000.change.core-rename-yk8s-to-tarook
  nix/templates/cluster-repo/flake.nix
Due: shellcheck, yamllint

ci: build_image: Replace hardcoded container image base address
  ci/build-image.yaml
  docs/_releasenotes/hotfix/2000.chore.ci-build_image-hardcoded-container-image-base-address-replaced
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2000.change.core-rename-yk8s-to-tarook
  docs/_releasenotes/hotfix/2000.chore.ci-build_image-hardcoded-container-image-base-address-replaced
  docs/_releasenotes/hotfix/2000.misc.ci-update-gitlab-dep-proxy
  version
Due: none

CI: Update GitLab dependency proxy configuration
  .gitlab-ci.yml
  actions/detect-vault-image.sh
  ci/build-image.yaml
  ci/cluster-tests.yaml
  docs/_releasenotes/hotfix/2001.misc.ci-update-gitlab-dep-proxy
Due: shellcheck, yamllint

Update repository references
  actions/init-cluster-repo.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  docs/_releasenotes/hotfix/2001.change.core-rename-yk8s-to-tarook
  nix/templates/cluster-repo/flake.nix
Due: shellcheck, yamllint

ci: build_image: Replace hardcoded container image base address
  ci/build-image.yaml
  docs/_releasenotes/hotfix/2001.chore.ci-build_image-hardcoded-container-image-base-address-replaced
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2001.change.core-rename-yk8s-to-tarook
  docs/_releasenotes/hotfix/2001.chore.ci-build_image-hardcoded-container-image-base-address-replaced
  docs/_releasenotes/hotfix/2001.misc.ci-update-gitlab-dep-proxy
  version
Due: none

Add option to configure addressing_style for etcd-backups
  docs/_releasenotes/1931.feature.etcd-backup-addressing-style-configurable
  k8s-supplements/ansible/roles/etcd-backup/templates/etcd_backup.yaml.j2
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Add option to configure addressing_style for vault backups
  docs/_releasenotes/1938.feature.vault-backup-addressing-style-configurable
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
Due: build-docs-check

Rename remnants of YAOOK/K8s to TAROOK
  docs/_releasenotes/2005.docs.rename-yk8s-to-tarook
  docs/img/apply-script.drawio
  docs/img/apply-script.drawio.svg
  nix/yk8s-env.nix
Due: build-docs-check

Fix security context for test pods which ping
  docs/_releasenotes/2006.change.1.fix-ping-tests
  k8s-supplements/ansible/test-roles/check-calico/templates/busybox-deployment.yaml.j2
  k8s-supplements/ansible/test-roles/check-ipsec/templates/busybox-ping-job.yaml.j2
Due: none

Add mob to dev environment
  nix/tarookctl.nix
Due: none

Improve error handling
  tarookctl/src/errors.rs
  tarookctl/src/main.rs
Due: none

Add option to configure the bucket name for vault backups
  docs/_releasenotes/1949.feature.vault-backup-bucket-name-configurable
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
  nix/yk8s/k8s-supplements/vault.nix
Due: none

fix: update Thanos container repository to Bitnami Legacy
  docs/_releasenotes/hotfix/1990.fix.fix-update-thanos-container-repository
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
Due: none

Add support for Kubernetes v1.33
  ci/cluster-tests.yaml
  docs/_releasenotes/x.feature.1.k8s-v1.33
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.33.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.3.0/snapshot-controller/setup-snapshot-controller.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

nix: Install kubernetes-validate from unstable channel
  docs/_releasenotes/1982.feature.1.k8s-v1.33
  flake.lock
  flake.nix
  nix/dependencies.nix
Due: none

chore(deps): update helm release dcgm-exporter to v4.4.1
  docs/_releasenotes/2007.change.dcgm-exporter-updated-to-4.4.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Rename remnants of YAOOK/k8s to YAOOK/K8s
  README.md
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1990.fix.fix-update-thanos-container-repository
  version
Due: none

chore(deps): update helm release ingress-nginx to v4.13.1
  docs/_releasenotes/2008.change.ingress-nginx-updated-to-4.13.1
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
