Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update outdated Terraform docs
  docs/_releasenotes/1434.docs.update-outdated-terraform-docs
  docs/developer/reference/terraform-docs.md
Due: build-docs-check

Add issue template for bugs
  .gitlab/issue_templates/Bug.md
  docs/_releasenotes/1435.misc.issue-template-bug
Due: none

Fix HAProxy configuration for dual stack
  k8s-core/ansible/roles/haproxy/templates/haproxy.cfg.j2
Due: none

Fix Wireguard setup for dual stack
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird_v6.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_server.conf.j2
Due: none

Adjust keepalived config for IPv6
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: none

Extend known hosts file for IPv6 adresses
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/templates/ssh_known_hosts.j2
Due: none

Restart bird6 on changes to its config
  k8s-supplements/ansible/roles/bird/tasks/main.yaml
Due: yamllint

Fix ingress IP family
  k8s-supplements/ansible/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
Due: none

Adjust nftables for IPv6
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
Due: none

Rework check-services role
  k8s-supplements/ansible/test-roles/check-services/tasks/dualstack-services.yaml
  k8s-supplements/ansible/test-roles/check-services/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-services/templates/nginx.yaml
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_dual_stack.yaml.j2
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_single_stack_v6.yaml.j2
  k8s-supplements/ansible/test.yaml
Due: yamllint

Adjust and clean up bird configs for IPv6
  k8s-supplements/ansible/roles/bird/templates/bird.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird6.conf.j2
Due: none

Fallback to IPv6 only if it is enabled
  k8s-core/ansible/roles/etcd-clean-stale-members/tasks/main.yaml
  k8s-core/ansible/roles/haproxy/templates/k8s-apiserver.cfg.j2
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-join-config.yaml.j2
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/vars/ssh-hardening.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/bird-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/haproxy-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/keepalived-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/lbaas-service-monitor.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/node-exporter-service-monitor.yaml
Due: yamllint

Re-add comment
  k8s-core/ansible/roles/bootstrap/net-forwarding/templates/forward.conf.j2
Due: none

Rework api service for dual stack support
  k8s-supplements/ansible/roles/vault_v1/tasks/external_pki.yaml
  k8s-supplements/ansible/roles/vault_v1/templates/api-service.yaml.j2
Due: yamllint

Create CI jobs to test dual stack support
  ci/cluster-tests.yaml
Due: yamllint

Add check that at least one IP family is enabled
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/k8s-login.sh
  actions/lib.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/update_inventory.py
  actions/upgrade.sh
  actions/verify-cluster-health.sh
  terraform/templates/inventory.tpl
  terraform/templates/trampoline_gateways.tpl
Due: tflint, shellcheck, flake8

Workaround IPv6 issues with nginx-unprivileged
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_dual_stack.yaml.j2
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_single_stack_v6.yaml.j2
Due: none

Use jinja extension
  k8s-supplements/ansible/test-roles/check-services/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-services/templates/nginx.yaml.j2
Due: yamllint

Conditionally set KUBECONFIG only if unset
  actions/apply-all.sh
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/k8s-login.sh
  actions/lib.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/verify-cluster-health.sh
Due: shellcheck

Properly handle k8s API certificate for IPv6
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
Due: yamllint

Generate short-lived kubeconfig only with sufficient vault policies
  actions/k8s-login.sh
  actions/lib.sh
  k8s-core/ansible/roles/k8s-login/defaults/main.yaml
  k8s-core/ansible/roles/k8s-login/tasks/main.yaml
Due: shellcheck, yamllint

Add support for new ch-k8s-lbaas versions
  ci/config/config.toml
  docs/_releasenotes/1304.feature.lbaas
  docs/user/explanation/dualstack.rst
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/defaults/main.yaml
  k8s-supplements/ansible/test-roles/check-loadbalancer-service/tasks/dualstack-lb-services.yaml
  templates/config.template.toml
Due: yamllint, build-docs-check

wireguard: Improve task name
  k8s-supplements/ansible/roles/wireguard/tasks/main.yaml
Due: yamllint

Update terraform reference documentation
  docs/developer/reference/terraform-docs.md
  docs/user/explanation/dualstack.rst
Due: build-docs-check

Check IPv4 connectivity only if ipv4_enabled
  k8s-supplements/ansible/test-roles/check-calico/tasks/test-pod-connectivity.yaml
Due: yamllint

Rework network configuration checks
  k8s-supplements/ansible/test-roles/check-network-configuration/meta/main.yaml
  k8s-supplements/ansible/test-roles/check-network-configuration/tasks/main.yaml
  k8s-supplements/ansible/test.yaml
Due: yamllint

Configure rook ipFamily
  docs/user/explanation/services/rook-storage.rst
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
Due: build-docs-check

Mark IPv4 Pod and Service subnet variables as not mandatory
  templates/config.template.toml
Due: none

terraform: Adjust IPv4 resources to built dependently
  actions/update_inventory.py
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/10-networking.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
  terraform/99-outputs.tf
Due: tflint, flake8

Do not wait for rook helm charts
  k8s-supplements/ansible/roles/rook_v2/tasks/apply_cluster.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/apply_operator.yaml
Due: yamllint

CI: Shuffle after enforced reboots
  ci/cluster-tests.yaml
Due: yamllint

Remove unused variable "ipsec_eap_psk" from config template
  docs/_releasenotes/1428.chore.ipsec-psk-templ
  templates/config.template.toml
Due: none

Include k8s-config for K8s upgrade certificate renewal
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

CI: Shuffle after Kubernetes upgrade
  ci/cluster-tests.yaml
Due: yamllint

Update `CHANGELOG.rst` and version for next release v7.0.0
  CHANGELOG.rst
  docs/_releasenotes/+.misc.release-v6.1.0
  docs/_releasenotes/1270.removal.drop-ch-k8s-global-monitoring
  docs/_releasenotes/1304.BREAKING.rework-dual-stack
  docs/_releasenotes/1304.feature.lbaas
  docs/_releasenotes/1376.docs.add-release-withdrawal-procedure
  docs/_releasenotes/1396.feature.prometheus-support-remote-write
  docs/_releasenotes/1400.chore.2024-08-06T14:07:24+00:00
  docs/_releasenotes/1403.chore.fix-rl-link
  docs/_releasenotes/1404.chore.2024-08-08T16:08:25+00:00
  docs/_releasenotes/1405.misc.devel
  docs/_releasenotes/1406.chore.2024-08-12T00:08:43+00:00
  docs/_releasenotes/1407.misc.mr-template
  docs/_releasenotes/1408.docs.update-outdated-calico-hyperlinks
  docs/_releasenotes/1409.chore.fix-cl-6.1
  docs/_releasenotes/1411.chore.2024-08-13T12:06:58+00:00
  docs/_releasenotes/1419.change.sysctl-on-master
  docs/_releasenotes/1420.feature.blackbox-exporter-introduce-http-api-module
  docs/_releasenotes/1421.chore.2024-08-17T16:07:20+00:00
  docs/_releasenotes/1422.chore.2024-08-19T00:09:50+00:00
  docs/_releasenotes/1425.chore.changelog-blackbox-1420
  docs/_releasenotes/1426.fix.changelog-rl-link
  docs/_releasenotes/1427.chore.grafana-config-template
  docs/_releasenotes/1428.chore.ipsec-psk-templ
  docs/_releasenotes/1429.change.vault-image
  docs/_releasenotes/1430.feature.rook-version
  docs/_releasenotes/1431.chore.2024-08-19T12:07:17+00:00
  docs/_releasenotes/1434.docs.update-outdated-terraform-docs
  docs/_releasenotes/1435.misc.issue-template-bug
  version
Due: none

tf: Use maps instead of lists to configure nodes
  actions/apply-terraform.sh
  actions/helpers/config_migrate.py
  actions/helpers/terraform_migrate.py
  actions/lib.sh
  actions/migrate-to-release.sh
  ci/config/config.toml
  docs/_releasenotes/1317.BREAKING.2.tf-overhaul-nodes-handling
  docs/_releasenotes/1317.change.1.tf-increase-min-version
  docs/developer/guide/simulate-bm.rst
  docs/developer/reference/terraform-docs.md
  docs/user/guide/quick-start.rst
  docs/user/reference/cluster-configuration.rst
  docs/user/tutorial/create-cluster.rst
  poetry.lock
  pyproject.toml
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint, shellcheck, flake8, poetry-lock, build-docs-check

tf: Permanently migrate count to for_each
  actions/apply-terraform.sh
  actions/helpers/migrate-count-to-for-each.sh
  actions/helpers/terraform_migrate.py
  actions/migrate-to-release.sh
  docs/_releasenotes/1317.BREAKING.1-tf-permanently-migrate-count-to-for_each
Due: shellcheck, flake8

tf: Fix availability zone configuration
  actions/helpers/config_migrate.py
  actions/migrate-to-release.sh
  ci/config/config.toml
  docs/_releasenotes/1317.BREAKING.3.tf-make-availability-zone-config-explicit
  docs/developer/reference/terraform-docs.md
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint, shellcheck, flake8, build-docs-check

tf: Decouple gateway nodes from availability zones
  actions/helpers/terraform_migrate.py
  actions/migrate-to-release.sh
  docs/_releasenotes/1317.BREAKING.4.tf-index-based-gateway-nodes
  docs/_releasenotes/1317.feature.1.tf-configure-amount-of-gateway-nodes
  docs/developer/guide/simulate-bm.rst
  docs/developer/reference/terraform-docs.md
  docs/user/reference/cluster-configuration.rst
  poetry.lock
  pyproject.toml
  templates/config.template.toml
  terraform/00-variables.tf
  terraform/20-gateway.tf
Due: tflint, shellcheck, flake8, poetry-lock, build-docs-check
