Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1582.fix.kubernetes-upgrade
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1581.fix.kubernetes-upgrade
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1580.fix.kubernetes-upgrade
  version
Due: none

Adjust Kubernetes upgrade procedure
  docs/_releasenotes/hotfix/1580.fix.kubernetes-upgrade
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1584.fix.kubernetes-upgrade
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1583.fix.kubernetes-upgrade
  version
Due: none

Fix whitespace of debug message
  docs/_releasenotes/1586.misc.1.drop-legacy-condition
  k8s-core/ansible/roles/k8s-master/tasks/mkkubeconfig.yaml
Due: yamllint

Remove leftover conditions
  docs/_releasenotes/1586.misc.2.drop-legacy-condition
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Upgrade system packages after switching K8s repo
  docs/_releasenotes/1586.change.k8s-upgrade-packages
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Give ./config access to top-level options
  ci/config/default.nix
  ci/flake.nix
  docs/_releasenotes/1593.misc.nix-config-as-module
  flake.nix
  nix/lib.nix
  nix/templates/cluster-repo/config/default.nix
  nix/templates/cluster-repo/flake.nix
  nix/templates/migration/config/default.nix
  nix/templates/migration/flake.nix
  nix/yk8s/lib/default.nix
Due: none

tf: Handle non-unique image names
  docs/_releasenotes/1598.fix.tf-handle-non-unique-image-names
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
Due: tflint

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

Improve error handling for Vault S3 backup with missing config
  docs/_releasenotes/1464.fix.add-nice-error-message-for-when-vault-backup-s3-backups-is-enabled-but-not-configured
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
Due: yamllint

Move Vault S3 backup configuration to Vault
  docs/_releasenotes/1464.BREAKING.add-nice-error-message-for-when-vault-backup-s3-backups-is-enabled-but-not-configured
  docs/_releasenotes/1464.fix.add-nice-error-message-for-when-vault-backup-s3-backups-is-enabled-but-not-configured
  docs/templates/vault_backup_s3_config.template.yaml
  docs/user/reference/services/vault.rst
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
  tools/vault/init.sh
  tools/vault/lib.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

Fix import of signed intermediates
  docs/_releasenotes/1605.fix.load-signed-intermediates
  tools/vault/load-signed-intermediates.sh
Due: shellcheck

Fix update-inventory.sh for recent Nix versions
  actions/update-inventory.sh
  docs/_releasenotes/1603.misc.nix-override-input
  nix/templates/cluster-repo/flake.nix
  nix/templates/migration/flake.nix
Due: shellcheck

ci: copy flake.nix from template
  ci/cluster-tests.yaml
  ci/flake.nix
Due: yamllint

flake.lock: Update
  flake.lock
Due: none

Rework requirements + devShells
  .envrc.lib.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  flake.nix
  nix/dependencies.nix
  nix/yk8s-env.nix
Due: shellcheck, yamllint

Drop offline-installation dependency group
  pyproject.toml
Due: poetry-lock

Drop python-neutronclient
  pyproject.toml
Due: poetry-lock

Drop poetry
  .envrc
  .envrc.lib.sh
  .gitlab-ci.yml
  ci/build-image.yaml
  ci/cluster-tests.yaml
  ci/hotfix-prepare.yaml
  ci/housekeeping/poetry-lock.sh
  ci/release.yaml
  docs/README.md
  docs/_releasenotes/1570.removal.drop-poetry
  docs/user/guide/minimal-access-venv.rst
  docs/user/reference/environmental-variables.rst
  nix/dependencies.nix
  nix/pkgs/kubernetes-validate.nix
  nix/templates/cluster-repo/.envrc
  nix/yk8s-env.nix
  poetry.lock
  pyproject.toml
  renovate.json
  templates/yaook-k8s-env.template.sh
Due: shellcheck, yamllint, poetry-lock, build-docs-check

Render docs as package
  ci/housekeeping/render-options.sh
  docs/README.md
  flake.nix
  nix/renderDocs.nix
Due: shellcheck, build-docs-check

Move CI package definitions to own module
  ci/container-image/default.nix
  flake.nix
Due: none

pre-commit: Fix exclude rule for trailing-whitespace hook
  .pre-commit-config.yaml
Due: yamllint

Move Nix template definition to own module
  flake.nix
  nix/templates/default.nix
Due: none

Fix minimal package group
  nix/dependencies.nix
Due: none

fixup! Move CI package definitions to own module
  flake.nix
Due: none

fixup! Rework requirements + devShells
  flake.nix
Due: none

test: test direnv setup in ci
  ci/cluster-tests.yaml
  ci/container-image/default.nix
  ci/hotfix-prepare.yaml
  ci/release.yaml
  nix/dependencies.nix
Due: yamllint

fixup! test: test direnv setup in ci
  ci/container-image/default.nix
  nix/dependencies.nix
Due: none

fixup! test: test direnv setup in ci
  ci/container-image/default.nix
Due: none

Create script to create CSRs for intermediate CAs
  ci/cluster-tests.yaml
  docs/_releasenotes/1599.feature.mkcsrs
  docs/user/guide/vault/vault.rst
  tools/vault/mkcsrs.sh
Due: shellcheck, yamllint, build-docs-check

docs: Add description for tools/vault/update.sh
  docs/_releasenotes/1599.docs.1.descr-tools-vault-update
  docs/user/explanation/vpn/ipsec.rst
  docs/user/guide/monitoring/prometheus-stack.rst
  docs/user/guide/vault/vault.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: build-docs-check

docs: Add description for root CA rotation scripts
  docs/_releasenotes/1599.docs.2.descr-root-ca-rotation
  docs/user/guide/vault/vault.rst
Due: build-docs-check

Set Kubernetes node labels on rollout
  docs/_releasenotes/1597.feature.set-k8s-node-labels-on-rollout
  docs/user/explanation/node-scheduling.rst
  docs/user/reference/options/yk8s.node-scheduling.rst
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-join-config.yaml.j2
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-join-config.yaml.j2
  nix/yk8s/node-scheduling.nix
Due: yamllint, build-docs-check

Set Kubernetes taints on rollout
  docs/_releasenotes/1597.feature.set-k8s-node-labels-and-taints-on-rollout
  docs/user/explanation/node-scheduling.rst
  docs/user/reference/options/yk8s.node-scheduling.rst
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-join-config.yaml.j2
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-join-config.yaml.j2
  nix/yk8s/node-scheduling.nix
Due: yamllint, build-docs-check

amend! Set node-role label for masters and workers
  docs/_releasenotes/1587.feature.set-k8s-node-role-label-for-masters-and-workers
  docs/_releasenotes/1597.misc.fixup-mr-1587
  docs/user/reference/cluster.rst
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/k8s-master/defaults/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/defaults/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/vars/node-labels.yaml
Due: yamllint, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
