Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Reduce flake lock file update noise
  actions/init-cluster-repo.sh
Due: shellcheck

CI: Sleep before checking CSR
  ci/test.sh
  docs/_releasenotes/1644.misc.ci-csr-improve
Due: shellcheck

Fix rendering in release note
  docs/_releasenotes/1456.change.rework-vault_v1-ansible-role
  docs/_releasenotes/1646.misc.fix-changelog
Due: none

Implement automatic config migration
  actions/migrations/v9-01-default.toml
  actions/migrations/v9-01-nix-config.sh
  docs/_releasenotes/1645.change.auto-migrate-config
  nix/templates/migration/config/default.nix
  nix/templates/migration/flake.nix
Due: shellcheck

Revert "fix vault.sh"
  actions/vault.sh
Due: shellcheck

Replace deprecated `--no-clobber` coreutils option
  actions/vault.sh
  tools/vault/import.sh
Due: shellcheck

CI: Don't publish pages in MRs
  .gitlab-ci.yml
  ci/release.yaml
  docs/_releasenotes/1648.misc.ci-pages-dry-run
Due: yamllint

Revert specific Nix typing in config
  docs/_releasenotes/1649.misc.revert-specific-nix-typing-in-config
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/network.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/lib/types.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.ch-k8s-lbaas.rst
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.kubernetes.network.rst
  docs/user/reference/options/yk8s.kubernetes.rst
  docs/user/reference/options/yk8s.wireguard.rst
Due: build-docs-check

Fix changelog entries
  docs/_releasenotes/1498.fix.mark-immutable-config-settings-as-such
  docs/_releasenotes/1579.docs.wireguard-inferface-name-constraints
  docs/_releasenotes/1597.feature.set-k8s-node-labels-and-taints-on-rollout
  docs/_releasenotes/1650.misc.changelog-fixes
Due: none

Apply 1 suggestion(s) to 1 file(s)
  actions/migrations/v9-01-nix-config.sh
Due: shellcheck

Update ghcr.io/terraform-linters/tflint Docker tag to v0.55.1
  .gitlab-ci.yml
  docs/_releasenotes/1651.chore.2025-02-01T16:05:51+00:00
Due: yamllint

Lock file maintenance
  docs/_releasenotes/+.chore.2025-02-03T00:09:42+00:00
  flake.lock
Due: none

Fix import of signed intermediates again
  docs/_releasenotes/hotfix/1654.fix.fix-load-signed-intermediates
  tools/vault/load-signed-intermediates.sh
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1654.fix.fix-load-signed-intermediates
  version
Due: none

copy before_script and script from v8.1
  ci/cluster-tests.yaml
Due: yamllint

add patch for config migration
  ci/cluster-tests.yaml
Due: yamllint

Test major version upgrade in release pipeline
  ci/cluster-tests.yaml
  docs/_releasenotes/1647.misc.test-major-release-upgrade
Due: yamllint

tmp: speed up ci for testing
  .gitlab-ci.yml
Due: yamllint

nix run patch
  ci/cluster-tests.yaml
Due: yamllint

only test terraform for now
  ci/cluster-tests.yaml
Due: yamllint

Fix import of signed intermediates again
  docs/_releasenotes/hotfix/1657.fix.fix-load-signed-intermediates
  tools/vault/load-signed-intermediates.sh
Due: shellcheck

Fix import of signed intermediates again
  docs/_releasenotes/hotfix/1658.fix.fix-load-signed-intermediates
  tools/vault/load-signed-intermediates.sh
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1658.fix.fix-load-signed-intermediates
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1657.fix.fix-load-signed-intermediates
  version
Due: none

no dirty git tree
  ci/cluster-tests.yaml
Due: yamllint

setup git user
  ci/cluster-tests.yaml
Due: yamllint

migration: Ensure inventory is removed from version control
  actions/migrations/v9-00-rm-inventory.sh
  docs/_releasenotes/1653.BREAKING.gitignore-modification
Due: shellcheck

first run always fails
  ci/cluster-tests.yaml
Due: yamllint

allow disruption during migration
  ci/cluster-tests.yaml
Due: yamllint

Draft: CI tests, RM me
  ci/cluster-tests.yaml
  ci/templates/prepare-spawn-test-cleanup-k8s-cluster.yaml
Due: yamllint

Fix tf_usage detection for bare-metal
  docs/_releasenotes/1664.misc.bare-metal
  nix/yk8s/terraform.nix
Due: none

Add variables to skip linting and housekeeping stages
  .gitlab-ci.yml
Due: yamllint

Skip build-image job if image tag is already defined
  ci/build-image.yaml
Due: yamllint

Allow CI pipelines to be manually triggered in the web UI
  .gitlab-ci.yml
Due: yamllint

fixup! Add variables to skip linting and housekeeping stages
  .gitlab-ci.yml
Due: yamllint

Ensure cluster repo migration scripts stop on failure
  actions/migrate-cluster-repo.sh
Due: shellcheck

cluster repo migration: fix regex
  actions/migrate-cluster-repo.sh
Due: shellcheck

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
