Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

terraform: Replace HCL based module with Nix
  .gitlab-ci.yml
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/lib.sh
  actions/manual-terraform.sh
  actions/release-migrations/0-v14-terranix.sh
  actions/release-migrations/a-10-terraform-state-migrations.sh
  docs/_releasenotes/1559.BREAKING.1.terranix
  docs/developer/guide/index.md
  docs/developer/guide/terraform-state-migrations.rst
  nix/templates/cluster-repo/.gitignore
  nix/yk8s/default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/openstack/00-provider.nix
  nix/yk8s/openstack/10-networking.nix
  nix/yk8s/openstack/20-gateway-networking.nix
  nix/yk8s/openstack/30-nodes.nix
  nix/yk8s/openstack/40-object-storage.nix
  nix/yk8s/openstack/default.nix
  nix/yk8s/openstack/preface.rst
  nix/yk8s/terraform.nix
  terraform/.gitignore
  terraform/00-provider.tf
  terraform/00-variables.tf
  terraform/01-discovery.tf
  terraform/10-networking.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
  terraform/50-object-storage.tf
  terraform/99-backend.tf
  terraform/README.md
  terraform/test
  terraform/versions.tf
Due: tflint, shellcheck, yamllint, build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.openstack.rst
  docs/user/reference/options/yk8s.terraform.rst
Due: build-docs-check

Update Helm release prometheus-blackbox-exporter to v11.10.0
  docs/_releasenotes/2474.change.prometheus-blackbox-exporter-updated-to-11.10.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Implement support for multiple interfaces
  docs/_releasenotes/2447.feature.1.px-gateway-nodes
  k8s-core/ansible/roles/helpers/get-interfaces/meta/main.yaml
  k8s-core/ansible/roles/helpers/get-interfaces/tasks/main.yaml
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/meta/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/agent-config.toml.j2
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
  k8s-supplements/ansible/roles/nftables/meta/main.yaml
  k8s-supplements/ansible/roles/nftables/tasks/main.yaml
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
  nix/yk8s/infra.nix
  nix/yk8s/openstack/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.infra.rst
Due: build-docs-check

nix/config: Fixup option names in warning messages
  docs/_releasenotes/2381.fix.1.option-names-in-warning-messages-fixed
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
Due: none

Update Helm release dcgm-exporter to v4.8.2
  docs/_releasenotes/2475.change.dcgm-exporter-updated-to-4.8.2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

docs: add note about Nix update script
  docs/_releasenotes/1983.docs.1.debian-package
  docs/user/guide/quick-start/initialization.rst
Due: build-docs-check

Add version check before Nix invocations
  .envrc.lib.sh
  actions/init-cluster-repo.sh
  actions/lib.sh
  actions/update-inventory.sh
  docs/_releasenotes/1983.change.1.debian-package
Due: shellcheck

docs: Improve readability of Nix setup
  docs/user/guide/quick-start/initialization.rst
Due: build-docs-check

Add taints to kubeadm JoinConfiguration
  docs/_releasenotes/2476.change.1.add_taints_to_kubeadm_join_config
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-JoinConfiguration.yaml.j2
Due: yamllint

Update year in LICENSE file
  LICENSE.txt
  docs/_releasenotes/2478.misc.copyright
Due: none

Align copyright note in docs with license file
  docs/_releasenotes/2478.misc.copyright
  docs/conf.py
Due: flake8, build-docs-check

Fix appendix in LICENSE
  LICENSE.txt
  docs/_releasenotes/2479.misc.fix-license-file
Due: none

Lock file maintenance
  docs/_releasenotes/2480.chore.-updated-to-
  flake.lock
Due: none

Update Helm release kube-prometheus-stack to v85
  docs/_releasenotes/2481.BREAKING.kube-prometheus-stack-updated-to-85.0.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Align Vault docs with Diataxis and service layer structure
  docs/_releasenotes/2366.docs.sort-vault
  docs/user/explanation/index.md
  docs/user/explanation/services/vault.rst
  docs/user/explanation/vault.rst
  docs/user/guide/vault/vault.rst
  docs/user/reference/index.rst
  docs/user/reference/services/index.md
  docs/user/reference/services/vault.rst
  docs/user/reference/vault-tools-references.rst
Due: build-docs-check

Document OpenStack limitation of 1 cluster per project
  docs/_releasenotes/2443.docs.openstack-limitations
  docs/user/explanation/abstraction-layers.rst
  docs/user/explanation/services/ch-k8s-lbaas.rst
  docs/user/guide/quick-start/index.rst
Due: build-docs-check

Replace line by line instead of block
  actions/release-migrations/v13-envrc-kubeconfig.py
Due: flake8

Add use_gateways variable
  actions/apply-all.sh
  actions/apply-prepare-gw.sh
  actions/lib.sh
  nix/yk8s/conf-vars.nix
  nix/yk8s/infra.nix
Due: shellcheck

Add basic proxmox support
  docs/_releasenotes/1560.feature.1.px
  nix/yk8s/default.nix
  nix/yk8s/proxmox/default.nix
  nix/yk8s/proxmox/terraform.nix
Due: none

Update rendered docs
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.proxmox.rst
Due: build-docs-check

Add initialization procedure for Proxmox
  actions/init-cluster-repo.sh
  docs/_releasenotes/1560.removal.1.px
  docs/user/guide/quick-start/initialization.rst
  flake.nix
  nix/init.nix
  nix/templates/cluster-repo/_common/.gitignore
  nix/templates/cluster-repo/_common/flake.nix
  nix/templates/cluster-repo/openstack/.envrc
  nix/templates/cluster-repo/openstack/config/default.nix
  nix/templates/cluster-repo/proxmox/.envrc
  nix/templates/cluster-repo/proxmox/config/default.nix
  nix/templates/default.nix
Due: shellcheck, build-docs-check

docs: Add quickstart guide for proxmox
  docs/_releasenotes/1560.removal.1.px
  docs/conf.py
  docs/developer/guide/simulate-bm.rst
  docs/templates/envrc.openstack.template.sh
  docs/templates/envrc.proxmox.template.sh
  docs/templates/envrc.template.sh
  docs/user/guide/quick-start/_include/10-system-requirements.rst
  docs/user/guide/quick-start/_include/30-init-repo.rst.j2
  docs/user/guide/quick-start/_include/40-init-vault.rst
  docs/user/guide/quick-start/_include/50-cluster.tpl.rst
  docs/user/guide/quick-start/_include/60-vault.rst
  docs/user/guide/quick-start/_include/70-deploy.rst
  docs/user/guide/quick-start/_include/99-teardown.rst
  docs/user/guide/quick-start/index.md
  docs/user/guide/quick-start/index.rst
  docs/user/guide/quick-start/initialization.rst
  docs/user/guide/quick-start/openstack/10-system-requirements.rst
  docs/user/guide/quick-start/openstack/20-local-resources.rst
  docs/user/guide/quick-start/openstack/30-init-repo.rst
  docs/user/guide/quick-start/openstack/40-init-vault.rst
  docs/user/guide/quick-start/openstack/50-cluster.rst
  docs/user/guide/quick-start/openstack/60-vault.rst
  docs/user/guide/quick-start/openstack/70-deploy.rst
  docs/user/guide/quick-start/openstack/99-teardown.rst
  docs/user/guide/quick-start/openstack/index.rst
  docs/user/guide/quick-start/proxmox/10-system-requirements.rst
  docs/user/guide/quick-start/proxmox/30-init-repo.rst
  docs/user/guide/quick-start/proxmox/40-init-vault.rst
  docs/user/guide/quick-start/proxmox/50-cluster.rst
  docs/user/guide/quick-start/proxmox/60-vault.rst
  docs/user/guide/quick-start/proxmox/70-deploy.rst
  docs/user/guide/quick-start/proxmox/index.rst
  docs/user/reference/actions-references.rst
  docs/user/reference/cluster-configuration.rst
  docs/user/reference/cluster-repository.rst
  docs/user/reference/environmental-variables.rst
  docs/user/reference/index.rst
  docs/user/reference/ssh-algos.rst
  nix/dependencies.nix
Due: shellcheck, flake8, build-docs-check

Fix docs regarding release notes
  docs/_releasenotes/2485.misc.releasenotedocs
  docs/developer/guide/coding-guide.rst
Due: build-docs-check

Fix Ansible task names of kubelet/kubectl install
  k8s-core/ansible/roles/kubeadm-upgrade-kubelet/tasks/main.yaml
Due: yamllint

Ensure cri-tools package is installed
  docs/_releasenotes/hotfix/2486.fix.ensure-cri-tools-package-is-installed
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubelet/tasks/main.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2486.fix.ensure-cri-tools-package-is-installed
  version
Due: none

Ensure cri-tools package is installed
  docs/_releasenotes/hotfix/2487.fix.ensure-cri-tools-package-is-installed
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubelet/tasks/main.yaml
Due: yamllint

Ensure cri-tools package is installed
  docs/_releasenotes/hotfix/2488.fix.ensure-cri-tools-package-is-installed
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubelet/tasks/main.yaml
Due: yamllint

Ensure cri-tools package is installed
  docs/_releasenotes/hotfix/2489.fix.ensure-cri-tools-package-is-installed
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubelet/tasks/main.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2487.fix.ensure-cri-tools-package-is-installed
  version
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
