Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.1
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.9.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with ci --sync
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with docs --sync
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
    expose_as: Rendered Docs
    expire_in: 7 days
    paths:
    - public/
  tags:
  - docker

Fix and rework scheduling (keys)
  docs/_releasenotes/1088.fix.scheduling-keys-for-services
  k8s-managed-services/roles/common_defaults_v1/templates
  k8s-managed-services/roles/monitoring_v2/meta/main.yaml
  k8s-managed-services/roles/monitoring_v2/tasks/main.yaml
  k8s-managed-services/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  k8s-service-layer/roles/cert_manager_v1/templates/cert_manager_values.yaml.j2
  k8s-service-layer/roles/common_defaults_v1/templates/affinity.json
  k8s-service-layer/roles/common_defaults_v1/templates/tolerations.json
  k8s-service-layer/roles/fluxcd2_v2/defaults/main.yaml
  k8s-service-layer/roles/fluxcd2_v2/meta/main.yaml
  k8s-service-layer/roles/fluxcd2_v2/tasks/main.yaml
  k8s-service-layer/roles/fluxcd2_v2/templates/values.yaml.j2
  k8s-service-layer/roles/ingress_v1/meta/main.yaml
  k8s-service-layer/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
  k8s-service-layer/roles/monitoring_thanos_v2/tasks/main.yml
  k8s-service-layer/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  k8s-service-layer/roles/monitoring_v2/tasks/main.yaml
  k8s-service-layer/roles/monitoring_v2/tasks/nvidia_dcgm_exporter.yaml
  k8s-service-layer/roles/monitoring_v2/templates/nvidia_dcgm_exporter.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/prometheus_adapter.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-service-layer/roles/rook_v2/tasks/apply_cluster.yaml
  k8s-service-layer/roles/rook_v2/tasks/apply_operator.yaml
  k8s-service-layer/roles/rook_v2/templates/cluster-values.yaml.j2
  k8s-service-layer/roles/rook_v2/templates/operator-values.yaml.j2
  k8s-service-layer/roles/vault_v1/templates/vault.yaml.j2
Due: yamllint

rook_v2: Allow to unset CPU limits
  docs/_releasenotes/1089.change.rook-allow-unset-cpu-limits
  k8s-service-layer/roles/rook_v2/defaults/main.yaml
  k8s-service-layer/roles/rook_v2/templates/cluster-values.yaml.j2
  templates/config.template.toml
Due: yamllint

Add hotfixing strategy
  .gitlab-ci.yml
  ci/hotfix-prepare.yaml
  ci/lint/check-releasenote-file.py
  docs/_releasenotes/1063.chore.add_hotfixing
  docs/concepts/release-and-versioning-policy.rst
  docs/development/coding-guide.rst
  docs/img/hotfix-prepare.drawio
  docs/img/hotfix-prepare.svg
  docs/img/hotfix.drawio
  docs/img/hotfix.svg
  docs/img/release.drawio
  docs/img/release.svg
Due: yamllint, flake8, build-docs-check

Add deprecation policy
  docs/_releasenotes/1076.chore.deprecations
  docs/concepts/deprecation-policy.rst
  docs/development/coding-guide.rst
  docs/index.rst
Due: build-docs-check

Fix release note check pipeline for hotfixes
  .gitlab-ci.yml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1097.fix.kubernetes-validate-version-on-k8s-nodes
  version
Due: none

Fix kubernetes-validate version during K8s upgrades
  docs/_releasenotes/1094.fix.kubernetes-validate-version-on-k8s-nodes
  k8s-base/roles/k8s-config/defaults/main.yaml
  k8s-base/roles/k8s-tools/tasks/main.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/1094.fix.kubernetes-validate-version-on-k8s-nodes
  version
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-03-04T00:06:15+00:00
  poetry.lock
Due: poetry-lock

Change releasenote-file check for hotfixes
  .gitlab-ci.yml
  ci/lint/check-releasenote-file.py
  docs/_releasenotes/1101.chore.refine-hotfixing
Due: yamllint, flake8

Docs: improve hotfixing
  docs/concepts/release-and-versioning-policy.rst
  docs/development/coding-guide.rst
Due: build-docs-check

chore(deps): update dependency kubernetes.core to v3.0.1
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.2024-03-04T12:04:49+00:00
Due: yamllint

Update default Bitnami/Thanos Chart version
  k8s-service-layer/roles/monitoring_thanos_v2/defaults/main.yml
  templates/config.template.toml
Due: yamllint

Refactor persistence configuration for Thanos
  docs/_releasenotes/1106.BREAKING.adjust-thanos-persistence
  k8s-service-layer/roles/monitoring_thanos_v2/defaults/main.yml
  k8s-service-layer/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  templates/config.template.toml
Due: yamllint

Add check whether VAULT_TOKEN is set
  actions/apply-stage2.sh
  actions/apply-stage3.sh
  actions/lib.sh
  docs/_releasenotes/1108.change.check-vault-token
Due: shellcheck

Add option to adjust the kube-apiserver limits
  docs/_releasenotes/1027.feature.adjust-resource-limits-apiserver
  k8s-base/roles/kubeadm-patches/files/kubeadm-patches/kube-apiserver0+json.json
  k8s-base/roles/kubeadm-patches/tasks/main.yaml
  k8s-base/roles/kubeadm-patches/templates/kubeadm-patches/kube-apiserver0+json.json.j2
  templates/config.template.toml
Due: yamllint

Modify direnv poetry layout to quickly switch envs
  .envrc.lib.sh
  docs/_releasenotes/931.change.poetry-quick-switch
Due: shellcheck

chore(deps): update koalaman/shellcheck-alpine docker tag to v0.10.0
  .gitlab-ci.yml
  docs/_releasenotes/+.chore.2024-03-08T04:06:50+00:00
Due: yamllint

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-03-11T00:06:51+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update dependency packaging to v24
  docs/_releasenotes/+.chore.2024-03-11T10:05:46+00:00
  poetry.lock
Due: poetry-lock

Save changes needed for the frankenstein deployment
  k8s-base/install_frontend.yaml
  k8s-base/install_k8s_base.yaml
  k8s-service-layer/roles/rook_v1/defaults/main.yaml
  k8s-service-layer/roles/rook_v1/tasks/main.yaml
Due: yamllint

Add policy for release support
  docs/_releasenotes/1112.chore.release-support
  docs/concepts/deprecation-policy.rst
Due: build-docs-check

Fix poetry quick switch
  .envrc.lib.sh
  docs/_releasenotes/+.fix.poetry-quick-switch
Due: shellcheck

fix value type in image_mirror_manifest template
  install-node/roles/mirror-on-k8s/templates/image_mirror_manifest.yaml.j2
Due: none

Add sonobuoy to CI
  .gitlab-ci.yml
  ci/diagnostic-tools.yaml
  docs/_releasenotes/957.feature.sonobuoy
Due: yamllint

chore(deps): update dependency packaging to v24
  docs/_releasenotes/+.chore.2024-03-11T10:05:46+00:00
Due: none

Add default for nodeAffinity
  docs/_releasenotes/1120.fix.rook-values-without-scheduling-key
  k8s-service-layer/roles/rook_v2/templates/cluster-values.yaml.j2
  k8s-service-layer/roles/rook_v2/templates/operator-values.yaml.j2
Due: none

chore(deps): update dependency ansible-lint to v24.2.1
  docs/_releasenotes/+.chore.2024-03-13T14:05:20+00:00
  poetry.lock
Due: poetry-lock

Update flake.nix and allow unfree vault
  docs/_releasenotes/1117.chore.nix-update
  flake.lock
  flake.nix
Due: none

flake.nix: add formatter
  .pre-commit-config.yaml
  ci/lint/format-flake.sh
  flake.nix
Due: shellcheck, yamllint

Fix wrong type for encryptedDevice value
  docs/_releasenotes/1118.fix.encrypted-device-must-be-string
  tools/assemble_cephcluster_storage_nodes_yaml.py
Due: flake8

Thanos: Allow to set in-memory sizes
  ci/config/config.toml
  docs/_releasenotes/1116.feature.thanos-in-memory-conf
  k8s-service-layer/roles/monitoring_thanos_v2/defaults/main.yml
  k8s-service-layer/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  templates/config.template.toml
Due: yamllint

Thanos: Enable auto-downsampling
  docs/_releasenotes/1116.change.thanos-query-enable-auto-downsampling
  k8s-service-layer/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
Due: none

Thanos: Set query timeout to 1m
  k8s-service-layer/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
Due: none

Change ci rules
  .gitlab-ci.yml
  docs/_releasenotes/1123.misc.blablub
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
