Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

config: Fix type of `yk8s.rook.nodes.devices`
  CHANGELOG.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  nix/yk8s/k8s-supplements/rook.nix
  version
Due: build-docs-check

chore(deps): update helm release thanos to v15.13.1
  docs/_releasenotes/1727.chore.2025-03-05T10:07:37+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update helm release thanos to v15.13.2
  docs/_releasenotes/1732.chore.2025-03-06T14:08:04+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update nixos/nix docker tag to v2.26.3
  ci/build-image.yaml
  docs/_releasenotes/1733.chore.2025-03-06T22:07:51+00:00
Due: yamllint

docs: Fix example config in baremetal simulation guide
  CHANGELOG.rst
  docs/developer/guide/simulate-bm.rst
  version
Due: build-docs-check

docs: Fix minor mistakes in baremetal simulation guide
  docs/developer/guide/simulate-bm.rst
Due: build-docs-check

docs: Fix inventory handling in baremetal simulation guide
  docs/developer/guide/simulate-bm.rst
Due: build-docs-check

docs: Remove {TF,WG}_USAGE from baremetal simulation guide
  docs/developer/guide/simulate-bm.rst
Due: build-docs-check

chore(deps): update helm release prometheus-adapter to v4.13.0
  docs/_releasenotes/1734.chore.2025-03-07T22:08:59+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2025-03-10T00:11:20+00:00
  flake.lock
Due: none

renovate: Create feature release notes for helm updates
  ci/create_chore_release_note.sh
  ci/create_renovate_release_note.sh
  docs/_releasenotes/1730.chore.fine-tune-renovate-management
  renovate.json
Due: shellcheck

chore(deps): update helm release kube-prometheus-stack to v69
  docs/_releasenotes/1706.chore.2025-03-11T10:07:05+00:00
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Decreasing polling interval for kubeadm commands
  k8s-core/ansible/roles/helpers/kubeadm-command/tasks/main.yaml
Due: yamllint

Create helper role for kubeadm commands
  docs/_releasenotes/1676.chore.ca-key-handling-deduplication
  k8s-core/ansible/roles/helpers/kubeadm-command/meta/main.yaml
  k8s-core/ansible/roles/helpers/kubeadm-command/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-node/tasks/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
Due: yamllint

Unconditionally generate super admin config during init
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
Due: yamllint

Rework root CA key handling
  k8s-core/ansible/roles/k8s-master/handlers/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/ensure-cas.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
Due: yamllint

Remove orphan Ansible templates
  k8s-core/ansible/roles/k8s-packages/templates/kubernetes.repo
Due: none

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/agent-config.toml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/binary_id_tag.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/ch-k8s-lbaas-agent.service.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/sudoers.j2
Due: yamllint

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-config.toml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-rbac.yaml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller.yaml.j2
Due: yamllint

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/cert_manager_v1/templates/cert_manager_values.yaml.j2
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/affinity.json.j2
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/tolerations.json.j2
  k8s-supplements/ansible/roles/fluxcd2_v2/templates/values.yaml.j2
  k8s-supplements/ansible/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/nvidia_dcgm_exporter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_adapter.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
  k8s-supplements/ansible/roles/rook_v2/templates/operator-values.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/templates/vault.yaml.j2
Due: none

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/os_cloud_config.ini.j2
Due: yamllint

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/etcd-metrics-proxy/files/proxy.yaml
  k8s-supplements/ansible/roles/etcd-metrics-proxy/tasks/main.yaml
Due: yamllint

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
Due: yamllint

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/monitoring_v2/tasks/install_monitors.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/node-exporter-service-monitor.yaml.j2
Due: yamllint

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/prometheus-bird-exporter/tasks/main.yaml
  k8s-supplements/ansible/roles/prometheus-bird-exporter/templates/archive_id_tag.j2
Due: yamllint

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/tasks/main.yaml
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/templates/archive_id_tag.j2
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/templates/prometheus-haproxy-exporter.default.j2
  k8s-supplements/ansible/roles/prometheus-haproxy-exporter/templates/prometheus-haproxy-exporter.service.j2
Due: yamllint

fixup! Add j2 extension to Ansible templates
  k8s-supplements/ansible/roles/prometheus-keepalived-exporter/tasks/main.yaml
  k8s-supplements/ansible/roles/prometheus-keepalived-exporter/templates/archive_id_tag.j2
Due: yamllint

fixup! Remove j2 extension from Ansible non-templates
  k8s-core/ansible/roles/containerd/files/before-kubelet.conf
  k8s-core/ansible/roles/containerd/files/crictl.yaml
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint

fixup! Remove j2 extension from Ansible non-templates
  k8s-core/ansible/roles/vgpu-support/files/nvidia-sriov-manage.service
  k8s-core/ansible/roles/vgpu-support/files/nvidia-sriov-startup-loop.sh
  k8s-core/ansible/roles/vgpu-support/tasks/main.yaml
Due: shellcheck, yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
