Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1781.fix.broken-loop-condition-in-upgrade_kube_prom_stack-fixed
  version
Due: none

nix lib: add mkHelmValuesOption
  nix/yk8s/lib/options.nix
Due: none

Add mkTolerations and mkAffinity
  nix/yk8s/lib/default.nix
Due: none

Rename release migration script
  actions/lib.sh
  actions/migrate-cluster-repo.sh
  actions/migrate-to-release.sh
  actions/release-migrations/a-01-update-gitignore.sh
  actions/release-migrations/v10-01-direnv-layout.sh
  actions/update-inventory.sh
  docs/_releasenotes/1694.BREAKING.envrc-layout-yaook-k8s
  docs/_releasenotes/1738.BREAKING.1.release-migration-script-renamed
  docs/user/reference/actions-references.rst
  docs/user/tutorial/upgrade-release.rst
Due: shellcheck, build-docs-check

ccm: allow to set arbitrary helm values
  docs/_releasenotes/x.feature.1.nix-helm-csm-csi
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/openstack-cloud-controller-manager-values.yaml.j2
  nix/yk8s/kubernetes/default.nix
Due: yamllint

cinder-csi: allow to set arbitrary helm values
  docs/_releasenotes/x.feature.2.nix-helm-csm-csi
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/csi-cinder-plugin-values.yaml.j2
  nix/yk8s/kubernetes/storage.nix
Due: yamllint

Adjust releasenote and changelog in the context of !1805
  CHANGELOG.rst
  docs/_releasenotes/1781.fix.broken-loop-condition-in-upgrade_kube_prom_stack-fixed
  version
Due: none

chore(deps): update helm release kube-prometheus-stack to v70.5.0
  docs/_releasenotes/1814.change.kube-prometheus-stack-updated-to-70.5.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

CI: Support OpenStack credentials from file or runner vars
  ci/after_script_cleanup.sh
  ci/cluster-tests.yaml
  docs/_releasenotes/xxx.misc.ci-openstack-env-vars
Due: shellcheck, yamllint

CI: Drop useless `openrc_f1a.sh` from container image
  ci/container-image/README.md
  ci/container-image/default.nix
  ci/container-image/openrc_f1a.sh
  docs/_releasenotes/1809.misc.ci-openstack-env-vars
  docs/_releasenotes/xxx.misc.ci-openstack-env-vars
Due: shellcheck

CI: Update GitLab dependency proxy configuration
  .gitlab-ci.yml
  actions/detect-vault-image.sh
  ci/build-image.yaml
  ci/cluster-tests.yaml
  docs/_releasenotes/1815.misc.ci-update-gitlab-dep-proxy
Due: shellcheck, yamllint

release migration: Recommend to update index with gitignore
  actions/release-migrations/a-01-update-gitignore.sh
  docs/_releasenotes/1789.BREAKING.gitignore-updated-with-every-release-migration
  docs/_releasenotes/1818.misc.index-update-with-gitignore-recommended-by-release-migration
Due: shellcheck

chore(deps): update helm release kube-prometheus-stack to v70.7.0
  docs/_releasenotes/1819.change.kube-prometheus-stack-updated-to-70.7.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): update dependency community.general to v10.6.0
  ansible/requirements.yaml
  docs/_releasenotes/1820.chore.community.general-updated-to-10.6.0
Due: yamllint

Update nixos/nix Docker tag to v2.28.2
  ci/build-image.yaml
  docs/_releasenotes/1817.chore.nixos-nix-updated-to-2.28.2
Due: yamllint

Add support for optional basic auth secret for remote writes
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

backport: Add optional BasicAuth to remote write config
  docs/_releasenotes/hotfix/1822.feature.prometheus-remote-write-support-basic-auth
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  templates/config.template.toml
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1822.feature.prometheus-remote-write-support-basic-auth
  version
Due: none

Update Helm release thanos to v16.0.4
  docs/_releasenotes/1823.change.thanos-updated-to-16.0.4
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Fix csi-cinder-plugin priorityClassName setting
  docs/_releasenotes/1824.fix.cinder-priorityclass
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/csi-cinder-plugin-values.yaml.j2
Due: none

templates: add admin.conf to .gitignore
  docs/_releasenotes/1787.BREAKING.gitignore-admin-conf
  nix/templates/cluster-repo/.gitignore
Due: none

Update Helm release cert-manager to v1.17.2
  docs/_releasenotes/1825.change.cert-manager-updated-to-v1.17.2
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

chore(deps): update helm release kube-prometheus-stack to v70.8.0
  docs/_releasenotes/1826.change.kube-prometheus-stack-updated-to-70.8.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Replace on_openstack with openstack_enabled
  docs/_releasenotes/1718.change.1.replace_on_openstack
  docs/developer/guide/simulate-bm.rst
  docs/user/guide/rook/custom-storage.rst
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-join-config.yaml.j2
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-join-config.yaml.j2
  k8s-supplements/ansible/connect-k8s-to-openstack.yaml
  k8s-supplements/ansible/roles/check-openstack-credentials/tasks/main.yaml
  k8s-supplements/ansible/roles/nftables/tasks/main.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
  k8s-supplements/ansible/test-roles/check-block-storage/tasks/main.yaml
  k8s-supplements/ansible/test.yaml
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/openstack.nix
  terraform/templates/inventory.tpl
Due: tflint, yamllint, build-docs-check

chore(deps): update helm release prometheus-blackbox-exporter to v9.5.0
  docs/_releasenotes/1827.change.prometheus-blackbox-exporter-updated-to-9.5.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

chore(deps): lock file maintenance
  docs/_releasenotes/1828.chore.-updated-to-
  flake.lock
Due: none

Fix broken condition in containerd role
  docs/_releasenotes/1829.misc.1.mr-1613-fixed-up
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint

docs: yk8s.infra: Drop useless heading
  docs/_releasenotes/1830.misc.useless-heading-in-yk8s-infra-options-docs-dropped
  nix/yk8s/infra.nix
Due: none

docs: config.yk8s.infra: Drop useless heading
  docs/_releasenotes/1830.misc.useless-heading-in-yk8s-infra-options-docs-dropped
  docs/user/reference/options/yk8s.infra.rst
  nix/yk8s/infra.nix
Due: build-docs-check

Remove obsolete option wireguard_on_workers
  ci/config/default.nix
  docs/_releasenotes/1717.BREAKING.1.remove-obsolete-option
  nix/yk8s/miscellaneous.nix
Due: none

Remove obsolete option load-balancing.priorities
  docs/_releasenotes/1717.BREAKING.3.remove-obsolete-option
  nix/yk8s/load-balancing.nix
Due: none

Remove obsolete wireguard options
  docs/_releasenotes/1717.BREAKING.2.remove-obsolete-option
  nix/yk8s/k8s-supplements/wireguard/default.nix
Due: none
