Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Drop centos-networking role
  k8s-base/roles/centos-networking/meta/main.yaml
  k8s-base/roles/centos-networking/tasks/main.yaml
Due: yamllint

Drop teardown-kubernetes
  k8s-base/roles/teardown-kubeadm/meta/main.yaml
  k8s-base/roles/teardown-kubeadm/tasks/main.yaml
Due: yamllint

Drop disable-selinux
  k8s-base/install_frontend.yaml
  k8s-base/install_k8s_base.yaml
  k8s-base/roles/disable_selinux/meta/main.yaml
  k8s-base/roles/disable_selinux/tasks/main.yaml
Due: yamllint

Update docs a bit
  docs/concepts/abstraction-layers.rst
  docs/concepts/cluster-repository.rst
  docs/getting_started/faq.rst
  docs/getting_started/introduction.rst
  docs/getting_started/quick-start.rst
  docs/managed-services/load-balancing/overview.rst
  docs/managed-services/prometheus/overview.rst
Due: build-docs-check

Drop validate_configuration
  k8s-base/install_frontend.yaml
  k8s-base/install_k8s_base.yaml
Due: yamllint

core-split: Split k8s-api-frontend role
  k8s-base/roles/haproxy/handlers/main.yaml
  k8s-base/roles/k8s-api-frontend/defaults/main.yaml
  k8s-base/roles/k8s-api-frontend/handlers/main.yaml
  k8s-base/roles/k8s-api-frontend/meta/main.yaml
  k8s-base/roles/k8s-api-frontend/tasks/main.yaml
  k8s-core/ansible/roles/haproxy/defaults/main.yaml
  k8s-core/ansible/roles/haproxy/handlers/main.yaml
  k8s-core/ansible/roles/haproxy/meta/main.yaml
  k8s-core/ansible/roles/haproxy/tasks/main.yaml
  k8s-core/ansible/roles/haproxy/templates/config.cfg.j2
  k8s-core/ansible/roles/haproxy/templates/haproxy.cfg.j2
  k8s-core/ansible/roles/haproxy/templates/k8s-apiserver.cfg.j2
  k8s-supplements/ansible/roles/nftables/defaults/main.yaml
  k8s-supplements/ansible/roles/nftables/handlers/main.yaml
  k8s-supplements/ansible/roles/nftables/meta/main.yaml
  k8s-supplements/ansible/roles/nftables/tasks/main.yaml
  k8s-supplements/ansible/roles/nftables/templates/k8s-apiserver.conf.j2
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
Due: yamllint

Fix yamllint warning
  templates/etcd_backup_s3_config.template.yaml
Due: yamllint

core-split: Move and rename kubeadm-role to k8s-packages
  k8s-base/roles/kubeadm-upgrade-kubeadm/tasks/main.yaml
  k8s-base/roles/kubeadm-upgrade-kubelet/tasks/main.yaml
  k8s-core/ansible/roles/k8s-packages/files/apt-key.gpg
  k8s-core/ansible/roles/k8s-packages/handlers/main.yaml
  k8s-core/ansible/roles/k8s-packages/meta/main.yaml
  k8s-core/ansible/roles/k8s-packages/tasks/configure-package-repo.yaml
  k8s-core/ansible/roles/k8s-packages/tasks/main.yaml
  k8s-core/ansible/roles/k8s-packages/templates/kubernetes.repo
Due: yamllint

core-split: Merge k8s-bgp and bird role and move to k8s-supplements
  k8s-base/roles/bird/meta/main.yaml
  k8s-base/roles/k8s-bgp/tasks/clear_calico_bgp.yaml
  k8s-base/roles/k8s-bgp/tasks/main.yaml
  k8s-base/roles/k8s-bgp/tasks/setup_calico_bgp.yaml
  k8s-base/roles/k8s-bgp/templates/bird-kube-router.conf
  k8s-supplements/ansible/roles/bird/handlers/main.yaml
  k8s-supplements/ansible/roles/bird/meta/main.yaml
  k8s-supplements/ansible/roles/bird/tasks/main.yaml
  k8s-supplements/ansible/roles/bird/templates/bird-calico-v6.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird-calico.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird.conf.j2
  k8s-supplements/ansible/roles/bird/templates/bird6.conf.j2
Due: yamllint

core-split: Split k8s-config
  k8s-core/ansible/roles/config/k8s-config/defaults/main.yaml
  k8s-core/ansible/roles/config/k8s-config/meta/main.yaml
  k8s-supplements/ansible/roles/config/version-map/defaults/main.yaml
Due: yamllint

core-split: Move ch-k8s-lbaas
  k8s-supplements/ansible/install-ch-k8s-lbaas.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/handlers/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/meta/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/agent-config.toml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/binary_id_tag
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/ch-k8s-lbaas-agent.service
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/sudoers
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/defaults/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/meta/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/handlers/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/meta/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-config.toml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-rbac.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller.yaml
Due: yamllint

core-split: Move volume-snapshot-controller to k8s-supplements
  k8s-supplements/ansible/install-volume-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v6.2.1/crds/snapshot.storage.k8s.io.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v6.2.1/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v6.2.1/snapshot-controller/setup-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v6.3.3/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v6.3.3/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v6.3.3/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v6.3.3/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v6.3.3/snapshot-controller/setup-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/meta/main.yaml
  k8s-supplements/ansible/roles/volume-snapshots/tasks/main.yaml
  k8s-supplements/ansible/test.yaml
Due: yamllint

core-split: Move vault_v1 to k8s-supplements
  k8s-supplements/ansible/install-vault.yaml
  k8s-supplements/ansible/roles/vault_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/vault_v1/meta/main.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/credentials.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/external_pki.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/internal_pki.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/monitoring.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/unseal.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/vault_command.yaml
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/templates/external_ingress.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/templates/servicemonitor.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/templates/vault.yaml.j2
Due: yamllint

core-split: Move ingress_v1 to k8s-supplements
  k8s-supplements/ansible/install-ingress.yaml
  k8s-supplements/ansible/roles/ingress_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/meta/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
Due: yamllint

core-split: Move local storage setups to k8s-supplements
  k8s-supplements/ansible/install-local-storage.yaml
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/defaults/main.yaml
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/meta/main.yaml
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/tasks/main.yaml
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/templates/provisioner.yaml.j2
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/templates/sc.yaml.j2
  k8s-supplements/ansible/roles/k8s-local-storage-controller/defaults/main.yaml
  k8s-supplements/ansible/roles/k8s-local-storage-controller/meta/main.yaml
  k8s-supplements/ansible/roles/k8s-local-storage-controller/tasks/main.yaml
  k8s-supplements/ansible/roles/k8s-local-storage-controller/templates/provisioner.yaml.j2
  k8s-supplements/ansible/roles/k8s-local-storage-controller/templates/sc.yaml.j2
  k8s-supplements/ansible/roles/k8s-local-storage-controller/templates/service.yaml.j2
Due: yamllint

core-split: Move etcd-backup to k8s-supplements
  k8s-supplements/ansible/install-etcd-backup.yaml
  k8s-supplements/ansible/roles/etcd-backup/defaults/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/meta/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/tasks/main.yaml
  k8s-supplements/ansible/roles/etcd-backup/templates/etcd_backup.yaml.j2
Due: yamllint

core-split: Move fluxcd to k8s-supplements
  k8s-service-layer/roles/cert_manager_v1/meta/main.yaml
  k8s-service-layer/roles/fluxcd2_v2/meta/main.yaml
  k8s-supplements/ansible/install-flux.yaml
  k8s-supplements/ansible/roles/fluxcd2_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v1/meta/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v1/templates/crds_v0.36.0.yaml
  k8s-supplements/ansible/roles/fluxcd2_v1/templates/workload_v0.36.0.yaml
Due: yamllint

core-split: Move Calico to k8s-supplements
  k8s-supplements/ansible/install-calico.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/defaults/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/meta/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/main.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/tasks/setup_bgp.yaml
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/bgp.yaml.j2
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: yamllint

core-split: Move cert-manager to k8s-supplements
  k8s-supplements/ansible/install-cert-manager.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/meta/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/templates/cert_manager_values.yaml.j2
Due: yamllint

core-split: Move global monitoring setup to k8s-supplements for now
  k8s-supplements/ansible/configure-global-monitoring.yaml
  k8s-supplements/ansible/roles/global-monitoring-frontend/handlers/main.yaml
  k8s-supplements/ansible/roles/global-monitoring-frontend/meta/main.yaml
  k8s-supplements/ansible/roles/global-monitoring-frontend/tasks/main.yaml
  k8s-supplements/ansible/roles/global-monitoring-frontend/templates/haproxy.cfg.j2
  k8s-supplements/ansible/roles/global-monitoring-frontend/templates/nftables.conf.j2
Due: yamllint

core-split: Move OpenStack connection tasks to k8s-supplements
  k8s-supplements/ansible/connect-k8s-to-openstack.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/defaults/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/files/cinder/cinder_nvme_storage_class.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/files/cinder/cinder_storage_class.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/files/cinder/volume_snapshot_storage_class.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/handlers/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/meta/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.26/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.26/cinder-csi-plugin/cinder-csi-controllerplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.26/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.26/cinder-csi-plugin/cinder-csi-nodeplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.26/cinder-csi-plugin/csi-cinder-driver.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.26/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.26/cloud-controller-manager/rbac/cloud-controller-manager-role-bindings.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.26/cloud-controller-manager/rbac/cloud-controller-manager-roles.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/cinder-csi-controllerplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/cinder-csi-nodeplugin.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cinder-csi-plugin/csi-cinder-driver.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cloud-controller-manager/rbac/cloud-controller-manager-role-bindings.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/k8s-v1.27/cloud-controller-manager/rbac/cloud-controller-manager-roles.yaml.j2
  k8s-supplements/ansible/roles/connect-k8s-to-openstack/templates/os_cloud_config.ini
Due: yamllint

core-split: Move Gateway-specific setup to k8s-supplements
  k8s-base/install_frontend.yaml
  k8s-supplements/ansible/prepare-gw.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/defaults/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/files/charon-systemd.conf
  k8s-supplements/ansible/roles/ipsec-vpn/meta/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/main.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/10-swanctl-notify.sh.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/bird.conf
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.client.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
  k8s-supplements/ansible/roles/vault-migrated/tasks/main.yaml
  k8s-supplements/ansible/roles/wireguard-support/meta/main.yaml
  k8s-supplements/ansible/roles/wireguard-support/tasks/main.yaml
  k8s-supplements/ansible/roles/wireguard/defaults/main.yaml
  k8s-supplements/ansible/roles/wireguard/meta/main.yaml
  k8s-supplements/ansible/roles/wireguard/tasks/main.yaml
  k8s-supplements/ansible/roles/wireguard/tasks/wg_endpoint.yaml
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_bird_v6.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_server.conf.j2
Due: yamllint

core-split: Bundle node bootstrap tasks into k8s-core
  k8s-base/roles/net-forwarding/tasks/main.yaml
  k8s-base/roles/prepare-node/tasks/configure_mirror_ca.yaml
  k8s-base/roles/prepare-node/tasks/configure_pip_mirror.yaml
  k8s-base/roles/prepare-node/tasks/main.yaml
  k8s-base/roles/prepare-node/templates/pip.conf.j2
  k8s-base/roles/vault-onboarded/files/vault-login.sh
  k8s-base/roles/vault-onboarded/files/with-vault.sh
  k8s-base/roles/vault-onboarded/meta/main.yml
  k8s-base/roles/vault-onboarded/tasks/get_cert.yml
  k8s-base/roles/vault-onboarded/tasks/main.yml
  k8s-core/ansible/bootstrap.yaml
  k8s-core/ansible/roles/bootstrap/README.md
  k8s-core/ansible/roles/bootstrap/configure-automatic-system-updates/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/configure-automatic-system-updates/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/detect-user/defaults/main.yaml
  k8s-core/ansible/roles/bootstrap/detect-user/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/detect-user/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/disable-swap/handlers/main.yaml
  k8s-core/ansible/roles/bootstrap/disable-swap/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/disable-swap/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/disable-swap/templates/noswap.service.j2
  k8s-core/ansible/roles/bootstrap/journald/defaults/main.yaml
  k8s-core/ansible/roles/bootstrap/journald/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/journald/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/journald/templates/journald.conf.j2
  k8s-core/ansible/roles/bootstrap/net-forwarding/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/net-forwarding/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/net-forwarding/templates/forward.conf.j2
  k8s-core/ansible/roles/bootstrap/ntp/defaults/main.yaml
  k8s-core/ansible/roles/bootstrap/ntp/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/ntp/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/ntp/templates/chrony.conf.j2
  k8s-core/ansible/roles/bootstrap/prepare-node/defaults/main.yaml
  k8s-core/ansible/roles/bootstrap/prepare-node/handlers/main.yaml
  k8s-core/ansible/roles/bootstrap/prepare-node/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/prepare-node/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/remove_snap/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/remove_snap/tasks/main.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/meta/main.yaml
  k8s-core/ansible/roles/bootstrap/ssh-known-hosts/tasks/main.yaml
Due: shellcheck, yamllint

core-split: Bundle services for HA CP to k8s-core
  k8s-base/roles/is-frontend-initialized/tasks/main.yaml
  k8s-core/ansible/install-frontend-services.yaml
  k8s-core/ansible/roles/helpers/is-frontend-initialized/meta/main.yaml
  k8s-core/ansible/roles/helpers/is-frontend-initialized/tasks/main.yaml
  k8s-core/ansible/roles/keepalived/defaults/main.yaml
  k8s-core/ansible/roles/keepalived/handlers/main.yaml
  k8s-core/ansible/roles/keepalived/meta/main.yaml
  k8s-core/ansible/roles/keepalived/tasks/main.yaml
  k8s-core/ansible/roles/keepalived/templates/chk_haproxy.sh.j2
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
  k8s-core/ansible/roles/keepalived/templates/notifier.sh.j2
Due: yamllint

core-split: Move k8s-{master,worker} to k8s-core
  k8s-base/roles/k8s-worker/meta/main.yaml
  k8s-core/ansible/roles/k8s-master/defaults/main.yaml
  k8s-core/ansible/roles/k8s-master/handlers/main.yaml
  k8s-core/ansible/roles/k8s-master/meta/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/get-certificate-authority-data.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-master/tasks/provide-ca-as-cm.yaml
  k8s-core/ansible/roles/k8s-master/templates/ca.crt.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-join-config.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubernetes-admin.sh.j2
  k8s-core/ansible/roles/k8s-tools/meta/main.yaml
  k8s-core/ansible/roles/k8s-tools/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/handlers/main.yaml
  k8s-core/ansible/roles/k8s-worker/meta/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-cas.yaml
  k8s-core/ansible/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-core/ansible/roles/k8s-worker/templates/ca.crt.j2
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-join-config.yaml.j2
Due: yamllint

core-split: Move containerd to k8s-core & split out proxy support
  k8s-core/ansible/roles/containerd/defaults/main.yaml
  k8s-core/ansible/roles/containerd/files/apt-key-ubuntu.gpg
  k8s-core/ansible/roles/containerd/meta/main.yaml
  k8s-core/ansible/roles/containerd/tasks/configure_mirror.yaml
  k8s-core/ansible/roles/containerd/tasks/main.yaml
  k8s-core/ansible/roles/containerd/templates/before-kubelet.conf.j2
  k8s-core/ansible/roles/containerd/templates/config.toml.j2
  k8s-core/ansible/roles/containerd/templates/crictl.yaml.j2
  k8s-core/ansible/roles/containerd/templates/hosts.toml.j2
  k8s-core/ansible/roles/containerd/templates/http-proxy.conf.j2
  k8s-core/ansible/roles/proxy-support/meta/main.yaml
  k8s-core/ansible/roles/proxy-support/tasks/main.yaml
Due: yamllint

core-split: Adjust Terraform
  k8s-service-layer/inventory/default.yaml
  terraform/10-networking.tf
  terraform/20-gateway.tf
  terraform/99-outputs.tf
  terraform/templates/inventory.tpl
  terraform/templates/inventory_stage2.tpl
Due: tflint, yamllint

core-split: Split system updates into two playbooks
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  k8s-base/roles/update_system/tasks/main.yaml
  k8s-base/system_update_nodes.yaml
  k8s-core/ansible/roles/update-system/meta/main.yaml
  k8s-core/ansible/roles/update-system/tasks/main.yaml
  k8s-core/ansible/update-frontend-nodes.yaml
  k8s-core/ansible/update-kubernetes-nodes.yaml
Due: shellcheck, yamllint

core-split: Rework cluster health verification
  actions/verify-cluster-health.sh
  k8s-base/roles/cluster-health-verification/tasks/rook-ceph.yaml
  k8s-core/ansible/roles/cluster-health-verification/defaults/main.yaml
  k8s-core/ansible/roles/cluster-health-verification/meta/main.yaml
  k8s-core/ansible/roles/cluster-health-verification/tasks/main.yaml
  k8s-supplements/ansible/roles/cluster-health-verification/defaults/main.yaml
  k8s-supplements/ansible/roles/cluster-health-verification/meta/main.yaml
  k8s-supplements/ansible/roles/cluster-health-verification/tasks/main.yaml
  k8s-supplements/ansible/roles/cluster-health-verification/tasks/rook-ceph.yaml
  k8s-supplements/ansible/roles/common/README.md
  k8s-supplements/ansible/roles/common/rook-health-verification/meta/main.yaml
  k8s-supplements/ansible/roles/common/rook-health-verification/tasks/main.yaml
  k8s-supplements/ansible/verify-cluster-health.yaml
Due: shellcheck, yamllint

core-split: Move out offline setup tasks
  install-node/vars/etc.yaml
  k8s-air-gapped/ansible/_offline_cluster.yaml
  k8s-air-gapped/ansible/_online_cluster.yaml
  k8s-air-gapped/ansible/install.yaml
  k8s-air-gapped/ansible/roles/configure-apt-proxy/meta/main.yaml
  k8s-air-gapped/ansible/roles/configure-apt-proxy/tasks/main.yaml
  k8s-air-gapped/ansible/roles/configure-pip-mirror/tasks/configure_mirror_ca.yaml
  k8s-air-gapped/ansible/roles/configure-pip-mirror/tasks/configure_pip_mirror.yaml
  k8s-air-gapped/ansible/roles/configure-pip-mirror/templates/pip.conf.j2
  k8s-air-gapped/ansible/roles/install-node/roles/container-mirror/defaults/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/container-mirror/tasks/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/container-mirror/tasks/setup_image_mirror.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/container-mirror/templates/registry-config.yml.j2
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/defaults/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/handlers/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/tasks/create_ca.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/tasks/main.yaml
  k8s-air-gapped/ansible/roles/install-node/roles/http-mirror/templates/nginx.conf.j2
  k8s-air-gapped/ansible/roles/install-node/setup_install_node.yaml
  k8s-air-gapped/ansible/roles/install-node/vars/etc.yaml
  k8s-air-gapped/ansible/templates/nftables_take_offline.conf.j2
  k8s-air-gapped/offline_cluster.py
Due: yamllint, flake8

core-split: Move check-openstack-credentials
  k8s-supplements/ansible/roles/check-openstack-credentials/tasks/main.yaml
  k8s-supplements/ansible/roles/check-openstack-credentials/templates/keystone_request.json.j2
Due: yamllint

core-split: Update documentation
  docs/_releasenotes/+.feature.BREAKING.core-split-first-serve
  docs/templates/ssh-hardening-vars.yaml
Due: yamllint, build-docs-check

core-split: Update .gitignore
  .gitignore
Due: none

core-split: Rework Kubernetes upgrades
  k8s-core/ansible/roles/kubeadm-drain-node/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-drain-node/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/templates/kubeadm-patches/kube-apiserver0+json.json.j2
  k8s-core/ansible/roles/kubeadm-uncordon-node/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-uncordon-node/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-apply/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubeadm/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubeadm/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubelet/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-kubelet/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-node/meta/main.yaml
  k8s-core/ansible/roles/kubeadm-upgrade-node/tasks/main.yaml
  k8s-core/ansible/roles/kubernetes-upgrade-info/meta/main.yaml
  k8s-core/ansible/roles/kubernetes-upgrade-info/tasks/main.yaml
  k8s-core/ansible/roles/kubernetes-upgrade-info/vars/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  k8s-supplements/ansible/k8s-upgrade-to-1.27.yaml
Due: yamllint

core-split: Rework CI
  .gitlab-ci.yml
  ci/after_script_cleanup.sh
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
  ci/lint/ansible-lint-conf
Due: shellcheck, yamllint

core-split: Rework vars and helper vault roles
  k8s-core/ansible/roles/helpers/vault-approle/tasks/main.yml
  k8s-core/ansible/roles/helpers/vault-onboarded/files/vault-login.sh
  k8s-core/ansible/roles/helpers/vault-onboarded/files/with-vault.sh
  k8s-core/ansible/roles/helpers/vault-onboarded/meta/main.yml
  k8s-core/ansible/roles/helpers/vault-onboarded/tasks/get_cert.yml
  k8s-core/ansible/roles/helpers/vault-onboarded/tasks/main.yml
  k8s-core/ansible/vars/auto_generated_preamble.yaml
  k8s-core/ansible/vars/disruption.yaml
  k8s-core/ansible/vars/etc.yaml
  k8s-core/ansible/vars/retries.yaml
  k8s-core/ansible/vars/ssh-hardening.yaml
  k8s-core/ansible/vars/vault-config.yaml
  k8s-core/ansible/vars/vrrp-common.yaml
  k8s-service-layer/vars/retries.yaml
  k8s-supplements/ansible/vars/auto_generated_preamble.yaml
  k8s-supplements/ansible/vars/disruption.yaml
  k8s-supplements/ansible/vars/etc.yaml
  k8s-supplements/ansible/vars/retries.yaml
  k8s-supplements/ansible/vars/ssh-hardening.yaml
  k8s-supplements/ansible/vars/vault-config.yaml
  k8s-supplements/ansible/vars/vrrp-common.yaml
Due: shellcheck, yamllint
