Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Add developer guide about accessing variables
  docs/developer/guide/read-config.rst
  docs/user/reference/cluster-configuration.rst
Due: build-docs-check

suggestion
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Expose mon_volume_size
  k8s-supplements/ansible/roles/rook_v2/defaults/main.yaml
  nix/yk8s/k8s-supplements/rook.nix
Due: yamllint

Fix actions_dir
  actions/vault_env.sh
Due: shellcheck

fixup! Make all examples multi-line-strings
  nix/templates/module/example.nix
Due: none

render docs/user/guide/custom-storage.rst
  nix/yk8s/k8s-supplements/rook.nix
Due: none

cross reference options
  nix/yk8s/k8s-supplements/rook.nix
Due: none

migrate vault state
  actions/migrations/v9-01-nix-config.sh
  nix/templates/cluster-repo/.envrc
Due: shellcheck

fixup! Add developer guide about accessing variables
  docs/developer/guide/index.md
Due: build-docs-check

fixup! Expose mon_volume_size
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Mark immutable config settings as such
  docs/_releasenotes/1498.fix.mark-immutable-config-settings-as-such
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Fix missing call to install_prerequisites in upgrade.sh
  actions/upgrade.sh
  docs/_releasenotes/hotfix/1481.fix.upgrade-prerequisites
Due: shellcheck

Update `CHANGELOG.rst` and version for next release v8.1.0
  CHANGELOG.rst
  docs/_releasenotes/1450.change.runtime
  docs/_releasenotes/1452.change.wireguard-persistent-keepalive
  docs/_releasenotes/1454.docs.603
  docs/_releasenotes/1455.feature.announce-service-ips.rst
  docs/_releasenotes/1457.feature.direnv-flake-select-shell
  docs/_releasenotes/1458.misc.release-v8.0.0
  docs/_releasenotes/1459.chore.2024-09-02T00:10:00+00:00
  docs/_releasenotes/1460.misc.poetry2nix
  docs/_releasenotes/1461.docs.vault-docker-dev-setup-hint
  docs/_releasenotes/1462.chore.2024-09-03T16:07:46+00:00
  docs/_releasenotes/1465.docs.standardize-naming-for-trademark-compliance
  docs/_releasenotes/1467.chore.2024-09-09T00:10:56+00:00
  docs/_releasenotes/1468.removal.remove-deprecated-patch_config
  docs/_releasenotes/1472.feature.re-add-custom-stage-inventory-support
  docs/_releasenotes/1473.chore.2024-09-10T12:07:47+00:00
  docs/_releasenotes/1474.chore.2024-09-10T18:08:07+00:00
  docs/_releasenotes/1475.chore.2024-09-11T14:08:49+00:00
  docs/_releasenotes/1476.change.bump-k8s
  docs/_releasenotes/1477.chore.2024-09-12T06:09:11+00:00
  docs/_releasenotes/1478.chore.2024-09-16T00:13:31+00:00
  docs/_releasenotes/1479.chore.2024-09-16T14:09:23+00:00
  docs/_releasenotes/1480.chore.2024-09-27T20:07:49+00:00
  docs/_releasenotes/1481.fix.upgrade-prerequisites
  docs/_releasenotes/1485.chore.2024-09-19T14:09:38+00:00
  docs/_releasenotes/1486.chore.2024-09-19T17:45:50+00:00
  docs/_releasenotes/1487.chore.2024-09-20T00:10:03+00:00
  docs/_releasenotes/1488.fix.705-spawn-tf_usage-not-honored
  docs/_releasenotes/1494.chore.2024-09-23T00:13:11+00:00
  docs/_releasenotes/1495.fix.1.poetry2nix
  docs/_releasenotes/1495.fix.2.poetry2nix
  docs/_releasenotes/1499.chore.2024-09-27T22:07:48+00:00
  docs/_releasenotes/930.feature.1.flake-poetry2nix
  docs/_releasenotes/930.feature.2.binary-cache
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1481.fix.upgrade-prerequisites
  version
Due: none

Tolerate empty gateways Ansible host group
  docs/_releasenotes/1503.fix.tolerate-empty-gateways-ansible-host-group
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/tasks/main.yaml
  k8s-supplements/ansible/test.yaml
Due: yamllint

rook: Bump default version to v1.15.2
  docs/_releasenotes/1453.feature.rook-v1.15.0
  k8s-supplements/ansible/roles/rook_v2/defaults/main.yaml
  templates/config.template.toml
Due: yamllint

Make BasicAuth for remote write optional
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Trigger MR to devel for release-prepare/v8.1.0
  docs/_releasenotes/+.misc.release-v8.1.0
Due: none

Change name and description of the grafana_dashboard_enable_multicluster_support variable
  templates/config.template.toml
Due: none

Introduce monitoring_grafana_dashboard_enable_multicluster_support variable as boolean
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Set default value for monitoring_grafana_dashboard_enable_multicluster_support
  k8s-supplements/ansible/roles/monitoring_v2/defaults/main.yaml
Due: yamllint

chore(deps): update dependency community.aws to v8
  ansible/requirements.yaml
  docs/_releasenotes/1261.chore.2024-10-03T08:06:59+00:00
Due: yamllint

chore(deps): update dependency pre-commit to v4
  docs/_releasenotes/1508.chore.2024-10-05T20:07:31+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

chore(deps): update dependency sphinx-rtd-theme to v3
  docs/_releasenotes/1509.chore.2024-10-07T08:07:49+00:00
  poetry.lock
  pyproject.toml
Due: poetry-lock

Add missing galaxy requirement
  ansible/requirements.yaml
Due: yamllint

pre-commit: exclude .nix files from EOF fixer
  .pre-commit-config.yaml
Due: yamllint

Add Nix to CI image
  .envrc.lib.sh
  ci/build-image.yaml
  ci/container-image/default.nix
  ci/container-image/nix.conf
  ci/container-image/user-setup/group
  ci/container-image/user-setup/passwd
  ci/container-image/user-setup/shadow
  flake.nix
Due: shellcheck, yamllint

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

Remove default value for vault.cluster_name
  nix/yk8s/vault.nix
  tools/vault/import.sh
  tools/vault/k8s-login.sh
  tools/vault/lib.sh
  tools/vault/load-signed-intermediates.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/rmcluster.sh
  tools/vault/rotate-root-ca-intermediate.sh
  tools/vault/rotate-root-ca-root.sh
  tools/vault/update.sh
Due: shellcheck

Explicitly add paramiko dependency
  nix/poetry.nix
  poetry.lock
  pyproject.toml
Due: poetry-lock

adapt create-cluster tutorial to using Nix
  docs/user/tutorial/create-cluster.rst
Due: build-docs-check

fixup! Remove default value for vault.cluster_name
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Mark direnv as soft requirement
  docs/_releasenotes/x.docs.require-direnv
  docs/user/guide/initialization.rst
Due: build-docs-check

chore(deps): update dependency kubernetes to v31
  docs/_releasenotes/1493.chore.2024-10-07T10:08:01+00:00
  nix/poetry.nix
  poetry.lock
  pyproject.toml
Due: poetry-lock

group controller_manager options
  nix/yk8s/kubernetes/default.nix
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1510.fix.k8s-worker-installation-fact
  version
Due: none

Fix K8s installation fact for existing clusters
  docs/_releasenotes/hotfix/1510.fix.k8s-worker-installation-fact
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
Due: yamllint
