Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1510.fix.k8s-worker-installation-fact
  version
Due: none

auto fixes for poetry.lock
  poetry.lock
Due: poetry-lock

Move Vault S3 backup configuration to Vault
  docs/_releasenotes/1464.BREAKING.add-nice-error-message-for-when-vault-backup-s3-backups-is-enabled-but-not-configured
  docs/_releasenotes/1464.fix.add-nice-error-message-for-when-vault-backup-s3-backups-is-enabled-but-not-configured
  docs/templates/vault_backup_s3_config.template.yaml
  docs/user/reference/services/vault.rst
  k8s-supplements/ansible/roles/vault_v1/defaults/main.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
  templates/config.template.toml
  tools/vault/init.sh
  tools/vault/lib.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

pre-commit: migrate deprecated stage names
  .pre-commit-config.yaml
  docs/_releasenotes/1514.chore.pre-commit-stage-names
Due: yamllint

Fix default values of optional strings
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos-objectstorage.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/tasks/external_pki.yaml
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/vault.nix
Due: yamllint

chore(deps): update dependency sphinx-tabs to v3.4.7
  docs/_releasenotes/1515.chore.2024-10-08T14:08:43+00:00
  poetry.lock
Due: poetry-lock

fixup! Fix default values of optional strings
  nix/yk8s/k8s-supplements/ipsec.nix
Due: none

chore(deps): update dependency pre-commit to v4.0.1
  docs/_releasenotes/1516.chore.2024-10-08T18:07:32+00:00
  poetry.lock
Due: poetry-lock

chore(deps): update hashicorp/vault docker tag to v1.18.0
  ci/cluster-tests.yaml
  docs/_releasenotes/1436.chore.2024-10-09T02:06:39+00:00
Due: yamllint

Reset release migration script
  actions/helpers/config_migrate.py
  actions/helpers/terraform_migrate.py
  actions/migrate-to-release.sh
Due: shellcheck, flake8

Add LBaaS configuration for OVN compatibility
  docs/_releasenotes/1250.BREAKING.2.add-ch-k8s-lbaas-ovn-support
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-config.toml
  k8s-supplements/ansible/test-roles/check-ch-k8s-lbaas/meta/main.yaml
  k8s-supplements/ansible/test-roles/check-ch-k8s-lbaas/tasks/main.yaml
  k8s-supplements/ansible/test.yaml
  terraform/templates/inventory.tpl
Due: tflint, yamllint

Reflect variables potentially passed to Terraform
  terraform/00-variables.tf
Due: tflint

Add support for OVN-based OpenStack deployments
  actions/helpers/check_plan.py
  actions/migrate-to-release.sh
  actions/update_inventory.py
  docs/_releasenotes/1250.BREAKING.1.add-ovn-support
  terraform/10-networking.tf
  terraform/20-gateway.tf
Due: tflint, shellcheck, flake8

Use ipsec for nftable rules
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf
Due: none

Don't quote items in ignore_changes
  terraform/20-gateway.tf
Due: tflint

Use unicast for IPv4 keepalived VRRP
  actions/migrate-to-release.sh
  docs/_releasenotes/1250.change.1.keepalived-ipv4-unicast
  k8s-core/ansible/roles/keepalived/defaults/main.yaml
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: shellcheck, yamllint

Conditionally set Wireguard MTU on server and client
  docs/_releasenotes/1250.change.2.wg-mtu
  k8s-supplements/ansible/roles/wireguard/templates/wg_client.conf.j2
  k8s-supplements/ansible/roles/wireguard/templates/wg_server.conf.j2
  terraform/99-outputs.tf
  terraform/templates/final_networking.tpl
Due: tflint

Use .j2 extension for ch-k8s-lbaas-controller templates
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-config.toml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller-rbac.yaml.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-controller/templates/controller.yaml.j2
Due: yamllint

chore(deps): update dependency python-openstackclient to v7.1.3
  docs/_releasenotes/1517.chore.2024-10-09T08:07:42+00:00
  poetry.lock
Due: poetry-lock

drop obsolete helper scripts
  actions/helpers/config_migrate.py
  actions/helpers/terraform_migrate.py
Due: flake8

chore(deps): update dependency sphinx-rtd-theme to v3.0.1
  docs/_releasenotes/1518.chore.2024-10-10T08:07:46+00:00
  poetry.lock
Due: poetry-lock

state Nix as hard dependency in releasenote
  docs/_releasenotes/1265.BREAKING.nix-config
Due: none

fix YAOOK/K8s
  docs/user/guide/initialization.rst
Due: build-docs-check

Drop air-gapped related tasks and values
  k8s-core/ansible/roles/bootstrap/prepare-node/defaults/main.yaml
  k8s-core/ansible/roles/containerd/tasks/configure_mirror.yaml
  k8s-core/ansible/roles/containerd/tasks/main.yaml
Due: yamllint

drop pre-core-split remnant
  k8s-supplements/ansible/roles/monitoring_v2/defaults/main.yaml
Due: yamllint

monitoring: set str types to nonEmptyStr
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

drop WG_COMPANY variables
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
  docs/user/reference/environmental-variables.rst
  nix/templates/cluster-repo/.envrc
Due: yamllint, build-docs-check

Fix migration default.nix template
  nix/templates/migration/config/default.nix
Due: none

convert index to rst to add a comment
  docs/user/reference/index.md
  docs/user/reference/index.rst
Due: build-docs-check

Apply 1 suggestion(s) to 1 file(s)
  docs/user/guide/vault/vault-ca-rotation.rst
Due: build-docs-check

fixup! convert index to rst to add a comment
  docs/user/reference/index.rst
Due: build-docs-check

chore(deps): update dependency ansible to v9.11.0
  docs/_releasenotes/1519.chore.2024-10-10T10:07:14+00:00
  poetry.lock
Due: poetry-lock

add migration step for config.toml
  actions/migrations/v9-01-nix-config.sh
  nix/templates/migration/config/default.nix
  nix/templates/migration/config/default.nix.tpl
Due: shellcheck

fixup! add migration step for config.toml
  actions/migrations/v9-01-nix-config.sh
Due: shellcheck

Revert "add migration step for config.toml"
  actions/migrations/v9-01-nix-config.sh
  nix/templates/migration/config/default.nix
  nix/templates/migration/config/default.nix.tpl
Due: shellcheck

add comment about config migration
  nix/templates/migration/config/default.nix
Due: none

Update initialization guide
  docs/user/guide/initialization.rst
Due: build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
