Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

vault_env.sh: fix incompatibility with YAOOK_K8S_DIRENV_MANUAL
  actions/vault_env.sh
Due: shellcheck

destroy.sh: add support for bare-metal clusters
  actions/destroy.sh
  k8s-core/ansible/destroy.yaml
Due: shellcheck, yamllint

add env var TAROOK_ANSIBLE_FLAGS
  actions/lib.sh
Due: shellcheck

fix reboot loop
  k8s-core/ansible/roles/nvidia-cuda-drivers/tasks/main.yaml
  k8s-core/ansible/roles/update-system/tasks/main.yaml
  k8s-core/ansible/roles/vgpu-support/tasks/main.yaml
Due: yamllint

fix vault pivot docs
  docs/user/guide/vault/vault.rst
Due: build-docs-check

Update image versions of vault-backup deployment
  docs/_releasenotes/2282.change.vault-backup-version
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
Due: none

Split kubeadm configurations into own files
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-ClusterConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-KubeProxyConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-KubeletConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config-bundle.yaml.j2
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-JoinConfiguration.yaml.j2
Due: yamllint

Supply InitConfiguration for kube-apiserver regeneration
  docs/_releasenotes/hotfix/2277.fix.2.844-kubeadm-renders-manifests-with-wrong-ip-address-during-upgrade
  k8s-core/ansible/roles/audit-logs/tasks/main.yaml
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-init-apiserver-config-bundle.yaml.j2
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Configure patch directory for kubeadm initialization and join
  docs/_releasenotes/hotfix/2277.change.4.kubeadm
  docs/_releasenotes/hotfix/2277.fix.3.kubeadm-patches
  k8s-core/ansible/roles/audit-logs/meta/main.yaml
  k8s-core/ansible/roles/k8s-master/meta/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/2277.change.4.kubeadm
  docs/_releasenotes/hotfix/2277.fix.2.844-kubeadm-renders-manifests-with-wrong-ip-address-during-upgrade
  docs/_releasenotes/hotfix/2277.fix.3.kubeadm-patches
  version
Due: none

Supply InitConfiguration for kube-apiserver regeneration
  docs/_releasenotes/hotfix/2283.fix.2.844-kubeadm-renders-manifests-with-wrong-ip-address-during-upgrade
  k8s-core/ansible/roles/audit-logs/tasks/main.yaml
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/audit-logs/templates/kubeadm-init-apiserver-config-bundle.yaml.j2
Due: yamllint

Split kubeadm configurations into own files
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-ClusterConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-KubeProxyConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-init-config-bundle.yaml.j2
  k8s-core/ansible/roles/k8s-worker/tasks/main.yaml
  k8s-core/ansible/roles/k8s-worker/templates/kubeadm-JoinConfiguration.yaml.j2
Due: yamllint

ci: Adjust hotfix procedure on devel to drop releasenotes
  ci/hotfix-prepare.yaml
Due: yamllint

Configure patch directory for kubeadm initialization and join
  docs/_releasenotes/hotfix/2283.change.4.kubeadm
  docs/_releasenotes/hotfix/2283.fix.3.kubeadm-patches
  k8s-core/ansible/roles/audit-logs/meta/main.yaml
  k8s-core/ansible/roles/k8s-master/meta/main.yaml
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-InitConfiguration.yaml.j2
  k8s-core/ansible/roles/k8s-master/templates/kubeadm-JoinConfiguration.yaml.j2
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update version number and changelog for hotfix-release
  docs/_releasenotes/hotfix/2283.change.4.kubeadm
  docs/_releasenotes/hotfix/2283.fix.2.844-kubeadm-renders-manifests-with-wrong-ip-address-during-upgrade
  docs/_releasenotes/hotfix/2283.fix.3.kubeadm-patches
  version
Due: none

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.61.0
  .gitlab-ci.yml
  docs/_releasenotes/2291.chore.ghcr.io-terraform-linters-tflint-updated-to-v0.61.0
Due: yamllint

chore(deps): update helm release etcdbackup to v1.2.0
  docs/_releasenotes/2292.change.etcdbackup-updated-to-1.2.0
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

chore(deps): update helm release prometheus-blackbox-exporter to v11.8.0
  docs/_releasenotes/2293.change.prometheus-blackbox-exporter-updated-to-11.8.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

chore(deps): update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2294.chore.kubernetes-kubernetes-updated-to-v1.34.4
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Fix v11.0.4 release note (containerd fd limit)
  CHANGELOG.rst
Due: none

fluxcd: allow to set arbitrary helm values
  docs/_releasenotes/1808.feature.1.nix-helm-fluxcd
  k8s-supplements/ansible/roles/fluxcd2_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/fluxcd2_v2/templates/values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/templates/fluxcd_podmonitor.yaml.j2
  k8s-supplements/ansible/test-roles/fluxcd2_v1_test/defaults/main.yaml
  k8s-supplements/ansible/test-roles/fluxcd2_v1_test/tasks/main.yaml
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_managed_services.yaml
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
Due: build-docs-check

nix/types: add generic url type
  nix/tests/test_yk8s/test_lib/test_types/test_networking.nix
  nix/yk8s/lib/types/networking.nix
Due: none

docs: fix outdated mentions of k8s-config
  docs/user/explanation/services/calico.rst
  docs/user/guide/kubernetes/upgrading-kubernetes.rst
  docs/user/guide/rook/upgrades.rst
Due: build-docs-check

Derive types from existing types
  docs/_releasenotes/2269.misc.1.type-definitions
  nix/tests/test_yk8s/test_lib/test_types/test_k8s.nix
  nix/yk8s/lib/types/_toplevel.nix
  nix/yk8s/lib/types/k8s.nix
  nix/yk8s/lib/types/networking.nix
  nix/yk8s/lib/types/strings.nix
Due: none

Don't fail if nothing to commit
  actions/migrate-to-release.sh
  docs/_releasenotes/2295.chore.1.empty-release-migration
Due: shellcheck

chore(deps): update helm release prometheus-adapter to v5.2.1
  docs/_releasenotes/2297.change.prometheus-adapter-updated-to-5.2.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Trigger MR to devel for release-prepare/v12.0.0
  docs/_releasenotes/+.misc.release-v12.0.0
Due: none

Reset changelog
  CHANGELOG.rst
Due: none

chore(deps): update nixos/nix docker tag to v2.33.3
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2299.chore.nixos-nix-updated-to-2.33.3
Due: yamllint

Trigger tflint job for image bumps
  .gitlab-ci.yml
Due: yamllint

chore(deps): update helm release prometheus-blackbox-exporter to v11.7.1
  docs/_releasenotes/2300.change.prometheus-blackbox-exporter-updated-to-11.7.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
