Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Add safeguard to ensure cluster repo migration is completed
  actions/lib.sh
  actions/migrate-cluster-repo.sh
  actions/migrations/v9-02-terraform-deprecated-floatingip-resource-type.sh
  actions/update-inventory.sh
  actions/wg-up.sh
Due: shellcheck

Implement automatic config migration
  actions/init-cluster-repo.sh
  actions/lib.sh
  actions/migrations/v9-01-default.toml
  actions/migrations/v9-01-nix-config.sh
  docs/_releasenotes/1265.BREAKING.nix-config
  docs/_releasenotes/1645.misc.auto-migrate-config
  nix/templates/default.nix
  nix/templates/migration/config/default.nix
  nix/templates/migration/flake.nix
Due: shellcheck

Use notef instead of error in terraform migration script
  actions/migrations/v9-02-terraform-deprecated-floatingip-resource-type.sh
Due: shellcheck

tmp: speed up ci for testing
  .gitlab-ci.yml
Due: yamllint

Test major version upgrade in release pipeline
  ci/cluster-tests.yaml
  docs/_releasenotes/1647.misc.test-major-release-upgrade
Due: yamllint

Improve user tutorial on how to upgrade to releases
  docs/_releasenotes/1660.docs.lcm-upgrade-doc-improv
  docs/index.md
  docs/user/reference/actions-references.rst
  docs/user/tutorial/index.md
  docs/user/tutorial/upgrade-cluster.rst
  docs/user/tutorial/upgrade-release.rst
Due: build-docs-check

migrations: Fix Terraform transition for remote backend
  actions/apply-terraform.sh
  actions/lib.sh
  actions/migrations/v9-02-terraform-deprecated-floatingip-resource-type.sh
  docs/_releasenotes/1655.BREAKING.replace-deprecated-tf-resources
Due: shellcheck

config: Make types match only whole strings
  docs/_releasenotes/1595.misc.fixup-nix-config
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/network.nix
  nix/yk8s/lib/types.nix
  nix/yk8s/load-balancing.nix
Due: none

config: Refine K8s quantity representing types
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/lib/modules.nix
  nix/yk8s/lib/types.nix
Due: none

config: Fix type of `thanos_store_in_memory_max_size`
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

config: Use `types.enum` where possible
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/kubernetes/network.nix
  nix/yk8s/lib/types.nix
  nix/yk8s/load-balancing.nix
Due: none

Lock file maintenance
  docs/_releasenotes/1666.chore.2025-02-10T00:10:17+00:00
  flake.lock
Due: none

config: Fix `yk8s.lib.types.k8sServiceType`
  nix/yk8s/lib/types.nix
Due: none

config: Fix example for `yk8s.node-scheduling.taints`
  nix/yk8s/node-scheduling.nix
Due: none

cluster repo migration: fix regex
  actions/migrate-cluster-repo.sh
Due: shellcheck

Add safeguard to ensure cluster repo migration is completed
  actions/lib.sh
  actions/migrate-cluster-repo.sh
  actions/update-inventory.sh
  actions/wg-up.sh
Due: shellcheck

Use notef instead of echo in terraform migration script
  actions/migrations/v9-02-terraform-deprecated-floatingip-resource-type.sh
Due: shellcheck

Mark more options as renamed/removed
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/testing.nix
Due: none

Commit cluster repo after successful migration
  actions/migrate-cluster-repo.sh
Due: shellcheck

Fix detection of wg_usage
  actions/lib.sh
Due: shellcheck

config: Fix reference in `yk8s.vault.cluster_name`
  nix/yk8s/vault.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.ch-k8s-lbaas.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.kubernetes.network.rst
  docs/user/reference/options/yk8s.kubernetes.rst
  docs/user/reference/options/yk8s.node-scheduling.rst
  docs/user/reference/options/yk8s.vault.rst
Due: build-docs-check

chore(deps): update dependency community.general to v10.3.1
  ansible/requirements.yaml
  docs/_releasenotes/1668.chore.2025-02-10T22:06:51+00:00
Due: yamllint

Retry reboots
  docs/_releasenotes/1670.chore.retry-reboots
  k8s-core/ansible/roles/nvidia-cuda-drivers/tasks/main.yaml
  k8s-core/ansible/roles/update-system/tasks/main.yaml
  k8s-core/ansible/roles/vgpu-support/tasks/main.yaml
Due: yamllint

CI: Provide artifacts for pages-dry-run
  .gitlab-ci.yml
  ci/release.yaml
Due: yamllint

CI: Run pages-dry-run conditionally
  .gitlab-ci.yml
  docs/_releasenotes/1669.misc.pages-dry-run-job-adjustments
Due: yamllint

tf: Fixup state migration with release v9
  actions/apply-terraform.sh
  actions/lib.sh
  actions/migrations/v9-02-terraform-deprecated-floatingip-resource-type.sh
  docs/_releasenotes/1667.BREAKING.replace-deprecated-tf-resources
Due: shellcheck

Let renovate bot manage default helm chart versions
  docs/_releasenotes/1671.chore.renovate-bot-helm-charts
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/fluxcd.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  renovate.json
Due: none

chore(deps): update nixos/nix docker tag to v2.26.2
  ci/build-image.yaml
  docs/_releasenotes/1674.chore.2025-02-12T22:08:00+00:00
Due: yamllint

Fix internal nix types of chart version variables
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/fluxcd.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.k8s-service-layer.vault.rst
Due: build-docs-check

Ensure kube-controller-manager flags are set after K8s upgrade
  docs/_releasenotes/1675.fix.fix-k8s-upgrade-ca-key
  k8s-core/ansible/roles/kubeadm-upgrade-node/tasks/main.yaml
Due: yamllint

CI: ensure image tag is passed to next stage
  ci/diagnostic-tools.yaml
  docs/_releasenotes/1678.chore.ci-fix-merge-to-release-branch-ci-image
Due: yamllint

Fix broken check_conf_sanity
  actions/lib.sh
  docs/_releasenotes/1677.fix.fix-conf-sanity-check
Due: shellcheck

test
  ci/diagnostic-tools.yaml
  ci/release.yaml
Due: yamllint

Pass YAOOK_K8S_CI_IMAGE_TAG forward in release stage
  ci/release.yaml
Due: yamllint

Ensure kube-controller-manager flags are set after K8s upgrade
  k8s-core/ansible/roles/kubeadm-upgrade-apply/tasks/main.yaml
Due: yamllint
