Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Add support for Kubernetes v1.36
  ci/cluster-tests.yaml
  docs/_releasenotes/2510.feature.1.k8s-v1.36
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-supplements/ansible/k8s-upgrade-to-1.36.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.6.0/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.6.0/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.6.0/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.6.0/snapshot-controller/rbac-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.6.0/snapshot-controller/setup-snapshot-controller.yaml
  k8s-supplements/ansible/roles/volume-snapshots/tasks/main.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Add variable TAROOK_LAZY_ENV
  .envrc.lib.sh
  actions/apply-all.sh
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/apply-prepare-gw.sh
  actions/apply-terraform.sh
  actions/lib.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/verify-10-supplements-health.sh
  docs/user/reference/environmental-variables.rst
Due: shellcheck, build-docs-check

rename yaook-direnv-reload to tarook-direnv-reload
  .envrc.lib.sh
Due: shellcheck

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

wip
  .envrc.lib.sh
Due: shellcheck

Update k8s-version to v1.36.2
  ci/cluster-tests.yaml
  docs/_releasenotes/2533.chore.kubernetes-kubernetes-updated-to-v1.36.2
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Add support for configuring custom kubeadm patches
  ansible/requirements.yaml
  docs/_releasenotes/2272.feature.1.kubeadm-patches-nix
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-core/ansible/roles/kubeadm-patches/tasks/main.yaml
  k8s-core/ansible/roles/kubeadm-patches/templates/kubeadm-patches/kube-apiserver0+json.json.j2
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/kubernetes/kubeadm-patches.nix
Due: yamllint, build-docs-check

Add option to configure event TTL for kube-apiserver
  docs/_releasenotes/2272.feature.2.kube-apiserver-event-ttl
  docs/user/reference/options/yk8s.kubernetes.rst
  nix/yk8s/kubernetes/default.nix
Due: build-docs-check

Update Helm release cert-manager to v1.20.3
  docs/_releasenotes/2535.change.cert-manager-updated-to-v1.20.3
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

Update Helm release nvidia-device-plugin to v0.19.3
  docs/_releasenotes/2379.change.nvidia-device-plugin-updated-to-0.19.3
  nix/yk8s/nvidia.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.nvidia.rst
Due: build-docs-check

Make lib.sh manually sourcable
  actions/lib.sh
  docs/_releasenotes/2536.misc.1.lib-manual-source
Due: shellcheck

Lock file maintenance
  docs/_releasenotes/2537.chore.-updated-to-
  flake.lock
Due: none

Update Helm release prometheus-blackbox-exporter to v11.14.0
  docs/_releasenotes/2538.change.prometheus-blackbox-exporter-updated-to-11.14.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release prometheus-blackbox-exporter to v11.15.0
  docs/_releasenotes/2539.change.prometheus-blackbox-exporter-updated-to-11.15.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Decouple gateway action from Terraform
  actions/apply-all.sh
  actions/apply-prepare-gw.sh
  actions/lib.sh
  nix/yk8s/infra.nix
Due: shellcheck

lib.sh: Fail if needed file doesn't exist
  actions/lib.sh
Due: shellcheck

Add basic Proxmox support
  docs/_releasenotes/1560.feature.1.px
  docs/user/reference/environmental-variables.rst
  nix/dependencies.nix
  nix/yk8s/default.nix
  nix/yk8s/proxmox/default.nix
  nix/yk8s/proxmox/terraform.nix
  templates/yaook-k8s-env.template.sh
Due: shellcheck, build-docs-check

Nix: Add pythonIFD module
  nix/yk8s/default.nix
  nix/yk8s/pythonIFD.nix
Due: none

Nix: Move indent function into library
  nix/renderDocs.nix
  nix/yk8s/lib/transform.nix
Due: none

Rework init action to support multiple templates
  actions/init-cluster-repo.sh
  actions/lib.sh
  actions/release-migrations/a-01-update-gitignore.sh
  ci/cluster-tests.yaml
  docs/_releasenotes/1560.BREAKING.1.px
  docs/user/guide/quick-start/initialization.rst
  docs/user/reference/actions-references.rst
  docs/user/reference/environmental-variables.rst
  flake.nix
  nix/templates/default.nix
  renovate.json
  templates/cluster-repo/minimal/.envrc
  templates/cluster-repo/minimal/.gitignore
  templates/cluster-repo/minimal/config/default.nix
  templates/cluster-repo/minimal/flake.nix
  templates/cluster-repo/openstack/.envrc
  templates/cluster-repo/openstack/.gitignore
  templates/cluster-repo/openstack/config/default.nix
  templates/cluster-repo/openstack/flake.nix
  templates/cluster-repo/proxmox/.envrc
  templates/cluster-repo/proxmox/.gitignore
  templates/cluster-repo/proxmox/config/default.nix
  templates/cluster-repo/proxmox/flake.nix
Due: shellcheck, yamllint, build-docs-check

Update rendered docs
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.proxmox.rst
  docs/user/reference/options/yk8s.terraform.rst
Due: build-docs-check

Fix formatting of Nix files
  nix/tests/test_yk8s/test_lib/test_types/default.nix
  nix/yk8s/node-scheduling.nix
Due: none

nix: Simplify comparing semver2 versions
  docs/_releasenotes/2522.chore.1.semver2
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/lib/default.nix
Due: none

Use fully qualified 'managed-by' Kubernetes label
  ci/config/default.nix
  docs/_releasenotes/2540.misc.fully-qualified-managed-by-k8s-label-used
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  nix/yk8s/k8s-supplements/monitoring.nix
Due: build-docs-check

Update k8s-version to v1.33.13
  docs/_releasenotes/2541.chore.kubernetes-kubernetes-updated-to-v1.33.13
  templates/cluster-repo/proxmox/config/default.nix
Due: none

Fix and improve release notes for v14
  docs/_releasenotes/1559.BREAKING.1.terranix
  docs/_releasenotes/2288.fix.1.vault-manual-direnv
  docs/_releasenotes/2381.chore.1.nix-config-warnings-relocated-from-apply-functions
  docs/_releasenotes/2381.chore.2.nix-config-assertions-relocated-from-apply-functions
  docs/_releasenotes/2381.chore.3.nix-config-warning-when-infra-subnet_cidr-ignored
  docs/_releasenotes/2381.misc.1.nix-config-warnings-relocated-from-apply-functions
  docs/_releasenotes/2381.misc.2.nix-config-assertions-relocated-from-apply-functions
  docs/_releasenotes/2461.change.1.suppl-core
  docs/_releasenotes/2534.misc.1.prepare-v14.0
Due: none

destroy.sh: Add support for Proxmox clusters
  actions/destroy.sh
  actions/lib.sh
  docs/_releasenotes/2484.feature.1.px-destroy
  docs/user/guide/quick-start/proxmox/99-teardown.rst
  docs/user/guide/quick-start/proxmox/index.rst
  nix/yk8s/conf-vars.nix
Due: shellcheck, build-docs-check

CI: Adjust GPU flavor
  ci/config/default.nix
  docs/_releasenotes/2543.misc.1.ci-gpu-flavor
Due: none

Update dependency ansible.posix to v2.2.1
  ansible/requirements.yaml
  docs/_releasenotes/2544.dependency.ansible.posix-updated-to-2.2.1
Due: yamllint

terranix: Fix state migration for Thanos container
  docs/_releasenotes/2545.BREAKING.1.terranix
  nix/yk8s/openstack/40-object-storage.nix
Due: none

terranix: Fix managing Thanos container
  docs/_releasenotes/x.BREAKING.1.terranix
  nix/yk8s/openstack/40-object-storage.nix
Due: none
