Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.1
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.9.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with ci --sync
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/images/k8s-ci/base:devel
  before_script:
  - poetry install --with docs --sync
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
    expose_as: Rendered Docs
    expire_in: 7 days
    paths:
    - public/
  tags:
  - docker

chore(deps): update dependency kubernetes.core to v3
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.2024-02-01T04:05:44+00:00
Due: yamllint

Drop support for Kubernetes v1.24
  ci/cluster-tests.yaml
  docs/_releasenotes/1040.removal.drop-k8s-v1.24
  k8s-base/k8s-upgrades/k8s_upgrade_to_1.25.yaml
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.24/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.24/cinder-csi-plugin/cinder-csi-controllerplugin.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.24/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.24/cinder-csi-plugin/cinder-csi-nodeplugin.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.24/cinder-csi-plugin/csi-cinder-driver.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.24/cloud-controller-manager/openstack-cloud-controller-manager-ds.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.24/cloud-controller-manager/rbac/cloud-controller-manager-role-bindings.yaml.j2
  k8s-base/roles/connect-k8s-to-openstack/templates/k8s-v1.24/cloud-controller-manager/rbac/cloud-controller-manager-roles.yaml.j2
  k8s-base/roles/k8s-config/defaults/main.yaml
  templates/config.template.toml
Due: yamllint

chore(deps): update dependency amazon.aws to v7
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.2024-02-01T20:05:52+00:00
Due: yamllint

chore(deps): update dependency python-openstackclient to v6.5.0
  docs/_releasenotes/+.chore.2024-02-01T12:06:10+00:00
  poetry.lock
Due: poetry-lock

Activate automated tagging (release-prepare and release)
  ci/release.yaml
Due: yamllint

Change typos for consistency
  CHANGELOG.rst
  ci/release.yaml
Due: yamllint

Add automatic gitlab release creation
  ci/release.yaml
  docs/_releasenotes/1033.chore.further_rm_improvement
Due: yamllint

chore(deps): update dependency boto3 to v1.34.34
  docs/_releasenotes/+.chore.2024-02-02T22:05:21+00:00
  poetry.lock
Due: poetry-lock

chore(deps): lock file maintenance
  docs/_releasenotes/+.chore.2024-02-05T00:05:59+00:00
  poetry.lock
Due: poetry-lock

Revert "Merge branch 'renovate/amazon.aws-7.x' into 'devel'"
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.2024-02-01T20:05:52+00:00
Due: yamllint

Revert "Merge branch 'renovate/community.aws-5.x' into 'devel'"
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.revert-87b7e78b
Due: yamllint

chore(deps): update ghcr.io/terraform-linters/tflint docker tag to v0.50.3
  .gitlab-ci.yml
  docs/_releasenotes/+.chore.2024-02-05T20:04:04+00:00
Due: yamllint

Use new vault endpoint
  k8s-base/roles/calico-worker/tasks/main.yaml
  k8s-base/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-base/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-base/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
  k8s-base/roles/k8s-master/templates/ca.crt.j2
  k8s-base/roles/k8s-worker/tasks/main.yaml
  tools/vault/init.sh
Due: shellcheck, yamllint

Add additional pause after restarting everything
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Check for disruption
  k8s-base/roles/k8s-rotate-ca/tasks/main.yaml
  k8s-base/rotate_root_ca.yaml
Due: yamllint

Allow to force renewal certificates
  k8s-base/roles/vault-onboarded/tasks/get_cert.yml
Due: yamllint

Move admin kubeconfig pull
  k8s-base/roles/k8s-master/tasks/main.yaml
  k8s-base/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
Due: yamllint

Use vault-based rotation scheme
  k8s-base/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-base/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/main.yaml
  tools/vault/rotate-ca.sh
Due: shellcheck, yamllint

Dump the issuer to be used
  k8s-base/roles/vault-onboarded/tasks/get_cert.yml
Due: yamllint

Put comment above task
  k8s-base/roles/k8s-rotate-ca/tasks/main.yaml
Due: yamllint

Move CA ConfigMap provisioning to own tasks file
  k8s-base/roles/k8s-master/tasks/get-certificate-authority-data.yaml
  k8s-base/roles/k8s-master/tasks/main.yaml
  k8s-base/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-base/roles/k8s-master/tasks/provide-ca-as-cm.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Drop unnecessary var from tasks block
  k8s-base/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-base/roles/k8s-master/tasks/obtain-certs.yaml
Due: yamllint

Add force_renewal to mkkubeconfig
  k8s-base/roles/k8s-master/tasks/mkkubeconfig.yaml
Due: yamllint

calico: Execute kubernetes apply tasks only once
  k8s-base/roles/calico-control-plane/tasks/setup_calico_node.yaml
  k8s-base/roles/calico-control-plane/tasks/setup_typha.yaml
Due: yamllint

Split obtain credentials
  k8s-base/roles/k8s-master/tasks/main.yaml
  k8s-base/roles/k8s-master/tasks/mkkubeconfig.yaml
  k8s-base/roles/k8s-master/tasks/obtain-cas.yaml
  k8s-base/roles/k8s-master/tasks/obtain-certs.yaml
  k8s-base/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
Due: yamllint

Properly generate issuers
  tools/vault/lib.sh
  tools/vault/mkcluster-root.sh
  tools/vault/rotate-ca.sh
Due: shellcheck

Explicitly wait for Pod restarts
  k8s-base/roles/k8s-rotate-ca/tasks/main.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/wait-for-restart.yaml
Due: yamllint

Fix kubeconfig server url
  k8s-base/roles/k8s-master/tasks/main.yaml
  k8s-base/roles/k8s-master/tasks/obtain-kubeconfigs.yaml
Due: yamllint

Adjust issuer paths & their policies
  k8s-base/roles/calico-control-plane/tasks/setup_calico_node.yaml
  k8s-base/roles/calico-control-plane/tasks/setup_typha.yaml
  k8s-base/roles/k8s-master/tasks/obtain-certs.yaml
  tools/vault/init.sh
Due: shellcheck, yamllint

Rework restart everything
  k8s-base/roles/k8s-rotate-ca/tasks/main.yaml
  k8s-base/roles/k8s-rotate-ca/tasks/restart-all.yaml
Due: yamllint

Drop unused cert registration
  k8s-base/roles/k8s-master/tasks/main.yaml
Due: yamllint

Force renew certs only on rotation completion
  actions/rotate-root-ca.sh
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: shellcheck, yamllint

Move comment to playbook
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
  k8s-base/rotate_root_ca.yaml
Due: yamllint

Obtain fresh CAs for k8s-worker
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-worker.yaml
  k8s-base/roles/k8s-worker/tasks/main.yaml
  k8s-base/roles/k8s-worker/tasks/obtain-cas.yaml
  k8s-base/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
  k8s-base/roles/k8s-worker/templates/ca.crt.j2
Due: yamllint

Move k8s-worker kubeconfig generation to own task
  k8s-base/roles/k8s-worker/tasks/main.yaml
  k8s-base/roles/k8s-worker/tasks/obtain-kubeconfigs.yaml
Due: yamllint

Restart all K8s CP components
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Align comment and task
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Renew kubeconfigs
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Allow to force renew calico certs
  k8s-base/roles/calico-control-plane/tasks/get_cert_in_k8s.yaml
Due: yamllint

Allow no changes for command module
  k8s-base/roles/k8s-rotate-ca/tasks/rotate-cp.yaml
Due: yamllint

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
