Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Add documentation for sbom generation
  docs/user/reference/index.rst
  docs/user/reference/sbom.rst
Due: build-docs-check

Add cylonedx-cli for managing the sboms
  ci/sbom.yaml
  nix/dependencies.nix
Due: yamllint

Add python script for generating runtime sbom
  ci/sbom.yaml
  tools/generate_runtime_sbom.py
Due: yamllint, flake8

Add syft for tracking image dependencies
  ci/sbom.yaml
  nix/dependencies.nix
Due: yamllint

Add metadata of tarook to the sbom
  ci/sbom.yaml
Due: yamllint

Improve release notes for v15
  docs/_releasenotes/2477.change.1.ci-gw
  docs/_releasenotes/2477.feature.2.bgp-announce-service-ips
  docs/_releasenotes/2525.change.tigera-operator-updated-to-v3.31.6
  docs/_releasenotes/2525.dependency.tigera-operator-updated-to-v3.31.6
  docs/_releasenotes/2542.dependency.prometheus-blackbox-exporter-updated-to-11.15.1
  docs/_releasenotes/2544.dependency.ansible.posix-updated-to-2.2.1
  docs/_releasenotes/2552.dependency.kubernetes.core-updated-to-6.5.0
  docs/_releasenotes/2564.feature.1.gateway-api
  docs/_releasenotes/2565.dependency.community.general-updated-to-13.2.0
  docs/_releasenotes/2571.fix.1.fix-memory-limit-in-checkresources
  docs/_releasenotes/2577.removal.1.calico-ebpf
  docs/_releasenotes/2587.dependency.kubernetes-kubernetes-updated-to-v1.36.3
  docs/_releasenotes/2589.dependency.openstack-cloud-controller-manager-updated-to-2.36.1
  docs/_releasenotes/2593.dependency.prometheus-blackbox-exporter-updated-to-11.16.0
  docs/_releasenotes/2595.dependency.openstack-cinder-csi-updated-to-2.36.1
  docs/_releasenotes/2597.dependency.openstack-cinder-csi-updated-to-2.36.2
  docs/_releasenotes/2603.dependency.community.general-updated-to-13.3.0
  docs/_releasenotes/2607.fix.1.scheduler-hints-invalid-syntax
  docs/_releasenotes/2610.dependency.kubernetes-kubernetes-updated-to-v1.36.4
  docs/_releasenotes/2619.dependency.openstack-cloud-controller-manager-updated-to-2.36.2
  docs/_releasenotes/2623.dependency.prometheus-blackbox-exporter-updated-to-11.18.0
  docs/_releasenotes/2629.dependency.openstack-cinder-csi-updated-to-2.36.3
  docs/_releasenotes/2631.dependency.openstack-cloud-controller-manager-updated-to-2.36.4
  docs/_releasenotes/2632.dependency.community.general-updated-to-13.4.0
  docs/_releasenotes/2633.dependency.openstack-cinder-csi-updated-to-2.36.4
  docs/_releasenotes/2634.dependency.openstack-cinder-csi-updated-to-2.36.5
  docs/_releasenotes/2635.dependency.openstack-cloud-controller-manager-updated-to-2.36.5
  docs/_releasenotes/2647.dependency.kubernetes.core-updated-to-6.6.0
Due: none

Include changelog when building documentation
  docs/_releasenotes/2663.chore.1.changelog
  nix/renderDocs.nix
Due: none

Update Helm release kube-prometheus-stack to v91.4.1
  docs/_releasenotes/x.dependency.kube-prometheus-stack-updated-to-91.4.1
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update Helm release kube-prometheus-stack to v91.6.0
  docs/_releasenotes/x.dependency.kube-prometheus-stack-updated-to-91.6.0
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update Helm release kube-prometheus-stack to v91.2.3
  docs/_releasenotes/2664.dependency.kube-prometheus-stack-updated-to-91.2.3
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update Helm release kube-prometheus-stack to v91.3.0
  docs/_releasenotes/2665.dependency.kube-prometheus-stack-updated-to-91.3.0
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update Helm release kube-prometheus-stack to v91.5.3
  docs/_releasenotes/2667.dependency.kube-prometheus-stack-updated-to-91.5.3
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update Helm release kube-prometheus-stack to v91.8.0
  docs/_releasenotes/2670.dependency.kube-prometheus-stack-updated-to-91.8.0
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update Helm release kube-prometheus-stack to v91.7.1
  docs/_releasenotes/2669.dependency.kube-prometheus-stack-updated-to-91.7.1
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Add sbom-generation for nix dependencies
  .gitlab-ci.yml
  ci/sbom.yaml
  docs/_releasenotes/123.chore.sbom
  flake.lock
  flake.nix
  nix/sbom.nix
Due: yamllint

Change containerd apt-key format
  docs/_releasenotes/2657.change.reformat-containerd-apt-gpg-key
  k8s-core/ansible/roles/containerd/files/apt-key-ubuntu.gpg
Due: none

Test supported Ubuntu LTS releases in the CI
  ci/config/default.nix
  docs/_releasenotes/2657.change.1.reformat-containerd-apt-gpg-key
  docs/_releasenotes/2657.change.2.ci-worker-and-master
  docs/_releasenotes/2657.change.reformat-containerd-apt-gpg-key
Due: none

Add support for Kubernetes v1.37
  ci/cluster-tests.yaml
  docs/_releasenotes/2700.feature.1.k8s-v1.37
  docs/user/reference/options/yk8s.kubernetes.rst
  k8s-supplements/ansible/k8s-upgrade-to-1.37.yaml
  nix/yk8s/kubernetes/default.nix
Due: yamllint, build-docs-check

Update Helm release crd.projectcalico.org.v1 to v3.33.0
  docs/_releasenotes/2673.dependency.crd.projectcalico.org.v1-updated-to-v3.33.0
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Update Helm release tigera-operator to v3.33.0
  docs/_releasenotes/2674.dependency.tigera-operator-updated-to-v3.33.0
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

Update Helm release kube-prometheus-stack to v91.9.0
  docs/_releasenotes/2675.dependency.kube-prometheus-stack-updated-to-91.9.0
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update dependency devsec.hardening to v11
  ansible/requirements.yaml
  docs/_releasenotes/2677.dependency.devsec.hardening-updated-to-11.0.0
Due: yamllint

Update dependency community.general to v13.5.0
  ansible/requirements.yaml
  docs/_releasenotes/2679.dependency.community.general-updated-to-13.5.0
Due: yamllint

Drop deprecated storage location for the wg endpoint key
  docs/_releasenotes/2678.removal.support-for-deprecated-wireguard-key-location-dropped
  k8s-supplements/ansible/roles/wireguard/tasks/wg_endpoint.yaml
  tools/vault/init.sh
Due: shellcheck, yamllint

Fix init script dispatching when no branch is specified
  actions/init-cluster-repo.sh
  docs/_releasenotes/2681.misc.1.init-dispatch
Due: shellcheck

Prevent errorneous regeneration of key material
  docs/_releasenotes/2678.fix.ansible-hashi-vault-ignore-errors-fixed
  k8s-core/ansible/roles/k8s-master/tasks/ensure-cas.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-common/tasks/main.yaml
  k8s-supplements/ansible/roles/wireguard/tasks/wg_endpoint.yaml
Due: yamllint

Update Helm release rook-ceph to v1.21.0
  docs/_releasenotes/2682.dependency.rook-ceph-updated-to-v1.21.0
  nix/yk8s/k8s-supplements/rook.nix
Due: none

Update Helm release kube-prometheus-stack to v92
  docs/_releasenotes/2683.BREAKING.kube-prometheus-stack-updated-to-92.0.0
  nix/yk8s/k8s-supplements/monitoring/default.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.rook.rst
Due: build-docs-check
