Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

vault.sh: Use volumes instead of subdirectories
  actions/lib.sh
  actions/vault.sh
  nix/templates/cluster-repo/.envrc
Due: shellcheck

Fix affinity and tolerations for prometheus-stack
  docs/_releasenotes/2304.fix.1.prom-stack
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Fix affinity and tolerations for nginx-ingress-controller admission webhook
  docs/_releasenotes/2304.fix.3.ingress
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Ensure snapshot-controller is running on CP
  docs/_releasenotes/2304.change.1.volume-snapshot
  docs/_releasenotes/2304.change.2.volume-snapshot
  k8s-supplements/ansible/roles/volume-snapshots/files/v8.5.0/snapshot-controller/setup-snapshot-controller.yaml
Due: yamllint

Fix affinity and tolerations for vault-backup
  docs/_releasenotes/2304.fix.2.vault-backup
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
  k8s-supplements/ansible/roles/vault_v1/templates/backup.yaml.j2
Due: yamllint

Add affinity to calico/Typha
  docs/_releasenotes/2304.change.3.typha
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Ensure cinder-csi-controllerplugin is running on CP
  docs/_releasenotes/2304.change.4.cinder
  nix/yk8s/openstack.nix
Due: none

chore(deps): update helm release flux2 to v2.18.0
  docs/_releasenotes/2336.change.flux2-updated-to-2.18.0
  nix/yk8s/k8s-supplements/fluxcd.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.fluxcd.rst
Due: build-docs-check

Improved node reboot handling
  docs/_releasenotes/2318.change.reboot-handling
  k8s-core/ansible/roles/update-system/tasks/main.yaml
Due: yamllint

Fix monitoring of active Vault instance
  docs/_releasenotes/2337.change.vault-monitoring
  k8s-supplements/ansible/roles/vault_v1/tasks/monitoring.yaml
  k8s-supplements/ansible/roles/vault_v1/templates/servicemonitor.yaml.j2
  k8s-supplements/ansible/test-roles/monitoring_v2_test/tasks/scrape_managed_services.yaml
Due: yamllint

Fix whitespaces in openstack.nix
  nix/yk8s/openstack.nix
Due: none

Add assertions and warnings to all modules
  nix/yk8s/conf-vars.nix
  nix/yk8s/containerd.nix
  nix/yk8s/custom.nix
  nix/yk8s/hooks.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/cert-manager.nix
  nix/yk8s/k8s-supplements/etcd-backup.nix
  nix/yk8s/k8s-supplements/fluxcd.nix
  nix/yk8s/k8s-supplements/ingress.nix
  nix/yk8s/k8s-supplements/k8s-local-path-provisioner.nix
  nix/yk8s/k8s-supplements/k8s-local-storage-controller.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/rook.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/load-balancing.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/nvidia.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
  nix/yk8s/testing.nix
  nix/yk8s/vault.nix
Due: none

Add assertions and warnings to example.nix
  nix/templates/module/example.nix
Due: none

Scope assertions and warnings to output targets
  docs/_releasenotes/2305.misc.1.scoped-assertions
  nix/yk8s/assertions.nix
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/k8s-supplements/ch-k8s-lbaas.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/k8s-supplements/vault.nix
  nix/yk8s/k8s-supplements/wireguard/default.nix
  nix/yk8s/kubernetes/default.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
  nix/yk8s/testing.nix
Due: none

vault.sh: add vault_dir to .gitignore
  actions/vault.sh
  docs/_releasenotes/2310.fix.1.vault-state-gitignore
Due: shellcheck

Drop obsolete monitoring-system-update-status-common role
  docs/_releasenotes/2338.misc.obsolete-monitoring-system-update-status-common-role-dropped
  k8s-supplements/ansible/roles/monitoring-system-update-status-common/defaults/main.yaml
  k8s-supplements/ansible/roles/monitoring-system-update-status-common/meta/main.yaml
  k8s-supplements/ansible/roles/monitoring-system-update-status/meta/main.yaml
  k8s-supplements/ansible/roles/prometheus-node-exporter/templates/prometheus-node-exporter.j2
Due: yamllint

Update Helm release thanos to v17.2.6
  docs/_releasenotes/x.change.thanos-updated-to-17.2.6
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update hashicorp/vault Docker tag to v1.15.6
  ci/cluster-tests.yaml
  docs/_releasenotes/x.chore.hashicorp-vault-updated-to-1.15.6
Due: yamllint

Update hashicorp/vault Docker tag to v1.16.3
  ci/cluster-tests.yaml
  docs/_releasenotes/x.chore.hashicorp-vault-updated-to-1.16.3
Due: yamllint

Update hashicorp/vault Docker tag to v1.17.6
  ci/cluster-tests.yaml
  docs/_releasenotes/x.chore.hashicorp-vault-updated-to-1.17.6
Due: yamllint

Update hashicorp/vault Docker tag to v1.18.5
  ci/cluster-tests.yaml
  docs/_releasenotes/x.chore.hashicorp-vault-updated-to-1.18.5
Due: yamllint

Update hashicorp/vault Docker tag to v1.19.5
  ci/cluster-tests.yaml
  docs/_releasenotes/x.chore.hashicorp-vault-updated-to-1.19.5
Due: yamllint

Update hashicorp/vault Docker tag to v1.20.4
  ci/cluster-tests.yaml
  docs/_releasenotes/x.chore.hashicorp-vault-updated-to-1.20.4
Due: yamllint

Update hashicorp/vault Docker tag to v1.21.4
  ci/cluster-tests.yaml
  docs/_releasenotes/x.chore.hashicorp-vault-updated-to-1.21.4
Due: yamllint

Update Helm release thanos to v17.3.1
  docs/_releasenotes/x.change.thanos-updated-to-17.3.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release vault to v0.24.1
  docs/_releasenotes/x.change.vault-updated-to-0.24.1
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update Helm release vault to v0.25.0
  docs/_releasenotes/x.change.vault-updated-to-0.25.0
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update Helm release vault to v0.26.1
  docs/_releasenotes/x.change.vault-updated-to-0.26.1
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update Helm release vault to v0.27.0
  docs/_releasenotes/x.change.vault-updated-to-0.27.0
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update Helm release vault to v0.28.1
  docs/_releasenotes/x.change.vault-updated-to-0.28.1
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update Helm release vault to v0.29.1
  docs/_releasenotes/x.change.vault-updated-to-0.29.1
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update hashicorp/vault Docker tag to v1.14.10
  ci/cluster-tests.yaml
  docs/_releasenotes/2340.chore.hashicorp-vault-updated-to-1.14.10
Due: yamllint

Update Helm release vault to v0.30.1
  docs/_releasenotes/x.change.vault-updated-to-0.30.1
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update Helm release vault to v0.31.0
  docs/_releasenotes/x.change.vault-updated-to-0.31.0
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update Helm release vault to v0.32.0
  docs/_releasenotes/x.change.vault-updated-to-0.32.0
  nix/yk8s/k8s-supplements/vault.nix
Due: none

Update Helm release kube-prometheus-stack to v79
  docs/_releasenotes/x.BREAKING.kube-prometheus-stack-updated-to-79.12.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v80
  docs/_releasenotes/x.BREAKING.kube-prometheus-stack-updated-to-80.14.4
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release kube-prometheus-stack to v81
  docs/_releasenotes/x.BREAKING.kube-prometheus-stack-updated-to-81.6.9
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none
