Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.ingress.rst
Due: build-docs-check

Update default version of ingress Helm chart
  docs/_releasenotes/hotfix/1761.fix.1.update-ingress-nginx
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

Update default version of ingress Helm chart
  docs/_releasenotes/hotfix/1763.fix.1.update-ingress-nginx
  k8s-supplements/ansible/roles/ingress_v1/defaults/main.yaml
Due: yamllint

Update default version of ingress Helm chart
  docs/_releasenotes/hotfix/1762.fix.1.update-ingress-nginx
  k8s-supplements/ansible/roles/ingress_v1/defaults/main.yaml
Due: yamllint

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1762.fix.1.update-ingress-nginx
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1763.fix.1.update-ingress-nginx
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1760.fix.1.update-ingress-nginx
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1761.fix.1.update-ingress-nginx
  version
Due: none

Update default version of ingress Helm chart
  docs/_releasenotes/hotfix/1760.fix.1.update-ingress-nginx
  nix/yk8s/k8s-supplements/ingress.nix
Due: none

chore(deps): update helm release etcdbackup to v0.20250324.1
  docs/_releasenotes/1766.change.etcdbackup-updated-to-0.20250324.1
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Use canReach instead of cidrs to find node IP addresses
  docs/_releasenotes/hotfix/1755.change.calico-autodetection
  docs/_releasenotes/hotfix/1755.fix.calico-ip-autodetection-with-vrrp
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: none

Disable node address autodetection if IP family disabled
  docs/_releasenotes/hotfix/x.change.calico-autodetection
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: none

Use canReach instead of cidrs to find node IP addresses
  docs/_releasenotes/hotfix/1754.change.calico-autodetection
  docs/_releasenotes/hotfix/1754.fix.calico-ip-autodetection-with-vrrp
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: none

Use canReach instead of cidrs to find node IP addresses
  docs/_releasenotes/hotfix/1752.fix.calico-ip-autodetection-with-vrrp
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: none

Use canReach instead of cidrs to find node IP addresses
  docs/_releasenotes/hotfix/1753.fix.calico-ip-autodetection-with-vrrp
  k8s-supplements/ansible/roles/calico-tigera-operator/templates/values.yaml.j2
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1755.change.calico-autodetection
  docs/_releasenotes/hotfix/1755.fix.calico-ip-autodetection-with-vrrp
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1754.change.calico-autodetection
  docs/_releasenotes/hotfix/1754.fix.calico-ip-autodetection-with-vrrp
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1752.fix.calico-ip-autodetection-with-vrrp
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1753.fix.calico-ip-autodetection-with-vrrp
  version
Due: none

Properly use testing-nodes
  docs/_releasenotes/hotfix/x.fix.2.testing-nodes
  k8s-supplements/ansible/test-roles/check-block-storage/templates/reader-pod.yaml
  k8s-supplements/ansible/test-roles/check-block-storage/templates/writer-pod.yaml
  k8s-supplements/ansible/test-roles/check-ipsec/templates/busybox-ping-job.yaml.j2
  k8s-supplements/ansible/test-roles/check-loadbalancer-service/templates/preliminaries.yaml.j2
  k8s-supplements/ansible/test-roles/check-local-storage/templates/writer-pod.yaml.j2
  k8s-supplements/ansible/test-roles/check-networkpolicy-enforcement/templates/service.yaml
  k8s-supplements/ansible/test-roles/check-networkpolicy-enforcement/templates/test-pod.yaml
  k8s-supplements/ansible/test-roles/check-services/templates/nginx.yaml.j2
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_dual_stack.yaml.j2
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_single_stack_v4.yaml.j2
  k8s-supplements/ansible/test-roles/check-services/templates/nginx_single_stack_v6.yaml.j2
  k8s-supplements/ansible/test.yaml
Due: yamllint

Fix applying Cinder StorageClass with undefined volume type
  docs/_releasenotes/hotfix/x.fix.1.cinder-storage-class
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/cinder_storage_class.yaml.j2
Due: none

Fix and expose basic_auth_secret_name option
  docs/_releasenotes/hotfix/x.docs.1.basic-auth
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Scrape all ServiceMonitors by default
  docs/_releasenotes/hotfix/1767.docs.1.basic-auth
  docs/_releasenotes/hotfix/1767.fix.1.cinder-storage-class
  docs/_releasenotes/hotfix/1767.fix.2.testing-nodes
  docs/_releasenotes/hotfix/1767.fix.3.common-labels
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1767.docs.1.basic-auth
  docs/_releasenotes/hotfix/1767.fix.1.cinder-storage-class
  docs/_releasenotes/hotfix/1767.fix.2.testing-nodes
  docs/_releasenotes/hotfix/1767.fix.3.common-labels
  version
Due: none

Minor typo fixes in Changelog
  CHANGELOG.rst
Due: none
