Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Lock file maintenance
  docs/_releasenotes/+.chore.2024-03-18T00:06:13+00:00
  poetry.lock
Due: poetry-lock

Ignore missing wireguard key on vault import
  tools/vault/import.sh
Due: shellcheck

Allow to enable Ceph dashboard
  docs/_releasenotes/+.feature.allow-configure-ceph-dashboard
Due: none

Pin ceph version
  k8s-service-layer/roles/rook_v1/defaults/main.yaml
Due: yamllint

Fix and rework scheduling (keys)
  docs/_releasenotes/1088.fix.scheduling-keys-for-services
  k8s-managed-services/roles/common_defaults_v1/templates
  k8s-managed-services/roles/monitoring_v2/meta/main.yaml
  k8s-managed-services/roles/monitoring_v2/tasks/main.yaml
  k8s-managed-services/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  k8s-service-layer/roles/cert_manager_v1/templates/cert_manager_values.yaml.j2
  k8s-service-layer/roles/common_defaults_v1/templates/affinity.json
  k8s-service-layer/roles/common_defaults_v1/templates/tolerations.json
  k8s-service-layer/roles/fluxcd2_v2/defaults/main.yaml
  k8s-service-layer/roles/fluxcd2_v2/meta/main.yaml
  k8s-service-layer/roles/fluxcd2_v2/tasks/main.yaml
  k8s-service-layer/roles/fluxcd2_v2/templates/values.yaml.j2
  k8s-service-layer/roles/ingress_v1/meta/main.yaml
  k8s-service-layer/roles/ingress_v1/templates/nginx_ingress_values.yaml.j2
  k8s-service-layer/roles/monitoring_thanos_v2/tasks/main.yml
  k8s-service-layer/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  k8s-service-layer/roles/monitoring_v2/tasks/main.yaml
  k8s-service-layer/roles/monitoring_v2/tasks/nvidia_dcgm_exporter.yaml
  k8s-service-layer/roles/monitoring_v2/templates/nvidia_dcgm_exporter.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/prometheus_adapter.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  k8s-service-layer/roles/rook_v2/tasks/apply_cluster.yaml
  k8s-service-layer/roles/rook_v2/tasks/apply_operator.yaml
  k8s-service-layer/roles/rook_v2/templates/cluster-values.yaml.j2
  k8s-service-layer/roles/rook_v2/templates/operator-values.yaml.j2
  k8s-service-layer/roles/vault_v1/templates/vault.yaml.j2
Due: yamllint

Revert frankenstein modifications to rook role
  k8s-service-layer/roles/rook_v1/defaults/main.yaml
  k8s-service-layer/roles/rook_v1/tasks/main.yaml
Due: yamllint

Disarm system upgrade
  k8s-base/k8s-upgrades/k8s_upgrade_to_1.26.yaml
  k8s-base/k8s-upgrades/k8s_upgrade_to_1.27.yaml
Due: yamllint

Update dependency python-openstackclient to v6.6.0
  docs/_releasenotes/+.chore.2024-03-18T16:04:57+00:00
  poetry.lock
Due: poetry-lock

Mark wireguard dummy keys
  actions/wg-up.sh
  docs/_releasenotes/1128.misc.improve-wg-dummy-key-creation
Due: shellcheck

Clean up ipsec installation
  docs/_releasenotes/1129.fix.ipsec-reboot
  k8s-base/roles/ipsec-vpn/defaults/main.yaml
  k8s-base/roles/ipsec-vpn/tasks/cleanup_ipsec.yaml
  k8s-base/roles/ipsec-vpn/tasks/configure_ipsec.yaml
Due: yamllint

Init yk8s with latest release by default
  actions/init.sh
  ci/cluster-tests.yaml
  ci/diagnostic-tools.yaml
  docs/_releasenotes/1122.change.init-newest-version
  docs/usage/environmental-variables.rst
  templates/envrc.template.sh
Due: shellcheck, yamllint, build-docs-check

Allow force rebooting of nodes for testing
  ci/config/config.toml
  docs/_releasenotes/1121.change.force-reboot-testing-nodes
  k8s-base/roles/update_system/tasks/main.yaml
  templates/config.template.toml
Due: yamllint

Update dependency boto3 to v1.34.69
  docs/_releasenotes/+.chore.2024-03-22T20:04:54+00:00
  poetry.lock
Due: poetry-lock

Lock file maintenance
  docs/_releasenotes/+.chore.2024-03-25T00:05:34+00:00
  poetry.lock
Due: poetry-lock

Make storageClass creation for pools optional again
  ci/config/config.toml
  docs/_releasenotes/1134.BREAKING.rook-ceph-pool-storage-class
  k8s-service-layer/roles/rook_v2/defaults/main.yaml
  k8s-service-layer/roles/rook_v2/templates/cluster-values.yaml.j2
  templates/config.template.toml
Due: yamllint

Fix: Test all configured storage classes
  docs/_releasenotes/1130.BREAKING.rook-ceph-pool-storage-class
  docs/_releasenotes/1130.fix.testing-of-rook-ceph-block-storage-classes
  k8s-base/test.yaml
Due: yamllint

Trigger MR to devel for release-prepare/v3.0.0
  docs/_releasenotes/+.misc.release-v3.0.0
Due: none

Update dependency ansible to v9.4.0
  docs/_releasenotes/+.chore.2024-03-27T18:05:36+00:00
  poetry.lock
Due: poetry-lock

Fix Prometheus stack values templating
  docs/_releasenotes/1141.fix.prom-values-indent
  k8s-service-layer/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Fix Prometheus stack values templating
  docs/_releasenotes/hotfix/1142.fix.prom-values-indent
  k8s-service-layer/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1142.fix.prom-values-indent
  version
Due: none

Fix Prometheus stack values templating
  docs/_releasenotes/hotfix/1143.fix.prom-values-indent
Due: none

CI: Change GPU flavor
  ci/config/config.toml
  docs/_releasenotes/+.chore.foo
Due: none

Update version number and changelog for hotfix-release
  docs/_releasenotes/hotfix/1143.fix.prom-values-indent
Due: none

Lock file maintenance
  docs/_releasenotes/+.chore.2024-04-01T00:06:26+00:00
  poetry.lock
Due: poetry-lock

Remove outdated Vault related comment in config
  docs/_releasenotes/1145.misc.2024-04-04T15:41:00+00:00
  templates/config.template.toml
Due: none

Remove Cloud&Heat specifics from dualstack docu
  docs/_releasenotes/1144.misc.2024-04-04T15:43:00+00:00
  docs/misc/dualstack.rst
Due: build-docs-check

Update build information
  docs/README.md
Due: build-docs-check

Lock file maintenance
  docs/_releasenotes/+.chore.2024-04-08T00:06:18+00:00
  poetry.lock
Due: poetry-lock

Add some details about Thanos configuration
  docs/_releasenotes/1146.docs.thanos-tweaks
  docs/usage/cluster-configuration.rst
Due: build-docs-check

Update `CHANGELOG.rst` and version for next release v3.0.2
  CHANGELOG.rst
  docs/_releasenotes/+.chore.2024-03-27T18:05:36+00:00
  docs/_releasenotes/+.chore.2024-04-01T00:06:26+00:00
  docs/_releasenotes/+.chore.2024-04-08T00:06:18+00:00
  docs/_releasenotes/+.chore.foo
  docs/_releasenotes/+.misc.release-v3.0.0
  docs/_releasenotes/1144.misc.2024-04-04T15:43:00+00:00
  docs/_releasenotes/1145.misc.2024-04-04T15:41:00+00:00
  docs/_releasenotes/1146.docs.thanos-tweaks
  version
Due: none

Update dependency community.aws to v5.5.1
  ansible/requirements.yaml
  docs/_releasenotes/+.chore.2024-04-09T08:10:33+00:00
Due: yamllint

Merge SL and MS monitoring roles
  k8s-managed-services/roles/monitoring_v2/defaults/main.yaml
  k8s-managed-services/roles/monitoring_v2/meta/main.yaml
  k8s-service-layer/roles/monitoring_v2/defaults/main.yaml
  k8s-service-layer/roles/monitoring_v2/tasks/global_monitoring.yaml
  k8s-service-layer/roles/monitoring_v2/tasks/install_monitors.yaml
  k8s-service-layer/roles/monitoring_v2/tasks/main.yaml
  k8s-service-layer/roles/monitoring_v2/templates/bird-service-monitor.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/calico-tigera-monitoring.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/etcd-backup.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/fluxcd_podmonitor.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/haproxy-service-monitor.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/keepalived-service-monitor.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/lbaas-service-monitor.yaml.j2
  k8s-service-layer/roles/monitoring_v2/templates/node-exporter-service-monitor.yaml
  k8s-service-layer/roles/monitoring_v2/templates/prometheus-nodeport.yaml
  k8s-service-layer/roles/monitoring_v2/templates/rook-service-monitor.yaml.j2
Due: yamllint

Drop kube-controller patch
  k8s-base/utils/patch_kube_controller.py
Due: flake8

Drop monitoring_v1_test
  k8s-managed-services/test-roles/monitoring_v1_test/defaults/main.yaml
  k8s-managed-services/test-roles/monitoring_v1_test/meta/main.yaml
  k8s-managed-services/test-roles/monitoring_v1_test/tasks/main.yaml
  k8s-managed-services/test-roles/monitoring_v1_test/templates/scraper.yaml.j2
Due: yamllint

Merge SL and MS stages
  k8s-managed-services/install.yaml
  k8s-managed-services/inventory/README.md
  k8s-managed-services/inventory/default.yaml
  k8s-managed-services/roles/common_defaults_v1/defaults/main.yaml
  k8s-managed-services/roles/common_defaults_v1/meta/main.yaml
  k8s-managed-services/roles/common_defaults_v1/tasks/main.yaml
  k8s-managed-services/test-roles/k8s-config
  k8s-managed-services/test.yaml
  k8s-managed-services/vars/retries.yaml
  k8s-service-layer/install.yaml
  k8s-service-layer/roles/check-openstack-credentials
  k8s-service-layer/test-roles/k8s-config
  k8s-service-layer/test-roles/monitoring_v2_test/defaults/main.yaml
  k8s-service-layer/test-roles/monitoring_v2_test/meta/main.yaml
  k8s-service-layer/test-roles/monitoring_v2_test/tasks/main.yaml
  k8s-service-layer/test-roles/monitoring_v2_test/tasks/scrape_managed_services.yaml
  k8s-service-layer/test-roles/monitoring_v2_test/tasks/scrape_metrics_api.yaml
  k8s-service-layer/test-roles/monitoring_v2_test/tasks/scrape_prometheus_stack.yaml
  k8s-service-layer/test-roles/monitoring_v2_test/templates/scraper.yaml.j2
  k8s-service-layer/test.yaml
Due: yamllint

Drop ch-role-users integration
  actions/init.sh
  k8s-base/install_frontend.yaml
  k8s-base/install_k8s_base.yaml
  k8s-base/roles/ch-role-users
Due: shellcheck, yamllint
