Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

chore(deps): update helm release cert-manager to v1.20.1
  docs/_releasenotes/2409.change.cert-manager-updated-to-v1.20.1
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.cert-manager.rst
Due: build-docs-check

chore(deps): update nixos/nix docker tag to v2.34.6
  ci/build-image.yaml
  ci/unit-tests.yaml
  docs/_releasenotes/2429.chore.nixos-nix-updated-to-2.34.6
Due: yamllint

chore(deps): update helm release etcdbackup to v2.0.2
  docs/_releasenotes/2430.change.etcdbackup-updated-to-2.0.2
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.etcd-backup.rst
Due: build-docs-check

Drop migration tasks of v12
  actions/release-migrations/v12-10-require-vault-policies-update.sh
  docs/_releasenotes/2431.chore.1.prepare-v13.0
Due: shellcheck

chore(deps): update helm release kube-prometheus-stack to v83.4.1
  docs/_releasenotes/2432.change.kube-prometheus-stack-updated-to-83.4.1
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
Due: build-docs-check

monitoring: Automate CRD upgrades for kube-prometheus-stack
  docs/_releasenotes/2392.change.1.update-monitoring-crds
  k8s-supplements/ansible/roles/monitoring_v2/tasks/upgrade_kube_prom_stack.yaml
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
Due: yamllint

chore(deps): update helm release cert-manager to v1.20.2
  docs/_releasenotes/2435.change.cert-manager-updated-to-v1.20.2
  nix/yk8s/k8s-supplements/cert-manager.nix
Due: none

chore(deps): update helm release tigera-operator to v3.31.5
  docs/_releasenotes/2436.change.tigera-operator-updated-to-v3.31.5
  nix/yk8s/k8s-supplements/calico.nix
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
Due: build-docs-check

Fix formatting of release notes for v13.0.0
  docs/_releasenotes/2394.change.1.update-volumesnapshotclass
  docs/_releasenotes/2437.misc.1.prepare-v13.0
Due: none

Enforce prometheus_stack_version
  docs/_releasenotes/2392.change.1.update-monitoring-crds
  k8s-supplements/ansible/roles/monitoring_v2/tasks/apply_crds.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_v2/tasks/upgrade_kube_prom_stack.yaml
  nix/yk8s/k8s-supplements/monitoring.nix
Due: yamllint

Update hashicorp/vault Docker tag to v2
  ci/cluster-tests.yaml
  docs/_releasenotes/2438.chore.hashicorp-vault-updated-to-2.0.0
Due: yamllint

flake: add terranix
  flake.lock
  flake.nix
  nix/yk8s/default.nix
Due: none

flake: remove dependency on specific name of yk8s
  flake.nix
  nix/yk8s/default.nix
Due: none

terraform: move GitLab variable check to Nix
  actions/lib.sh
  nix/yk8s/terraform.nix
Due: shellcheck

terraform: fix typo in option description
  nix/yk8s/terraform.nix
Due: none

terraform: replace HCL based module with Nix
  .gitlab-ci.yml
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/lib.sh
  actions/manual-terraform.sh
  actions/release-migrations/a-10-terraform-state-migrations.sh
  actions/release-migrations/v13-terranix.sh
  nix/yk8s/default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/openstack/00-backend.nix
  nix/yk8s/openstack/00-provider.nix
  nix/yk8s/openstack/00-variables.nix
  nix/yk8s/openstack/00-versions.nix
  nix/yk8s/openstack/01-discovery.nix
  nix/yk8s/openstack/10-networking.nix
  nix/yk8s/openstack/20-gateway.nix
  nix/yk8s/openstack/40-k8s-nodes.nix
  nix/yk8s/openstack/50-object-storage.nix
  nix/yk8s/openstack/default.nix
  nix/yk8s/openstack/preface.rst
  nix/yk8s/terraform.nix
  terraform/.gitignore
  terraform/00-provider.tf
  terraform/00-variables.tf
  terraform/01-discovery.tf
  terraform/10-networking.tf
  terraform/20-gateway.tf
  terraform/30-master-nodes.tf
  terraform/40-worker-nodes.tf
  terraform/50-object-storage.tf
  terraform/99-backend.tf
  terraform/README.md
  terraform/versions.tf
Due: tflint, shellcheck, yamllint

(tmp) gitignore working trees starting with wt-
  .gitignore
Due: none

add proxmox support
  nix/yk8s/default.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/lib/proxmox.nix
  nix/yk8s/proxmox/default.nix
  nix/yk8s/proxmox/inventory.nix
  nix/yk8s/proxmox/terraform.nix
Due: none

fixup! implement support for multiple interfaces
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
Due: none

implement support for multiple interfaces
  k8s-core/ansible/roles/helpers/get-interfaces/meta/main.yaml
  k8s-core/ansible/roles/helpers/get-interfaces/tasks/main.yaml
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/meta/main.yaml
  k8s-supplements/ansible/roles/ch-k8s-lbaas-agent/templates/agent-config.toml.j2
  k8s-supplements/ansible/roles/ipsec-vpn/tasks/configure_ipsec.yaml
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf.j2
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
  k8s-supplements/ansible/roles/nftables/meta/main.yaml
  k8s-supplements/ansible/roles/nftables/tasks/main.yaml
  k8s-supplements/ansible/roles/nftables/templates/nftables.conf.j2
  nix/yk8s/infra.nix
  nix/yk8s/openstack/default.nix
Due: yamllint

fixup! implement support for multiple interfaces
  k8s-core/ansible/roles/keepalived/templates/keepalived.conf.j2
  nix/yk8s/infra.nix
Due: none

Update k8s-version
  ci/cluster-tests.yaml
  docs/_releasenotes/2439.chore.kubernetes-kubernetes-updated-to-v1.35.4
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/kubernetes/default.nix
Due: yamllint

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
Due: build-docs-check

Added check if wg_usage is true before the script is called.
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  ci/test.sh
Due: shellcheck

Update Helm release kube-prometheus-stack to v83.5.0
  docs/_releasenotes/2442.change.kube-prometheus-stack-updated-to-83.5.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update Helm release etcdbackup to v2.0.3
  docs/_releasenotes/2444.change.etcdbackup-updated-to-2.0.3
  nix/yk8s/k8s-supplements/etcd-backup.nix
Due: none

Conditionally trigger wg-up action script
  CHANGELOG.rst
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/lib.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/wg-up.sh
  ci/test.sh
  version
Due: shellcheck

Conditionally trigger wg-up action script
  actions/apply-custom.sh
  actions/apply-k8s-core.sh
  actions/apply-k8s-supplements.sh
  actions/lib.sh
  actions/rotate-root-ca.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/wg-up.sh
  ci/test.sh
  version
Due: shellcheck

Update Helm release kube-prometheus-stack to v83.6.0
  docs/_releasenotes/2445.change.kube-prometheus-stack-updated-to-83.6.0
  nix/yk8s/k8s-supplements/monitoring.nix
Due: none

Update ghcr.io/terraform-linters/tflint Docker tag to v0.62.0
  .gitlab-ci.yml
  docs/_releasenotes/2446.chore.ghcr.io-terraform-linters-tflint-updated-to-v0.62.0
Due: yamllint

Fix common_defaults_v1 templating
  docs/_releasenotes/2448.change.1.fix-common-default
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/affinity.json.j2
  k8s-supplements/ansible/roles/config/common_defaults_v1/templates/tolerations.json.j2
Due: none

Move kubeconfig settings into layout yaook-k8s
  .envrc.lib.sh
  actions/release-migrations/v13-envrc-kubeconfig.py
  docs/_releasenotes/2274.BREAKING.1.envrc-kubeconfig
  nix/templates/cluster-repo/.envrc
Due: shellcheck, flake8

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
