Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

tflint:
  image:
    name: ghcr.io/terraform-linters/tflint:v0.50.3
    entrypoint:
    - /bin/sh
    - -c
  stage: lint
  script:
  - tflint --chdir=terraform/
  tags:
  - docker

shellcheck:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/koalaman/shellcheck-alpine:v0.10.0
  stage: lint
  script:
  - find -iname '*.sh' '!' -ipath './jsonnet-sources/*/vendor/**' '!' -ipath './.git/**' -print0 | xargs -0 -- shellcheck -Calways
  tags:
  - docker

yamllint:
  stage: lint
  tags:
  - docker
  image: registry.gitlab.com/pipeline-components/yamllint:latest
  script:
  - yamllint .

flake8:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with ci --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - python3 -m flake8
  stage: lint
  tags:
  - docker

poetry-lock:
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --sync
  - git config --global user.email "$GITLAB_USER_EMAIL"
  - git config --global user.name "$GITLAB_USER_NAME"
  script:
  - bash ./ci/lint/poetry-lock.sh
  stage: lint
  tags:
  - docker

build-docs-check:
  stage: lint
  image: registry.gitlab.com/yaook/k8s/ci-image-nix-test
  before_script:
  - poetry install --with docs --sync
  - export VIRTUAL_ENV=$(poetry env info --path 2>/dev/null)
  - export PATH="$VIRTUAL_ENV/bin:$PATH"
  script:
  - sphinx-build -W docs _build/html
  - mv _build/html public
  artifacts:
  ...

Drop C&H specific Terraform defaults
  nix/templates/cluster-repo/config/default.nix
  nix/templates/migration/config/default.nix
  nix/yk8s/terraform.nix
Due: none

fixup! Generate inventory using Nix
  actions/init-cluster-repo.sh
Due: shellcheck

fixup! Generate inventory using Nix
  tools/vault/init.sh
  tools/vault/load-signed-intermediates.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/rmcluster.sh
  tools/vault/rotate-root-ca-intermediate.sh
  tools/vault/rotate-root-ca-root.sh
  tools/vault/update.sh
Due: shellcheck

fixup! Generate inventory using Nix
  tools/vault/dev-mkorchestrator.sh
  tools/vault/import.sh
  tools/vault/init.sh
  tools/vault/load-signed-intermediates.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/rmcluster.sh
  tools/vault/rotate-root-ca-intermediate.sh
  tools/vault/rotate-root-ca-root.sh
Due: shellcheck

fixup! Generate inventory using Nix
  actions/destroy.sh
Due: shellcheck

fixup! Generate inventory using Nix
  .envrc.lib.sh
Due: shellcheck

Revert "fixup! Generate inventory using Nix"
  .envrc.lib.sh
Due: shellcheck

fixup! Add Nix to CI image
  .envrc.lib.sh
Due: shellcheck

Add BasicAuth to remote write config
  k8s-supplements/ansible/roles/monitoring_v2/templates/prometheus_stack.yaml.j2
  templates/config.template.toml
Due: none

chore(deps): update dependency python-openstackclient to v7.1.2
  docs/_releasenotes/1485.chore.2024-09-19T14:09:38+00:00
  poetry.lock
Due: poetry-lock

fixup! Generate inventory using Nix
  nix/yk8s/node-scheduling.nix
Due: none

Remove default values from ci/config.toml
  ci/config/config.toml
Due: none

chore(deps): update dependency ansible-lint to v24.9.2
  docs/_releasenotes/1486.chore.2024-09-19T17:45:50+00:00
  poetry.lock
Due: poetry-lock

fixup! Generate inventory using Nix
  nix/templates/cluster-repo/flake.nix
  nix/templates/migration/flake.nix
Due: none

chore(deps): update nixos/nix docker tag to v2.24.7
  ci/build-image.yaml
  docs/_releasenotes/1487.chore.2024-09-20T00:10:03+00:00
Due: yamllint

fixup! Generate inventory using Nix
  k8s-supplements/ansible/roles/rook_v2/default.nix
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
Due: none

Remove workaround for openstack in CI
  ci/cluster-tests.yaml
  ci/reachability-or-recreate.sh
  docs/_releasenotes/1489.misc.tesm
Due: shellcheck, yamllint

Fix spawning clusters on Openstack with apply-all.sh
  actions/lib.sh
  docs/_releasenotes/1488.fix.705-spawn-tf_usage-not-honored
Due: shellcheck

Fix spawning clusters on Openstack with apply-all.sh
  actions/lib.sh
  docs/_releasenotes/hotfix/1488.fix.705-spawn-tf_usage-not-honored
Due: shellcheck

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  docs/_releasenotes/hotfix/1488.fix.705-spawn-tf_usage-not-honored
  version
Due: none

Update version number and changelog for hotfix-release
  CHANGELOG.rst
  version
Due: none

Enable filterNull by default
  k8s-supplements/ansible/install-flux.yaml
  k8s-supplements/ansible/roles/cert_manager_v1/default.nix
  k8s-supplements/ansible/roles/cert_manager_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v1/templates/os_cloud_config.ini
  k8s-supplements/ansible/roles/connect-k8s-to-openstack_v2/templates/os_cloud_config.ini
  k8s-supplements/ansible/roles/fluxcd2_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/ingress_v1/tasks/main.yaml
  k8s-supplements/ansible/roles/monitoring_thanos_v2/templates/thanos_values.yaml.j2
  k8s-supplements/ansible/roles/monitoring_v2/tasks/main.yaml
  k8s-supplements/ansible/roles/rook_v2/default.nix
  k8s-supplements/ansible/roles/rook_v2/tasks/apply_cluster.yaml
  k8s-supplements/ansible/roles/rook_v2/tasks/apply_operator.yaml
  k8s-supplements/ansible/roles/rook_v2/templates/operator-values.yaml.j2
  k8s-supplements/ansible/roles/vault_v1/tasks/main.yaml
  nix/yk8s/lib/default.nix
  nix/yk8s/lib/transform.nix
Due: yamllint

fixup! Generate inventory using Nix
  actions/apply-custom.sh
  actions/manual-terraform.sh
  actions/test.sh
  actions/update-frontend-nodes.sh
  actions/update-kubernetes-nodes.sh
  actions/upgrade.sh
  actions/verify-cluster-health.sh
  actions/wg-up.sh
Due: shellcheck

Add missing galaxy requirement
  ansible/requirements.yaml
Due: yamllint

fixup! Enable filterNull by default
  k8s-supplements/ansible/roles/ipsec-vpn/templates/nftables.conf
  k8s-supplements/ansible/roles/ipsec-vpn/templates/swanctl.conf.j2
Due: none

fixup! Enable filterNull by default
  k8s-supplements/ansible/roles/rook_v2/templates/cluster-values.yaml.j2
Due: none

Set IPv6 as preferred IP protocol if ipv6_enabled
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none

fixup! Generate inventory using Nix
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/default.nix
  k8s-supplements/ansible/roles/k8s-local-path-provisioner/defaults/main.yaml
Due: yamllint

fixup! Generate inventory using Nix
  k8s-supplements/ansible/roles/ipsec-vpn/default.nix
Due: none

fixup! Generate inventory using Nix
  k8s-supplements/ansible/roles/monitoring_common/default.nix
Due: none

fixup! Generate inventory using Nix
  k8s-supplements/ansible/roles/monitoring_common/default.nix
  k8s-supplements/ansible/roles/monitoring_v2/templates/blackbox_exporter.yaml.j2
Due: none

fixup! Generate inventory using Nix
  k8s-supplements/ansible/roles/rook_v2/default.nix
Due: none

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*
