Repository alasca-association/tarook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tflint, shellcheck, yamllint, flake8, poetry-lock, build-docs-check

Path conditions:
  tflint: any of: terraform/**/*
  shellcheck: any of: **/*.sh
  yamllint: any of: **/*.{yaml,yml}
  flake8: any of: **/*.py
  poetry-lock: any of: pyproject.toml, poetry.lock
  build-docs-check: any of: docs/[!_]*/**/*, docs/[!_]*

Give ./config access to top-level options
  ci/config/default.nix
  docs/_releasenotes/1593.misc.nix-config-as-module
  flake.nix
  nix/lib.nix
  nix/templates/cluster-repo/config/default.nix
  nix/templates/cluster-repo/flake.nix
  nix/templates/migration/config/default.nix
  nix/templates/migration/flake.nix
  nix/yk8s/lib/default.nix
Due: none

Split off infra from terraform section
  actions/wg-up.sh
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/ipsec.nix
  nix/yk8s/k8s-supplements/monitoring.nix
  nix/yk8s/miscellaneous.nix
  nix/yk8s/node-scheduling.nix
  nix/yk8s/terraform.nix
  terraform/99-outputs.tf
  terraform/templates/final_networking.tpl
  terraform/templates/inventory.tpl
Due: tflint, shellcheck

Split off openstack from terraform section
  actions/lib.sh
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/default.nix
  nix/yk8s/infra.nix
  nix/yk8s/k8s-supplements/calico.nix
  nix/yk8s/lib/default.nix
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
Due: shellcheck

Use a infra.cluster_name as default for vault.cluster_name
  docs/_releasenotes/1466.change.2.vault-default-cluster-name
  nix/templates/cluster-repo/config/default.nix
  nix/yk8s/vault.nix
Due: none

Add release note
  docs/_releasenotes/1466.change.1.split-terraform
Due: none

Update rendered docs
  docs/user/reference/options/index.rst
  docs/user/reference/options/yk8s.infra.rst
  docs/user/reference/options/yk8s.ipsec.rst
  docs/user/reference/options/yk8s.k8s-service-layer.prometheus.rst
  docs/user/reference/options/yk8s.kubernetes.network.calico.rst
  docs/user/reference/options/yk8s.miscellaneous.rst
  docs/user/reference/options/yk8s.openstack.rst
  docs/user/reference/options/yk8s.terraform.rst
  docs/user/reference/options/yk8s.vault.rst
Due: build-docs-check

ci: ensure correct image is used
  .gitlab-ci.yml
  ci/build-image.yaml
  docs/_releasenotes/1627.misc.745-missing-version-pinning-of-ci-image
Due: yamllint

chore(deps): update nixos/nix docker tag to v2.26.1
  ci/build-image.yaml
  docs/_releasenotes/1633.chore.2025-01-24T16:12:03+00:00
Due: yamllint

chore(deps): update dependency community.general to v10.3.0
  ansible/requirements.yaml
  docs/_releasenotes/1591.chore.2025-01-27T06:06:52+00:00
Due: yamllint

fixup! ci: ensure correct image is used
  ci/build-image.yaml
Due: yamllint

ci: fix pages job
  ci/release.yaml
Due: yamllint

ci: don't tag container images with commit ref names
  ci/build-image.yaml
  docs/_releasenotes/1635.misc.build-image
Due: yamllint

ci: run pages job in merge train and builder changes
  ci/release.yaml
  docs/_releasenotes/x.misc.pages-in-mergetrain
Due: yamllint

ci: run pages job in merge train and builder changes
  ci/release.yaml
  docs/_releasenotes/1637.misc.pages-in-mergetrain
Due: yamllint

ci: fix pages job for previous releases
  docs/_releasenotes/1636.misc.multiversion-terraform-docs
  docs/conf.py
Due: flake8, build-docs-check

ci: ensure correct image is used
  .gitlab-ci.yml
  CHANGELOG.rst
  ci/build-image.yaml
  ci/release.yaml
  version
Due: yamllint

Fix import of signed intermediates
  CHANGELOG.rst
  docs/user/guide/vault/vault.rst
  tools/vault/load-signed-intermediates.sh
Due: shellcheck, build-docs-check

Fix import of signed intermediates
  CHANGELOG.rst
  tools/vault/load-signed-intermediates.sh
  version
Due: shellcheck

Use rolling python3 version
  docs/_releasenotes/1638.misc.use-rolling-python3
  nix/dependencies.nix
Due: none

Use self-hosted Nix substituter
  ci/build-image.yaml
  ci/container-image/nix.conf
  docs/_releasenotes/1600.change.nix-cache
  docs/user/guide/initialization.rst
  docs/user/tutorial/create-cluster.rst
Due: yamllint, build-docs-check

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.rst
  docs/user/reference/options/yk8s.miscellaneous.rst
Due: build-docs-check

chore(deps): lock file maintenance
  docs/_releasenotes/1634.chore.2025-01-28T14:13:08+00:00
  flake.lock
Due: none

Update rendered docs
  docs/user/reference/options/yk8s.kubernetes.kubelet.rst
Due: build-docs-check

Kubelet: Allow setting max Pods for control plane nodes
  docs/_releasenotes/1606.feature.make-pod-limit-on-k8s-master-nodes-configurable
  k8s-core/ansible/install-k8s.yaml
  k8s-core/ansible/roles/k8s-master/tasks/main.yaml
  k8s-core/ansible/roles/kubelet-configuration/tasks/main.yaml
  k8s-core/ansible/upgrade-k8s.yaml
  nix/yk8s/kubernetes/kubelet.nix
Due: yamllint

minor changes in docs and pipeline
  ci/release.yaml
  docs/README.md
  docs/_releasenotes/x.docs.minor
  docs/developer/explanation/release-and-versioning-policy.rst
Due: yamllint, build-docs-check

happy new year
  docs/_releasenotes/1642.docs.minor
  docs/conf.py
Due: flake8, build-docs-check

Revert "Add minimal env to ci env"
  nix/dependencies.nix
Due: none

Add missing dependencies to default and ci group
  docs/_releasenotes/1639.misc.missing-dependencies
  nix/dependencies.nix
Due: none

Fix typo in release note
  docs/_releasenotes/1555.docs.fix-jq-cmd-in-openstack-cred-rotation-guide
  docs/_releasenotes/1643.misc.fix-changelog
Due: none

Move Vault S3 backup configuration to Vault
  docs/_releasenotes/1464.fix.add-nice-error-message-for-when-vault-backup-s3-backups-is-enabled-but-not-configured
  docs/_releasenotes/1616.BREAKING.add-nice-error-message-for-when-vault-backup-s3-backups-is-enabled-but-not-configured
  docs/templates/vault_backup_s3_config.template.yaml
  docs/user/reference/services/vault.rst
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
  tools/vault/init.sh
  tools/vault/lib.sh
  tools/vault/mkcluster-intermediate.sh
  tools/vault/mkcluster-root.sh
  tools/vault/update.sh
Due: shellcheck, yamllint, build-docs-check

Improve error handling for Vault S3 backup with missing config
  docs/_releasenotes/1464.fix.add-nice-error-message-for-when-vault-backup-s3-backups-is-enabled-but-not-configured
  k8s-supplements/ansible/roles/vault_v1/tasks/backup.yaml
Due: yamllint

Fix typo in lib.sh
  actions/lib.sh
Due: shellcheck

Fix wireguard module for non-wireguard clusters
  docs/_releasenotes/1641.misc.wireguard-disabled
  nix/yk8s/k8s-supplements/wireguard/default.nix
Due: none

Use lock file for harbour disruption
  actions/apply-terraform.sh
  actions/destroy.sh
  actions/lib.sh
  ci/after_script_cleanup.sh
  docs/_releasenotes/x.change.harbour-disruption-lockfile
  docs/user/tutorial/create-cluster.rst
  nix/yk8s/openstack.nix
  nix/yk8s/terraform.nix
Due: shellcheck, build-docs-check

Don't update inventory for vault-in-docker scripts
  actions/vault.sh
  actions/vault_env.sh
  docs/_releasenotes/1632.misc.direnv-with-vault-in-docker
Due: shellcheck
